.container.cover
  p.text-center
    | 证书编号 #{@notice.sn}
  table.table.table-bordered[style="border: 1px solid #ddd;margin-bottom: -1px;"]
    tr
      td style="white-space:inherit;" colspan="3"
        | 检定机构授权说明
      td colspan="4"
        input type="text" value="#{@content['检定机构授权说明']}" name="notice[content][检定机构授权说明]"
    tr
      td style="white-space:inherit;" colspan="3"
        | 检定环境条件及地点
      td colspan="4"
        input type="text" value="#{@content['检定环境条件及地点']}" name="notice[content][检定环境条件及地点]"
    tr
      td
        | 温度
      td style="width:80px;"
        input type="text" value="#{@content['温度']}" name="notice[content][温度]" style="width:70px;"
      td style="width:15px;"
        | &#8451;
      td style="width:80px;"
        | 地点
      td colspan="3"
        input type="text" value="#{@content['地点']}" name="notice[content][地点]"
    tr
      td
        | 相对湿度
      td style="width:80px;"
        input type="text" value="#{@content['相对湿度']}" name="notice[content][相对湿度]" style="width:70px;"
      td style="width:15px;"
        | &#37;
      td style="width:80px;"
        | 其它
      td colspan="3"
        input type="text" value="#{@content['其它']}" name="notice[content][其它]"
    tr
      td style="white-space:inherit;" colspan="7"
        | 检定使用的计量(基)标准装置
    tr
      td colspan="7"
        | 检定所使用的标准器(物质)
    tr
      td colspan="2"
        | 名称
      td colspan="2"
        | 测量范围（标气浓度）
      td[style="white-space:inherit;"]
        | 不确定度/准确度等级/
        br
        | 最大允许误差
      td[style="white-space:inherit;"]
        | 检定/校准 证书编号
      td
        | 有效期至
    - 3.times do |index|
      tr
        td colspan="2"
          input type="text" value="#{@content['检定所使用的标准器'][index]['名称']}" name="notice[content][检定所使用的标准器][][名称]" style="min-width:70px;"
        td colspan="2"
          input type="text" value="#{@content['检定所使用的标准器'][index]['测量范围']}" name="notice[content][检定所使用的标准器][][测量范围]" style="min-width:70px;"
        td
          input type="text" value="#{@content['检定所使用的标准器'][index]['准确度等级']}" name="notice[content][检定所使用的标准器][][准确度等级]" style="min-width:70px;"
        td
          input type="text" value="#{@content['检定所使用的标准器'][index]['证书编号']}" name="notice[content][检定所使用的标准器][][证书编号]" style="min-width:70px;"
        td
          input type="text" value="#{@content['检定所使用的标准器'][index]['有效期']}" name="notice[content][检定所使用的标准器][][有效期]" style="min-width:70px;"
.container.cover
  h4[style="margin:30px 0 30px 0;"]
    | 检定结果
  table.table.table-bordered.text-center[style="border: 1px solid #ddd;margin-bottom: -1px;"]
    tr.text-center
      td 检定项目
      td[style="width:300px;"] 技术要求
      td colspan="3" 检定结果
      td 结果判定
    tr
      td[width="300px"]
        | 1. 外观及结构
      td style="width:70%;white-space:inherit;text-align:left;"
        | 仪器不应有影响其正常工作的外观损伤。型制造的仪器的表面应光洁平整，漆色镀层均匀，无剥落锈蚀现象。
      td colspan="3"
        input type="text" value="#{@content['外观及结构']['检定结果']}" name="notice[content][外观及结构][检定结果]"
      td
        input type="text" value="#{@content['外观及结构']['结果判定']}" name="notice[content][外观及结构][结果判定]" style="width:135px;"
    tr
      td
        | 2. 标志标识
      td style="width:70%;white-space:inherit;text-align:left;"
        | 仪器名称、型号、制造厂名称、出场时间、编号、防爆标志及编号和国产仪器的制造计量器具许可证标志及编号等应齐全、清楚。
      td colspan="3"
        input type="text" value="#{@content['标志标识']['检定结果']}" name="notice[content][标志标识][检定结果]"
      td
        input type="text" value="#{@content['标志标识']['结果判定']}" name="notice[content][标志标识][结果判定]" style="width:135px;"
    tr
      td 3. 通电检查
      td
        | 通电检查后，仪器应能正常工作，显示部分应清晰、完整。
      td colspan="3"
        input type="text" value="#{@content['通电检查']['检定结果']}" name="notice[content][通电检查][检定结果]"
      td
        input type="text" value="#{@content['通电检查']['结果判定']}" name="notice[content][通电检查][结果判定]" style="width:135px;"
    tr
      td 4. 绝缘电阻
      td
        | ≥20MΩ
      td colspan="3"
        input type="text" value="#{@content['绝缘电阻']['检定结果']}" name="notice[content][绝缘电阻][检定结果]"
      td
        input type="text" value="#{@content['绝缘电阻']['结果判定']}" name="notice[content][绝缘电阻][结果判定]" style="width:135px;"
    tr
      td rowspan="4"
        | 5.示值误差
        br
        |（%LEL）
      td rowspan="4"
        | ±5%FS
      td
        input type="text" value="#{@content['示值误差']['检定结果']["0"][0]}" name="notice[content][示值误差][检定结果][0][]" style="width:70px;"
      td
        input type="text" value="#{@content['示值误差']['检定结果']["0"][1]}" name="notice[content][示值误差][检定结果][0][]" style="width:70px;"
      td
        input type="text" value="#{@content['示值误差']['检定结果']["0"][2]}" name="notice[content][示值误差][检定结果][0][]" style="width:70px;"
      td rowspan="4"
        input type="text" value="#{@content['示值误差']['结果判定']}" name="notice[content][示值误差][结果判定]" style="width:135px;"
    - 3.times do |index|
      - index += 1
      tr
        td
          input type="text" value="#{@content['示值误差']['检定结果'][index.to_s][0]}" name="notice[content][示值误差][检定结果][#{index}][]" style="width:70px;"
        td
          input type="text" value="#{@content['示值误差']['检定结果'][index.to_s][1]}" name="notice[content][示值误差][检定结果][#{index}][]" style="width:70px;"
        td
          input type="text" value="#{@content['示值误差']['检定结果'][index.to_s][2]}" name="notice[content][示值误差][检定结果][#{index}][]" style="width:70px;"
    tr
      td
        | 6. 重复性
      td
        | ≤2%
      td colspan="3"
        input type="text" value="#{@content['重复性']['检定结果']}" name="notice[content][重复性][检定结果]"
      td
        input type="text" value="#{@content['重复性']['结果判定']}" name="notice[content][重复性][结果判定]" style="width:135px;"
    tr
      td rowspan="2"
        | 7. 响应时间
      td
        | 扩散式≤60s
      td colspan="3"
        input type="text" value="#{@content['响应时间']['扩散式']['检定结果']}" name="notice[content][响应时间][扩散式][检定结果]"
      td
        input type="text" value="#{@content['响应时间']['扩散式']['结果判定']}" name="notice[content][响应时间][扩散式][结果判定]" style="width:135px;"
    tr
      td
        | 吸入式≤30s
      td colspan="3"
        input type="text" value="#{@content['响应时间']['吸入式']['检定结果']}" name="notice[content][响应时间][吸入式][检定结果]"
      td
        input type="text" value="#{@content['响应时间']['吸入式']['结果判定']}" name="notice[content][响应时间][吸入式][结果判定]" style="width:135px;"
    tr
      td rowspan="2"
        | 8. 报警功能、
        br
        | 报警动作值
      td
        | 声光报警应正常
      td colspan="3"
        input type="text" value="#{@content['报警功能']['声光报警']['检定结果']}" name="notice[content][报警功能]['声光报警'][检定结果]"
      td
        input type="text" value="#{@content['报警功能']['声光报警']['结果判定']}" name="notice[content][报警功能][声光报警][结果判定]" style="width:135px;"
    tr
      td
        | ／
      td colspan="3"
        input type="text" value="#{@content['报警功能']['斜杠']['检定结果']}" name="notice[content][报警功能][斜杠][检定结果]"
      td
        input type="text" value="#{@content['报警功能']['斜杠']['结果判定']}" name="notice[content][报警功能][斜杠][结果判定]" style="width:135px;"
    tr
      td
        | 9. 零点漂移
      td
        | ±2%FS
      td colspan="3"
        input type="text" value="#{@content['零点漂移']['检定结果']}" name="notice[content][零点漂移][检定结果]"
      td
        input type="text" value="#{@content['零点漂移']['结果判定']}" name="notice[content][零点漂移][结果判定]" style="width:135px;"
    tr
      td
        |10. 量程漂移
      td
        | ±3%FS
      td colspan="3"
        input type="text" value="#{@content['量程漂移']['检定结果']}" name="notice[content][量程漂移][检定结果]"
      td
        input type="text" value="#{@content['量程漂移']['结果判定']}" name="notice[content][量程漂移][结果判定]" style="width:135px;"
  - if @notice.is_notice?
    div[style="padding-top:10px;"]
      p
       | 检定不合格项目：
      textarea rows="3" cols="2" type="text" name="notice[content][不合格项]" style="width:100%;"
        = @content['不合格项']
