.container.cover
  h4
    | 检定结果
  div[style="padding-bottom:10px;margin-left:20px;"]
    span[colspan="2" style="border-top:0px;width:30%;display: inline-block;"]
      | #{"d="}
      input type="text" value="#{@content['d']}" name="notice[content][d]"
    span[colspan="2" style="border-top:0px;width:30%;display: inline-block;"]
      | #{"e="}
      input type="text" value="#{@content['e']}" name="notice[content][e]"
    span[colspan="2" style="border-top:0px;width:30%;display: inline-block;"]
      | #{"Max="}
      input type="text" value="#{@content['Max']}" name="notice[content][Max]"
  table.table.table-bordered[style="border: 1px solid #ddd;margin-bottom: -1px;"]
    tr
      td[width="300px" colspan="2"]检定项目
      td 检定结果
      td 最大允许误差
    tr
      td[width="300px" colspan="2"]
        | 天平偏载误差
      td
        input type="text" value="#{@content['天平偏载误差']['检定结果']}" name="notice[content][天平偏载误差][检定结果]"
      td
        input type="text" value="#{@content['天平偏载误差']['最大允许误差']}" name="notice[content][天平偏载误差][最大允许误差]"
    tr
      td[width="300px" colspan="2"]
        | 天平重复性
      td
        input type="text" value="#{@content['天平重复性']['检定结果']}" name="notice[content][天平重复性][检定结果]"
      td
        input type="text" value="#{@content['天平重复性']['最大允许误差']}" name="notice[content][天平重复性][最大允许误差]"
    tr
      td[width="150px" rowspan="3"]
        | 天平示值误差
      td #{"≤m≤"}
      td
        input type="text" value="#{@content['天平示值误差']['检定结果'][0]}" name="notice[content][天平示值误差][检定结果][]"
      td
        input type="text" value="#{@content['天平示值误差']['最大允许误差'][0]}" name="notice[content][天平示值误差][最大允许误差][]"
    tr
      td #{"<m≤"}
      td
        input type="text" value="#{@content['天平示值误差']['检定结果'][1]}" name="notice[content][天平示值误差][检定结果][]"
      td
        input type="text" value="#{@content['天平示值误差']['最大允许误差'][1]}" name="notice[content][天平示值误差][最大允许误差][]"
    tr
      td #{"<m≤"}
      td
        input type="text" value="#{@content['天平示值误差']['检定结果'][2]}" name="notice[content][天平示值误差][检定结果][]"
      td
        input type="text" value="#{@content['天平示值误差']['最大允许误差'][3]}" name="notice[content][天平示值误差][最大允许误差][]"
    - if @notice.is_notice?
      tr
        td colspan="4"
          p 检定结论：
          textarea name="notice[content][检定结论]" rows="2" style="width:100%;"
            = @content['检定结论']
      tr
        td colspan="4" style="border-top:0px;"
          p 不合格项目：
          textarea name="notice[content][不合格项]" rows="3" style="width:100%;"
            = @content['不合格项']
    tr
      td.text-center[width="300px" colspan="2"] 检定/测试环境条件：
      td[colspan="2"]
        | 温度
        input type="text" value="#{@content['温度']}" name="notice[content][温度]"
        span &#8451;&nbsp;&nbsp;
        | 湿度
        input type="text" value="#{@content['湿度']}" name="notice[content][湿度]"
        span &#37;RH
