.container style="margin-top:20px;"
  p
    | 证书编号：
    = @notice.sn
  table.table.table-noborder
    tr
      td
        | 1.
      td 本次鉴定所依据鉴定规程
    tr
      td
      td #{@notice.instrument.regulation.try(:sn)} #{@notice.instrument.regulation.try(:name)}
    tr
      td 2.
      td 本次鉴定所用计量标准
    tr
      td rowspan="5"
      td
        | 名称：
        input type="text" value="#{@content['计量标准']['名称']}" name="notice[content][计量标准][名称]"
    tr
      td
        | 测量范围：
        input type="text" value="#{@content['计量标准']['测量范围']}" name="notice[content][计量标准][测量范围]"
    tr
      td
        | 不确定度或准确度：
        input type="text" value="#{@content['计量标准']['不确定度或准确度']}" name="notice[content][计量标准][不确定度或准确度]"
    tr
      td
        | 计量标准证书编号：
        input type="text" value="#{@content['计量标准']['证书编号']}" name="notice[content][计量标准][证书编号]"
        | 量标&nbsp;&nbsp;
        | 核证字第
        input type="text" value="#{@content['计量标准']['证书字第']}" name="notice[content][计量标准][证书字第]" style="width:100px;"
        | 号
    tr
      td
        | 有效期至：
        input type="text" value="#{@content['计量标准']['有效期']}" name="notice[content][计量标准][有效期]"
    tr
      td
        | 3.
      td
        | 检定地点、环境条件
    tr
      td rowspan="2"
      td
        | 地点
        input style="width:50%;" type="text" value="#{@content['检定地点']}" name="notice[content][检定地点]"
    tr
      td
        | 温度
        input type="text" value="#{@content['环境条件']['温度']}" name="notice[content][环境条件][温度]"
        | &#8451; &nbsp;&nbsp;&nbsp;&nbsp;
        | 大气压力P
        sub
          | amb
        input type="text" value="#{@content['环境条件']['大气压力']}" name="notice[content][环境条件][大气压力]"
        | kPa &nbsp;&nbsp;&nbsp;&nbsp;
        | 相对湿度RH
        input type="text" value="#{@content['环境条件']['相对湿度']}" name="notice[content][环境条件][相对湿度]"
        | &#37;
    tr
      td 4.
      td 检定结果
  table.table.table-bordered[style="text-align:center;"]
    tr
      td style="width:50px;" &#9312;
      td 检定介质
      td colspan="2"
        input type="text" value="#{@content['检定结果']['检定介质']}" name="notice[content][检定结果][检定介质]"
      - if @notice.is_notice?
        td
          | 不合格项目
    tr
      td style="width:50px;" &#9313;
      td 温度、压力
      td
        input type="text" style="width:80px;" value="#{@content['检定结果']['温度']}" name="notice[content][检定结果][温度]"
        | &#8451;
      td
        input type="text" style="width:80px;" value="#{@content['检定结果']['压力']}" name="notice[content][检定结果][压力]"
        | kPa
      - if @notice.is_notice?
        td
          input type="text" style="width:100px;" value="#{@content['不合格项']['温度压力']}" name="notice[content][不合格项][温度压力]"
    tr
      td style="width:50px;" &#9314;
      td 流量范围
      td colspan="2"
        | （
        input type="text" style="width:80px;" value="#{@content['检定结果']['流量范围']['下限']}" name="notice[content][检定结果][流量范围][下限]"
        | &#126;
        input type="text" style="width:100px;" value="#{@content['检定结果']['流量范围']['上限']}" name="notice[content][检定结果][流量范围][上限]"
        | ）m&sup3;/h
      - if @notice.is_notice?
        td
          input type="text" style="width:100px;" value="#{@content['不合格项']['流量范围']}" name="notice[content][不合格项][流量范围]"
    tr
      td style="width:50px;" &#9315;
      td 外观
      td colspan="2"
        input type="text" value="#{@content['检定结果']['外观']}" name="notice[content][检定结果][外观]"
      - if @notice.is_notice?
        td
          input type="text" style="width:100px;" value="#{@content['不合格项']['外观']}" name="notice[content][不合格项][外观]"
    tr
      td style="width:50px;" &#9316;
      td 密封性
      td colspan="2"
        input type="text" value="#{@content['检定结果']['密封性']}" name="notice[content][检定结果][密封性]"
      - if @notice.is_notice?
        td
          input type="text" style="width:100px;" value="#{@content['不合格项']['密封性']}" name="notice[content][不合格项][密封性]"
    tr
      td rowspan="2" style="width:50px;" &#9317;
      td rowspan="2" 示值误差
      td ＜0.2Qmax示值误差
      td
        input type="text" value="#{@content['检定结果']['示值误差'][0]}" name="notice[content][检定结果][示值误差][]"
        | &#37;
      - if @notice.is_notice?
        td
          input type="text" style="width:100px;" value="#{@content['不合格项']['示值误差'][0]}" name="notice[content][不合格项][示值误差][]"
    tr
      td ≥0.2Qmax示值误差
      td
        input type="text" value="#{@content['检定结果']['示值误差'][1]}" name="notice[content][检定结果][示值误差][]"
        | &#37;
      - if @notice.is_notice?
        td
          input type="text" style="width:100px;" value="#{@content['不合格项']['示值误差'][1]}" name="notice[content][不合格项][示值误差][]"
    tr
      td rowspan="2" style="width:50px;" &#9318;
      td rowspan="2" 重复性
      td ＜0.2Qmax重复性
      td
        input type="text" value="#{@content['检定结果']['重复性'][0]}" name="notice[content][检定结果][重复性][]"
        | &#37;
      - if @notice.is_notice?
        td
          input type="text" style="width:100px;" value="#{@content['不合格项']['重复性'][0]}" name="notice[content][不合格项][重复性][]"
    tr
      td ≥0.2Qmax重复性
      td
        input type="text" value="#{@content['检定结果']['重复性'][1]}" name="notice[content][检定结果][重复性][]"
        | &#37;
      - if @notice.is_notice?
        td
          input type="text" style="width:100px;" value="#{@content['不合格项']['重复性'][1]}" name="notice[content][不合格项][重复性][]"
    tr
      td style="width:50px;" &#9319;
      td 流量计系数
      td colspan="2"
        input type="text" value="#{@content['检定结果']['流量计系数']}" name="notice[content][检定结果][流量计系数]"
        | 1/m&sup3;
      - if @notice.is_notice?
        td
          input type="text" style="width:100px;" value="#{@content['不合格项']['流量计系数']}" name="notice[content][不合格项][流量计系数]"
