.container.cover[style="margin: 0 30% 0 5%;"]
  table.table.table-bordered.text-center
    tr
      td colspan="2" style="font-size:18px;"
        | 检定结果
    tr
      td
        | 外观
      td.text-left
        input type="text" value="#{@content['外观']}" name="notice[content][外观]"
    tr
      td
        | 常温绝缘电阻
      td.text-left
        input type="text" value="#{@content['常温绝缘电阻']}" name="notice[content][常温绝缘电阻]"
        | MΩ
    tr
      td
        | R
        sub
          | 0
      td.text-left
        input type="text" value="#{@content['R0']}" name="notice[content][R0]"
        | Ω
    tr
      td
        | R
        sub
          | 100
      td.text-left
        input type="text" value="#{@content['R100']}" name="notice[content][R100]"
        | Ω
    tr
      td
        | R
        sub
          | t
      td.text-left
        input type="text" value="#{@content['Rt']}" name="notice[content][Rt]"
        | Ω
    tr
      td
        | &alpha;
      td.text-left
        input type="text" value="#{@content['实际电阻温度系数']}" name="notice[content][实际电阻温度系数]"
        | x10
        sup -
        | &sup3;&#8451;
        sup -
        | &sup1;　
    tr
      td
        | 不确定度U，k=2
      td.text-left
        input type="text" value="#{@content['不确定度']}" name="notice[content][不确定度]"
    - if @notice.is_notice?
      tr
        td colspan="2" style="text-align:left;"
          | 不合格项目:
          br
          textarea rows="3" cols="2" type="text" name="notice[content][不合格项]" style="width:100%;"
            = @content['不合格项']
