.container.cover
  h4
    | 检定结果
  table.table.table-noborder[style="margin-left:5%;"]
    tr
      td.col-sm-1
        | 测量范围：
        input type="text" value="#{@content['测量范围']}" name="notice[content][测量范围]" style="width:100px;"
        | &#8451;
      td
        | 分度值：
        input type="text" value="#{@content['分度值']}" name="notice[content][分度值]" style="width:100px;"
        | &#8451;
    tr
      td colspan="2"
        | 浸没方式或浸没深度：
        input type="text" value="#{@content['浸没方式或浸没深度']}" name="notice[content][浸没方式或浸没深度]" style="width:150px;"

  table.table.table-bordered
    tr
      td[style="width: 100px;"]
        | 检定点/&#8451;
      - 7.times do |index|
        td[style="width: 90px;"]
          input type="text" value="#{@content['检定点'][index]}" name="notice[content][检定点][]" style="width:80px;"
    tr
      td[style="width: 100px;"]
        | 示值修正值/&#8451;
      - 7.times do |index|
        td[style="width: 90px;"]
          input type="text" value="#{@content['示值修正值'][index]}" name="notice[content][示值修正值][]" style="width:80px;"
  table.table.table-bordered[style="margin-top:20px;"]
    tr
      td[style="width: 100px;"]
        | 检定点/&#8451;
      - (7...14).each do |index|
        td[style="width: 90px;"]
          input type="text" value="#{@content['检定点'][index]}" name="notice[content][检定点][]" style="width:80px;"
    tr
      td[style="width: 100px;"]
        | 示值修正值/&#8451;
      - (7...14).each do |index|
        td[style="width: 90px;"]
          input type="text" value="#{@content['示值修正值'][index]}" name="notice[content][示值修正值][]" style="width:80px;"

  - if @notice.is_certificate?
    p
      small
        |注：
        br
        | 1.检定依据国家计量检定规程JJG130-2011
        br
        | 2.根据温度计示值计算实际温度的公式：
        br
        | 全侵温度计：实际温度=示值+示值修正值
        br
        | 局侵温度计：实际温度=示值+示值修正值+露出液柱修正值
  - if @notice.is_notice?
    div
      p
        | 注: 检定点
        input type="text" value="#{@content['不合格项']}" name="notice[content][不合格项]" style="width:200px;"
        | &#8451;示值修正值不合格。
