.cover
  h4
    | 检定结果
  table.table.table-bordered[style="border: 1px solid #ddd;margin-bottom: -1px;"]
    thread
      th[width="60px"]
        | 测定项目
      th[style="width:20%;"]
        | 检定结果（实测值）
      th[style="width:30%;"]
        | 法定允差
    tbody
      tr
        td
          | 空秤天平分度值
        td
          input type="text" value="#{@content['空秤天平分度值']['检定结果']}" name="notice[content][空秤天平分度值][检定结果]" style="width:100%;"
        td
          input type="text" value="#{@content['空秤天平分度值']['法定允差']}" name="notice[content][空秤天平分度值][法定允差]" style="width:100%;"
      tr
        td
          | 全秤量天平分度值
        td
          input type="text" value="#{@content['全秤量天平分度值']['检定结果']}" name="notice[content][全秤量天平分度值][检定结果]" style="width:100%;"
        td
          input type="text" value="#{@content['全秤量天平分度值']['法定允差']}" name="notice[content][全秤量天平分度值][法定允差]" style="width:100%;"
      tr
        td
          | 空称与全秤量分度值之差
        td
          input type="text" value="#{@content['空称与全秤量分度值之差']['检定结果']}" name="notice[content][空称与全秤量分度值之差][检定结果]" style="width:100%;"
        td
          input type="text" value="#{@content['空称与全秤量分度值之差']['法定允差']}" name="notice[content][空称与全秤量分度值之差][法定允差]" style="width:100%;"
      tr
        td
          | 左盘与右盘分度值之差
        td
          input type="text" value="#{@content['左盘与右盘分度值之差']['检定结果']}" name="notice[content][左盘与右盘分度值之差][检定结果]" style="width:100%;"
        td
          input type="text" value="#{@content['左盘与右盘分度值之差']['法定允差']}" name="notice[content][左盘与右盘分度值之差][法定允差]" style="width:100%;"
      tr
        td
          | 空称天平示值重复性
        td
          input type="text" value="#{@content['空称天平示值重复性']['检定结果']}" name="notice[content][空称天平示值重复性][检定结果]" style="width:100%;"
        td
          input type="text" value="#{@content['空称天平示值重复性']['法定允差']}" name="notice[content][空称天平示值重复性][法定允差]" style="width:100%;"
      tr
        td
          | 全秤量天平示值重复性
        td
          input type="text" value="#{@content['全秤量天平示值重复性']['检定结果']}" name="notice[content][全秤量天平示值重复性][检定结果]" style="width:100%;"
        td
          input type="text" value="#{@content['全秤量天平示值重复性']['法定允差']}" name="notice[content][全秤量天平示值重复性][法定允差]" style="width:100%;"
      tr
        td
          | 横梁不等臂性误差
        td
          input type="text" value="#{@content['横梁不等臂性误差']['检定结果']}" name="notice[content][横梁不等臂性误差][检定结果]" style="width:100%;"
        td
          input type="text" value="#{@content['横梁不等臂性误差']['法定允差']}" name="notice[content][横梁不等臂性误差][法定允差]" style="width:100%;"
      tr
        td
          | 游码标尺称量误差
        td
          input type="text" value="#{@content['游码标尺称量误差']['检定结果']}" name="notice[content][游码标尺称量误差][检定结果]" style="width:100%;"
        td
          input type="text" value="#{@content['游码标尺称量误差']['法定允差']}" name="notice[content][游码标尺称量误差][法定允差]" style="width:100%;"
      tr
        td
          | 链码标尺称量误差
        td
          input type="text" value="#{@content['链码标尺称量误差']['检定结果']}" name="notice[content][链码标尺称量误差][检定结果]" style="width:100%;"
        td
          input type="text" value="#{@content['链码标尺称量误差']['法定允差']}" name="notice[content][链码标尺称量误差][法定允差]" style="width:100%;"
      tr
        td
          | 机械挂砝码组合误差
        td
          input type="text" value="#{@content['机械挂砝码组合误差']['检定结果']}" name="notice[content][机械挂砝码组合误差][检定结果]" style="width:100%;"
        td
          input type="text" value="#{@content['机械挂砝码组合误差']['法定允差']}" name="notice[content][机械挂砝码组合误差][法定允差]" style="width:100%;"
      tr
        td colspan="3"
          p 注：
          textarea name="notice[content][注]" rows="5" style="width:100%;"
            = @content['注']
