- if @notice.is_certificate?
  .cover
    h3
      | 检定证书内页
    table.table.table-noborder
      tr
        td[colspan="2"]
          strong
            | (一）检定证书内页
      tr
        td
          |  测量范围
          span.input-line
            = @notice.instrument.detection_range
        td
      tr
        td[width="50%"]
          | 活塞有效面积：
          input type="text" value="#{@content['有效面积']}" name="notice[content][有效面积]"
          | cm²
        td[width="50%"]
          | 最大允许误差：±
          input type="text" value="#{@content['计算结果']['最大允许误差']}" name="notice[content][计算结果][最大允许误差]"
          | %
      tr
        td[colspan="2"]
          |  活塞转动延续时间：
          input type="text" style="width: 100px;" value="#{@content['计算结果']['活塞转动延续时间']['min']}" name="notice[content][计算结果][活塞转动延续时间][min]"
          | &nbsp;min&nbsp;&nbsp;
          input type="text" style="width: 100px;" value="#{@content['计算结果']['活塞转动延续时间']['s']}" name="notice[content][计算结果][活塞转动延续时间][s]"
          | &nbsp;s
      tr
        td
          | 活塞垂直度：
          input type="text" value="#{@content['计算结果']['垂直度']}" name="notice[content][计算结果][垂直度]"
        td
          | 活塞下降速度：
          input type="text" style="width:110px;" value="#{@content['计算结果']['活塞下降速度']['最大']}" name="notice[content][计算结果][活塞下降速度][最大]"
          | mm/min
      tr
        td
          | 鉴别力：
          input type="text" value="#{@content['计算结果']['鉴别力']}" name="notice[content][计算结果][鉴别力]"
          | g
        td
          | 密封性：
          input type="text" value="#{@content['计算结果']['密封性']}" name="notice[content][计算结果][密封性]"
      tr
        td
          | 检定时室内温度：
          input type="text" value="#{@content['温度']}" name="notice[content][温度]"
          | ℃
        td
          | 工作介质：
          input type="text" value="#{@content['工作介质']}" name="notice[content][工作介质]"
      tr
        td
          | 使用地点重力加速度：
          input type="text" style="width: 110px;" value="#{@content['计算结果']['使用地点重力加速度']}" name="notice[content][计算结果][使用地点重力加速度]"
          | m/s²
        td
      tr
        td
          | 周期变化率：
          input type="text" value="#{@content['周期变化率']}" name="notice[content][周期变化率]"
        td
    h3.center
      | 专用砝码
    table.table.table-bordered.center
      tr
        td[width="60px"]
          | 序号
        td
          | 标称值
        td
          | 砝码质量/kg
        td
          | 数量/块
      - 5.times do |index|
        tr
          td
            = index+1
          td
            input type="text" value="#{@content['专用砝码']['标称值'][index]}" name="notice[content][专用砝码][标称值][]"
          td
            input type="text" value="#{@content['专用砝码']['砝码质量'][index]}" name="notice[content][专用砝码][砝码质量][]"
          td
            input type="text" value="#{@content['专用砝码']['数量'][index]}" name="notice[content][专用砝码][数量][]"
    table.table.table-noborder
      tr
        td
          | 活塞及其连接零件的质量：
          span
            input type="text" value="#{@content['活塞及其连接零件的质量']}" name="notice[content][活塞及其连接零件的质量]"
          | kg
      tr
        td
          | 砝码和活塞及其连接零件的质量最大允许误差：±
          span[style="width:250px;"]
            input type="text" value="#{@content['砝码和活塞及其连接零件的质量最大允许误差']}" name="notice[content][砝码和活塞及其连接零件的质量最大允许误差]"
          | %
      tr
        td
          | 注意：下次送检带此证书。
    div
      p
        strong
          | (二）使用须知
      p
        | 1、活塞压力计使用时必须用水平仪调整，使承重盘平面对活塞轴线垂直度的偏差不得超过。
      p
        | 2、活塞压力计工作时约以（30～60）r/min的旋转速度使活塞顺时针方向转动。
      p
        | 3、活塞浸入活塞筒部分等于活塞全长2/3～3/4。有限止器的压力计，工作时不得触及限止器；带承重杆加负荷和带滚珠轴承的压力计，工作时将其升至工作位置指示线。
      p
        | 4、使用时环境：
      p.center
        span
          | 温度：
        span[style="width: 150px;"]
          input type="text" value="#{@content['计算结果']['温度']}" name="notice[content][计算结果][温度]"
        span
          | ℃
        span[style="margin-left: 25px;"]
          | 相对湿度：
        span[style="width: 150px;"]
          input type="text" value="#{@content['计算结果']['相对湿度']}" name="notice[content][计算结果][相对湿度]"
        span
          | 以下
      p
        | 5、为了保护仪器避免损坏，工作介质必须注意清洁，对仪器至少每季度清洗一次，在仪器的油管和油杯里不允许出现污垢和残留物；活塞筒内壁的清洁应用细木棒缠上绸布，浸上航空汽油仔细擦洗及冲洗。
      p
        | 6、活塞压力计在使用过程中，应对其活塞转动延续时间、下降速度和密封性定期校验，半年不少于一次。
      p[style="margin-left: 50px;"]
        | 活塞转动延续时间不应小于
        span
          input type="text" value="#{@content['活塞转动延续时间不应小于']}" name="notice[content][活塞转动延续时间不应小于]"
        | mm
      p[style="margin-left: 50px;"]
        | 下降速度不应大于
        span
          input type="text" value="#{@content['下降速度不应大于']}" name="notice[content][下降速度不应大于]"
        | mm/min
      p[style="margin-left: 50px;"]
        | 密封性不应大于
        span
          input type="text" value="#{@content['密封性不应大于']}" name="notice[content][密封性不应大于]"
        | MPa
- if @notice.is_notice?
  .cover
    h3 检定结果
    table.table.table-bordered
      tr
        td style="width:150px;" 检定用标准器名称：
        td
          input type="text" value="#{@content['检定用标准器名称']}" name="notice[content][检定用标准器名称]"
      tr
        td style="width:150px;" 准确度等级：
        td
          input type="text" value="#{@content['准确度等级']}" name="notice[content][准确度等级]"
      tr
        td style="width:150px;" 出厂编号：
        td
          input type="text" value="#{@content['出厂编号']}" name="notice[content][出厂编号]"
      tr
        td style="width:150px;" 检定温度：
        td
          input type="text" value="#{@content['检定温度']}" name="notice[content][检定温度]"
    == render partial: 'html_certificates/failure'
