.cover
  h3
    - if @notice.is_certificate?
      |  检定证书内页
    - elsif @notice.is_calibration?
      |  检准证书内页
    - elsif @notice.is_notice?
      |  检定通知书内页
  table.table.table-noborder
    tr
      td[width="60px" rowspan="3"]
        | 1
      td
        | 型号规格
      td
        = @notice.instrument.specification
        input type="hidden" value="#{@notice.instrument.specification}" name="notice[content][型号规格]" style="width:100%;"
    tr
      td
        |  测量范围
      td
        = @notice.instrument.detection_range
        input type="hidden" value="#{@notice.instrument.detection_range}" name="notice[content][测量范围]" style="width:100%;"
    tr
      td
        |  输出范围
      td
        input type="text" value="#{@content['输出范围']}" name="notice[content][输出范围]" style="width:30%;"
    tr
      td
        | 2
      td[colspan="2"]
        | 检测环境
    tr
      td
      td
        |  温度
      td
        input type="text" value="#{@content['环境温度']}" name="notice[content][环境温度]" style="width:30%;"
        | ℃
    tr
      td
      td
        |  相对湿度
      td
        input type="text" value="#{@content['环境湿度']}" name="notice[content][环境湿度]" style="width:30%;"
        | %RH
    tr
      td
        | 3
      td
        | 检定地点
      td
        input type="text" value="#{@content['检定地点']}" name="notice[content][检定地点]" style="width:30%;"
    tr
      td
        | 4
      td
        | 检定结果
  table.table.table-bordered.center
    tr
      td[width="33%"]
        | 检定项目
      td[width="33%"]
        | 允许误差
      td[width="34%"]
        | 结论（或实际最大误差）
    tr
      td
        | 外观
      td
        | / 
      td
        input type="text" value="#{@content['外观检查']}" name="notice[content][外观检查]"
    tr
      td
        | 密封性
      td
        | /  
      td
        input type="text" value="#{@content['密封性']}" name="notice[content][密封性]"
    tr
      td
        | 绝缘电阻
      td
        | / 
      td
        input type="text" value="#{@content['绝缘电阻']}" name="notice[content][绝缘电阻]"
    tr
      td
        | 绝缘强度
      td
        | / 
      td
        input type="text" value="#{@content['绝缘强度']}" name="notice[content][绝缘强度]"
    tr
      td
        | 测量误差
      td
        input type="text" value="#{@content['允许误差']}" name="notice[content][允许误差]"
        span.text-unit
          | MPa
      td
        input type="text" value="#{@content['最大误差']}" name="notice[content][最大误差]"
        span.text-unit
          | MPa
    tr
      td
        | 回差
      td
        input type="text" value="#{@content['允许回差']}" name="notice[content][允许回差]"
        span.text-unit
          | MPa
      td
        input type="text" value="#{@content['最大回差']}" name="notice[content][最大回差]"
        span.text-unit
          | MPa
    tr
      td
        | 静压影响
      td
        | / 
      td
        input type="text" value="#{@content['静压影响']}" name="notice[content][静压影响]"
  - if @notice.is_notice?
    == render partial: 'html_certificates/failure'
