.cover
  h4
    | 检定结果
  table.table.table-bordered[style="border: 1px solid #ddd;margin-bottom: -1px;"]
    thread
      th[width="60px"]
        | 序号
      th[style="width:20%;"]
        | 检定项目
      th
        | 规程要求
      th[style="width:30%;"]
        | 检定结果
    tbody
      tr
        td
          | 1
        td
          | 外观检查
        td rowspan="3"
          | 无明显缺陷
        td rowspan="3"
          input type="text" value="#{@content['外观检查']}" name="notice[content][外观检查]" style="width:100%;"
      tr
        td[style="border-top:0;"]
          | (1)
        td[style="border-top:0;"]
          | 标志
      tr
        td[style="border-top:0;"]
          | (2)
        td[style="border-top:0;"]
          | A面、e面、G面
      tr
        td
          | 2
        td
          | A面平面度
        td
          | hA<0.002(D-d)
        td
          input type="text" value="#{@content['A面平面度']}" name="notice[content][A面平面度]" style="width:100%;"
      tr
        td
          | 3
        td
          | A、e面Rα
        td
          | Rα≤10-4·d
        td
          input type="text" value="#{@content['Ae面Rα']}" name="notice[content][Ae面Rα]" style="width:100%;"
      tr
        td
          | 4
        td
          | G、H、I边缘
        td
          | 上游边缘G无卷边和毛刺，无肉眼可见的异常
        td
          input type="text" value="#{@content['GHI边缘']}" name="notice[content][GHI边缘]" style="width:100%;"
      tr
        td rowspan="2"
          | 5
        td
          | 厚度E
        td
          | E在e～0.05D之间（当D=50mm时，E可以等于3.2mm）。
          br
          |任意位置上测得的E值之差不超过±0.001D
        td
          input type="text" value="#{@content['厚度E']}" name="notice[content][厚度E]" style="width:100%;"
      tr
        td
          | eE
        td
          | 任意位置上测得的E值之差不超过±0.001D
        td
          input type="text" value="#{@content['厚度eE']}" name="notice[content][厚度eE]" style="width:100%;"
      tr
        td rowspan="2"
          | 6
        td
          | 长度e
        td rowspan="2"
          | e在（0.005～0.02）D之间，任意位置上测得的e值之差不超过±0.001D
        td
          input type="text" value="#{@content['长度e']}" name="notice[content][长度e]" style="width:100%;"
      tr
        td
          | eE
        td
          input type="text" value="#{@content['长度eE']}" name="notice[content][长度eE]" style="width:100%;"
      tr
        td rowspan="3"
          | 7
        td
          | 节流孔直径d
        td rowspan="3"
          | d≥12.5mm,任意一个直径与直径平均值之差不大于直径平均值的±0.05%
        td
          input type="text" value="#{@content['节流孔直径d']}" name="notice[content][节流孔直径d]" style="width:100%;"
      tr
        td
          | Edi
        td
          input type="text" value="#{@content['Edi']}" name="notice[content][Edi]" style="width:100%;"
      tr
        td
          | Ed
        td
          input type="text" value="#{@content['Ed']}" name="notice[content][Ed]" style="width:100%;"
      tr
        td
          | 8
        td
          | 斜角ψ
        td
          | 斜角ψ在（30～60）°之间
        td
          input type="text" value="#{@content['斜角']}" name="notice[content][斜角]" style="width:100%;"
      tr
        td
          | Ec=
        td colspan="3"
          input type="text" value="#{@content['Ec']}" name="notice[content][Ec]" style="width:50%;"
