.container.cover
  h4
    | 检定结果
  table.table.table-bordered.text-center[style="border: 1px solid #ddd;margin-bottom: -1px;"]
    tr.text-center
      td 检定项目
      td colspan="2" 技术要求
      td 检定结果
    tr
      td[width="300px"]
        | 仪器外观
      td colspan="2" style="width:70%;white-space:inherit;text-align:left;"
        | 1、仪器应标明制造单位名称、仪器型号和编号、制造年月，CMC标志，附件应齐全，并附有制造厂的使用说明书，产品合格证。
        br
        | 2、仪器和各调节器部分应能正常调节，各紧固件应无松动。
        br
        | 3、新出厂的仪器的涂层不应有明显的颜色不匀和剥落，应无毛刺和粗糙不平，各部件结合处应平整。
        br
        | 4、仪器的显示应清晰完整。
        br
        | 5、对于扩散式仪器，应附带有仪器专用的检定用标定罩。
        br
        | 6、仪器报警功能的检查，仪器开机后，观察仪器有无报警声和报警灯是否闪烁，以及检查仪器的报警设置点。
      td
        input type="text" value="#{@content['仪器外观']}" name="notice[content][仪器外观]"
    tr
      td rowspan="3"
        | 示值误差
      td 量程
      td 示值误差限
      td
    tr
      td
        | 摩尔分数X（H2S）：≤100×10-6
      td
        | ±5×10-6
      td
        input type="text" value="#{@content['示值误差'][0]}" name="notice[content][示值误差][]"
    tr
      td
        | 摩尔分数X（H2S）：>100×10-6
      td
        | ±5%FS
      td
        input type="text" value="#{@content['示值误差'][1]}" name="notice[content][示值误差][]"
    tr
      td
        | 重复性
      td colspan="2"
        | ≤2%
      td
        input type="text" value="#{@content['重复性']}" name="notice[content][重复性]"
    tr
      td rowspan="2"
        | 响应时间
      td colspan="2"
        | 扩散式≤60s
      td
        input type="text" value="#{@content['响应时间']['扩散式']}" name="notice[content][响应时间][扩散式]"
    tr
      td colspan="2"
        | 泵吸式≤30s
      td
        input type="text" value="#{@content['响应时间']['泵吸式']}" name="notice[content][响应时间][泵吸式]"
    tr
      td
        | 报警误差
      td colspan="2" 不大于报警设置点的±20%
      td
        input type="text" value="#{@content['报警误差']}" name="notice[content][报警误差]"
  - if @notice.is_notice?
    div[style="padding-top:10px;"]
      p
       | 检定不合格项目：
      textarea rows="3" cols="2" type="text" name="notice[content][不合格项]" style="width:100%;"
        = @content['不合格项']
