.container.cover
  h4
    | 检定结果
  table.table.table-bordered[style="border: 1px solid #ddd;margin-bottom: -1px;"]
    tr
      td 检定项目
      td 检定结果
    tr
      td[width="300px"]
        | 天平空载误差
      td
        input type="text" value="#{@content['天平空载误差']}" name="notice[content][天平空载误差]"
    tr
      td
        | 天平空载分度值
      td
        input type="text" value="#{@content['天平空载分度值']}" name="notice[content][天平空载分度值]"
    tr
      td
        | 天平全载误差
      td
        input type="text" value="#{@content['天平全载误差']}" name="notice[content][天平全载误差]"
    tr
      td
        | 天平全载分度值
      td
        input type="text" value="#{@content['天平全载分度值']}" name="notice[content][天平全载分度值]"
    tr
      td
        | 标尺称量误差
      td
        input type="text" value="#{@content['标尺称量误差']}" name="notice[content][标尺称量误差]"
    tr
      td
        | 天平偏载误差
      td
        input type="text" value="#{@content['天平偏载误差']}" name="notice[content][天平偏载误差]"
    tr
      td
        | 天平最大安全载荷
      td
        input type="text" value="#{@content['天平最大安全载荷']}" name="notice[content][天平最大安全载荷]"
    tr
      td
        | 回复空载
      td
        input type="text" value="#{@content['回复空载']}" name="notice[content][回复空载]"
    tr
      td colspan="3"
        p 附注：
        textarea name="notice[content][附注]" rows="5" style="width:100%;"
          = @content['附注']
    tr
      td.text-center 检定/测试环境条件：
      td
        | 温度
        input type="text" value="#{@content['温度']}" name="notice[content][温度]"
        span &#8451;&nbsp;&nbsp;
        | 湿度
        input type="text" value="#{@content['湿度']}" name="notice[content][湿度]"
        span &#37;RH

css:
  table.table-bordered td:last-child {
    border-right-width: 1px;
  }
