.container.cover
  h4
    | 校准结果
  table.table.table-noborder style="margin:10px 0 10px 0;"
    tr
      td
        | 1 测量范围：
        input type="text" value="#{@content['测量范围']}" name="notice[content][测量范围]"
    tr
      td
        | 2 输出范围：
        input type="text" value="#{@content['输出范围']}" name="notice[content][输出范围]"
    tr
      td
        span 3 校准环境：
        span 温度：
        input type="text" value="#{@content['校准环境']['温度']}" name="notice[content][校准环境][温度]"
        span &#8451;；&nbsp;&nbsp;
        span 相对湿度：
        input type="text" value="#{@content['校准环境']['相对湿度']}" name="notice[content][校准环境][相对湿度]"
        span &#37;
    tr
      td
        | 4 供电状况：
        input type="text" value="#{@content['供电状况']}" name="notice[content][供电状况]"
    tr
      td
        | 5 升、降温试验的说明：
        input type="text" value="#{@content['升降温试验的说明']}" name="notice[content][升降温试验的说明]"
    tr
      td
        | 6 测量标准的溯源性及有效性说明：

  table.table.table-bordered[style="border: 1px solid #ddd;margin-bottom: -1px;"]
    tr
      td
        | 标准器名称及型号规格
      td 编号
      td 测量范围及不确定度
      td 证书编号
      td 有效日期
    - 2.times do |index|
      tr
        td
          input type="text" style="width:130px;" value="#{@content['测量标准'][index.to_s]['标准器名称及型号规格']}" name="notice[content][测量标准][#{index}][标准器名称及型号规格]"
        td
          input type="text" style="width:130px;" value="#{@content['测量标准'][index.to_s]['编号']}" name="notice[content][测量标准][#{index}][编号]"
        td
          input type="text" style="width:130px;" value="#{@content['测量标准'][index.to_s]['测量范围及不确定度']}" name="notice[content][测量标准][#{index}][测量范围及不确定度]"
        td
          input type="text" style="width:130px;" value="#{@content['测量标准'][index.to_s]['证书编号']}" name="notice[content][测量标准][#{index}][证书编号]"
        td
          input type="text" style="width:130px;" value="#{@content['测量标准'][index.to_s]['有效日期']}" name="notice[content][测量标准][#{index}][有效日期]"
  table.table.table-noborder style="margin:10px 0 0 0;"
    tr
      td
        | 7 校准结果：
  table.table.table-bordered.text-center
    tr
      td colspan="2"
        | 被校点
      td 理论输出值
      td 实际输出平均值
      td colspan="2" 误差
    tr
      td &#8451;
      td mV或Ω
      td mA
      td mA
      td μA
      td &#8451;
    - 7.times do |index|
      tr
        td
          input type="text" style="width:100px;" value="#{@content['校准结果'][index.to_s]['被校点']['温度']}" name="notice[content][校准结果][#{index}][被校点][温度]"
        td
          input type="text" style="width:100px;" value="#{@content['校准结果'][index.to_s]['被校点']['电阻']}" name="notice[content][校准结果][#{index}][被校点][电阻]"
        td
          input type="text" style="width:120px;" value="#{@content['校准结果'][index.to_s]['理论输出值']}" name="notice[content][校准结果][#{index}][理论输出值]"
        td
          input type="text" style="width:120px;" value="#{@content['校准结果'][index.to_s]['实际输出平均值']}" name="notice[content][校准结果][#{index}][实际输出平均值]"
        td
          input type="text" style="width:100px;" value="#{@content['校准结果'][index.to_s]['误差']['电流']}" name="notice[content][校准结果][#{index}][误差][电流]"
        td
          input type="text" style="width:100px;" value="#{@content['校准结果'][index.to_s]['误差']['温度']}" name="notice[content][校准结果][#{index}][误差][温度]"
    tr
      td colspan="6" style="text-align:left;"
        span style="margin-left:10%;"
          | 测量结果扩展不确定度U=&nbsp;
          input type="text" style="width:100px;" value="#{@content['扩展不确定度']}" name="notice[content][扩展不确定度]"
          | &nbsp;，k=2。
