.container.cover
  h4 检定结果
  table.table.table-noborder style="margin-left:10%;"
    tr
      td style="text-align:right;"
        | 1.
      td colspan="3" style="width:400px;" 检定条件
    tr
      td rowspan="3"
      td style="width:15%;"
        | 检定介质
      td colspan="2"
        input type="text" value="#{@content['检定介质']}" name="notice[content][检定介质]"
    tr
      td style="width:15%;"
        | 介质温度
      td colspan="2"
        input type="text" value="#{@content['介质温度']}" name="notice[content][介质温度]"
        | &#8451;
    tr
      td style="width:15%;"
        | 介质压力
      td colspan="2"
        input type="text" value="#{@content['介质压力']}" name="notice[content][介质压力]"
        | KPa
    tr
      td style="text-align:right;"
        | 2.
      td colspan="3" style="width:400px;" 检定结果
    tr
      td rowspan="6"
      td style="width:15%;"
        | 流量范围
      td colspan="2"
        input type="text" value="#{@content['流量范围']}" name="notice[content][流量范围]"
        | m&sup3;/h
    tr
      td style="width:15%;" rowspan="2"
        | 示值误差
      td
        | ＜0.2Qmax示值误差
      td
        input type="text" value="#{@content['示值误差'][0]}" name="notice[content][示值误差][]"
        | &#37;
    tr
      td
        | ≥0.2Qmax示值误差
      td
        input type="text" value="#{@content['示值误差'][1]}" name="notice[content][示值误差][]"
        | &#37;
    tr
      td style="width:15%;" rowspan="2"
        | 重复性
      td ＜0.2Qmax重复性
      td
        input type="text" value="#{@content['重复性'][0]}" name="notice[content][重复性][]"
        | &#37;
    tr
      td ≥0.2Qmax重复性
      td
        input type="text" value="#{@content['重复性'][1]}" name="notice[content][重复性][]"
        | &#37;
    tr
      td style="width:15%;"
        | 仪表系数K
      td colspan="2"
        input type="text" value="#{@content['仪表系数K']}" name="notice[content][仪表系数K]"
        | 1/m&sup3;
    tr
      td style="text-align:right;"
        | 3.
      td 周期检定时上次检定的仪表系数K
      td
        input type="text" value="#{@content['周期检定时上次检定的仪表系数K']}" name="notice[content][周期检定时上次检定的仪表系数K]"
        | 1/m&sup3;
    - if @notice.is_notice?
      tr
        td style="text-align:right;"
          | 4.
        td 不合格项目
      tr
        td
        td colspan="3"
          textarea rows="3" cols="2" type="text" name="notice[content][不合格项]" style="width:100%;"
            = @content['不合格项']
