.container.cover
  h4 检定结果

  table.table.table-noborder style="margin-left:10%;"
    tr
      td style="text-align:right;"
        | （一）
      td colspan="2" style="width:400px;" 检定结果
    tr
      td rowspan="4"
      td style="width:15%;"
        | 流量范围＝
      td
        input type="text" value="#{@content['流量范围']}" name="notice[content][流量范围]"
        | m&sup3;/h
    tr
      td style="width:15%;"
        | 仪表系数K＝
      td
        input type="text" value="#{@content['仪表系数K']}" name="notice[content][仪表系数K]"
        | (m&sup3;)
        sup
          | _
        | &sup1;
    tr
      td style="width:15%;"
        | 线性度＝
      td
        input type="text" value="#{@content['线性度']}" name="notice[content][线性度]"
        | &#37;
    tr
      td style="width:15%;"
        | 重复性＝
      td
        input type="text" value="#{@content['重复性']}" name="notice[content][重复性]"
        | &#37;
    tr
      td style="text-align:right;"
        | （二）
      td colspan="2" style="width:400px;" 检定条件
    tr
      td rowspan="5"
      td style="width:15%;"
        | 检定用流体：
      td
        input type="text" value="#{@content['检定用流体']}" name="notice[content][检定用流体]"
    tr
      td style="width:15%;"
        | 检定用流体温度：
      td
        input type="text" value="#{@content['检定用流体温度']}" name="notice[content][检定用流体温度]"
        | &#8451;
    tr
      td style="width:15%;"
        | 检定用流体表压力：
      td
        input type="text" value="#{@content['检定用流体表压力']}" name="notice[content][检定用流体表压力]"
        | KPa
    tr
      td style="width:15%;"
        | 检定时大气压力：
      td
        input type="text" value="#{@content['检定时大气压力']}" name="notice[content][检定时大气压力]"
        | KPa
    tr
      td style="width:15%;"
        | 检定时环境温度：
      td
        input type="text" value="#{@content['检定时环境温度']}" name="notice[content][检定时环境温度]"
        | &#8451;
