.container.cover
  h4 检定结果

  table.table.table-noborder style="margin-left:10%;"
    tr
      td style="text-align:right;"
        | （一）
      td colspan="2" style="width:400px;" 检定结果
    tr
      td rowspan="8"
      td style="width:15%;"
        | 流量范围：
      td
        input type="text" value="#{@content['流量范围']}" name="notice[content][流量范围]"
        | m&sup3;/h
    tr
      td style="width:15%;"
        | 介质种类：
      td
        input type="text" value="#{@content['介质种类']}" name="notice[content][介质种类]"
    tr
      td style="width:15%;"
        | 介质温度：
      td
        input type="text" value="#{@content['介质温度']}" name="notice[content][介质温度]"
        | &#8451;
    tr
      td style="width:15%;"
        | 介质压力：
      td
        input type="text" value="#{@content['介质压力']}" name="notice[content][介质压力]"
        | KPa
    tr
      td style="width:15%;"
        | 流量计相对示值误差：
      td
        input type="text" value="#{@content['流量计相对示值误差']}" name="notice[content][流量计相对示值误差]"
        | &#37;
    tr
      td style="width:15%;"
        | 重复性：
      td
        input type="text" value="#{@content['重复性']}" name="notice[content][重复性]"
        | &#37;
    tr
      td style="width:15%;"
        | 检定前流量计因子或K系数：
      td
        input type="text" value="#{@content['检定前流量计因子或K系数']}" name="notice[content][检定前流量计因子或K系数]"
        | (m&sup3;)-&sup1;
    tr
      td style="width:15%;"
        | 检定后流量计因子或K系数：
      td
        input type="text" value="#{@content['检定后流量计因子或K系数']}" name="notice[content][检定后流量计因子或K系数]"
        | KPa
    tr
      td style="text-align:right;"
        | （二）
      td 准确度等级
      td
        input type="text" value="#{@content['准确度等级']}" name="notice[content][准确度等级]"
    tr
      td style="text-align:right;"
        | （三）
      td colspan="2" style="width:400px;" 检定条件
    tr
      td rowspan="2"
      td style="width:15%;"
        | 安装条件：
      td
        input type="text" value="#{@content['安装条件']}" name="notice[content][安装条件]"
    tr
      td style="width:15%;"
        | 环境条件：
      td
        | 环境温度
        input type="text" value="#{@content['环境条件']['环境温度']}" name="notice[content][环境条件][环境温度]" style="width:100px;"
        | &#8451;&nbsp;&nbsp;
        | 压力
        input type="text" value="#{@content['环境条件']['压力']}" name="notice[content][环境条件][压力]" style="width:100px;"
        | KPa&nbsp;&nbsp;
        | 湿度
        input type="text" value="#{@content['环境条件']['湿度']}" name="notice[content][环境条件][湿度]" style="width:100px;"
        | &#37;
    tr
      td style="text-align:right;"
        | （四）
      td colspan="3" 下次送检时请带此证书或证书复印件。
    - if @notice.is_notice?
      tr
        td style="text-align:right;"
          | （五）
        td 不合格项目
      tr
        td
        td colspan="3"
          textarea rows="3" cols="2" type="text" name="notice[content][不合格项]" style="width:100%;"
            = @content['不合格项']
