.container.cover
  h4
    | 检定结果
  table.table.table-bordered[style="border: 1px solid #ddd;margin-bottom: -1px;"]
    tr
      td.text-center
        | 标准质量(g)：
      td.text-center
        | 质量允差(±mg)
    - 9.times do |index|
      tr
        td
          input type="text" value="#{@content['标准质量'][index]}" name="notice[content][标准质量][]" style="width:100%;"
        td
          input type="text" value="#{@content['质量允差'][index]}" name="notice[content][质量允差][]" style="width:100%;"

  div
    p 说明：
    |
    |注：*：标称质量中如果给出“·”或“*”的标记，表示该质量值下区别于相同标称值的其他砝码；
    br
    |**： 如果证书中没有给出砝码检定结果的扩展不确定度和其覆盖因子时，需给出砝码的最大允许误差（±mg）;
    br
    |***：对于出具检定结果通知书的砝码，应在“说明”中注明不合格的项目
