.container.cover[style="margin:0 15% 0 15%;"]
  table.table.table-noborder.text-center[style="border: 1px solid #ddd;margin-bottom: -1px;"]
    tr
      td colspan="2" style="text-align:center;font-size:20px;"
        | 检定结果
    tr
      td[style="width:20%;"]
        | 温度（&#8451;）
      td[style="width:20%;"]
        | 修正值（&#8451;）
    - 10.times do |index|
      tr
        td
          input type="text" value="#{@content['温度'][index]}" name="notice[content][温度][]"
        td
          input type="text" value="#{@content['修正值'][index]}" name="notice[content][修正值][]"
    tr
      td colspan="2"
        | 参考端温度为0℃
  p style="margin-top:15px;"
    | 注：下次检定时必须带此证书。
