.container.cover
  h4
    | 检定结果
  table.table.table-noborder[style="border: 1px solid #ddd;margin-bottom: -1px;"]
    tr
      td[width="300px"]
        | 被检量器名称：
      td
        input type="text" value="#{@content['被检量器名称']}" name="notice[content][被检量器名称]"
    tr
      td
        | 被检量器测量范围：
      td
        input type="text" value="#{@content['被检量器测量范围']}" name="notice[content][被检量器测量范围]"
    tr
      td
        | 检定用标准装置
      td
        input type="text" value="#{@content['检定用标准装置']}" name="notice[content][检定用标准装置]"
    tr
      td
        | 检定用介质
      td
        input type="text" value="#{@content['检定用介质']}" name="notice[content][检定用介质]"
    tr
      td
        | 检定环境温度
      td
        input type="text" value="#{@content['检定环境温度']}" name="notice[content][检定环境温度]"
        span &#8451;
    - if @notice.is_certificate?
      tr
        td
          | 外观检查
        td
          input type="text" value="#{@content['外观检查']}" name="notice[content][外观检查]"
      tr
        td
          | 应力
        td
          input type="text" value="#{@content['应力']}" name="notice[content][应力]"
          span nm/cm
      tr
        td
          | 密合性
        td
          input type="text" value="#{@content['密合性']}" name="notice[content][密合性]"
      tr
        td
          | 流出时间
        td
          input type="text" value="#{@content['流出时间']}" name="notice[content][流出时间]"
          span s
      tr
        td
          | 容量示值
        td
          input type="text" value="#{@content['容量示值']}" name="notice[content][容量示值]"
          span mL
  - if @notice.is_notice?
    == render partial: 'html_certificates/failure'
