.border-bottom
  b.font-lg.text-primary
    i.fa.fa-coffee.num-zone
    | 待办事项


- if current_user.common?
  .row
    .col-md-6
      .panel.panel-primary
        .panel-heading
          b.panel-title.font-sd
            i.fa.fa-edit.num-zone
            | 检定记录
        table.table
          thead
            tr
              th 序号
              th 仪器名称
              th 仪器编号
              th 送检单位
              th 送检日期
              //th 状态
              th
          tbody
            -@registered_verifications.each_with_index do |verification,index|
              tr
                td = index=index+1
                td = verification.instrument.detection_name
                td = verification.instrument.sn
                td = verification.organ.name
                td = verification.date
                //td = Settings.state.send("#{verification.state}")
                td
                  b = link_to ">> 请检定",report_verification_path(id: verification.id),class: "text-danger"

    .col-md-6
      .panel.panel-success
        .panel-heading
          b.panel-title.font-sd
            i.fa.fa-eye-slash.num-zone
            | 核验登记
        table.table
          thead
            tr
              th 序号
              th 仪器名称
              th 仪器编号
              th 送检单位
              th 送检日期
              //th 状态
              //- if can? :update_state, Verification
              th
          tbody
            -@examined_verifications.each_with_index do |verification,index|
              tr
                td = index=index+1
                td = verification.instrument.detection_name
                td = verification.instrument.sn
                td = verification.organ.name
                td = verification.date
                //td = Settings.state.send("#{verification.state}")
                - if can? :update_state, Verification
                  td
                    = link_to "查看检定记录",report_verification_path(verification), target: "_blank", class: "text-info"
                    | &nbsp;
                    = link_to "核验通过",update_state_verifications_path(id: verification.id, state: "verified"), class: "text-info"
- else
  .row
    .col-md-6
      .panel.panel-info
        .panel-heading
          b.panel-title.font-sd
            i.fa.fa-check-circle.num-zone
            | 等待审批
        table.table
          thead
            tr
              th 序号
              th 计量器具名称
              th 计量器具编号
              th 送检部门
              th 送检时间
              th 状态
              - if can? :update_state, Verification
                th
          tbody
            -@verified_verifications.each_with_index do |verification,index|
              tr
                td = index=index+1
                td = verification.instrument.detection_name
                td = verification.instrument.sn
                td = verification.organ.name
                td = verification.date
                td = Settings.state.send("#{verification.state}")
                - if can? :update_state, Verification
                  td
                    = link_to "查看纪录",report_verification_path(verification), target: "_blank", class: "text-info"
                    | &nbsp;
                    = link_to "审批通过",update_state_verifications_path(id: verification.id, state: "approved"), class: "text-info"
