br
.cover
  h4
    | 西南油气田分公司蜀南气矿计量站
  p.center
    = f.input_field :certificate, as: :select,label: false, include_blank: false, collection: [['检定证书',1],['检定通知书',0],['校准证书',2]],input_html:{style: "width:150px;margin-left:55px;margin-bottom:10px"}
  p.center
    | 证书编号：
    span[style="width:130px;"]
      input class="string required" id="notice_sn" value="#{@notice.sn}" name="notice[sn]" type="text"
  .cover-content
    .cover-item
      label
        | 送 检 单 位
      span.input-line
        = f.input :organ_id, label: false, collection: Organ.all.collect{|o| [o.name, o.id]}
    .cover-item
      label
        | 计 量 器 具 名 称
      span.input-line
        = f.input :instrument_id, as: :select,label: false, collection: Instrument.without_report.collect{|i|[i.detection_name,i.id]}, input_html: {onchange: "autofillInstrumentInfo()"}
    .cover-item
      label
        | 型 号 / 规 格
      span.input-line
        .col-sm-9#instrument_specification
    .cover-item
      label
        | 出 厂 编 号
      span.input-line
        .col-sm-9#instrument_sn
    .cover-item
      label
        | 制 造 单 位
      span.input-line
        .col-sm-9#instrument_vendor_name
    .cover-item
      label
        | 检 定 依 据
      span.input-line
        .col-sm-9#instrument_regulation
    .cover-item
      label
        | 检 定 结 论
      span.input-line
        = f.input :conclusion, label: false
    .row[style="margin-top: 35px;"]
      table.table-align
        tr
          td
          td
            .cover-item.pull-right
              label[style="width: 60px;"]
                | 批 准 人
              span[style="width: 150px;"]
                input class="string required" value="#{@notice.approver}" id="notice_approver" name="notice[approver]" type="text"
        tr
          td
            span[style="margin-left:30px;"]
              | (检定专用章)
          td
            .cover-item.pull-right
              label[style="width: 60px;"]
                | 核 验 员
              span[style="width: 150px;"]
                input class="string required" value="#{@notice.verifier}" id="notice_verifier" name="notice[verifier]" type="text"
        tr
          td
          td
            .cover-item.pull-right
              label[style="width: 60px;"]
                | 检 定 员
              span[style="width: 150px;"]
                input class="string required" value="#{@notice.inspector}" id="notice_inspector" name="notice[inspector]" type="text"
      .clearfix
  div[style="margin-top: 30px;"]
    p.center
      | 检定日期
      span[style="margin-left: 20px;"]
        input type="text" style="width:150px;" value="#{@notice.verification_date}" name="notice[verification_date]" onClick="WdatePicker({onpicked: function(){$(this).trigger('change')}})" readonly='true'  class="input-time"
    p.center
      | 有效期至
      span[style="margin-left: 20px;"]
        input type="text" style="width:150px;" value="#{@notice.expiry_date}" name="notice[expiry_date]" onClick="WdatePicker({onpicked: function(){$(this).trigger('change')}})" readonly='true'  class="input-time"
  .row.cover-footer
    table.table-align
      tr
        td
          | 地址：四川.泸州
        td
          | 电话：0830-3922078
      tr
        td
          | 传真：0830-3922078
        td
          | 邮编：646300
      tr
        td &nbsp;
        td
          | Email:sn_ilz@petrochina.com.cn

javascript:
  window.onload = autofillInstrumentInfo();

  function autofillInstrumentInfo(){
    var id = $('#notice_instrument_id').val();
    if(id != ""){
      $.ajax({
        type: 'GET',
        url: '/instruments/' + id,
        success: function(data){
          $('#instrument_specification').html(data.specification);
          $('#instrument_sn').html(data.sn);
          $('#instrument_vendor_name').html(data.vendor);
          $('#instrument_regulation').html(data.regulation);
        }
      });
    }
  }

css:
  .cover .cover-content .cover-item span {
    width: 78%;
  }
