br
.cover
  h4
    | 西南油气田分公司蜀南气矿计量站
  h3
    - if @notice.is_certificate?
      |  检定证书
    - elsif @notice.is_calibration?
      |  校准证书
    - else
      |  检定通知书
  p.center
    | 证书编号：
    span.input-line[style="width:130px;"]
      = @notice.sn
  .cover-content
    .cover-item
      label
        | 送 检 单 位
      span.input-line
        = @notice.organ.name
    .cover-item
      label
        | 计 量 器 具 名 称
      span.input-line
        = @notice.instrument.instrument_kind.name
    .cover-item
      label
        | 型 号 / 规 格
      span.input-line
        = @notice.instrument.specification
    .cover-item
      label
        | 出 厂 编 号
      span.input-line
        = @notice.instrument.sn
    .cover-item
      label
        | 制 造 单 位
      span.input-line
        = @notice.instrument.vendor.name
    .cover-item
      label
        | 检 定 依 据
      span.input-line
        = @notice.instrument.regulation.try(:sn)
    .cover-item
      label
        | 检 定 结 论
      span.input-line
        = @notice.conclusion
    .row[style="margin-top: 35px;"]
      table.table-align
        tr
          td
          td
            .cover-item
              label[style="width: 60px;"]
                | 批 准 人
              span.input-line[style="width: 150px;"]
                = @notice.approver
        tr
          td
            span
              | (检定专用章)
          td
            .cover-item
              label[style="width: 60px;"]
                | 核 验 员
              span.input-line[style="width: 150px;"]
                = @notice.verifier
        tr
          td
          td
            .cover-item
              label[style="width: 60px;"]
                | 检 定 员
              span.input-line[style="width: 150px;"]
                = @notice.inspector
      .clearfix
    div[style="margin-top: 30px;"]
      p.center
        | 检定日期
        span[style="margin-left: 20px;"]
          = @notice.verification_date
      - if !@notice.is_notice?
        p.center
          | 有效期至
          span[style="margin-left: 20px;"]
            = @notice.expiry_date
  .row.cover-footer
    table.table-align
      tr
        td
          | 地址：四川.泸州
        td
          | 电话：0830-3922078
      tr
        td
          | 传真：0830-3922078
        td
          | 邮编：646300
      tr
        td &nbsp;
        td
          | Email:sn_ilz@petrochina.com.cn
