= simple_form_for(@notice) do |f|
  = f.error_notification

  .form-inputs
    = f.input :sn
    = f.input :organ_id
    = f.input :instrument_id
    = f.input :conclousion
    = f.input :approver
    = f.input :verifier
    = f.input :inspector
    = f.input :verification_date
    = f.input :expiry_date
    = f.input :content

  .form-actions
    = f.button :submit
