.table-header
  | 检定证书/通知书
  - if can? :create, Notice
    div class="widget-toolbar no-border"
      a  class="btn btn-primary"  href=new_notice_path 添加
div
  = form_tag search_notices_path, method: :get do
    select name="notice[instrument_kind_id]"
      option value="" ---请选择---
      - InstrumentKind.all.each do |ik|
        - if @notice[:instrument_kind_id].eql?(ik.id.to_s)
          option value="#{ik.id}" selected="selected" = ik.name
        - else
          option value="#{ik.id}" = ik.name
    select name="notice[organ_id]"
      option value="" ---请选择---
      - Organ.all.each do |o|
        - if @notice["organ_id"].eql?(o.id.to_s)
          option value="#{o.id}" selected="selected"= o.name
        - else
          option value="#{o.id}"= o.name
    select name="notice[vendor_id]"
      option value="" ---请选择---
      - Vendor.all.each do |v|
        - if @notice[:vendor_id].eql?(v.id.to_s)
          option value="#{v.id}" selected="selected"= v.name
        - else
          option value="#{v.id}"= v.name
    select name="notice[category_id]"
      option value="" ---请选择---
      - Category.all.each do |c|
        - if @notice[:category_id].eql?(c.id.to_s)
          option value="#{c.id}" selected="selected"= c.name
        - else
          option value="#{c.id}"= c.name
    button type="submit" 查询
.table-responsive
  table.table.table-bordered.table-striped.table-hover  id="notice_table"
    //tfoot
      tr
        th 序号
        //th 检定单位
        th 计量器具名称
        th 计量器具编号
        th 生产日期
        th 生产厂商
        th 计量器具量程
        th 计量器具精度
        th 检定分类
        //th 上次检定日期
        //th 送检日期
        th 检定日期
        th 下次检定日期
        th 标准器信息
        th 送检单位
        //th 检定人
        th 检定依据
        //th 检定结论
        th 检定证书编号
        th 状态
        th
    thead
      tr
        th 序号
        //th 检定单位
        th 计量器具名称
        th 计量器具编号
        th 生产日期
        th 生产厂商
        th 计量器具量程
        th 计量器具精度
        th 检定分类
        //th 上次检定日期
        //th 送检日期
        th 检定日期
        th 下次检定日期
        th 标准器信息
        th 送检单位
        th 检定人
        th 检定依据
        //th 检定结论
        th 检定证书编号
        th
    tbody
      -@notices.each_with_index do |notice,index|
          tr
            td =index=index+1
            //td =notice.organ.name
            td =notice.instrument.try(:detection_name)
            td =notice.instrument.sn
            td =notice.instrument.try(:date)
            td =notice.instrument.vendor_name
            td =notice.instrument.try(:range)
            td =notice.instrument.try(:precision)
            td =notice.instrument.category.name
            td =notice.try(:date)
            //td =notice.verification.date
            td style="background-color:#{style_next_check_time(notice.expiry_date)}"
              = notice.expiry_date
            td
              - if notice.instrument.standard ==1
                span style="color:red"  是
              - else
                span  否
            td =notice.organ.name
            td =notice.inspector
            td =notice.instrument.regulation.try(:sn)
            td =notice.sn
            td
              div class="pull-right action-buttons"
                - if notice.verification.present?
                  a class="blue" href=report_verification_path(notice.try(:verification)) data_toggle='tooltip' title="显示"
                    i class="fa fa-zoom-in"
                a class="blue" href=notice_path(notice) target='_blank' data_toggle='tooltip' title="显示证书" 查看明细
                /  i class="fa fa-registered num-zone"

                /- if can? :update, notice
                /  a class="blue" href=edit_inside_page_notice_path(notice) data_toggle='tooltip' title="编辑内页"
                /    i class="fa fa-edit"
                /  a class="blue" href=edit_notice_path(notice) data_toggle='tooltip' title="编辑封面"
                /    i class="fa fa-envelope-o"
                /- if can? :destroy, notice
                /  span class="vbar"
                /  =link_to "<i class='fa fa-trash'></i>".html_safe,notice_path(notice),method: "delete", data_toggle: 'tooltip', title: "删除", data: { confirm: "您确定要删除此类型？"},class: "red"
                /  span class="vbar"
= render "paginate/notice", paginate: @notice_paginate, url: "/notices",notice: @notice.to_json
//javascript:
  $('#notice_table tfoot th:nth-child(n+1):nth-child(-n+16)').each(function () {
    var title = $('#notice_table thead th:nth-child(n+1):nth-child(-n+16)').eq($(this).index()).text().trim();
      $(this).html( '<input type="text" style="width:90%;" placeholder="搜索'+title+'" />' );
  });
  var oTable = $('#notice_table').DataTable({
    "oLanguage": {//语言国际化
      //"sUrl": "js/jquery.dataTable.cn.txt"
      "sLengthMenu": "每页显示 _MENU_ 条记录",
      "sZeroRecords": "抱歉， 没有找到",
      "sInfo": "从 _START_ 到 _END_ /共 _TOTAL_ 条数据",
      "sInfoEmpty": "没有数据",
      "sInfoFiltered": "(从 _MAX_ 条数据中检索)",
      "oPaginate": {
      "sFirst": "首页",
      "sPrevious": "前一页",
      "sNext": "后一页",
      "sLast": "尾页"
      },
      "sZeroRecords": "没有检索到数据",
      "sProcessing": "   处理中...",
      "sSearch": "全文搜索"
    },
    "scrollX": true,
    "initComplete" : function () {
      $('.dataTables_scroll').parent().removeClass();
    }
  });
  oTable.columns().every(function () {
    var that = this;
    $('input', this.footer()).on('keyup change', function(){
      that.search(this.value).draw();
    });
  });
