= simple_form_for(@notice, url: update_content_notice_path(@notice), method: :patch) do |f|
  == render partial: "html_certificates/#{Settings.certificates.send(@notice.instrument.category_type.name)}"
  .form-actions
    = f.button :submit,"提交", class: 'btn-info'
