<div id="instrument_search_app">
  <div class="border-bottom">
    <b class="font-lg">
      <i class="fa fa-search num-zone"></i>
      测量仪器查询
    </b>
  </div>

  <div ui-view></div>
</div>


<script type="text/javascript">
    angular.element("#instrument_search_app").ready(function() {
      angular.bootstrap(angular.element("#instrument_search_app"),["instrument_search_app"]);
    });
</script>
