p#notice = notice

p
  strong Sn:
  = @notice.sn
p
  strong Organ:
  = @notice.organ_id
p
  strong Instrument:
  = @notice.instrument_id
p
  strong Conclusion:
  = @notice.conclusion
p
  strong Approver:
  = @notice.approver
p
  strong Verifier:
  = @notice.verifier
p
  strong Inspector:
  = @notice.inspector
p
  strong Verification date:
  = @notice.verification_date
p
  strong Expiry date:
  = @notice.expiry_date
p
  strong Content:
  = @notice.content

= link_to 'Edit', edit_notice_path(@notice)
'|
= link_to 'Back', notices_path
