.widget
  h4
    i.icon-upload.text-large
    span.text-info 处理任务
  .widgetarea
    = simple_form_for @task,url: task_path(params[:id]), :html => {:class=>"form-horizontal form-mini"} do |f|
      =render "form",:f =>f