body,html{
  font-family: "Verdana","Microsoft YaHei";
}

/*body{*/
  /*font-family: 'Noto Sans', sans-serif;*/
/*}*/
.table-noborder td {
  border-left: 0 none !important;
  border-right: 0 none !important;
}

.table-noborder tbody>tr>th,.table-noborder tbody>tr>td,.table-noborder thead>tr>th,.table-noborder thead>tr>td{
  border: 0 none;
}

.page-break {
  display:block;
  clear:both;
  page-break-after:always;
}

.input-line {
  border: 0 none;
  border-bottom: 1px solid #ccc;
  display: inline-block;
  text-align: center;
  width: 50%;
}

.center, .align-center {
  text-align: center !important;
}

.cover {
  margin: 0 auto;
}

.cover h3 {
  text-align: center;
  /*letter-spacing: 15px;*/
  margin-bottom: 30px;
}

.cover h4 {
  text-align: center;
  margin-bottom: 50px;
  /*letter-spacing: 5px;*/
}

.cover .cover-content {
  width: 90%;
  margin: 75px auto 0;
}

.cover .cover-content .cover-item {
  margin-bottom: 15px;
  /*padding-top: 10px;*/
  padding-bottom: 10px;
}

.cover .cover-content .cover-item label {
  width: 21%;
}

.cover .cover-content .cover-item span {
  width: 70%;
  margin-left: 5px;
}

.cover .cover-footer {
  border-top: 1px solid #ccc;
  padding-top: 20px;
  margin-top: 30px;
}

table.table-align {
  width: 100%;
}
table.table-align td {
  padding-left: 12px;
  padding-right: 12px;
  width: 50%;
  margin: 0 0 10px;
}

.text-unit {
	margin-left: 10px;
}
