.widget
  h4
    span.text-info 添加检测范围
  hr class="hr-18 dotted hr-double"
  
  .widgetarea
    = simple_form_for @category_range,url: category_category_ranges_path(params[:category_id]), :html => {:class=>"form-horizontal form-mini"} do |f|
      =render "form",:f =>f