<div class="border-bottom">
    <h4>检定申请</h4>
</div>

<div class="alert alert-info" ng-form="form" novalidate>

    <div class="form-group">
        <div class="row">
            <label class="control-label col-sm-2">量器品类</label>
            <div class="col-sm-4">
                <select class="form-control"
                    ng-model="elem.instrument_kind_id"
                    ng-disabled="is_register"
                    ng-options="d.id as d.name group by d.category for d in kinds track by d.id">
                </select>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="row">
            <label class="control-label col-sm-2">仪器编号</label>
            <div class="col-sm-4">
                <input type="edit" class="form-control" ng-model="elem.sn"
                    ng-disabled="is_register"
                    ng-required="true">
            </div>
        </div>
    </div>

    <hr>
    <div class="form-group" ng-hide="is_register">
        <button class="btn btn-sm btn-primary" ng-click="next(elem.instrument_kind_id, elem.sn);" ng-disabled="form.$invalid">确认</button>
    </div>

    <div ui-view></div>
</div>
