<div class="form-group">
    <div class="row">
        <label class="control-label col-sm-2">规格型号</label>
        <div class="col-sm-4">
            <input class="form-control"
                ng-model="elem.specification"
                ng-required="true"
                ng-disabled="is_existed"
                type="edit">
        </div>
    </div>
</div>

<div class="form-group">
    <div class="row">
        <label class="control-label col-sm-2">生产日期</label>
        <div class="col-sm-4">
            <div class="input-group date">
                <input type="text" class="form-control" ng-model="elem.date"
                    ng-disabled="is_existed"
                    ng-required="true">
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            </div>
        </div>
    </div>
</div>


<div class="form-group">
    <div class="row">
        <label class="control-label col-sm-2">生产厂商</label>
        <div class="col-sm-4">
            <select class="form-control"
                ng-model="elem.vendor_id"
                ng-required="true"
                ng-disabled="is_existed"
                ng-options="d.id as d.name for d in kind.vendors">
            </select>
        </div>
    </div>
</div>


<div class="form-group">
    <div class="row">
        <label class="control-label col-sm-2">准确度等级</label>
        <div class="col-sm-4">
            <select class="form-control"
                ng-model="elem.precision"
                ng-required="true"
                ng-disabled="is_existed"
                ng-options="d for d in kind.precisions">
            </select>
        </div>
    </div>
</div>


<div class="form-group">
    <div class="row">
        <label class="control-label col-sm-2">测量范围</label>
        <div class="col-sm-4">
            <select class="form-control"
                ng-model="elem.range"
                ng-required="true"
                ng-disabled="is_existed"
                ng-options="d for d in kind.ranges">
            </select>
        </div>
    </div>
</div>


<div class="form-group">
    <div class="row">
        <label class="control-label col-sm-2">检定依据</label>
        <div class="col-sm-4">
            <select class="form-control"
                ng-model="elem.regulation_id"
                ng-required="true"
                ng-disabled="is_existed"
                ng-options="d.id as d.name for d in kind.standards">
            </select>
        </div>
    </div>
</div>


<div class="form-group">
    <div class="row">
        <label class="control-label col-sm-2">送检单位</label>
        <div class="col-sm-4">
            <select class="form-control"
                ng-model="elem.organ_id"
                ng-required="true"
                ng-disabled="is_existed"
                ng-options="d.id as d.name for d in kind.organs">
            </select>
        </div>
    </div>
</div>


<div class="form-group">
    <div class="row">
        <label class="control-label col-sm-2">送检日期</label>
        <div class="col-sm-4">
            <div class="input-group date">
              <input type="text" class="form-control" ng-model="elem.verification.date" ng-required="true">
              <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            </div>
        </div>
    </div>
</div>

<hr>
<div class="form-group">
    <button class="btn btn-sm btn-primary num-zone" ng-click="submit(elem);" ng-disabled="form.$invalid">创建检定任务</button>
    <a href ng-click="cancel()" style="padding-left: 4em;">取消</a>
</div>



<!-- DatePicker -->
<script type="text/javascript">
  $('.input-group.date').datepicker({
    format: "yyyy-mm-dd",
    language: "zh-CN",
    orientation: "bottom auto",
    calendarWeeks: true,
    autoclose: true,
    todayHighlight: true
  });
</script>
