<%- if result.present? %>
  <%- if result['pass']%>
    <span class="blue">
      <%= "符合#{precision}级"%>
    </span>
  <%- else %>
    <span class="red">
      <%= "不符合#{precision}级"%>
    </span>
    <%= render partial: 'failure', locals: {message: result['message']} %>
  <% end %>
<% end %>

