br
.cover
  h4
    | 西南油气田分公司蜀南气矿计量站
  h3
    - if @report['result']['pass']
      |  检定证书
    - else
      |  检定通知书
  p.center
    | 证书编号：
    span.input-line[style="width:130px;"]
      = @verification.sn
  .cover-content
    .cover-item
      label
        | 送 检 单 位
      span.input-line
        = @verification.organ.name
    .cover-item
      label
        | 计 量 器 具 名 称
      span.input-line
        = @verification.instrument.instrument_kind.name
    .cover-item
      label
        | 型 号 / 规 格
      span.input-line
        = @verification.instrument.specification
    .cover-item
      label
        | 出 厂 编 号
      span.input-line
        = @verification.instrument.sn
    .cover-item
      label
        | 制 造 单 位
      span.input-line
        = @verification.instrument.vendor.name
    .cover-item
      label
        | 检 定 依 据
      span.input-line
        = @verification.instrument.regulation.try(:sn)
    .cover-item
      label
        | 检 定 结 论
      span.input-line
        = render partial: 'conclusion', locals: {result: @report['result'], precision: @verification.instrument.try(:precision)}
    .row[style="margin-top: 35px;"]
      table.table-align
        tr
          td
          td
            .cover-item
              label[style="width: 60px;"]
                | 批 准 人
              span.input-line[style="width: 150px;"]
                = @report['批准人']
        tr
          td
            span
              | (检定专用章)
          td
            .cover-item
              label[style="width: 60px;"]
                | 核 验 员
              span.input-line[style="width: 150px;"]
                = @report['核验员']
        tr
          td
          td
            .cover-item
              label[style="width: 60px;"]
                | 检 定 员
              span.input-line[style="width: 150px;"]
                = @report['检定员']
      .clearfix
    div[style="margin-top: 30px;"]
      p.center
        | 检定日期
        span[style="margin-left: 20px;"]
          = @verification.created_at.to_date.strftime("%Y年%m月%d日")
      - if @report['result']['pass']
        p.center
          | 有效期至
          span[style="margin-left: 20px;"]
            = (@verification.created_at + 1.year).to_date.strftime("%Y年%m月%d日")
  .row.cover-footer
    table.table-align
      tr
        td
          | 地址：四川.泸州
        td
          | 电话：0830-3922078
      tr
        td
          | 传真：0830-3922078
        td
          | 邮编：646300
      tr
        td &nbsp;
        td
          | Email:sn_ilz@petrochina.com.cn
