<span class="red">
  <%- message.each do |key,value|%>
    <p>
    <%= key %>:
    <% value.each do |name,differential| %>
      <span>
        <%= "#{name}-#{differential}"%>
      </span>
    <% end %>
    </p>
  <% end %>
</span>

