= f.input :instrument_id,:label => "计量器具编号" do
  = f.select :instrument_id,Instrument.all.collect{|p|[p.sn,p.id]},{:include=>"_blank"},{:class=>"selectpicker col-sm-2"}
= f.input :organ_id, label: "送检单位" do
  = f.select :organ_id,Organ.all.collect{|p|[p.name,p.id]},{:include=>"_blank"},{:class=>"selectpicker col-sm-2"}
= f.input :date,label: "送检日期",input_html: {onclick: "WdatePicker({onpicked: function(){$(this).trigger('change')}})"}
.form-actions
  = f.button :submit,"提交", class: 'btn-info'
