.table-header
  | 检定记录
  div class="widget-toolbar no-border"
    a  class="btn btn-primary"  href=new_verification_path 添加
.table-responsive
  table.table.table-bordered.table-striped.table-hover  id="verification_table"
    tfoot
      tr
        th 序号
        //th 检定单位
        th 计量器具名称
        th 计量器具编号
        th 生产日期
        th 生产厂商
        th 测量范围
        th 准确度等级
        th 检定分类
        //th 上次检定日期
        th 送检日期
        th 检定日期
        th 下次检定日期
        th 标准器信息
        th 检定单位
        //th 检定人
        th 检定依据
        //th 检定结论
        th 检定证书编号
        th 状态
        th
    thead
      tr
        th 序号
        //th 检定单位
        th 计量器具名称
        th 计量器具编号
        th 生产日期
        th 生产厂商
        th 测量范围
        th 准确度等级
        th 检定分类
        //th 上次检定日期
        th 送检日期
        th 检定日期
        th 下次检定日期
        th 标准器信息
        th 检定单位
        //th 检定人
        th 检定依据
        //th 检定结论
        th 检定证书编号
        th 状态
        th
    tbody
      -@verifications.each_with_index do |verification,index|
          tr
            td =index=index+1
            //td =verification.organ.name
            td =verification.instrument.try(:detection_name)
            td =verification.instrument.sn
            td =verification.instrument.try(:date)
            td =verification.instrument.vendor_name
            td =verification.instrument.try(:detection_range)
            td =verification.instrument.try(:detection_precision)
            td =verification.instrument.category.name
            td =verification.date
            td =verification.report.checked_date
            td style="background-color:#{style_next_check_time(verification.report.checked_date)}"
              =verification.report.checked_date.nil? ? verification.report.checked_date : verification.report.checked_date + 1.year
            td
              - if verification.instrument.standard ==1
                span style="color:red"  是
              - else
                span  否
            td =verification.organ.name
            //td =verification.instrument.sn
            td =verification.instrument.regulation.try(:sn)
            td =verification.sn
            td =Settings.state.send("#{verification.state}")
            td
              div class="pull-right action-buttons"
                - if (can? :certificate, Verification) && verification.notice && verification.state == "checked"
                  a class="blue" href=notice_path(verification.notice) data_toggle='tooltip' title="查看证书" target="_blank"
                    i class="fa fa-registered"
                - if can? :report, Verification
                  a class="blue" href=report_verification_path(verification) data_toggle='tooltip' title="显示"
                    i class="fa fa-crosshairs"
                - if can? :update, Verification
                  a class="blue" href=edit_verification_path(verification) data_toggle='tooltip' title="编辑"
                    i class="fa fa-edit"
                - if can? :destroy, Verification
                  span class="vbar"
                  =link_to "<i class='fa fa-trash'></i>".html_safe,verification_path(verification),method: "delete", data_toggle: 'tooltip', title: "删除", data: { confirm: "您确定要删除此类型？"},class: "red"
                  span class="vbar"
javascript:
  $('#verification_table tfoot th:nth-child(n+1):nth-child(-n+16)').each(function () {
    var title = $('#verification_table thead th:nth-child(n+1):nth-child(-n+16)').eq($(this).index()).text().trim();
      $(this).html( '<input type="text" style="width:90%;" placeholder="搜索'+title+'" />' );
  });
  var oTable = $('#verification_table').DataTable({
    "oLanguage": {//语言国际化
      //"sUrl": "js/jquery.dataTable.cn.txt"
      "sLengthMenu": "每页显示 _MENU_ 条记录",
      "sZeroRecords": "抱歉， 没有找到",
      "sInfo": "从 _START_ 到 _END_ /共 _TOTAL_ 条数据",
      "sInfoEmpty": "没有数据",
      "sInfoFiltered": "(从 _MAX_ 条数据中检索)",
      "oPaginate": {
      "sFirst": "首页",
      "sPrevious": "前一页",
      "sNext": "后一页",
      "sLast": "尾页"
      },
      "sZeroRecords": "没有检索到数据",
      "sProcessing": "   处理中...",
      "sSearch": "全文搜索"
    },
    "scrollX": true,
    "initComplete" : function () {
      $('.dataTables_scroll').parent().removeClass();
    }
  });
  oTable.columns().every(function () {
    var that = this;
    $('input', this.footer()).on('keyup change', function(){
      that.search(this.value).draw();
    });
  });
