link rel="stylesheet" href="/css/typeahead.css"
.widget
  h4
    span.text-info 待检计量器具信息
  hr class="hr-18 dotted hr-double"

  .widgetarea
    = form_tag process_import_verifications_path, method: :post, multipart: true do
      input type="file" name="import_file"

      button type="submit" 导入

    div
      span 按照该模版构建数据
      a href="/template.xlsx" 模版