link rel="stylesheet" href="/css/typeahead.css"
.widget
  h4
    span.text-info 待检计量器具信息
  hr class="hr-18 dotted hr-double"

  .widgetarea
    = simple_form_for :instrument,url: verifications_path, method: :post, :html => {:class=>"form-horizontal form-mini"} do |f|
      div class="form-group string required instrument_category_id"
        label for="instrument_category_id" class="string required col-sm-3 control-label"
          abbr title="required" *
          | 计量器具编号
        div class="col-sm-9"
          = f.input_field :sn, class: 'typeahead'
          span style="margin-left:10px;"
            a.btn.btn-info.btn-xs.btn-success href='#' style="margin-top:5px;" id='autofill'
              | 自动填充
      =f.input :organ_id, as: :hidden, input_html: {value: current_user.organ_id}
      = f.input :category_type_id do
        = f.select :category_type_id,CategoryType.with_report.collect{|p|[p.name,p.id]},{:include=>"_blank"},{:class=>"selectpicker col-sm-2"}
      =f.input :specification,:label => "规格型号"
      =f.input :date,:input_html => { :onclick =>  "WdatePicker({onpicked: function(){$(this).trigger('change')}})"}
      div class="form-group string required instrument_category_id"
        label for="instrument_category_id" class="string required col-sm-3 control-label"
          abbr title="required" *
          | 生产厂商
        div class="col-sm-9"
      	 =f.select :vendor_id,Vendor.collect{|p|[p.name,p.id]},{},{:class=>"chosen-select"}
      div class="form-group string required instrument_category_id"
        label for="instrument_category_id" class="string required col-sm-3 control-label"
          abbr title="required" *
          | 检定分类
        div class="col-sm-9"
      	 =f.select :category_id,Category.collect{|p|[p.name,p.id]},{},{:class=>"selectpicker col-sm-2"}

      = f.input :category_precision_id do
        = f.select :category_precision_id,CategoryPrecision.all.collect{|p|[p.precision,p.id]},{include_blank: true},{:class=>"selectpicker col-sm-2"}
      = f.input :category_range_id do
        = f.select :category_range_id,CategoryRange.all.collect{|p|[p.range,p.id]},{include_blank: true},{:class=>"selectpicker col-sm-2"}
      = f.input :regulation_id, label: "检定依据" do
        =f.select :regulation_id,Regulation.collect{|p|[p.sn,p.id]},{},{:class=>"selectpicker col-sm-2 chosen-select"}
      = f.association :verification do |f|
        = f.input :organ_id, label: "送检单位" do
          = f.select :organ_id,Organ.all.collect{|p|[p.name,p.id]},{:include=>"_blank"},{:class=>"selectpicker col-sm-2"}
        = f.input :date,label: "送检日期",input_html: {onclick: "WdatePicker({onpicked: function(){$(this).trigger('change')}})"}
      .form-actions
        = f.button :submit,"提交", class: 'btn-info'

javascript:
  $(".chosen-select").chosen();
  var instruments = new Bloodhound({
    datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'),
    queryTokenizer: Bloodhound.tokenizers.whitespace,
    //prefetch: '../data/verifications.json',
    remote: {
      url: '/instruments/search/%QUERY',
      wildcard: '%QUERY'
    }
  });

  $('input.typeahead').typeahead(null, {
    name: 'instruments',
    display: 'sn',
    source: instruments,
    templates: {
      suggestion: function(data){
        return "<div class='custom'><h4>"+data.sn+"</h4><p class='text-muted'><span>"+data.category_type_name+"</span><span class='pull-right'>"+ data.organ_name+"</span></p></div>";
      }
    }
  });
  $('#autofill').click(function(){
    var query_string = $('#instrument_sn').val();
    if(query_string != ""){
      $.ajax({
        type: 'GET',
        url: '/instruments/search',
        data: {query: query_string},
        success: function(data){
          if(data.length != 0){
            var instrument = data[0];
            //$('#verification_instrument_sn').val(query_string);
            $('#instrument_category_type_id').val(instrument.category_type_id);
            $('#instrument_specification').val(instrument.specification);
            $('#instrument_date').val(instrument.date);
            $('#instrument_vendor_id').val(instrument.vendor_id).trigger("chosen:updated");
            $('#instrument_category_id').val(instrument.category_id);
            $('#instrument_category_precision_id').val(instrument.category_precision_id);
            $('#instrument_category_range_id').val(instrument.category_range_id);
            $('#instrument_regulation_id').val(instrument.regulation_id).trigger("chosen:updated");
            //$('#verification_instrument_standard').prop('checked', instrument.standard);
          }else{
            //$('#verification_instrument_sn').val(query_string);
            alert('未找到匹配的计量器具信息。请填写表格信息，添加新的计量器具');
          }
        }
      });
    }else{
      alert('请填写表格信息，添加新的计量器具');
    }
  });
