link rel="stylesheet" href="/css/typeahead.css"
.widget
  h4
    span.text-info 待检计量器具信息
  hr class="hr-18 dotted hr-double"

  .widgetarea
    a href=imports_verifications_path 继续导入
    div 共导入#{@messages[:count]}条数据
    div 共有#{@messages[:errors].size}条错误数据
    div
      - if @messages[:errors].size > 0
	      span 错误信息：
	      - @messages[:errors].each do |message|
	        div 第#{message[:num]}条数据
	        - message[:errors].each do |m|
	          div= m
