= simple_form_for(@notification) do |f|
  = f.error_notification

  .form-inputs
    = f.input :organ_id
    = f.input :user_id
    = f.input :notice_id
    = f.input :checked
    = f.input :content

  .form-actions
    = f.button :submit
