.table-header
  | 预警通知
.table-responsive
  table.table.table-bordered.table-striped id="notification_table"
    thead
      tr
        th 序号
        th 通知摘要
    tbody
      -@notifications.each_with_index do |notification,index|
          tr
            td = index=index+1
            td
              a class="blue" href=notification_path(notification) data_toggle='tooltip' title="查看详情"
                span class="label #{notification.checked ? "label-default" : "label-yellow"}"
                  = notification.checked ? "已读" : "未读"
              span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true" style="margin-left:15px;"
              | 您的编号为
              = notification.notice.sn
              | 的
              = notification.notice.instrument.detection_name
              | 的证书有效期&nbsp;
              span class="label label-warning"
                | 仅剩余
                = notification.content
              | 了，请贵单位及时查看并重新送检。
              span.pull-right
                = notification.created_at.to_date
javascript:
  var oTable = $('#notification_table').DataTable({
    "oLanguage": {//语言国际化
      //"sUrl": "js/jquery.dataTable.cn.txt"
      "sLengthMenu": "每页显示 _MENU_ 条记录",
      "sZeroRecords": "抱歉， 没有找到",
      "sInfo": "从 _START_ 到 _END_ /共 _TOTAL_ 条数据",
      "sInfoEmpty": "没有数据",
      "sInfoFiltered": "(从 _MAX_ 条数据中检索)",
      "oPaginate": {
      "sFirst": "首页",
      "sPrevious": "前一页",
      "sNext": "后一页",
      "sLast": "尾页"
      },
      "sZeroRecords": "没有检索到数据",
      "sProcessing": "   处理中...",
      "sSearch": "全文搜索"
    },
    "aLengthMenu": [[25, 50, -1], [25, 50, "All"]],
    "scrollX": true,
    "initComplete" : function () {
      $('.dataTables_scroll').parent().removeClass();
      $('#notification_table, .dataTables_scrollHeadInner, .dataTables_scrollHeadInner table').css({"width": "100%"});
      $('.dataTables_scrollFootInner, .dataTables_scrollFootInner table').css({"width": "100%"});
    }
  });
