.widget
  h3.text-center
    | 预警通知
  p.text-center
    small
      | 发布时间：
      = @notification.created_at.to_date

  .container[style="margin: 0 10% 0 10%;"]
    div
      span
        | 您的编号为
        = @notification.notice.sn
        | 的
        = @notification.notice.instrument.detection_name
        | 的证书有效期
      span class="label label-warning"
        | 仅剩余
        = @notification.content
      | 了，请贵单位及时查看并重新送检。

    hr
    p
      | 证书编号：
      = link_to @notification.notice.sn, notice_path(@notification.notice), target: "_blank"
    p
      | 证书名称：
      = @notification.notice.instrument.detection_name
    p
      | 所属单位：
      = @notification.organ.name
    p
      | 检定时间：
      = @notification.notice.verification_date
    p
      | 有效期至：
      span.label.label-danger
        = @notification.notice.expiry_date

