=f.input :username,:label => "用户名"
=f.input :email,:label => "邮箱"
//=f.input :organ_id,:label => "单位", as: :select, collection: Organ.all.map{|o|[o.name, o.id]}, include_blank: false
=f.input :role_id,:label => "角色", as: :select, collection: Role.all.map{|r|[Settings.role.send("#{r.name}"), r.id]}, include_blank: false
//=f.input :password,:label => "密码", input_html: {placeholder: '长度不少于8个字符'}
//=f.input :password_confirmation,:label => "确认密码", input_html: {placeholder: '确认密码'}

.form-actions
  = f.button :submit,"保存", class: 'btn-info'
