.alert.alert-danger.alert-dismissible
  button type="button" class="close" data-dismiss="alert" aria-label="Close"
    span aria-hidden="true" &times;
  - if @user.errors.full_messages.any?
    - @user.errors.full_messages.each do |error_message|
      = error_message if @user.errors.full_messages.first == error_message

