.widget
  h4
    span.text-info 编辑用户信息
  hr class="hr-18 dotted hr-double"
  .widgetarea
    = simple_form_for @user,url: user_path(@user), :html => {:class=>"form-horizontal form-mini"} do |f|
      =f.input :username,:label => "用户名", disabled: true
      =f.input :email,:label => "邮箱", disabled: true
      //=f.input :organ_id,:label => "单位", as: :select, collection: Organ.all.map{|o|[o.name, o.id]}, include_blank: false
      =f.input :role_id,:label => "角色", as: :select, collection: Role.all.map{|r|[Settings.role.send("#{r.name}"), r.id]}, include_blank: false
      //=f.input :password,:label => "密码", input_html: {placeholder: '不修改密码则为空'}
      //=f.input :password_confirmation,:label => "确认密码", input_html: {placeholder: '长度不少于8个字符'}

      .form-actions
        = f.button :submit,"保存", class: 'btn-info'
