.table-header
  = "系统用户列表"
  - if current_user.admin?
    div class="widget-toolbar no-border"
      a  class="btn btn-primary"  href=new_user_path 添加
.table-responsive
  table.table.table-bordered.table-striped.table-hover.dataTable
    thead
      tr
        th 序号
        th 用户名
        th 邮箱
        th 角色
        // th 单位
        th
    tbody
      -@users.each_with_index do |user,index|
        tr
          td = index=index+1
          td = user.username
          td = user.email
          td = Settings.role.send("#{user.role.nil? ? 'common' : user.role.name}")
          // td = user.organ.name
          td
            div class="pull-right action-buttons"
              a class="blue" href=edit_user_path(user) data_toggle='tooltip' title="编辑"
                i class="fa fa-edit"
              - if current_user.admin?
                span class="vbar"
                
                
                a class="red" onclick="delete_user('#{user.id}')"
                  i class="fa fa-trash"
                span class="vbar"

= render "paginate/paginate", paginate: @user_paginate, url: "/users"
javascript:
  function delete_user(user_id){
    url = "/users/"+user_id;
    if(confirm("确定要删除该用户？")){
      $.ajax({
       url: url,
       type: 'delete',
       success: function() {
         location.reload();
       }
      });
    }
  }
