<div id="user_state_app">
  <div class="border-bottom">
    <b class="font-lg">
      <i class="fa fa-users num-zone"></i>
      用户管理
    </b>
  </div>
  <div ui-view></div>
</div>


<script type="text/javascript">
    angular.element("#user_state_app").ready(function() {
      angular.bootstrap(angular.element("#user_state_app"),["user_state_app"]);
    });
</script>
