.widget
  h4
    span.text-info 添加用户
  hr class="hr-18 dotted hr-double"

  .widgetarea
    = simple_form_for @user,url: users_path, :html => {:class=>"form-horizontal form-mini"} do |f|
      =render "form",:f =>f
