<div id="user_register_app">
  <div ui-view></div>
</div>


<script type="text/javascript">
    angular.element("#user_register_app").ready(function() {
      angular.bootstrap(angular.element("#user_register_app"),["user_register_app"]);
    });
</script>
