<div class="border-bottom">
    <b class="font-lg text-info">
        <i class="fa fa-clock-o num-zone"></i>
        等待批准
    </b>
</div>

<div class="well">
    <p><br>您的使用申请已经提交，需管理员批准，请耐心等待。确认已经得到批准后，刷新页面即可开始使用本系统。</p>
    <hr>
    <p><a class="btn btn-sm btn-primary" href="/">刷新</a></p>
</div>
