<div class="well">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>序号</th>
        <th>器量品类</th>
        <th>仪器编号</th>
        <th>规格型号</th>
        <th>送检时间</th>
        <th>过期时间</th>
        <th>当前状态</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <tr ng-repeat="u in expires | orderBy:'-state'">
        <td ng-bind="$index + 1"></td>
        <td ng-bind="u.instrument_kind"></td>
        <td ng-bind="u.sn"></td>
        <td ng-bind="u.specification"></td>
        <td ng-bind="u.date"></td>
        <td ng-bind="u.expries_date"></td>
        <td ng-bind="u.expires_notify"></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
