.table-header
  | 证书/通知书变更日志
.table-responsive
  table.table.table-bordered.table-striped.table-hover  id="datalog_table"
    tfoot
      tr
        th 序号
        th 编辑人
        th 变更内容
        th 变更时间
        th 所属证书
        th 所属单位
    thead
      tr
        th 序号
        th 编辑人
        th 变更内容
        th 变更时间
        th 所属证书
        th 所属单位
    tbody
      -@datalogs.each_with_index do |datalog,index|
          tr
            td = index=index+1
            td = datalog.user.try(:username)
            td = format_diff(datalog.content)
            td = datalog.created_at.strftime("%Y-%m-%d %H:%M:%S")
            td = link_to datalog.notice.instrument.detection_name, notice_path(datalog.notice), target: "_blank"
            td = datalog.user.organ.name
javascript:
  $('#datalog_table tfoot th:nth-child(n+1):nth-child(-n+16)').each(function () {
    var title = $('#datalog_table thead th:nth-child(n+1):nth-child(-n+6)').eq($(this).index()).text().trim();
      $(this).html( '<input type="text" style="width:90%;" placeholder="搜索'+title+'" />' );
  });
  var oTable = $('#datalog_table').DataTable({
    "oLanguage": {//语言国际化
      //"sUrl": "js/jquery.dataTable.cn.txt"
      "sLengthMenu": "每页显示 _MENU_ 条记录",
      "sZeroRecords": "抱歉， 没有找到",
      "sInfo": "从 _START_ 到 _END_ /共 _TOTAL_ 条数据",
      "sInfoEmpty": "没有数据",
      "sInfoFiltered": "(从 _MAX_ 条数据中检索)",
      "oPaginate": {
      "sFirst": "首页",
      "sPrevious": "前一页",
      "sNext": "后一页",
      "sLast": "尾页"
      },
      "sZeroRecords": "没有检索到数据",
      "sProcessing": "   处理中...",
      "sSearch": "全文搜索"
    },
    "aLengthMenu": [[25, 50, -1], [25, 50, "All"]],
    "scrollX": true,
    "initComplete" : function () {
      $('.dataTables_scroll').parent().removeClass();
      $('#datalog_table, .dataTables_scrollHeadInner, .dataTables_scrollHeadInner table').css({"width": "100%"});
      $('.dataTables_scrollFootInner, .dataTables_scrollFootInner table').css({"width": "100%"});
    }
  });
  oTable.columns().every(function () {
    var that = this;
    $('input', this.footer()).on('keyup change', function(){
      that.search(this.value).draw();
    });
  });
