<div class="well">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>序号</th>
        <th>登录账号</th>
        <th>真实姓名</th>
        <th>所在单位</th>
        <th>任职岗位</th>
        <th>当前状态</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <tr ng-repeat="u in users | orderBy:'-state'">
        <td ng-bind="$index + 1"></td>
        <td ng-bind="u.username"></td>
        <td ng-bind="u.realname"></td>
        <td ng-bind="u.organ"></td>
        <td ng-bind="u.role"></td>
        <td ng-bind="u.state_human"></td>
        <td>
          <a href ng-click="approve($index, u.username)" ng-if="u.state === 'unauthorized'">
            <i class="fa fa-thumbs-up text-danger"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
