<div class="border-bottom">
    <b class="font-lg">
        <i class="fa fa-user-plus num-zone"></i>
        注册登记
    </b>
</div>

<div class="alert alert-warning">
    <p><b>对不起，您所登录的账号在本系统中还没有注册，请认真如实填写您的资料后，等待管理员批准。</b></p>
</div>


<!-- 注册信息 -->

<div class="well well-success" ng-form="form" novalidate>

    <div class="form-group">
        <div class="row">
            <label class="control-label col-sm-2">真实姓名</label>
            <div class="col-sm-4">
                <input class="form-control"
                    ng-model="elem.realname"
                    ng-required="true"
                    type="edit">
            </div>
        </div>
    </div>


    <div class="form-group">
        <div class="row">
            <label class="control-label col-sm-2">所在单位</label>
            <div class="col-sm-4">
                <select class="form-control" ng-model="elem.organ_id" ng-required="true"
                    ng-options="d.id as d.name for d in organs track by d.id">
                </select>
            </div>
        </div>
    </div>


    <div class="form-group">
        <div class="row">
            <label class="control-label col-sm-2">任职岗位</label>
            <div class="col-sm-4">
                <select class="form-control"
                    ng-model="elem.role_id"
                    ng-required="true"
                    ng-options="d.id as d.i18n for d in roles track by d.id">
                </select>
            </div>
        </div>
    </div>


    <hr>
    <div class="form-group">
        <button class="btn btn-sm btn-primary" ng-click="submit(elem);">登记注册</button>
    </div>
</div>
