= f.input :sn, label: "标准编号"
= f.input :name, label: "标准名称"
= f.input :published_date,label: "颁布日期",input_html: {onclick: "WdatePicker({onpicked: function(){$(this).trigger('change')}})"}
= f.input :material_date,label: "实施日期",input_html: {onclick: "WdatePicker({onpicked: function(){$(this).trigger('change')}})"}
=f.input :instrument_kind_id, :label => "量器种类", :collection => InstrumentKind.collect{|p|[p.name,p.id]}


.form-actions
  = f.button :submit,"保存",class: 'btn-info'
