.widget
  h4
    span.text-info 编辑检定依据
  hr class="hr-18 dotted hr-double"
  .widgetarea
    = simple_form_for @regulation, :html => {:class=>"form-horizontal form-mini"} do |f|
      =render "form",:f =>f
