.table-header
  | 检定依据
  div class="widget-toolbar no-border"
    a  class="btn btn-primary"  href=new_regulation_path 添加
.table-responsive
  table.table.table-bordered.table-striped.table-hover.dataTable
    thead
      tr
        th 序号
        th 标准编号
        th 标准名称
        th 颁布日期
        th 实施日期
        th 量器种类
        th
    tbody
      -@regulations.each_with_index do |regulation,index|
          tr
            td =index=index+1
            td =regulation.try(:sn)
            td =regulation.try(:name)
            td =regulation.try(:published_date)
            td =regulation.try(:material_date)
            td =regulation.instrument_kind.name rescue ""
            td
              div class="pull-right action-buttons"
                a class="blue" href=edit_regulation_path(regulation) data_toggle='tooltip' title="编辑"
                  i class="fa fa-edit"
                - if current_user.admin?
                  span class="vbar"
                  a class="red" onclick="delete_regulation('#{regulation.id}')"
                    i class="fa fa-trash"
                  span class="vbar"
= render "paginate/paginate", paginate: @regulation_paginate, url: "/regulations"

javascript:
  function delete_regulation(regulation_id){
    url = "/regulations/"+regulation_id;
    if(confirm("确定要删除该检定依据？")){
      $.ajax({
       url: url,
       type: 'delete',
       success: function() {
         location.reload();
       }
      });
    }
  }