.widget
  h4
    span.text-info 添加检定依据
  hr class="hr-18 dotted hr-double"

  .widgetarea
    = simple_form_for @regulation, :html => {:class=>"form-horizontal form-mini"} do |f|
      =render "form",:f =>f
