.widget
  h4
    span.text-info 编辑#{@setting.name}
  hr class="hr-18 dotted hr-double"
  .widgetarea
    = simple_form_for @setting,url: setting_path(@setting), :html => {:class=>"form-horizontal form-mini"} do |f|
      =render "form",:f =>f
