.table-header
  | 系统配置
  div class="widget-toolbar no-border"
    a  class="btn btn-primary"  href=new_setting_path 添加
.table-responsive
  table.table.table-bordered.table-striped.table-hover.dataTable
    thead
      tr
        th 序号
        th 名称
        th 内容
        th
    tbody
      -@settings.each_with_index do |setting,index|
          tr
            td =index=index+1
            td title=setting.name = setting.name
            td = setting.content
            td
              div class="pull-right action-buttons"
                a class="blue" href=edit_setting_path(setting) data_toggle='tooltip' title="编辑"
                  i class="fa fa-edit"

                span class="vbar"
                =link_to "<i class='fa fa-trash'></i>".html_safe,setting_path(setting),method: "delete",data_toggle: 'tooltip', title: "删除",data: {confirm: "您确定要删除此类型？"},class: "red"
                span class="vbar"
