.widget
  h4
    span.text-info 添加配置
  hr class="hr-18 dotted hr-double"
  
  .widgetarea
    = simple_form_for @setting,url: settings_path, :html => {:class=>"form-horizontal form-mini"} do |f|
      =render "form",:f =>f
