.container
  - if @setting.content.blank?
    h4.text-center style="padding: 20px;"
      | 管理员比较懒，还未添加任何组织结构图。
    - if current_user.admin?
      p.text-center
        strong
          | 请点击&nbsp;
          = link_to "添加", edit_setting_path(@setting)
          | .
  - else
    = @setting.content.html_safe
