=f.input :name,:label => "名称"
=f.input :category_id, :label => "类别", :collection => Category.collect{|p|[p.name,p.id]}
=f.input :accuracy, :label => "准确度"
=f.input :regulation, :label => "测量范围"
=f.input :expries_date, :label => "过期天数"

.form-actions
  = f.button :submit,"保存"
