.widget
  h4
    span.text-info 编辑量器种类
  hr class="hr-18 dotted hr-double"

  .widgetarea
    = simple_form_for @instrument_kind, :html => {:class=>"form-horizontal form-mini"} do |f|
      //=f.input :sn,:label => "编号", disabled: true
      =f.input :name, :label => "名称", disabled: true
      =f.input :category_id, :label => "类别", :collection => Category.collect{|p|[p.name,p.id]}, disabled: true
      =f.input :accuracy, :label => "准确度"
      =f.input :regulation, :label => "测量范围"
      =f.input :expries_date, :label => "过期天数"
      .form-actions
        = f.button :submit,"保存"