.table-header
  | 量器种类管理
  div class="widget-toolbar no-border"
    a  class="btn btn-primary"  href=new_instrument_kind_path 添加
.table-responsive
  table.table.table-bordered.table-striped.table-hover.dataTable
    thead
      tr
        th 序号
        //th 编号
        th 名称
        th 类别
        th 测量范围
        th 准确度
        th 检定有效天数
        th
    tbody
      -@instrument_kinds.each_with_index do |ik,num|
          tr
            td= num+1
            //td= ik.sn
            td= ik.name
            td= ik.category.name
            td= ik.regulation
            td= ik.accuracy
            td= ik.expries_date
            td
              div class="pull-right action-buttons"
                a class="blue" href=edit_instrument_kind_path(ik) data_toggle='tooltip' title="编辑"
                  i class="fa fa-edit"
                - if current_user.admin?
                  span class="vbar"
                  - if ik.regulations.size.eql?(0)
                    a class="red" onclick="delete_kind('#{ik.id}')"
                      i class="fa fa-trash"
                    span class="vbar"

= render "paginate/paginate", paginate: @instrument_kind_paginate, url: "/instrument_kinds"

javascript:
  function delete_kind(kind_id){
    url = "/instrument_kinds/"+kind_id;
    if(confirm("确定要删除该种类？")){
      $.ajax({
       url: url,
       type: 'delete',
       success: function() {
         location.reload();
       }
      });
    }
  }
