.widget
  h4
    span.text-info 添加量器种类
  hr class="hr-18 dotted hr-double"

  .widgetarea
    = simple_form_for @instrument_kind, :html => {:class=>"form-horizontal form-mini"} do |f|
      =render "form",:f =>f