<div class="panel-heading">
  <span class="glyphicon glyphicon-lock"></span> 计量检定系统</div>
<div class="panel-body">
  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name),html: {class: 'form-horizontal'}) do |f| %>
    <%= f.input :login, label: "帐号", placeholder: "Email/Username", required: false, autofocus: true %>
    <%= f.input :password, label: "密码", placeholder: "Password", required: false %>

    <div class="form-group last">
      <div class="col-sm-offset-3 col-sm-9">
        <%= f.button :submit, "登录", class: "btn-success btn-block" %>
      </div>
    </div>
  <% end %>
</div>

