.widget
  h4
    span.text-info 编辑检测类型
  hr class="hr-18 dotted hr-double"
  .widgetarea
    = simple_form_for @category_type,url: category_category_type_path(params[:category_id],params[:id]), :html => {:class=>"form-horizontal form-mini"} do |f|
      =render "form",:f =>f