<div class="alert alert-success" ng-form="form" novalidate>

    <div class="form-group">
        <div class="row">
            <label class="control-label col-sm-2">归属单位</label>
            <div class="col-sm-4">
                <select class="form-control" ng-model="elem.organ_id" ng-required="true"
                    ng-options="d.id as d.name for d in organs track by d.id">
                </select>
            </div>
        </div>
    </div>


    <div class="form-group">
        <div class="row">
            <label class="control-label col-sm-2">量器品类</label>
            <div class="col-sm-4">
                <select class="form-control"
                    ng-model="elem.instrument_kind_id"
                    ng-change="next(elem.instrument_kind_id);"
                    ng-options="d.id as d.name group by d.category for d in kinds track by d.id">
                </select>
            </div>
        </div>
    </div>


    <div class="form-group">
        <div class="row">
            <label class="control-label col-sm-2">仪器编号</label>
            <div class="col-sm-4">
                <input type="edit" class="form-control" ng-model="elem.sn" ng-required="true">
            </div>
        </div>
    </div>


    <div class="form-group">
        <div class="row">
            <label class="control-label col-sm-2">规格型号</label>
            <div class="col-sm-4">
                <input class="form-control"
                    ng-model="elem.specification"
                    ng-required="true"
                    type="edit">
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="row">
            <label class="control-label col-sm-2">生产日期</label>
            <div class="col-sm-4">

                <div class="input-group date">
                  <input type="text" class="form-control" ng-model="elem.date" ng-required="true">
                  <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                </div>

            </div>
        </div>
    </div>


    <div class="form-group">
        <div class="row">
            <label class="control-label col-sm-2">生产厂商</label>
            <div class="col-sm-4">
                <select class="form-control"
                    ng-model="elem.vendor_id"
                    ng-required="true"
                    ng-options="d.id as d.name for d in kind.vendors track by d.id">
                </select>
            </div>
        </div>
    </div>


    <div class="form-group">
        <div class="row">
            <label class="control-label col-sm-2">准确度等级</label>
            <div class="col-sm-4">
                <select class="form-control"
                    ng-model="elem.precision"
                    ng-required="true"
                    ng-options="d for d in kind.precisions">
                </select>
            </div>
        </div>
    </div>


    <div class="form-group">
        <div class="row">
            <label class="control-label col-sm-2">测量范围</label>
            <div class="col-sm-4">
                <select class="form-control"
                    ng-model="elem.range"
                    ng-required="true"
                    ng-options="d for d in kind.ranges">
                </select>
            </div>
        </div>
    </div>


    <div class="form-group">
        <div class="row">
            <label class="control-label col-sm-2">检定依据</label>
            <div class="col-sm-4">
                <select class="form-control"
                    ng-model="elem.regulation_id"
                    ng-required="true"
                    ng-options="d.id as d.name for d in kind.standards track by d.id">
                </select>
            </div>
        </div>
    </div>


    <div class="form-group">
        <div class="row" ng-init="elem.standard = false;">
          <label class="control-label col-sm-2">标准器？</label>
          <div class="col-sm-4">
            <label class="checkbox-inline">
                <input type="checkbox" ng-model="elem.standard" value="" ng-true-value="1" ng-false-value="0">
                <b class="text-danger" ng-if="elem.standard">这是一台标准器</b>
            </label>
          </div>
        </div>
    </div>


    <hr>
    <div class="form-group">
        <button class="btn btn-sm btn-primary" ng-click="submit(elem);">登记</button>
    </div>
</div>



<!-- DatePicker -->
<script type="text/javascript">
  $('.input-group.date').datepicker({
    format: "yyyy-mm-dd",
    language: "zh-CN",
    orientation: "bottom auto",
    calendarWeeks: true,
    autoclose: true
  });
</script>
