<div class="well">

  <div class="row" ng-if="is_searched">
    <div class="col-sm-12">
      <div>
        <a href class="btn btn-sm btn-default pull-right" ng-show="is_show_search" ng-click="toggle();">隐藏查询条件</a>
        <a href class="btn btn-sm btn-primary pull-right" ng-hide="is_show_search" ng-click="toggle();">编辑查询条件</a>
      </div>
    </div>
  </div>

  <hr ng-if="is_searched && is_show_search">

  <div ng-form="form" novalidate ng-show="is_show_search">
    <div class="form-group">
      <div class="row">
        <label class="control-label col-sm-2 text-right">检定分类</label>
        <div class="col-sm-4">
          <select class="form-control"
              ng-model="elem.category_id"
              ng-change="category(elem.category_id)"
              ng-options="d.id as d.name for d in categories track by d.id">
              <option value="">(选择全部)</option>
          </select>
        </div>
      </div>
    </div>


    <div class="form-group">
      <div class="row">
        <label class="control-label col-sm-2 text-right">仪器名称</label>
        <div class="col-sm-4">
          <select class="form-control"
              ng-model="elem.instrument_kind_id"
              ng-change="instrument_kind(elem.instrument_kind_id)"
              ng-options="d.id as d.name for d in kinds track by d.id">
              <option value="">(选择全部)</option>
          </select>
        </div>
        <div class="col-sm-4">
          <span class="gray font-md" ng-if="kinds.length == 0">选择此项，需先确定<b>检定分类</b></span>
        </div>
      </div>
    </div>


    <div class="form-group">
      <div class="row">
        <label class="control-label col-sm-2 text-right">测量范围</label>
        <div class="col-sm-4">
          <select class="form-control"
              ng-model="elem.range"
              ng-options="d for d in ranges">
              <option value="">(选择全部)</option>
          </select>
        </div>
        <div class="col-sm-4">
          <span class="gray font-md" ng-if="ranges.length == 0">选择此项，需先确定<b>仪器名称</b></span>
        </div>
      </div>
    </div>


    <div class="form-group">
      <div class="row">
        <label class="control-label col-sm-2 text-right">测量精度</label>
        <div class="col-sm-4">
          <select class="form-control"
              ng-model="elem.precision"
              ng-options="d for d in precisions">
              <option value="">(选择全部)</option>
          </select>
        </div>
        <div class="col-sm-4">
          <span class="gray font-md" ng-if="precisions.length == 0">选择此项，需先确定<b>仪器名称</b></span>
        </div>
      </div>
    </div>


    <div class="form-group">
      <div class="row">
        <label class="control-label col-sm-2 text-right">仪器编号</label>
        <div class="col-sm-4">
          <input type="edit" class="form-control"
              ng-model="elem.sn"
              placeholder="查询此项，需输入完整准确的仪器编号">
        </div>
      </div>
    </div>


    <div class="form-group">
      <div class="row">
        <label class="control-label col-sm-2 text-right">规格型号</label>
        <div class="col-sm-4">
          <input type="edit" class="form-control"
              ng-model="elem.spec"
              placeholder="查询此项，需输入完整准确的规格型号">
        </div>
      </div>
    </div>


    <!-- 生产信息 -->
    <hr>
    <div class="form-group">
      <div class="row">
        <label class="control-label col-sm-2 text-right">生产厂商</label>
        <div class="col-sm-4">
          <select class="form-control"
              ng-model="elem.vendor_id"
              ng-options="d.id as d.name for d in vendors track by d.id">
              <option value="">(选择全部)</option>
          </select>
        </div>
      </div>
    </div>


    <div class="form-group">
      <div class="row">
        <label class="control-label col-sm-2 text-right">出厂日期</label>
        <div class="col-sm-4">
          <div class="input-group date">
            <span class="input-group-addon">早于...</span>
            <input type="text" class="form-control" ng-model="elem.date_before">
            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="input-group date">
            <span class="input-group-addon">晚于...</span>
            <input type="text" class="form-control" ng-model="elem.date_after">
            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
          </div>
        </div>
      </div>
    </div>


    <!-- 送检信息 -->
    <hr>
    <div class="form-group">
      <div class="row">
        <label class="control-label col-sm-2 text-right">送检单位</label>
        <div class="col-sm-4">
          <select class="form-control"
              ng-model="elem.organ_id"
              ng-options="d.id as d.name for d in organs track by d.id">
              <option value="">(选择全部)</option>
          </select>
        </div>
      </div>
    </div>


    <div class="form-group">
      <div class="row">
        <label class="control-label col-sm-2 text-right">送检日期</label>
        <div class="col-sm-4">
          <div class="input-group date">
            <span class="input-group-addon">早于...</span>
            <input type="text" class="form-control" ng-model="elem.check_date_before">
            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="input-group date">
            <span class="input-group-addon">晚于...</span>
            <input type="text" class="form-control" ng-model="elem.check_date_after">
            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
          </div>
        </div>
      </div>
    </div>


    <div class="form-group">
      <div class="row">
        <label class="control-label col-sm-2 text-right">检定过期</label>
        <div class="col-sm-4">
          <div class="input-group date">
            <span class="input-group-addon">早于...</span>
            <input type="text" class="form-control" ng-model="elem.expire_date_before">
            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="input-group date">
            <span class="input-group-addon">晚于...</span>
            <input type="text" class="form-control" ng-model="elem.expire_date_after">
            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
          </div>
        </div>
      </div>
    </div>

    <hr>
    <div class="form-group" ng-hide="is_register">
      <div class="row">
        <div class="col-sm-10">
          <button class="btn btn-sm btn-primary pull-right"
              ng-click="submit(elem);"
              ng-disabled="form.$invalid">
            执行查询 ...
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div ng-if="is_searched">
  <table class="table">
    <thead>
      <tr>
        <th><!-- 标准器 --></th>
        <th>序号</th>
        <th>仪器编号</th>
        <th>仪器名称</th>
        <th>规格型号</th>
        <th>生产日期</th>
        <th>生产厂商</th>
        <th>量程</th>
        <th>精度</th>
        <th>送检日期</th>
        <th>下次检定</th>
        <th>送检单位</th>
        <th>证书编号</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="inst in instruments">
        <td>
          <i class="fa fa-hourglass-start text-success" title="标准器" ng-if="inst.standard === 1"></i>
        </td>
        <td ng-bind="$index+1"></td>
        <td ng-bind="inst.sn"></td>
        <td ng-bind="inst.kind"></td>
        <td ng-bind="inst.specification"></td>
        <td ng-bind="inst.date"></td>
        <td ng-bind="inst.vendor"></td>
        <td ng-bind="inst.range"></td>
        <td ng-bind="inst.precision"></td>
        <td ng-bind="inst.date"></td>
        <td ng-bind="inst.date"></td>
        <td ng-bind="inst.organ"></td>
        <td>
          <span class="num-zone" ng-bind="inst.notice.sn"></span>
          <a href="/notices/{{inst.notice.id}}" target="_blank" ng-if="inst.notice.id != null">
            <i class="fa fa-book text-primary"></i>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- DatePicker -->
<script type="text/javascript">
  $('.input-group.date').datepicker({
    format: "yyyy-mm-dd",
    language: "zh-CN",
    orientation: "bottom auto",
    calendarWeeks: true,
    autoclose: true,
    todayHighlight: true
  });
</script>
