.container.cover
  h4
    | 检准结果
  table.table.table-noborder[style="margin-left:5%;"]
    tr
      td.col-sm-1
        | 测量范围：
        span.input-line
          = @content['测量范围']
        | &#8451;
      td
        | 分度值：
        span.input-line
          = @content['分度值']
        | &#8451;
    tr
      td colspan="2"
        | 角度调整误差：
        span.input-line
          = @content['角度调整误差']

  table.table.table-bordered.text-center
    tr
      td[style="width: 150px;"]
        | 检定点/&#8451;
      - 7.times do |index|
        td[style="width: 90px;"]
          = @content['检定点'][index].present? ? @content['检定点'][index] : "/"
    tr
      td[style="width: 150px;"]
        | 示值误差/&#8451;
      - 7.times do |index|
        td[style="width: 90px;"]
          = @content['示值误差'][index].present? ? @content['示值误差'][index] : "/"

  table.table.table-bordered.text-center[style="margin-top:20px;"]
    tr
      td[style="width: 150px;"]
        | 检定点/&#8451;
      - (7...14).each do |index|
        td[style="width: 90px;"]
          = @content['检定点'][index].present? ? @content['检定点'][index] : "/"
    tr
      td[style="width: 150px;"]
        | 示值误差/&#8451;
      - (7...14).each do |index|
        td[style="width: 90px;"]
          = @content['示值误差'][index].present? ? @content['示值误差'][index] : "/"

  - if @notice.is_notice?
    div
      p
        | 注: 检定点
        span.input-line[style="margin-left:10px;"]
          = @content['不合格项']
        | &#8451;示值误差不合格。
