.container.cover
  h4
    | 检定结果
  div[style="padding-bottom:10px;margin-left:20px;"]
    span[colspan="2" style="border-top:0px;width:30%;display: inline-block;"]
      | #{"d="}
      = @content['d']
    span[colspan="2" style="border-top:0px;width:30%;display: inline-block;"]
      | #{"e="}
      = @content['e']
    span[colspan="2" style="border-top:0px;width:30%;display: inline-block;"]
      | #{"Max="}
      = @content['Max']
  table.table.table-bordered[style="border: 1px solid #ddd;margin-bottom: -1px;"]
    tr
      td[width="300px" colspan="2"]检定项目
      td 检定结果
      td 最大允许误差
    tr
      td[width="300px" colspan="2"]
        | 天平偏载误差
      td
        = @content['天平偏载误差']['检定结果']
      td
        = @content['天平偏载误差']['最大允许误差']
    tr
      td[width="300px" colspan="2"]
        | 天平重复性
      td
        = @content['天平重复性']['检定结果']
      td
        = @content['天平重复性']['最大允许误差']
    tr
      td[width="150px" rowspan="3"]
        | 天平示值误差
      td #{"≤m≤"}
      td
        = @content['天平示值误差']['检定结果'][0]
      td
        = @content['天平示值误差']['最大允许误差'][0]
    tr
      td #{"<m≤"}
      td
        = @content['天平示值误差']['检定结果'][1]
      td
        = @content['天平示值误差']['最大允许误差'][1]
    tr
      td #{"<m≤"}
      td
        = @content['天平示值误差']['检定结果'][2]
      td
        = @content['天平示值误差']['最大允许误差'][3]
    - if @notice.is_notice?
      tr
        td colspan="4" style="border-bottom:0px;height:50px;"
          p 检定结论：
          = @content['检定结论']
      tr
        td colspan="4" style="border-top:0px;height:80px;"
          p 不合格项目：
          = @content['不合格项']
  div[style="margin-top:20px;"]
    p
      span[style="margin-left:10%;"] 检定/测试环境条件：
      span[style="margin-left:20px;"]
        | 温度&nbsp;
        = @content['温度']
        span &nbsp;&#8451;
      span[style="margin-left:20px;"]
        | 湿度&nbsp;
        = @content['湿度']
        span &nbsp;&#37;RH
