.text-center
  p 证书编号 #{@verification.sn}
  h3.lead
    | 标准器信息
table.table.table-bordered style="margin-bottom:0"
  tr
    th 名称
    th 型号/规格
    th 测量范围
    th 准确度等级
    th 证书编号
    th 有效期至
  tr.text-center style="height: 100px;"
    td = @standard.detection_name
    td = @standard.specification
    td = @standard.detection_range
    td = @standard.detection_precision
    td = @standard.sn
    td =

table.table.table-noborder.table-hover[style="border: 1px solid #ddd; border-top:0;"]
  .text-center[style="border: 1px solid #ddd;border-top:0;border-bottom:0;"]
    h3[style="margin:0;padding:20px;"]
      | 检定结果
  tr
    td style="width:33%;"
      | 1.外观：
    td
      = @content['外观检查']
  tr
    td style="width:33%;"
      | 2.零位误差：
    td
      = @content['零位误差']
  tr
    td style="width:33%;"
      | 3.示值误差：
    td
      = @content['最大示值误差']
      span.text-unit MPa
  tr
    td style="width:33%;"
      | 4.回程误差：
    td
      = @content['最大回程误差']
      span.text-unit MPa
  tr
    td style="width:33%;"
      | 5.轻敲位移：
    td
      = @content['最大回程误差']
      span.text-unit MPa
  tr
    td style="width:33%;"
      | 6.指针偏转平稳性：
    td
      = @content['指针偏转平稳性']
  tr
    td style="width:33%;"
      | 7.其他项目：
    td
      = @content['其他']
  tr
    td style="width:33%;"
      | 检定结论：
    td
      = render partial: 'certificates/conclusion', locals: {result: @notice, precision: @notice.instrument.category_precision.try(:name)}
- if @notice.is_notice?
  div
    p
      | 注: 不合格的项目和内容为
    = render partial: 'certificates/failure_pair', locals: {message: @content['不合格项']}
