.container.cover
  table.table.table-bordered.text-center[style="height:500px;"]
    tr
      td colspan="2" style="font-size:18px;"
        | 检定结果
    tr
      td
        | 外观
      td.text-left
        = @content['外观']
    tr
      td
        | 常温绝缘电阻
      td.text-left
        = @content['常温绝缘电阻']
        span style="padding-left:15px;" MΩ
    tr
      td
        | R
        sub
          | 0
      td.text-left
        = @content['R0']
        span style="padding-left:15px;" Ω
    tr
      td
        | R
        sub
          | 100
      td.text-left
        = @content['R100']
        span style="padding-left:15px;" Ω
    tr
      td
        | R
        sub
          | t
      td.text-left
        = @content['Rt']
        span style="padding-left:15px;" Ω
    tr
      td
        | &alpha;
      td.text-left
        = @content['实际电阻温度系数']
        span style="padding-left:15px;"
          | x10
          sup -
          | &sup3;&#8451;
          sup -
          | &sup1;　
    tr
      td
        | 不确定度U，k=2
      td.text-left
        = @content['不确定度']
    - if @notice.is_notice?
      tr
        td colspan="2" style="text-align:left;"
          | 不合格项目:
          br
          = @content['不合格项']
