.container.cover
  h4
    | 检定结果
  table.table.table-noborder[style="margin-left:5%;"]
    tr
      td.col-sm-1
        | 测量范围：
        span.input-line
          = @content['测量范围']
        | &#8451;
      td
        | 分度值：
        span.input-line
          = @content['分度值']
        | &#8451;
    tr
      td colspan="2"
        | 浸没方式或浸没深度：
        span.input-line
          = @content['浸没方式或浸没深度']

  table.table.table-bordered.text-center
    tr
      td[style="width: 150px;"]
        | 检定点/&#8451;
      - 7.times do |index|
        td[style="width: 90px;"]
          = @content['检定点'][index].present? ? @content['检定点'][index] : "/"
    tr
      td[style="width: 150px;"]
        | 示值修正值/&#8451;
      - 7.times do |index|
        td[style="width: 90px;"]
          = @content['示值修正值'][index].present? ? @content['示值修正值'][index] : "/"

  table.table.table-bordered.text-center[style="margin-top:20px;"]
    tr
      td[style="width: 150px;"]
        | 检定点/&#8451;
      - (7...14).each do |index|
        td[style="width: 90px;"]
          = @content['检定点'][index].present? ? @content['检定点'][index] : "/"
    tr
      td[style="width: 150px;"]
        | 示值修正值/&#8451;
      - (7...14).each do |index|
        td[style="width: 90px;"]
          = @content['示值修正值'][index].present? ? @content['示值修正值'][index] : "/"

  - if @notice.is_certificate?
    p
      small
        |注：
        br
        | 1.检定依据国家计量检定规程JJG130-2011
        br
        | 2.根据温度计示值计算实际温度的公式：
        br
        | 全侵温度计：实际温度=示值+示值修正值
        br
        | 局侵温度计：实际温度=示值+示值修正值+露出液柱修正值
  - if @notice.is_notice?
    div
      p
        | 注: 检定点
        span.input-line[style="margin-left:10px;"]
          = @content['不合格项']
        | &#8451;示值修正值不合格。
