<% if @notice.is_certificate? %>
<div class="cover">
    <h3>检定证书内页</h3>
    <table class="table table-noborder">
		<tr>
			<td colspan="2"><strong>(一）检定证书内页</strong></td>
		</tr>
		<tr>
			<td> 测量范围<span class="input-line"><%= @notice.instrument.detection_range%></span></td>
			<td></td>
		</tr>
		<tr>
			<td width="50%">活塞有效面积：<span class="input-line"><%=@content['有效面积'] %></span>cm&sup2;</td>
			<td width="50%">最大允许误差：&plusmn;<span class="input-line"><%=@content['计算结果']['最大允许误差'] %></span>&#37;</td>
		</tr>
		<tr>
		<td colspan="2"> 活塞转动延续时间：<span class="input-line" style="width: 100px;"><%= @content['计算结果']['活塞转动延续时间']['min'] %></span>min<span class="input-line" style="width: 100px;"><%= @content['计算结果']['活塞转动延续时间']['s']%></span>s</td>

		</tr>
		<tr>
			<td>活塞垂直度：<span class="input-line"><%=@content['计算结果']['垂直度']%></span></td>
			<td>活塞下降速度：<span class="input-line" style="width:110px;"><%=@content['计算结果']['活塞下降速度']['最大']%></span>mm/min</td>
		</tr>
		<tr>
			<td>鉴别力：<span class="input-line"><%=@content['计算结果']['鉴别力']%></span>g</td>
			<td>密封性：<span class="input-line"><%=@content['计算结果']['密封性']%></span></td>
		</tr>
		<tr>
			<td>检定时室内温度：<span class="input-line"><%=@content['温度']%></span>&#8451;</td>
			<td>工作介质：<span class="input-line"><%=@content['工作介质']%></span></td>
		</tr>
		<tr>
			<td>使用地点重力加速度<span class="input-line" style="width: 110px;"><%=@content['计算结果']['使用地点重力加速度']%></span>m/s&sup2;</td>
			<td></td>
		</tr>
		<tr>
			<td>周期变化率：<span class="input-line"><%=@content['周期变化率']%></span></td>
			<td></td>
		</tr>
  	</table>
  	<h3 class="center">专用砝码</h3>
	<table class="table table-bordered center">
	  <tr>
	    <td width="60px">序号</td>
	    <td>标称值</td>
	    <td>砝码质量/kg</td>
	    <td>数量/块</td>
	  </tr>
    <% 5.times do |index|%>
  	  <tr>
  	    <td><%= (index+1)%></td>
  	    <td><%=@content['专用砝码']['标称值'][index]%></td>
  	    <td><%=@content['专用砝码']['砝码质量'][index]%></td>
  	    <td><%=@content['专用砝码']['数量'][index]%></td>
  	  </tr>
    <% end %>
	</table>
 <table class="table table-noborder">
	<tr>
		<td>活塞及其连接零件的质量：<span class="input-line"><%=@content['活塞及其连接零件的质量']%></span>kg</td>
	</tr>
	<tr>
		<td>砝码和活塞及其连接零件的质量最大允许误差：±<span class="input-line" style="width:250px;"><%=@content['砝码和活塞及其连接零件的质量最大允许误差']%></span>&#37;</td>
	</tr>
	<tr>
		<td>注意：下次送检带此证书。</td>
	</tr>
    </table>
<div>
	<p><strong>(二）使用须知</strong></p>
	<p>1、活塞压力计使用时必须用水平仪调整，使承重盘平面对活塞轴线垂直度的偏差不得超过。</p>
	<p>2、活塞压力计工作时约以（30～60）r/min的旋转速度使活塞顺时针方向转动。</p>
	<p>3、活塞浸入活塞筒部分等于活塞全长2/3～3/4。有限止器的压力计，工作时不得触及限止器；带承重杆加负荷和带滚珠轴承的压力计，工作时将其升至工作位置指示线。</p>
	<p>4、使用时环境：</p>
	<p class="center">
		<span>温度：</span><span class="input-line" style="width: 150px;"><%=@content['计算结果']['温度']%></span>
		<span>&#8451;</span>
		<span style="margin-left: 25px;">相对湿度：</span>
		<span class="input-line" style="width: 150px;"><%=@content['计算结果']['相对湿度']%></span>
		<span>以下</span>
	</p>
	<p>5、为了保护仪器避免损坏，工作介质必须注意清洁，对仪器至少每季度清洗一次，在仪器的油管和油杯里不允许出现污垢和残留物；活塞筒内壁的清洁应用细木棒缠上绸布，浸上航空汽油仔细擦洗及冲洗。</p>
	<p>6、活塞压力计在使用过程中，应对其活塞转动延续时间、下降速度和密封性定期校验，半年不少于一次。</p>
	<p style="margin-left: 50px;">活塞转动延续时间不应小于<span class="input-line"><%=@content['活塞转动延续时间不应小于']%></span>mm</p>
	<p style="margin-left: 50px;">下降速度不应大于<span class="input-line"><%=@content['下降速度不应大于']%></span>mm/min</p>
	<p style="margin-left: 50px;">密封性不应大于<span class="input-line"><%=@content['密封性不应大于']%></span>MPa</p>
</div>

</div>
<% end %>
<% if @notice.is_notice?%>
<div class="cover">
    <h3>检定结果</h3>
    <table class="table table-bordered">
		<tr>
      <td style="width:150px;">检定用标准器名称：</td>
			<td>&nbsp;&nbsp;&nbsp;&nbsp;<%= @content['检定用标准器名称']%></td>
		</tr>
    <tr>
      <td style="width:150px;">准确度等级：</td>
			<td>&nbsp;&nbsp;&nbsp;&nbsp;<%= @content['准确度等级']%></td>
		</tr>
    <tr>
      <td style="width:150px;">出厂编号：</td>
			<td>&nbsp;&nbsp;&nbsp;&nbsp;<%= @content['出厂编号']%></td>
		</tr>
    <tr>
      <td style="width:150px;">检定温度：</td>
			<td>&nbsp;&nbsp;&nbsp;&nbsp;<%= @content['检定温度']%></td>
		</tr>
  </table>
    <%= render partial: 'certificates/failure' %>
</div>
<% end %>
