.cover
  h4
    | 检定结果
  table.table.table-noborder.table-hover[style="border: 1px solid #ddd;margin-bottom: -1px;"]
    tr
      td[width="60px"]
        | 1
      td[width="300px"]
        | 外观检查
      td
        = @content['外观检查']
    tr
      td
        | 2
      td
        | 零位漂移
      td
        = number_with_precision(@content['零位漂移'], precision: 3)
        span.text-unit MPa
    tr
      td
        | 3
      td
        | 示值误差
      td
        = number_with_precision(@content['示值误差'], precision: 3)
        span.text-unit MPa
    tr
      td
        | 4
      td
        | 回程误差
      td
        = number_with_precision(@content['回程误差'], precision: 3)
        span.text-unit MPa
    tr
      td
        | 5
      td
        | 静压零位误差
      td
        = number_with_precision(@content['静压零位误差'], precision: 3)
        span.text-unit MPa
    tr
      td
        | 6
      td
        | 稳定性
      td
        = @content['稳定性']
        span.text-unit MPa
    tr
      td
        | 7
      td
        | 绝缘电阻
      td
        = @content['绝缘电阻']
        span.text-unit MΩ
    tr
      td
        | 8
      td
        | 检定数据
      td
  table.table.table-bordered.center
    tbody
      tr
        td[rowspan="2" width="60px"]
          | 序号
        td
          | 标准器示值
        td
          | 压力计正行程示值平均值
        td
          | 压力计反行程示值平均值
      tr
        td
          | (MPa)
        td
          | (MPa)
        td
          | (MPa)
      - 11.times do |index|
        tr
          td
            = index + 1
          td
            = @report['示值检定'][index.to_s]['标准器示值']
          td
            = @report['示值检定'][index.to_s]['正行程平均值'].round(4)
          td
            = @report['示值检定'][index.to_s]['反行程平均值'].round(4)
/  - if @notice.is_notice?
/    div
/      p
/        strong
/          | 注: 不合格的项目和内容为
/      = render partial: 'certificates/failure_pair', locals: {message: @content['不合格项']}
