.text-center
  p 证书编号 #{@content['证书编号']}
  h3.lead
    | 标准器信息
table.table.table-bordered style="margin-bottom:0"
  tr
    th 名称
    th 型号/规格
    th 测量范围
    th 准确度等级
    th 证书编号
    th 有效期至
  tr.text-center style="height: 100px;"
    td = @content["标准器"]["名称"]
    td = @content["标准器"]["规格型号"]
    td = @content["标准器"]["测量范围"]
    td = @content["标准器"]["准确度等级"]
    td = @content["标准器"]["证书编号"]
    td = @content["标准器"]["有效期"]

table.table.table-noborder.table-hover[style="border: 1px solid #ddd; border-top:0;"]
  .text-center[style="border: 1px solid #ddd;border-top:0;border-bottom:0;"]
    h3[style="margin:0;padding:20px;"]
      | 检定结果
  tr
    td style="width:33%;"
      | 1.外观：
    td
      = @content['外观检查']
  tr
    td style="width:33%;"
      | 2.零位误差：
    td
      = @content['零位误差']
  tr
    td style="width:33%;"
      | 3.示值误差：
    td
      = @content['最大示值误差']
  tr
    td style="width:33%;"
      | 4.回程误差：
    td
      = @content['最大回程误差']
  tr
    td style="width:33%;"
      | 5.轻敲位移：
    td
      = @content['最大回程误差']
  tr
    td style="width:33%;"
      | 6.指针偏转平稳性：
    td
      = @content['指针偏转平稳性']
  tr
    td style="width:33%;"
      | 检定结论：
    td
      = @content['检定结论']
- if @notice.is_notice?
  div
    p
      strong
        | 注: 不合格的项目和内容为
    = @content["不合格项"]
