<div class="cover">
<h3>
<%- if @notice.is_certificate? %>
  检定证书内页
<% elsif @notice.is_calibration? %>
  检准证书内页
<% elsif @notice.is_notice? %>
  检定通知书内页
<% end %>
</h3>
  <table class="table table-noborder table-hover">
    <tr>
      <td width="60px" rowspan="3">1</td>
      <td>型号规格</td>
      <td><%= @notice.instrument.specification%></td>
    </tr>
    <tr>
      <td> 测量范围</td>
      <td><%= @content['测量范围']%></td>
    </tr>
    <tr>
      <td> 输出范围</td>
      <td><%= @content['输出范围']%></td>
    </tr>
    <tr>
      <td rowspan="3">2</td>
      <td>检测环境</td>
    </tr>
    <tr>
      <td> 温度</td>
      <td><%= @content['环境温度']%>℃</td>
    </tr>
      <td> 相对湿度</td>
      <td><%= @content['环境湿度']%>%RH</td>
    </tr>
      <td>3</td>
      <td>检定地点</td>
      <td></td>
    </tr>
    <tr>
      <td>4</td>
      <td>检定结果</td>
    </tr>
  </table>

  <table class="table table-bordered center">
    <tr>
      <td width="33%">检定项目</td>
      <td width="33%">允许误差</td>
      <td width="34%">结论（或实际最大误差）</td>
    </tr>
    <tr>
      <td>外观</td>
      <td>&nbsp;</td>
      <td><%= @content['外观检查']%></td>
    </tr>
    <tr>
      <td>密封性</td>
      <td>&nbsp;</td>
      <td><%= @content['密封性']%></td>
    </tr>
    <tr>
      <td>绝缘电阻</td>
      <td>&nbsp;</td>
      <td><%= @content['绝缘电阻']%></td>
    </tr>
    <tr>
      <td>绝缘强度</td>
      <td>&nbsp;</td>
      <td><%= @content['绝缘强度']%></td>
    </tr>
    <tr>
      <td>测量误差</td>
      <td>
        <%= number_with_precision(@content['允许误差'], precision: 3)%>
        <span class="text-unit">MPa</span>
      </td>
      <td>
        <%= number_with_precision(@content['最大误差'], precision: 3)%>
        <span class="text-unit">MPa</span>
      </td>
    </tr>
    <tr>
      <td>回差</td>
      <td>
        <%= number_with_precision(@content['允许回差'], precision: 3)%>
        <span class="text-unit">MPa</span>
      </td>
      <td>
        <%= number_with_precision(@content['最大回差'], precision: 3)%>
        <span class="text-unit">MPa</span>
      </td>
    </tr>
    <tr>
      <td>静压影响</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
  </table>
  <% if @notice.is_notice? %>
    <div>
      <p><strong>注: 不合格的项目和内容为</strong></p>
      <%= @content["不合格项"] %>
    </div>
  <% end %>
</div>

