
.container.cover
  h4
    | 检定结果
  table.table.table-bordered[style="border: 1px solid #ddd;margin-bottom: -1px;"]
    tr
      td 检定项目
      td 检定结果
    tr
      td[width="300px"]
        | 天平空载误差
      td
        = @content['天平空载误差']
    tr
      td
        | 天平空载分度值
      td
        = @content['天平空载分度值']
    tr
      td
        | 天平全载误差
      td
        = @content['天平全载误差']
    tr
      td
        | 天平全载分度值
      td
        = @content['天平全载分度值']
    tr
      td
        | 标尺称量误差
      td
        = @content['标尺称量误差']
    tr
      td
        | 天平偏载误差
      td
        = @content['天平偏载误差']
    tr
      td
        | 天平最大安全载荷
      td
        = @content['天平最大安全载荷']
    tr
      td
        | 回复空载
      td
        = @content['回复空载']
    tr
      td colspan="3"
        p 附注：
        p[style="height:80px;"]
          = @content['附注']
  div[style="margin-top:20px;"]
    p
      span[style="margin-left:10%;"] 检定/测试环境条件：
      span[style="margin-left:20px;"]
        | 温度&nbsp;
        = @content['温度']
        span &nbsp;&#8451;
      span[style="margin-left:20px;"]
        | 湿度&nbsp;
        = @content['湿度']
        span &nbsp;&#37;RH
