.container.cover
  h4 检定结果
  table.table.table-noborder style="margin-left:10%;"
    tr
      td style="text-align:right;"
        | 1.
      td colspan="3" style="width:400px;" 检定条件
    tr
      td rowspan="3"
      td style="width:30%;"
        | 检定介质
      td colspan="2"
        = @content['检定介质']
    tr
      td style="width:30%;"
        | 介质温度
      td colspan="2"
        = @content['介质温度']
        | &#8451;
    tr
      td style="width:30%;"
        | 介质压力
      td colspan="2"
        = @content['介质压力']
        | KPa
    tr
      td style="text-align:right;"
        | 2.
      td colspan="3" style="width:400px;" 检定结果
    tr
      td rowspan="6"
      td style="width:30%;"
        | 流量范围
      td colspan="2"
        = @content['流量范围']
        | m&sup3;/h
    tr
      td style="width:30%;" rowspan="2"
        | 示值误差
      td
        | ＜0.2Qmax示值误差
      td style="text-align:left;"
        = @content['示值误差'][0]
        | &#37;
    tr
      td
        | ≥0.2Qmax示值误差
      td style="text-align:left;"
        = @content['示值误差'][1]
        | &#37;
    tr
      td style="width:30%;" rowspan="2"
        | 重复性
      td ＜0.2Qmax重复性
      td
        = @content['重复性'][0]
        | &#37;
    tr
      td ≥0.2Qmax重复性
      td
        = @content['重复性'][1]
        | &#37;
    tr
      td style="width:30%;"
        | 仪表系数K
      td colspan="2"
        = @content['仪表系数K']
        | 1/m&sup3;
    tr
      td style="text-align:right;"
        | 3.
      td 周期检定时上次检定的仪表系数K
      td
        = @content['周期检定时上次检定的仪表系数K']
        | 1/m&sup3;
    - if @notice.is_notice?
      tr
        td style="text-align:right;"
          | 4.
        td 不合格项目
      tr
        td
        td colspan="3"
          = @content['不合格项']
