.container.cover
  table.table.table-noborder style="margin-left:10%;"
    tr
      td style="text-align:right;"
        | （一）
      td colspan="2" style="width:400px;" 检定结果
    tr
      td rowspan="5"
      td style="width:30%;"
        | 流量范围＝
      td
        = @content['流量范围']
        | m&sup3;/h
    tr
      td style="width:30%;"
        | 仪表系数K＝
      td
        = @content['仪表系数K']
        | (m&sup3;)
        sup
          | -
        | &sup1;
    tr
      td style="width:30%;"
        | 线性度＝
      td
        = @content['线性度']
        | &#37;
    tr
      td style="width:30%;"
        | 重复性＝
      td
        = @content['重复性']
        | &#37;
    tr
      td
      td
    tr
      td style="text-align:right;"
        | （二）
      td colspan="2" style="width:400px;" 检定条件
    tr
      td rowspan="5"
      td style="width:30%;"
        | 检定用流体：
      td
        = @content['检定用流体']
    tr
      td style="width:30%;"
        | 检定用流体温度：
      td
        = @content['检定用流体温度']
        | &#8451;
    tr
      td style="width:30%;"
        | 检定用流体表压力：
      td
        = @content['检定用流体表压力']
        | KPa
    tr
      td style="width:30%;"
        | 检定时大气压力：
      td
        = @content['检定时大气压力']
        | KPa
    tr
      td style="width:30%;"
        | 检定时环境温度：
      td
        = @content['检定时环境温度']
        | &#8451;
