.container.cover
  h4 检定结果

  table.table.table-noborder style="margin-left:10%;"
    tr
      td style="text-align:right;"
        | （一）
      td colspan="2" style="width:400px;" 检定结果
    tr
      td rowspan="8"
      td style="width:35%;"
        | 流量范围：
      td
        = @content['流量范围']
        | m&sup3;/h
    tr
      td style="width:35%;"
        | 介质种类：
      td
        = @content['介质种类']
    tr
      td style="width:35%;"
        | 介质温度：
      td
        = @content['介质温度']
        | &#8451;
    tr
      td style="width:35%;"
        | 介质压力：
      td
        = @content['介质压力']
        | KPa
    tr
      td style="width:35%;"
        | 流量计相对示值误差：
      td
        = @content['流量计相对示值误差']
        | &#37;
    tr
      td style="width:35%;"
        | 重复性：
      td
        = @content['重复性']
        | &#37;
    tr
      td style="width:35%;"
        | 检定前流量计因子或K系数：
      td
        = @content['检定前流量计因子或K系数']
        | (m&sup3;)-&sup1;
    tr
      td style="width:35%;"
        | 检定后流量计因子或K系数：
      td
        = @content['检定后流量计因子或K系数']
        | KPa
    tr
      td style="text-align:right;"
        | （二）
      td 准确度等级
      td
        = @content['准确度等级']
    tr
      td style="text-align:right;"
        | （三）
      td colspan="2" style="width:400px;" 检定条件
    tr
      td rowspan="2"
      td style="width:35%;"
        | 安装条件：
      td
        = @content['安装条件']
    tr
      td style="width:35%;"
        | 环境条件：
      td
        | 环境温度
        = @content['环境条件']['环境温度']
        | &#8451;&nbsp;&nbsp;
        | 压力
        = @content['环境条件']['压力']
        | KPa&nbsp;&nbsp;
        | 湿度
        = @content['环境条件']['湿度']
        | &#37;
    tr
      td style="text-align:right;"
        | （四）
      td colspan="3" 下次送检时请带此证书或证书复印件。
    - if @notice.is_notice?
      tr
        td style="text-align:right;"
          | （五）
        td 不合格项目
      tr
        td
        td colspan="3"
          = @content['不合格项']
