.container.cover[style="height:800px;border: 1px solid #ddd;"]
  table.table.table-noborder.text-center[style="margin-bottom: -1px;"]
    tbody[style="height:770px;display:inline-block;"]
      tr
        td colspan="2" style="text-align:center;font-size:20px;"
          | 检定结果
      tr
        td[style="width:20%;height:35px;"]
          | 温度（&#8451;）
        td[style="width:20%;height:35px;"]
          | 修正值（&#8451;）
      - 10.times do |index|
        - if @content['温度'][index].present? && @content['修正值'][index].present?
          tr
            td height="30px"
              = @content['温度'][index]
            td height="30px"
              = @content['修正值'][index]
      caption align="bottom"
        | 参考端温度为0℃
  p style="margin-top:15px;"
    | 注：下次检定时必须带此证书。
