.container.cover
  h4
    | 检定结果
  table.table.table-noborder[style="border: 1px solid #ddd;margin-bottom: -1px;"]
    tr
      td[width="300px"]
        | 被检量器名称：
      td
        = @content['被检量器名称']
    tr
      td
        | 被检量器测量范围：
      td
        = @content['被检量器测量范围']
    tr
      td
        | 检定用标准装置
      td
        = @content['检定用标准装置']
    tr
      td
        | 检定用介质
      td
        = @content['检定用介质']
    tr
      td
        | 检定环境温度
      td
        = @content['检定环境温度']
        span[style="margin-left:10px;"] &#8451;
    - if @notice.is_certificate?
      tr
        td
          | 外观检查
        td
          = @content['外观检查']
      tr
        td
          | 应力
        td
          = @content['应力']
          span[style="margin-left:10px;"] nm/cm
      tr
        td
          | 密合性
        td
          = @content['密合性']
      tr
        td
          | 流出时间
        td
          = @content['流出时间']
          span[style="margin-left:10px;"] s
      tr
        td
          | 容量示值
        td
          = @content['容量示值']
          span[style="margin-left:10px;"] mL
  - if @notice.is_notice?
    == render partial: 'certificates/failure'
