.widget
  h4
    span.text-info 编辑检测精度
  hr class="hr-18 dotted hr-double"
  .widgetarea
    = simple_form_for @category_precision,url: category_category_precision_path(params[:category_id],params[:id]), :html => {:class=>"form-horizontal form-mini"} do |f|
      =render "form",:f =>f