/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.page-header.page-header-fixed{
	top: 45px !important;
}
.page-header.page-header-fixed + .page-body{
	margin-top: 40px;
}

.table td{
  vertical-align: middle !important;
}

.table td input{
  text-align: center;
}

.input-time {
  width: 50%;
}
div.dataTables_filter label {
  font-weight: normal;
  white-space: nowrap;
  text-align: left;
}

.dataTables_wrapper .dataTables_filter input {
  margin-left: 0.5em;
}

div.dataTables_filter input {
  margin-left: 0.5em;
  display: inline-block;
  width: auto;
}
tfoot input {
  width: 100%;
  padding: 3px;
  box-sizing: border-box;
}

tfoot {
  display: table-header-group;
}
th, td { white-space: nowrap; }

div.dataTables_wrapper {
    width: 100%;
    margin: 0 auto;
}

.form-group select {
	width: 160px;
}

body.modal-open {
  margin-right: 0px;
}

.modal-header {
  border-bottom: 0px;
}

.modal-body {
  padding: 5px;
}
.modal-body .list-group-item {
  border-left: 0px;
  border-right: 0px;
}

.icon-animated-bell {
  display: inline-block;
  -moz-animation: ringing 2s 5 ease 1s;
  -webkit-animation: ringing 2s 5 ease 1s;
  -o-animation: ringing 2s 5 ease 1s;
  -ms-animation: ringing 2s 5 ease 1s;
  animation: ringing 2s 5 ease 1s;
  -moz-transform-origin: 50% 0;
  -webkit-transform-origin: 50% 0;
  -o-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  transform-origin: 50% 0;
}
