.table-header
  | 检测分类
  div class="widget-toolbar no-border"
    a  class="btn btn-primary"  href=new_category_path 添加
.table-responsive
  table.table.table-bordered.table-striped.table-hover.dataTable
    thead
      tr
        th 序号
        th 名称
        th
    tbody
      -@categories.each_with_index do |category,index|
          tr
            td =index=index+1
            td =category.name
            td
              div class="pull-right action-buttons"
                //a class="blue" href=category_path(category) data_toggle='tooltip' title="显示"
                //  i class="icon-zoom-in  bigger-130"


                a class="blue" href=edit_category_path(category) data_toggle='tooltip' title="编辑"
                  i class="fa fa-edit"

                //span class="vbar"
                //=link_to "<i class='fa fa-trash'></i>".html_safe,category_path(category),method: "delete",data_toggle: 'tooltip', title: "删除",confirm: "您确定要删除此类型？",class: "red"
                span class="vbar"
