.widget
  h4
    span.text-info =@page_title
    div class="widget-toolbar no-border"
          a  class="btn btn-minier btn-primary"  href=categories_path 返回
  hr class="hr-18 dotted hr-double"
  .widgetarea

    div class="widget-box col-md-4"
      .table-header
        | 检测类型
        div class="widget-toolbar no-border"
          a  class="btn btn-primary"  href=new_category_category_type_path(params[:id]) 添加检测类型
      div class="widget-body"
        div class="widget-main"
          .table-responsive
            table.table.table-bordered.table-striped.table-hover.dataTable
              thead
                tr
                  th 序号
                  th 名称
                  th
              tbody
                -@category.category_types.each_with_index do |category,index|
                    tr
                      td =index=index+1
                      td =category.name
                      td
                        div class="pull-right action-buttons"
                          a class="blue" href=edit_category_category_type_path(params[:id],category) data_toggle='tooltip' title="编辑"
                            i class="icon-pencil bigger-130"

                          span class="vbar"
                          =link_to "<i class='icon-trash bigger-130'></i>".html_safe,category_category_type_path(params[:id],category),method: "delete", data_toggle: 'tooltip', title: "删除", confirm: "您确定要删除此类型？",class: "red"
                          span class="vbar"

    div class="col-md-1" style="width: 30px;"

    div class="widget-box col-md-3"
      .table-header
        | 检测精度
        div class="widget-toolbar no-border"
          a  class="btn btn-primary"  href=new_category_category_precision_path(params[:id]) 添加检测精度
      div class="widget-body"
        div class="widget-main"
          .table-responsive
            table.table.table-bordered.table-striped.table-hover.dataTable
              thead
                tr
                  th 序号
                  th 名称
                  th
              tbody
                -@category.category_precisions.each_with_index do |category,index|
                    tr
                      td =index=index+1
                      td =category.name
                      td
                        div class="pull-right action-buttons"
                          a class="blue" href=edit_category_category_precision_path(params[:id],category) data_toggle='tooltip' title="编辑"
                            i class="icon-pencil bigger-130"

                          span class="vbar"
                          =link_to "<i class='icon-trash bigger-130'></i>".html_safe,category_category_precision_path(params[:id],category),method: "delete", data_toggle: 'tooltip', title: "删除", confirm: "您确定要删除此类型？",class: "red"
                          span class="vbar"


    div class="col-md-1" style="width: 30px;"

    div class="widget-box col-md-4"
      .table-header
        | 检测范围
        div class="widget-toolbar no-border"
          a  class="btn btn-primary"  href=new_category_category_range_path(params[:id]) 添加检测范围
      div class="widget-body"
        div class="widget-main"
          .table-responsive
            table.table.table-bordered.table-striped.table-hover.dataTable
              thead
                tr
                  th 序号
                  th 范围
                  th 单位
                  th
              tbody
                -@category.category_ranges.each_with_index do |category,index|
                    tr
                      td =index=index+1
                      td =category.range
                      td = category.unit
                      td
                        div class="pull-right action-buttons"
                          a class="blue" href=edit_category_category_range_path(params[:id],category) data_toggle='tooltip' title="编辑"
                            i class="icon-pencil bigger-130"

                          span class="vbar"
                          =link_to "<i class='icon-trash bigger-130'></i>".html_safe,category_category_range_path(params[:id],category),method: "delete", data_toggle: 'tooltip', title: "删除", confirm: "您确定要删除此类型？",class: "red"
                          span class="vbar"
