div
  - if paginate.current_page > 1
    a href="#{url}?page=#{paginate.current_page-1}" 上一页
  - if paginate.pages > 1
    select 
      - paginate.pages.times.each do |k|
        - k= k+1
        - if k.eql?(paginate.current_page)
          option selected="selected" = k
        - else
          option= k
  - if paginate.current_page < paginate.pages
    a href="#{url}?page=#{paginate.current_page+1}" 下一页