.widget
  h4
    span.text-info 修改送检单位名称
  hr class="hr-18 dotted hr-double"
  .widgetarea
    = simple_form_for @organ,url: organ_path(@organ), :html => {:class=>"form-horizontal form-mini"} do |f|
      =render "form",:f =>f
