.table-header
  | 送检单位管理
  div class="widget-toolbar no-border"
    a  class="btn btn-primary"  href=new_organ_path 添加
.table-responsive
  table.table.table-bordered.table-striped.table-hover.dataTable
    thead
      tr
        th 序号
        th 名称
        th
    tbody
      -@organs.each_with_index do |organ,index|
          tr
            td =index=index+1
            td title=organ.name = organ.name
            td
              div class="pull-right action-buttons"
                a class="blue" href=edit_organ_path(organ) data_toggle='tooltip' title="编辑"
                  i.fa.fa-edit

                span class="vbar"
                a class="red" onclick="delete_organ('#{organ.id}')"
                  i class="fa fa-trash"
                span class="vbar"
= render "paginate/paginate", paginate: @organ_paginate, url: "/organs"
javascript:
  function delete_organ(user_id){
    url = "/organs/"+user_id;
    if(confirm("确定要删除该单位？")){
      $.ajax({
       url: url,
       type: 'delete',
       success: function() {
         location.reload();
       }
      });
    }
  }
