.widget
  h4
    span.text-info 添加送检单位
  hr class="hr-18 dotted hr-double"

  .widgetarea
    = simple_form_for @organ,url: organs_path, :html => {:class=>"form-horizontal form-mini"} do |f|
      =render "form",:f =>f
