=f.input :sn,:label => "计量器具编号"
=f.input :organ_id, as: :hidden, input_html: {value: current_user.organ_id}
= f.input :category_type_id, label: "计量器具名称" do
  = f.select :instrument_kind_id,InstrumentKind.all.collect{|p|[p.name,p.id]},{:include=>"_blank"},{:class=>"selectpicker col-sm-2"}
=f.input :specification,:label => "规格型号"
=f.input :date,:label => "生产日期",:input_html => { :onclick =>  "WdatePicker({onpicked: function(){$(this).trigger('change')}})"}
div class="form-group string required instrument_category_id"
  label for="instrument_category_id" class="string required col-sm-3 control-label"
    abbr title="required" *
    | 生产厂商
  div class="col-sm-9"
	=f.select :vendor_id,Vendor.collect{|p|[p.name,p.id]},{},{include: '_blank',:class=>"chosen-select form-control"}


div class="form-group string required instrument_category_id"
  label for="instrument_category_id" class="string required col-sm-3 control-label"
    abbr title="required" *
    | 检定分类
  div class="col-sm-9"
	=f.select :category_id,Category.collect{|p|[p.name,p.id]},{},{:class=>"selectpicker col-sm-2"}
= f.input :precision, required: false do
  = f.select :precision, instrument_kind.accuracy.split(",").collect{|p|[p,p]},{include_blank: true},{:class=>"selectpicker col-sm-2"}
= f.input :range, required: false do
  = f.select :range,instrument_kind.regulation.split(",").collect{|p|[p,p]},{include_blank: true},{:class=>"selectpicker col-sm-2"}
= f.input :regulation_id, label: "检定依据" do
  =f.select :regulation_id,Regulation.collect{|p|[p.sn,p.id]},{},{:class=>"selectpicker col-sm-2 chosen-select"}
div class="form-group string required instrument_category_id"
  label for="instrument_category_id" class="string required col-sm-3 control-label"
    abbr title="required" *
    | 标准器
  div class="col-sm-9"
	=f.input_field :standard,as: "boolean"

.form-actions
  = f.button :submit,"保存"

link rel="stylesheet" href='/css/chosen.css'
script src='/js/chosen.jquery.min.js'

javascript:
  $(".chosen-select").chosen();
