.widget
  h4
    span.text-info 编辑仪器信息
  hr class="hr-18 dotted hr-double"
  .widgetarea
    = simple_form_for @instrument, :html => {:class=>"form-horizontal form-mini"} do |f|
      =render "form",:f =>f, instrument_kind: @instrument.instrument_kind