.table-header
  | 计量器具
  - if can? :create, Instrument
    div class="widget-toolbar no-border"
      a  class="btn btn-primary"  href=new_instrument_path 添加
.table-responsive
  table.table.table-bordered.table-striped.table-hover id="instrument_table"
    tfoot
      tr
        th 序号
        th 计量器具名称
        th 计量器具编号
        th 测量范围
        th 准确度等级
        th 标准器
        th 检定分类
        th 生产厂商
        th 检定依据
        th
    thead
      tr
        th 序号
        th 计量器具名称
        th 计量器具编号
        th 测量范围
        th 准确度等级
        th 标准器
        th 检定分类
        th 生产厂商
        th 检定依据
        th
    tbody
      -@instruments.each_with_index do |instrument,index|
          tr
            td =index=index+1
            td = instrument.detection_name
            td = instrument.sn
            td = instrument.range
            td = instrument.precision
            td
              - if instrument.standard ==1
                span style="color:red"  是
              - else
                span  否
            td = instrument.category.try(:name)
            td = instrument.vendor.try(:name)
            td = instrument.regulation.try(:sn)
            td
              div class="pull-right action-buttons"
                a class="blue" href=edit_instrument_path(instrument) data_toggle='tooltip' title="编辑"
                  i class="fa fa-edit"
                - if can? :destroy, Instrument
                  span class="vbar"
                  =link_to "<i class='fa fa-trash'></i>".html_safe,instrument_path(instrument), method: "delete", data_toggle: 'tooltip', title: "删除", data: {confirm: "您确定要删除此类型？"},class: "red"
                  span class="vbar"
javascript:
  $('#instrument_table tfoot th:nth-child(n+1):nth-child(-n+9)').each(function () {
    var title = $('#instrument_table thead th:nth-child(n+1):nth-child(-n+9)').eq($(this).index()).text().trim();
      $(this).html( '<input type="text" style="width:90%;" placeholder="搜索'+title+'" />' );
  });
  var oTable = $('#instrument_table').DataTable({
    "oLanguage": {//语言国际化
      //"sUrl": "js/jquery.dataTable.cn.txt"
      "sLengthMenu": "每页显示 _MENU_ 条记录",
      "sZeroRecords": "抱歉， 没有找到",
      "sInfo": "从 _START_ 到 _END_ /共 _TOTAL_ 条数据",
      "sInfoEmpty": "没有数据",
      "sInfoFiltered": "(从 _MAX_ 条数据中检索)",
      "oPaginate": {
      "sFirst": "首页",
      "sPrevious": "前一页",
      "sNext": "后一页",
      "sLast": "尾页"
      },
      "sZeroRecords": "没有检索到数据",
      "sProcessing": "   处理中...",
      "sSearch": "全文搜索"
    },
    "scrollX": true,
    "initComplete" : function () {
      $('.dataTables_scroll').parent().removeClass();
    }
  });
  oTable.columns().every(function () {
    var that = this;
    $('input', this.footer()).on('keyup change', function(){
      that.search(this.value).draw();
    });
  });
