<div id="instrument_app">
    <div class="border-bottom">
        <b class="text-info font-lg">
            <i class="fa fa-balance-scale num-zone"></i>
            <span>添加计量仪器</span>
        </b>
    </div>
    <div ui-view></div>
</div>

<script type="text/javascript">
    angular.element("#instrument_app").ready(function() {
      angular.bootstrap(angular.element("#instrument_app"),["instrument_app"]);
    });
</script>
