.widget
  h4
    span.text-info 添加计量器具
  hr class="hr-18 dotted hr-double"
  
  .widgetarea
    = simple_form_for @instrument, :html => {:class=>"form-horizontal form-mini"} do |f|
      =render "form",:f =>f