<div id="ealy_warning_scrap_app">
  <div class="border-bottom">
    <b class="font-lg">
      <i class="fa fa-users num-zone"></i>
      预警管理--报废(超过2年)
    </b>
  </div>
  <div ui-view></div>
</div>


<script type="text/javascript">
    angular.element("#ealy_warning_scrap_app").ready(function() {
      angular.bootstrap(angular.element("#ealy_warning_scrap_app"),["ealy_warning_scrap_app"]);
    });
</script>
