.form-inputs
  = f.input :title
  = f.input :category, as: :select, collection: inspection_category, include_blank: false
  = f.input :date,label: "送检日期", input_html: { 'data-provide' => 'datepicker', 'data-date-format' =>"yyyy-mm-dd", 'data-date-orientation' => 'bottom left' }
  /= f.input :content, :as => :kindeditor, :input_html => { :simple_mode => true }
  = f.label "附件", class: "col-sm-3 control-label", required: false
  = f.input_field :attachment, as: :file, style: "margin-top:20px;"

.form-actions
  = f.button :submit, '保存'
