.widget
  h4
    span.text-info 编辑计量巡检信息
  hr class="hr-18 dotted hr-double"
  .widgetarea
    = simple_form_for @inspection,url: inspection_path(@inspection), :html => {:class=>"form-horizontal form-mini"} do |f|
      =render "form",:f =>f
