.table-header
  = "计量巡检信息"
  - if can? :create, Inspection
    div class="widget-toolbar no-border"
      a  class="btn btn-primary"  href=new_inspection_path 添加
.table-responsive
  table.table.table-bordered.table-striped  id="inspection_table"
    thead
      tr
        th[style="width:80px;"] 序号
        th 标题
        th 类别
        th[style="width:120px;"] 巡检时间
        - if can? :update, Inspection
          th
    tbody
      - @inspections.each_with_index do |inspection,index|
        tr
          td = index+=1
          td = link_to inspection.title, inspection.attachment.url, target: '_blank'
          td = inspection.category
          td = inspection.date.try(:strftime, "%Y-%m-%d")
          - if can? :update, Inspection
            td[style="width:100px;"]
              div class="pull-right action-buttons"
                a class="blue" href=edit_inspection_path(inspection) data_toggle='tooltip' title="编辑"
                  i class="fa fa-edit"
                - if current_user.admin?
                  span class="vbar"
                  a class="red" onclick="delete_inspection('#{inspection.id}')"
                    i class="fa fa-trash"
                  span class="vbar"
javascript:
  function delete_inspection(inspection_id){
    url = "/inspections/"+inspection_id;
    console.log("---");
    if(confirm("确定要删除该计量巡检？")){
      $.ajax({
       url: url,
       type: 'delete',
       success: function() {
         location.reload();
      }
    });}
  }

/  $('#inspection_table').DataTable({
    "oLanguage": {//语言国际化
      //"sUrl": "js/jquery.dataTable.cn.txt"
      "sLengthMenu": "每页显示 _MENU_ 条记录",
      "sZeroRecords": "抱歉， 没有找到",
      "sInfo": "从 _START_ 到 _END_ /共 _TOTAL_ 条数据",
      "sInfoEmpty": "没有数据",
      "sInfoFiltered": "(从 _MAX_ 条数据中检索)",
      "oPaginate": {
      "sFirst": "首页",
      "sPrevious": "前一页",
      "sNext": "后一页",
      "sLast": "尾页"
      },
      "sZeroRecords": "没有检索到数据",
      "sProcessing": "   处理中...",
      "sSearch": "全文搜索"
    },
    "aLengthMenu": [[25, 50, 100],[25, 50, 100]],
    "scrollX": true,
    "initComplete" : function () {
      $('.dataTables_scroll').parent().removeClass();
    }
  });
