.widget
  h4
    span.text-info 添加计量巡检信息
  hr class="hr-18 dotted hr-double"
  
  .widgetarea
    = simple_form_for @inspection,url: inspections_path, :html => {:class=>"form-horizontal form-mini"} do |f|
      =render "form",:f =>f
