.widget
  h3.text-center
    = @inspection.title
  p.text-center
    small
      | 发布时间：
      = @inspection.created_at.strftime("%Y-%m-%d %H:%M")

  .container[style="margin: 0 10% 0 10%;"]
    = @inspection.content.html_safe

    div[style="margin-top:20px;"]
    - if @inspection.attachment_url.present?
      p 附件：
      p = link_to @inspection.attachment.file.filename, @inspection.attachment_url, target: "_blank"
