<% report = @data %>

<%= simple_form_for :report, url: calculate_verification_path, method: :post do |f| %>

  <div class="container">

    <h2 class="table-title">可燃气体检测报警器检定记录</h2>

    <div class="sign-upper">
      <div class="row-h align-right">
        <label>证书编号：</label>
        <input type="text" class="border-bottom w-200" value="<%= report['证书编号']%>" name="report[证书编号]">
      </div>
      <div class="row-h">
        <label>检定日期：</label>
        <input type="text" class="border-bottom w-60" value="<%= report['检定日期年']%>" name="report[检定日期年]">
        <span>年</span>
        <input type="text" class="border-bottom w-60" value="<%= report['检定日期月']%>" name="report[检定日期月]">
        <span>月</span>
        <input type="text" class="border-bottom w-60" value="<%= report['检定日期日']%>" name="report[检定日期日]">
        <span>日</span>

        <label>温度</label>
        <input type="text" class="border-bottom w-80" value="<%= report['温度']%>" name="report[温度]">
        <span>&deg;C</span>

        <label>湿度</label>
        <input type="text" class="border-bottom w-80" value="<%= report['湿度']%>" name="report[湿度]">
        <span>%RH</span>

        <label>压力</label>
        <input type="text" class="border-bottom w-100" value="<%= report['压力']%>" name="report[压力]">
        <span>kPa</span>
      </div>
      <div class="row-h">
        <label>仪器名称：</label>
        <input class="border-bottom w-160" type="text" value="<%= report['仪器名称']%>" name="report[仪器名称]">
        <label>型号：</label>
        <input class="border-bottom w-120" type="text" value="<%= report['型号']%>" name="report[型号]">
        <label>出厂编号：</label>
        <input class="border-bottom w-120" type="text" value="<%= report['出厂编号']%>" name="report[出厂编号]">
        <label>量程：</label>
        <input class="border-bottom w-120" type="text" value="<%= report['量程']%>" name="report[量程]">
      </div>
      <div class="row-h">
        <label>送检单位：</label>
        <%= @verification.organ.name%>
        <label>制造厂：</label>
        <%= @verification.instrument.vendor.name%>
      </div>
      <div class="row-h">
        <label>检定依据：</label>
        <%= @verification.instrument.regulation.name%>
      </div>
      <div class="row-h">
        <label>检定用标准和装置：</label>
        <input class="border-bottom w-720" type="text" value="<%= report['检定用标准和装置']%>" name="report[检定用标准和装置]">
      </div>
      <div class="row-h">
        <label>检定地点：</label>
        <input class="border-bottom w-200" type="text" value="<%= report['检定地点']%>" name="report[检定地点]">
        <label>检定员：</label>
        <input class="border-bottom w-200" type="text" value="<%= report['检定员']%>" name="report[检定员]">
        <label>核验员：</label>
        <input class="border-bottom w-200" type="text" value="<%= report['核验员']%>" name="report[核验员]">
      </div>
    </div>

    <div class="input-percent-100">
      <label>一 外观及结构</label>
      <input type='text' value="<%= report['外观结构']%>" name="report[外观结构]">
    </div>
    <div class="input-percent-100">
      <label>二 标志和标识</label>
      <input type='text' value="<%= report['标志和标识']%>" name="report[标志和标识]">
    </div>
    <div class="input-percent-100">
      <label>三 通电检查</label>
      <input type='text' value="<%= report['通电检查']%>" name="report[通电检查]">
    </div>
    <div class="input-percent-100">
      <label>四 绝缘电阻</label>
      <input type='text' value="<%= report['绝缘电阻']%>" name="report[绝缘电阻]">
    </div>

    <div class="table-responsive">
      <h3 class="title">五、报警功能及报警动作值</h3>
      <table class="table table-bordered align-center">
        <thead>
          <tr>
            <td class="w-200">报警功能</td>
            <td colspan="3">实测报警(%LEL)</td>
            <td>报警动作值(%LEL)</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>声、光</td>
            <td class="input-full"><input type="text" value="<%= report['实测报警1']%>" name="report[实测报警1]"></td>
            <td class="input-full"><input type="text" value="<%= report['实测报警2']%>" name="report[实测报警2]"></td>
            <td class="input-full"><input type="text" value="<%= report['实测报警3']%>" name="report[实测报警3]"></td>
            <td class="input-full"><input type="text" value="<%= report['报警动作值']%>" name="report[报警动作值]"></td>
          </tr>
        </tbody>          
      </table>
    </div>

    <div class="table-responsive">
      <h3 class="title">六、示值误差及响应时间</h3>
      <table class="table table-bordered align-center">
        <thead>
          <tr>
            <td class="w-150" rowspan="2">标气浓度(%LEL)</td>
            <td colspan="5">仪器示值</td>
            <td colspan="4">响应时间/s</td>
          </tr>
          <tr>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>平均值</td>
            <td>示值误差</td>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>t</td>
          </tr>
        </thead>
        <tbody>
          <% 3.times do |k| %>
            <% k = k+1 %>
            <tr>
              <td class="input-full"><input type="text" value="<%= report['标气浓度'+k.to_s]%>" name="report[标气浓度<%=k%>]"></td>
              <td class="input-full"><input type="text" value="<%= report['仪器示值1'+k.to_s]%>" name="report[仪器示值1<%=k%>]"></td>
              <td class="input-full"><input type="text" value="<%= report['仪器示值2'+k.to_s]%>" name="report[仪器示值2<%=k%>]"></td>
              <td class="input-full"><input type="text" value="<%= report['仪器示值3'+k.to_s]%>" name="report[仪器示值3<%=k%>]"></td>
              <td class="input-full"><input type="text" value="<%= report['仪器示值平均值'+k.to_s]%>" name="report[仪器示值平均值<%=k%>]"></td>
              <td class="input-full"><input type="text" value="<%= report['示值误差'+k.to_s]%>" name="report[示值误差<%=k%>]"></td>
              <td class="input-full"><input type="text" value="<%= report['响应速度1'+k.to_s]%>" name="report[响应速度1<%=k%>]"></td>
              <td class="input-full"><input type="text" value="<%= report['响应速度2'+k.to_s]%>" name="report[响应速度2<%=k%>]"></td>
              <td class="input-full"><input type="text" value="<%= report['响应速度3'+k.to_s]%>" name="report[响应速度3<%=k%>]"></td>
              <td class="input-full"><input type="text" value="<%= report['响应速度t'+k.to_s]%>" name="report[响应速度t<%=k%>]"></td>
            </tr>
          <% end %>
          
        </tbody>          
      </table>
    </div>


    <div class="table-responsive">
      <h3 class="title">七、重复性</h3>
      <table class="table table-bordered align-center">
        <thead>
          <tr>
            <td>标准值(%LEL)</td>
            <td>示值</td>
            <td>示值</td>
            <td>示值</td>
            <td>示值</td>
            <td>示值</td>
            <td>示值</td>
            <td>平均值</td>
            <td>重复性%</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="input-full"><input type="text" value="<%= report['重复标准值']%>" name="report[重复标准值]"></td>
            <td class="input-full"><input type="text" value="<%= report['重复性示值1']%>" name="report[重复性示值1]"></td>
            <td class="input-full"><input type="text" value="<%= report['重复性示值2']%>" name="report[重复性示值2]"></td>
            <td class="input-full"><input type="text" value="<%= report['重复性示值3']%>" name="report[重复性示值3]"></td>
            <td class="input-full"><input type="text" value="<%= report['重复性示值4']%>" name="report[重复性示值4]"></td>
            <td class="input-full"><input type="text" value="<%= report['重复性示值5']%>" name="report[重复性示值5]"></td>
            <td class="input-full"><input type="text" value="<%= report['重复性示值6']%>" name="report[重复性示值6]"></td>
            <td class="input-full"><input type="text" value="<%= report['重复平均值']%>" name="report[重复平均值]"></td>
            <td class="input-full"><input type="text" value="<%= report['重复性']%>" name="report[重复性]"></td>
          </tr>
        </tbody>          
      </table>
    </div>


    <div class="table-responsive">
      <h3 class="title">八、漂移</h3>
      <table class="table table-bordered align-center">
        <thead>
          <tr>
            <td class="w-150" rowspan="2">时间</td>
            <td rowspan="2">0</td>
            <td>1h</td>
            <td>2h</td>
            <td>3h</td>
            <td>4h</td>
            <td>5h</td>
            <td>6h</td>
            <td rowspan="2">&Delta;Z</td>
            <td rowspan="2">&Delta;S</td>
          </tr>
          <tr>
            <td>（10min）</td>
            <td>（20min）</td>
            <td>（30min）</td>
            <td>（40min）</td>
            <td>（50min）</td>
            <td>（60min）</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>零点示值</td>
            <td class="input-full"><input type="text" value="<%= report['漂移零点0']%>" name="report[漂移零点0]"></td>
            <td class="input-full"><input type="text" value="<%= report['漂移零点1']%>" name="report[漂移零点1]"></td>
            <td class="input-full"><input type="text" value="<%= report['漂移零点2']%>" name="report[漂移零点2]"></td>
            <td class="input-full"><input type="text" value="<%= report['漂移零点3']%>" name="report[漂移零点3]"></td>
            <td class="input-full"><input type="text" value="<%= report['漂移零点4']%>" name="report[漂移零点4]"></td>
            <td class="input-full"><input type="text" value="<%= report['漂移零点5']%>" name="report[漂移零点5]"></td>
            <td class="input-full"><input type="text" value="<%= report['漂移零点6']%>" name="report[漂移零点6]"></td>
            <td class="input-full"><input type="text" value="<%= report['漂移零点z']%>" name="report[漂移零点z]"></td>
            <td class="input-full"><input type="text" value="<%= report['漂移零点s']%>" name="report[漂移零点s]"></td>
          </tr>
          <tr>
            <td>量程示值</td>
            <td class="input-full"><input type="text" value="<%= report['漂移里程0']%>" name="report[漂移里程0]"></td>
            <td class="input-full"><input type="text" value="<%= report['漂移里程1']%>" name="report[漂移里程1]"></td>
            <td class="input-full"><input type="text" value="<%= report['漂移里程2']%>" name="report[漂移里程2]"></td>
            <td class="input-full"><input type="text" value="<%= report['漂移里程3']%>" name="report[漂移里程3]"></td>
            <td class="input-full"><input type="text" value="<%= report['漂移里程4']%>" name="report[漂移里程4]"></td>
            <td class="input-full"><input type="text" value="<%= report['漂移里程5']%>" name="report[漂移里程5]"></td>
            <td class="input-full"><input type="text" value="<%= report['漂移里程6']%>" name="report[漂移里程6]"></td>
            <td class="input-full"><input type="text" value="<%= report['漂移里程z']%>" name="report[漂移里程z]"></td>
            <td class="input-full"><input type="text" value="<%= report['漂移里程s']%>" name="report[漂移里程s]"></td>
          </tr>
        </tbody>          
      </table>
    </div>



    <div class="sign-footer">      
      <label>结论</label>
      <select name="report[结论]">
        <% ["合格","不合格"].each do |k| %>
          <% if k.eql?(report['结论'].to_s) %>
            <option value="<%= k %>" selected="selected"><%= k %></option>
          <% else %>
            <option value="<%= k %>"><%= k %></option>
          <% end %>
        <% end %>        
      </select>
    </div>
  </div>
  <div class="text-right" >
    <% if can? :calculate, Verification%>
      <% if !@verification.approved? %>
        <%= f.submit "提交", class: "btn btn-success btn-sm" %>
      <% end %>
      <% if report['qualified'] && @verification.approved? %>
        <%= link_to (report['qualified'] ? '查看证书' : '查看通知书'), notice_path(@verification.notice,:format => :pdf), target: '_blank', class: 'btn btn-success btn-sm'%>
      <% end %>
    <% end %>
  </div>
<% end %>
