

<% report = @data %>

<%= simple_form_for :report, url: calculate_verification_path, method: :post do |f| %>

  <div class="container">

    <h2 class="table-title">双金属温度计检定记录</h2>

    <div class="sign-upper">
      <div class="row-h align-right">
        <label>第 1 页</label>
        <label>共 1 页</label>
      </div>
      <div class="row-h">
        <label class="float-left">检定记录编号：<input class="no-border w-150" value="<%= report['检定记录编号']%>" name="report[检定记录编号]"></label>
      </div>
    </div>

    <div class="table-responsive">
      <table class="table table-bordered align-center thick-border">
        <tr>
          <td colspan="6">送检单位: <input class="no-border w-300" value="<%= report['送检单位']%>" name="report[送检单位]"></td>
          <td colspan="5">生产厂: <input class="no-border w-300"></td>
        </tr>
        <tr>
          <td colspan="4">证书编号: <input class="no-border w-200" value="<%= report['证书编号']%>" name="report[证书编号]"></td>
          <td class="w-250" colspan="2">出厂编号: <input class="no-border w-100" value="<%= report['出厂编号']%>" name="report[出厂编号]"></td>
          <td colspan="3">测量范围: <input class="no-border w-150" value="<%= report['测量范围']%>" name="report[测量范围]"></td>
          <td colspan="2">型号规格: <input class="no-border w-80" value="<%= report['型号规格']%>" name="report[型号规格]"></td>
        </tr> 
        <tr>
          <td colspan="4">准确度: <input class="no-border w-200" value="<%= report['准确度']%>" name="report[准确度]"></td>
          <td colspan="2">分度值: <input class="no-border w-100" value="<%= report['分度值']%>" name="report[分度值]"></td>
          <td colspan="3">标准器: <input class="no-border w-150" value="<%= report['标准器']%>" name="report[标准器]"></td>
          <td colspan="2">编号: <input class="no-border w-80" value="<%= report['标准器编号']%>" name="report[标准器编号]"></td>
        </tr>   
        <tr>
          <td colspan="4">外观检查: <input class="no-border w-200" value="<%= report['外观检查']%>" name="report[外观检查]"></td>
          <td colspan="2">绝缘电阻: <input class="no-border w-100" value="<%= report['绝缘电阻']%>" name="report[绝缘电阻]"></td>
          <td colspan="3">环境温度: <input class="no-border w-150" value="<%= report['环境温度']%>" name="report[环境温度]"></td>
          <td colspan="2">湿度: <input class="no-border w-80" value="<%= report['湿度']%>" name="report[湿度]"></td>
        </tr>   

        <tr>
          <td rowspan="26" class="w-80 bold">示值检定</td>
          <td rowspan="2" colspan="3">检定点名义温度（&deg;C）</td>
          <td colspan="3">读数（&deg;C）</td>
          <td rowspan="2">误差（&deg;C）</td>
          <td rowspan="2" colspan="2">回差（&deg;C）</td>
          <td rowspan="2">重复性（&deg;C）</td>
        </tr>
        <tr>
          <td>第一循环</td>
          <td>第二循环</td>
          <td>第三循环</td>
        </tr>
        <% 6.times.each do |k| %>
          <% k = k+1 %>
          <tr>
            <td class="w-80 input-full" rowspan="4"><input type="text" value="<%= report['检定点名义温度'+k.to_s]%>" name="report[检定点名义温度<%= k %>]"></td>
            <td class="w-80" rowspan="2">正</td>
            <td class="w-80">标准器</td>
            <td class="input-full"><input type="text" value="<%= report['正标准器1'+k.to_s]%>" name="report[正标准器1<%=k%>]"></td>
            <td class="input-full"><input type="text" value="<%= report['正标准器2'+k.to_s]%>" name="report[正标准器2<%=k%>]"></td>
            <td class="input-full"><input type="text" value="<%= report['正标准器3'+k.to_s]%>" name="report[正标准器3<%=k%>]"></td>
            <td rowspan="2"></td>
            <td rowspan="4" colspan="2"></td>
            <td rowspan="4"></td>
          </tr>
          <tr>
            <td class="w-80">温度计</td>
            <td class="input-full"><input type="text" value="<%= report['正温度计1'+k.to_s]%>" name="report[正温度计1<%=k%>]"></td>
            <td class="input-full"><input type="text" value="<%= report['正温度计2'+k.to_s]%>" name="report[正温度计2<%=k%>]"></td>
            <td class="input-full"><input type="text" value="<%= report['正温度计3'+k.to_s]%>" name="report[正温度计3<%=k%>]"></td>
          </tr>
          <tr>
            <td rowspan="2">反</td>
            <td>标准器</td>
            <td class="input-full"><input type="text" value="<%= report['反标准器1'+k.to_s]%>" name="report[反标准器1<%=k%>]"></td>
            <td class="input-full"><input type="text" value="<%= report['反标准器2'+k.to_s]%>" name="report[反标准器2<%=k%>]"></td>
            <td class="input-full"><input type="text" value="<%= report['反标准器3'+k.to_s]%>" name="report[反标准器3<%=k%>]"></td>
            <td rowspan="2"></td>
          </tr>
          <tr>
            <td>温度计</td>
            <td class="input-full"><input type="text" value="<%= report['反温度计1'+k.to_s]%>" name="report[反温度计1<%=k%>]"></td>
            <td class="input-full"><input type="text" value="<%= report['反温度计2'+k.to_s]%>" name="report[反温度计2<%=k%>]"></td>
            <td class="input-full"><input type="text" value="<%= report['反温度计3'+k.to_s]%>" name="report[反温度计3<%=k%>]"></td>
          </tr>
        <% end %>

        

        <tr>
          <td class="bold" colspan="4">角度调整误差（&deg;）</td>
          <td class="input-full" colspan="7"><input type="text" value="<%= report['角度调整误差']%>" name="report[角度调整误差]"></td>          
        </tr>
        <tr>
          <td class="align-left padding-15" colspan="11">检定依据：<input class="no-border w-300" value="<%= report['检定依据']%>" name="report[检定依据]"></td>     
        </tr>
        <tr>
          <td class="align-left" colspan="11">结论：<input class="no-border w-300" value="<%= report['结论']%>" name="report[结论]"></td>     
        </tr>
        <tr>
          <td class="align-left" colspan="11">
            检定员：<input class="no-border w-250" value="<%= report['检定员']%>" name="report[检定员]">
            核验员：<input class="no-border w-250" value="<%= report['核验员']%>" name="report[核验员]">
            检定日期：<input class="no-border w-250" value="<%= report['检定日期']%>" name="report[检定日期]">
          </td>     
        </tr>

      </table>
    </div>
    
  </div>

  <div class="text-right" >
    <% if can? :calculate, Verification%>
      <% if !@verification.approved? %>
        <%= f.submit "提交", class: "btn btn-success btn-sm" %>
      <% end %>
      <% if report['qualified'] && @verification.approved? %>
        <%= link_to (report['qualified'] ? '查看证书' : '查看通知书'), notice_path(@verification.notice,:format => :pdf), target: '_blank', class: 'btn btn-success btn-sm'%>
      <% end %>
    <% end %>
  </div>
<% end %>
