<% report = @data %>

<%= simple_form_for :report, url: calculate_verification_path, method: :post do |f| %>

    <div class="table-responsive">

      <h3 class="title">电子天平检定记录</h3>
      <table class="table table-bordered align-center">
        <tr>
          <td colspan="4" class="align-left"><b>SNJL&nbsp;/&nbsp;QSHE&nbsp;&bull;&nbsp;ZD&nbsp;&bull;&nbsp;04-09</b></td>
        </tr>
        <tr>
          <td>型号规格：</td>
          <td><input type="text" value="<%= report['型号规格']%>" name="report[型号规格]"></td>
          <td>设备编号：</td>
          <td><input type="text" value="<%= report['设备编号']%>" name="report[设备编号]"></td>          
        </tr>
        <tr>
          <td>天平器号：</td>
          <td><input type="text" value="<%= report['天平器号']%>" name="report[天平器号]"></td>
          <td>标准砝码：</td>
          <td><input type="text" value="<%= report['标准砝码']%>" name="report[标准砝码]"></td>          
        </tr>
        <tr>
          <td>最大/最小称量：</td>
          <td><input type="text" value="<%= report['最大最小称量']%>" name="report[最大最小称量]"></td>
          <td>检定日期：</td>
          <td><input type="text" value="<%= report['检定日期']%>" name="report[检定日期]"></td>          
        </tr>
        <tr>
          <td>实际分度值：</td>
          <td><input type="text" value="<%= report['实际分度值']%>" name="report[实际分度值]"></td>
          <td>证书编号：</td>
          <td><input type="text" value="<%= report['证书编号']%>" name="report[证书编号]"></td>          
        </tr>
        <tr>
          <td>检定分度值：</td>
          <td><input type="text" value="<%= report['检定分度值']%>" name="report[检定分度值]"></td>
          <td>准确度等级：</td>
          <td><input type="text" value="<%= report['准确度等级']%>" name="report[准确度等级]">级</td>          
        </tr>
        <tr>
          <td>检定条件：</td>
          <td><input type="text" value="<%= report['检定条件']%>" name="report[检定条件]"></td>
          <td>外观检查：</td>
          <td><input type="text" value="<%= report['外观检查']%>" name="report[外观检查]"></td>          
        </tr>
        <tr>
          <td>制造厂：</td>
          <td colspan="3"><input type="text" value="<%= report['制造厂']%>" name="report[制造厂]"></td>
        </tr>
        <tr>
          <td>送检单位：</td>
          <td colspan="3"><input type="text" value="<%= report['送检单位']%>" name="report[送检单位]"></td>
        </tr>
        <tr>
          <td>检定员：</td>
          <td><input type="text" value="<%= report['送检员']%>" name="report[送检员]"></td>
          <td>核验员</td>
          <td><input type="text" value="<%= report['核验员']%>" name="report[核验员]"></td>
        </tr>
      </table>

      <h3 class="title">一、偏载误差 <i>E = I + 1/2e - &Delta;L， E<sub>c</sub> = E - E<sub>0</sub>(&#42;) </i> </h3>
      <table class="table table-bordered align-center">
        <thead>
          <tr>
            <td>位置</td>
            <td>试验载荷L(g)</td>
            <td>示值/(g)</td>
            <td>附加砝码<i>&Delta;L<i>（）</td>
            <td>误差E(e)</td>
            <td>修正误差E<sub>c</sub></td>
            <td>最大允许误差(e)</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>(&#42;)</td>
            <td><input type="text" value="<%= report['示值11']%>" name="report[示值11]"></td>
            <td><input type="text" value="<%= report['附加砝码12']%>" name="report[附加砝码12]"></td>
            <td><input type="text" value="<%= report['误差13']%>" name="report[误差13]"></td>
            <td><input type="text" value="<%= report['修正误差E14']%>" name="report[修正误差E14]"></td>
            <td><input type="text" value="<%= report['最大允许误差15']%>" name="report[最大允许误差15]"></td>
          </tr>
          <tr>
            <td>1</td>
            <td>100</td>
            <td><input type="text" value="<%= report['示值21']%>" name="report[示值21]"></td>
            <td><input type="text" value="<%= report['附加砝码22']%>" name="report[附加砝码22]"></td>
            <td><input type="text" value="<%= report['误差23']%>" name="report[误差23]"></td>
            <td><input type="text" value="<%= report['修正误差E24']%>" name="report[修正误差E24]"></td>
            <td><input type="text" value="<%= report['最大允许误差25']%>" name="report[最大允许误差25]"></td>
          </tr>
          <tr>
            <td>2</td>
            <td>(&#42;)</td>
            <td><input type="text" value="<%= report['示值31']%>" name="report[示值31]"></td>
            <td><input type="text" value="<%= report['附加砝码32']%>" name="report[附加砝码32]"></td>
            <td><input type="text" value="<%= report['误差33']%>" name="report[误差33]"></td>
            <td><input type="text" value="<%= report['修正误差E34']%>" name="report[修正误差E34]"></td>
            <td><input type="text" value="<%= report['最大允许误差35']%>" name="report[最大允许误差35]"></td>
          </tr>
          <tr>
            <td>2</td>
            <td>100</td>
            <td><input type="text" value="<%= report['示值41']%>" name="report[示值41]"></td>
            <td><input type="text" value="<%= report['附加砝码42']%>" name="report[附加砝码42]"></td>
            <td><input type="text" value="<%= report['误差43']%>" name="report[误差43]"></td>
            <td><input type="text" value="<%= report['修正误差E44']%>" name="report[修正误差E44]"></td>
            <td><input type="text" value="<%= report['最大允许误差45']%>" name="report[最大允许误差45]"></td>
          </tr>
          <tr>
            <td>3</td>
            <td>(&#42;)</td>
            <td><input type="text" value="<%= report['示值51']%>" name="report[示值51]"></td>
            <td><input type="text" value="<%= report['附加砝码52']%>" name="report[附加砝码52]"></td>
            <td><input type="text" value="<%= report['误差53']%>" name="report[误差53]"></td>
            <td><input type="text" value="<%= report['修正误差E54']%>" name="report[修正误差E54]"></td>
            <td><input type="text" value="<%= report['最大允许误差55']%>" name="report[最大允许误差55]"></td>
          </tr>
          <tr>
            <td>3</td>
            <td>100</td>
            <td><input type="text" value="<%= report['示值61']%>" name="report[示值61]"></td>
            <td><input type="text" value="<%= report['附加砝码62']%>" name="report[附加砝码62]"></td>
            <td><input type="text" value="<%= report['误差63']%>" name="report[误差63]"></td>
            <td><input type="text" value="<%= report['修正误差E64']%>" name="report[修正误差E64]"></td>
            <td><input type="text" value="<%= report['最大允许误差65']%>" name="report[最大允许误差65]"></td>
          </tr>
          <tr>
            <td>4</td>
            <td>(&#42;)</td>
            <td><input type="text" value="<%= report['示值71']%>" name="report[示值71]"></td>
            <td><input type="text" value="<%= report['附加砝码72']%>" name="report[附加砝码72]"></td>
            <td><input type="text" value="<%= report['误差73']%>" name="report[误差73]"></td>
            <td><input type="text" value="<%= report['修正误差E74']%>" name="report[修正误差E74]"></td>
            <td><input type="text" value="<%= report['最大允许误差75']%>" name="report[最大允许误差75]"></td>
          </tr>
          <tr>
            <td>4</td>
            <td>100</td>
            <td><input type="text" value="<%= report['示值81']%>" name="report[示值81]"></td>
            <td><input type="text" value="<%= report['附加砝码82']%>" name="report[附加砝码82]"></td>
            <td><input type="text" value="<%= report['误差83']%>" name="report[误差83]"></td>
            <td><input type="text" value="<%= report['修正误差E84']%>" name="report[修正误差E84]"></td>
            <td><input type="text" value="<%= report['最大允许误差85']%>" name="report[最大允许误差85]"></td>
          </tr>
          <tr>
            <td>5</td>
            <td>(&#42;)</td>
            <td><input type="text" value="<%= report['示值91']%>" name="report[示值91]"></td>
            <td><input type="text" value="<%= report['附加砝码92']%>" name="report[附加砝码92]"></td>
            <td><input type="text" value="<%= report['误差93']%>" name="report[误差93]"></td>
            <td><input type="text" value="<%= report['修正误差E94']%>" name="report[修正误差E94]"></td>
            <td><input type="text" value="<%= report['最大允许误差95']%>" name="report[最大允许误差95]"></td>
          </tr>
          <tr>
            <td>5</td>
            <td>100</td>
            <td><input type="text" value="<%= report['示值101']%>" name="report[示值101]"></td>
            <td><input type="text" value="<%= report['附加砝码102']%>" name="report[附加砝码102]"></td>
            <td><input type="text" value="<%= report['误差103']%>" name="report[误差103]"></td>
            <td><input type="text" value="<%= report['修正误差E104']%>" name="report[修正误差E104]"></td>
            <td><input type="text" value="<%= report['最大允许误差105']%>" name="report[最大允许误差105]"></td>
          </tr>
        </tbody>
      </table>

      <h3 class="title">二、重复性 <i>L = 200 g &nbsp;&nbsp;&nbsp; E = I + 1/2e - &Delta;L - L </i> </h3>
      <table class="table table-bordered align-center">
        <thead>
          <tr>
            <td>序号</td>
            <td>示值/（g）</td>
            <td>附加砝码&Delta;L（）</td>
            <td>化整前示值P（）</td>
            <td>误差E（e）</td>
            <td>最大允许误差（e）</td>
          </tr>
        </thead>
        <tbody>
          <% 10.times do |k| %>
            <tr>
              <td><%=k= k+1 %></td>
              <td><input type="text" value="<%= report['重复性示值1'+k.to_s]%>" name="report[重复性示值1<%=k%>]"></td>
              <td><input type="text" value="<%= report['重复性附加砝码2'+k.to_s]%>" name="report[重复性附加砝码2<%=k%>]"></td>
              <td><input type="text" value="<%= report['重复性误差3'+k.to_s]%>" name="report[重复性误差3<%=k%>]"></td>
              <td><input type="text" value="<%= report['重复性修正误差E4'+k.to_s]%>" name="report[重复性修正误差E4<%=k%>]"></td>
              <td><input type="text" value="<%= report['重复性最大允许误差5'+k.to_s]%>" name="report[重复性最大允许误差5<%=k%>]"></td>
            </tr>
            
          <% end %>
        </tbody>
      </table>

      <div class="footer-front">
        <p>检定日期<b>2013 01 18</b></p>
        <p>有效期至<b>2012 01 17</b></p>
      </div>

      <h3 class="title">三、示值误差 <i> E = I + 1/2e - &Delta;L - L，E<sub>c</sub> = E - E<sub>0</sub>（*） </i> </h3>
      <table class="table table-bordered align-center">
        <thead>
          <tr>
            <td>序号</td>
            <td>试验载荷L（g）</td>
            <td>示值/（g）</td>
            <td>附加砝码<i>&Delta;L<i>（）</td>
            <td>误差E(e)</td>
            <td>修正误差E<sub>c</sub>（）</td>
            <td>最大允许误差(e)</td>
          </tr>
        </thead>
        <tbody>
          <% ["(*)","0","40","80","120","160","200","200","160","120","80","40","20"].each_with_index do |n,k| %>
          <tr>
            <td><%=k= k+1 %></td>
            <td><%=n %></td>
            <td><input type="text" value="<%= report['示值误差示值1'+k.to_s]%>" name="report[示值误差示值1<%=k%>]"></td>
            <td><input type="text" value="<%= report['示值误差附加砝码2'+k.to_s]%>" name="report[示值误差附加砝码2<%=k%>]"></td>
            <td><input type="text" value="<%= report['示值误差误差3'+k.to_s]%>" name="report[示值误差误差3<%=k%>]"></td>
            <td><input type="text" value="<%= report['示值误差修正误差E4'+k.to_s]%>" name="report[示值误差修正误差E4<%=k%>]"></td>
            <td><input type="text" value="<%= report['示值误差最大允许误差5'+k.to_s]%>" name="report[示值误差最大允许误差5<%=k%>]"></td>
          </tr>
          <% end %>
          
        </tbody>
      </table>

      <h3 class="title">四、检定结果 </h3>
      <table class="table table-bordered align-center">
        <thead>
          <tr>
            <td colspan="2">检定项目</td>
            <td>检定结果</td>
            <td>最大允许误差</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td colspan="2">测量范围</td>
            <td><input type="text" value="<%= report['测量范围检定结果']%>" name="report[测量范围检定结果]"></td>
            <td><input type="text" value="<%= report['测量范围最大允许误差']%>" name="report[测量范围最大允许误差]"></td>
          </tr>
          <tr>
            <td colspan="2">实际分度值</td>
            <td><input type="text" value="<%= report['实际分度值检定结果']%>" name="report[实际分度值检定结果]"></td>
            <td><input type="text" value="<%= report['实际分度值最大允许误差']%>" name="report[实际分度值最大允许误差]"></td>
          </tr>
          <tr>
            <td colspan="2">检定分度值</td>
            <td><input type="text" value="<%= report['检定分度值检定结果']%>" name="report[检定分度值检定结果]"></td>
            <td><input type="text" value="<%= report['检定分度值最大允许误差']%>" name="report[检定分度值最大允许误差]"></td>
          </tr>
          <tr>
            <td colspan="2">偏载误差</td>
            <td><input type="text" value="<%= report['偏载误差检定结果']%>" name="report[偏载误差检定结果]"></td>
            <td><input type="text" value="<%= report['偏载误差最大允许误差']%>" name="report[偏载误差最大允许误差]"></td>
          </tr>
          <tr>
            <td colspan="2">重复性</td>
            <td><input type="text" value="<%= report['重复性检定结果']%>" name="report[重复性检定结果]"></td>
            <td><input type="text" value="<%= report['重复性最大允许误差final']%>" name="report[重复性最大允许误差final]"></td>
          </tr>
          <tr>
            <td rowspan="3">示值误差</td>
            <td>0 &le; m &le; 50g</td>
            <td><input type="text" value="<%= report['示值误差检定结果']%>" name="report[示值误差检定结果]"></td>
            <td><input type="text" value="<%= report['示值误差最大允许误差final']%>" name="report[示值误差最大允许误差final]"></td>
          </tr>
          <tr>
            <td>50g &le; m &le; 200g</td>
            <td><input type="text" value="<%= report['示值误差检定结果2']%>" name="report[示值误差检定结果2]"></td>
            <td><input type="text" value="<%= report['示值误差最大允许误差final2']%>" name="report[示值误差最大允许误差final2]"></td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td colspan="2">检定分度数</td>
            <td><input type="text" value="<%= report['检定分度数检定结果']%>" name="report[检定分度数检定结果]"></td>
            <td><input type="text" value="<%= report['检定分度数最大允许误差']%>" name="report[检定分度数最大允许误差]"></td>
          </tr>
          <tr>
            <td colspan="2">天平定级</td>
            <td colspan="2"> <input type="text" value="<%= report['天平定级']%>" name="report[天平定级]">级</td>
          </tr>
          <tr>
            <td colspan="2">备注</td>
            <td><input type="text" value="<%= report['备注检定结果']%>" name="report[备注检定结果]"></td>
            <td><input type="text" value="<%= report['备注最大允许误差']%>" name="report[备注最大允许误差]"></td>
          </tr>
        </tbody>
      </table>


  

    </div>

  </div>

  <div class="text-right" >
    <% if can? :calculate, Verification%>
      <% if !@verification.approved? %>
        <%= f.submit "提交", class: "btn btn-success btn-sm" %>
      <% end %>
      <% if report['qualified'] && @verification.approved? %>
        <%= link_to (report['qualified'] ? '查看证书' : '查看通知书'), notice_path(@verification.notice,:format => :pdf), target: '_blank', class: 'btn btn-success btn-sm'%>
      <% end %>
    <% end %>
  </div>
<% end %>