<% report = @data %>
<div class="container">
    <h2 class="center" style="margin-bottom: 50px;">
      <i class="fa fa-tasks"></i>
      <span> 弹性元件式一般压力表检定记录</span>
    </h2>

  <div>
    <%= simple_form_for :report, url: calculate_verification_path, method: :post do |f| %>
    <table class="table table-noborder">
      <tr><td>记录编号：<input name="report[纪录编号]" type="text"  value="<%= @verification.sn%>"/></td></tr>
      <tr>
        <td width="33%">送检单位 <span class="input-line"> <%= @verification.organ.name%></span></td>
        <td width="33%">被检表名称<span class="input-line"> <%= @verification.instrument.category_type.name%></span></td>
        <td width="34%">制造商<span class="input-line"> <%= @verification.instrument.vendor.name%></span></td>
      </tr>
      <tr>
        <td>出厂编号 <span class="input-line"> <%= @verification.instrument.sn %></span></td>
        <td>测量范围 <span class="input-line"> <%= @verification.instrument.detection_range%></span></td>
        <input type="hidden" name=report[测量范围上限] value="<%= @verification.instrument.category_range.try(:start)%>">
        <input type="hidden" name=report[测量范围下限] value="<%= @verification.instrument.category_range.try(:end)%>">
        <td>准确度等级 <span class="input-line"> <%= @verification.instrument.category_precision.try(:name)%></span></td>
        <input type="hidden" name=report[准确度等级] value="<%= @verification.instrument.category_precision.try(:name)%>">
      </tr>
      <tr>
        <td>分度值 <input value="<%= report['分度值']%>" type="text" name="report[分度值]" class="input-line" /></td>
        <td>最大允许误差 <span class="input-line"> <%= report['计算结果']['最大允许误差'] if report['计算结果'].present? %></span></td>
        <td></td>
      </tr>
      <tr>
        <td>检定温度 <input type="text" value="<%= report['计算结果']['检定温度']%>" name="report[计算结果][检定温度]"  class="input-line"/>&#8451;</td>
        <td>相对湿度 <input type="text" value="<%= report['计算结果']['相对湿度']%>" name="report[计算结果][相对湿度]" class="input-line">%</td>
        <td></td>
      </tr>
      <tr>
        <td>标准器名称
           <%= select_tag 'report[标准器]', options_for_select([*@instruments].collect{|i| [i.sn, i.id]}, @data['标准器']),{prompt: '请选择', onchange: "changeStandardInstrument(this.value)"}%>
        </td>
        <td>准确度等级 <span class="input-line" id="sd_precision"></span></td>
        <td>测量范围<span class="input-line" id="sd_range"></span></td>
      </tr>
      <tr>
        <td>1.外观检查
          <select name="report[计算结果][外观检查]" style="width:150px;">
            <option value="合格" <%= report['计算结果']['外观检查'] == '合格' ? 'selected' : ""%>>合格</option>
            <option value="不合格" <%= report['计算结果']['外观检查'] == '不合格' ? 'selected' : ""%>>不合格</option>
          </select>
          <div class="clearfix"></div>
        </td>
        <td>2.零位误差
          <select name="report[计算结果][零位误差]" style="width:150px;">
            <option value="合格" <%= report['计算结果']['零位误差'] == '合格' ? 'selected' : ""%>>合格</option>
            <option value="不合格" <%= report['计算结果']['零位误差'] == '不合格' ? 'selected' : ""%>>不合格</option>
          </select>
          <div class="clearfix"></div>
        </td>
        <td> 3.指针偏转平稳性
          <select name="report[计算结果][指针偏转平稳性]" style="width:150px;">
            <option value="合格" <%= report['计算结果']['指针偏转平稳性'] == '合格' ? 'selected' : ""%>>合格</option>
            <option value="不合格" <%= report['计算结果']['指针偏转平稳性'] == '不合格' ? 'selected' : ""%>>不合格</option>
          </select>
          <div class="clearfix"></div>
        </td>
      </tr>
      <tr>
        <td colspan="3">4.示值检定</td>
      </tr>
    </table>
  <div class="table-responsive">
    <table class="table table-bordered center">
      <tr>
        <td rowspan="2" style="min-width: 110px;">标准器的压力值</td>
        <td colspan="2">轻敲表壳后被检仪表示值</td>
        <td colspan="2">轻敲位移</td>
        <td rowspan="2" style="min-width: 70px;">最大示值误差</td>
        <td rowspan="2" style="min-width: 70px;">最大回程误差</td>
      </tr>
      <tr>
        <td style="min-width: 110px;">升压</td>
        <td style="min-width: 110px;">降压</td>
        <td style="min-width: 110px;">升压</td>
        <td style="min-width: 110px;">降压</td>
      </tr>
      <% 7.times do |index|%>
        <tr>
          <td colspan="1"><input style="width: 70%;" value="<%= report['示值检定']['标准器的压力值'][index]%>" type="text" name="report[示值检定][标准器的压力值][]"></td>
          <td colspan="1"><input style="width: 70%;" value="<%= number_with_precision(report['示值检定']['轻敲表壳后被检仪表示值']['升压'][index],precision: 3)%>" type="text" name="report[示值检定][轻敲表壳后被检仪表示值][升压][]"></td>
          <td colspan="1"><input style="width: 70%;" value="<%= number_with_precision(report['示值检定']['轻敲表壳后被检仪表示值']['降压'][index],precision: 3)%>" type="text" name="report[示值检定][轻敲表壳后被检仪表示值][降压][]"></td>
          <td colspan="1"><span style="width: 70%;"><%= number_with_precision(report['计算结果']['轻敲位移']['升压'][index],precision: 3)%></span></td>
          <td colspan="1"><span style="width: 70%;"><%= number_with_precision(report['计算结果']['轻敲位移']['降压'][index],precision: 3)%></span></td>
          <% if index.zero? %>
            <td rowspan="7"><%= number_with_precision(report['计算结果']['最大示值误差'],precision: 3) if report['计算结果'].present? %></td>
            <td rowspan="7"><%= number_with_precision(report['计算结果']['最大回程误差'],precision: 3) if report['计算结果'].present? %></td>
          <% end %>
        </tr>
      <% end %>
    </table>
    <table class="table table-noborder">
      <tr>
        <td colspan="3" class="text-left">5.其他：
          <select name="report[计算结果][其他]" style="width:150px;">
            <option value="合格" <%= report['计算结果']['其他'] == '合格' ? 'selected' : ""%>>合格</option>
            <option value="不合格" <%= report['计算结果']['其他'] == '不合格' ? 'selected' : ""%>>不合格</option>
          </select>
        </td>
      <tr>
      </tr>
        <td colspan="3" >结论：根据以上各项检定结果，该压力表 <span class="input-line">
            <% if report['result'].present? %>
              <% if report['result']['pass'] == true %>
                <span class="blue">
                <%= "符合#{@verification.instrument.category_precision.try(:name)}级"%>
                </span>
              <% else %>
                <span class="red">
                  <%= "不符合#{@verification.instrument.category_precision.try(:name)}级"%>
                </span>
                <%= render partial: 'failure', locals: {message: report['result']['message']} %>
              <% end %>
            <% end %>
        </span>
      </td>
      </tr>
      <tr>
        <td>检定员：<input type="text" name="report[检定员]" class="input-line" value="<%= report['检定员']%>"/></td>
        <td>
          <span style="display: block;margin-top:6px;">检定日期：
            <input type="text" name="report[检定日期]" value="<%= report['检定日期']%>" onClick="WdatePicker({onpicked: function(){$(this).trigger('change')}})" readonly='true'  class="input-time"/>
          </span>
        </td>
        <td>审核员：<input type="text" name="report[核验员]" class="input-line" value="<%= report['核验员']%>"/></td>
        <td>
          <span style="display: block;margin-top:6px;">核验日期：
            <input type="text" name="report[核验日期]" value="<%= report['核验日期']%>" onClick="WdatePicker({onpicked: function(){$(this).trigger('change')}})" readonly='true'  class="input-time"/>
          </span>
        </td>
      </tr>
      </table>
    </div>
    <div class="text-right">
      <% if can? :calculate, Verification%>
        <% if !@verification.approved? %>
          <%= f.submit "提交", class: "btn btn-success btn-sm" %>
        <% end %>
        <% if @data['result']%>
          <%= link_to (@data['result']['pass'] ? '查看证书' : '查看通知书'), certificate_verification_path(@verification,:format => :pdf), target: '_blank', class: 'btn btn-success btn-sm'%>
        <% end %>
      <% end %>
    </div>
    <% end %>
    </div>
  </div>

<script>
  window.onload = changeStandardInstrument("<%= @data['标准器']%>");

  function changeStandardInstrument(id){
    if(id != ""){
      $.ajax({
        url: window.location.origin + '/instruments/' + id,
        method: 'GET',
        success: function(data){
          $('#sd_range').html(data.range);
          $('#sd_precision').html(data.precision);
        }
      });
    }else{
      $('#sd_range').empty();
      $('#sd_precision').empty();
    }
  }
</script>
