<% report = @data %>

<%= simple_form_for :report, url: calculate_verification_path, method: :post do |f| %>

  <div class="container">

    <h3 class="title">
      <span>容积式流量计（A类）检定记录</span>
    </h3>

    <div class="table-responsive">
      <table class="table table-noborder">
        <tr>
          <td class="align-left">计量器具名称：</td>
          <td>涡轮流量计</td>
          <td class="align-left">规格型号：</td>
          <td>TBQZ-50B</td>
          <td class="align-left">大气压力：</td>
          <td><input type="text" value="<%= report['大气压力']%>" name="report[大气压力]"> kPa</td>
        </tr>
        <tr>
          <td class="align-left">制造单位：</td>
          <td>天信仪表</td>
          <td class="align-left">准确度等级：</td>
          <td>1.5级</td>
          <td class="align-left">环境温度：</td>
          <td><input type="text" value="<%= report['环境温度1']%>" name="report[环境温度1]"> &deg;C</td>
        </tr>
        <tr>
          <td class="align-left">送检单位：</td>
          <td>泸州西部公司</td>
          <td class="align-left">出厂编号：</td>
          <td>X4085050</td>
          <td class="align-left">环境温度：</td>
          <td><input type="text" value="<%= report['环境温度2']%>" name="report[环境温度2]"> &#37;</td>
        </tr>
        <tr>
          <td class="align-left">标准装置名称：</td>
          <td>音速喷嘴法气体流量标准装置</td>
          <td class="align-left">装置测量不确定度：</td>
          <td>0.25&#37;（k=2）</td>
          <td class="align-left">检定介质：</td>
          <td><input type="text" value="<%= report['检定介质']%>" name="report[检定介质]"></td>
        </tr>
        <tr>
          <td class="align-left">标准装置型号：</td>
          <td>LXH-600</td>
          <td class="align-left">标准装置编号：</td>
          <td>1108006</td>
          <td class="align-left">依据技术规范：</td>
          <td><input type="text" value="<%= report['依据技术规范']%>" name="report[依据技术规范]"></td>
        </tr>
      </table>
      
    
      <table class="table table-bordered top-25 align-center">
        <thead>
          <tr>
            <td>喷嘴编号</td>
            <td>检定流量<br>（m<sup>3</sup>/h）</td>
            <td>检定体积<br>（m<sup>3</sup>）</td>
            <td>检定时间<br>（s）</td>
            <td>流量计脉冲数</td>
            <td>流量计压力<br>（kPa）</td>
            <td>流量计温度<br>（&deg;C）</td>
            <td>喷嘴压力<br>（kPa）</td>
            <td>喷嘴温度<br>（&deg;C）</td>
            <td>仪表系数<br>（1/m<sup>3</sup>）</td>
            <td>平均仪表系数<br>（1/m<sup>3</sup>）</td>
            <td>线性度<br> &#37;</td>
            <td>重复性<br> &#37;</td>
          </tr>
        </thead>
        <tbody>
          <% 4.times do |k| %>
            <% k = k+1 %>
            <tr>
              <td rowspan="3"><input class="input-small" type="text" value="<%= report['喷嘴编号'+k.to_s]%>" name="report[喷嘴编号<%=k%>]"></td>
              <td><input class="input-small" type="text" value="<%= report['检定流量1'+k.to_s]%>" name="report[检定流量1<%=k%>]"></td>
              <td><input class="input-small" type="text" value="<%= report['检定体积1'+k.to_s]%>" name="report[检定体积1<%=k%>]"></td>
              <td><input class="input-small" type="text" value="<%= report['检定时间1'+k.to_s]%>" name="report[检定时间1<%=k%>]"></td>
              <td><input class="input-small" type="text" value="<%= report['流量计脉冲1'+k.to_s]%>" name="report[流量计脉冲1<%=k%>]"></td>
              <td><input class="input-small" type="text" value="<%= report['流量计压力1'+k.to_s]%>" name="report[流量计压力1<%=k%>]"></td>
              <td><input class="input-small" type="text" value="<%= report['流量计温度1'+k.to_s]%>" name="report[流量计温度1<%=k%>]"></td>
              <td><input class="input-small" type="text" value="<%= report['喷嘴压力1'+k.to_s]%>" name="report[喷嘴压力1<%=k%>]"></td>
              <td><input class="input-small" type="text" value="<%= report['喷嘴温度1'+k.to_s]%>" name="report[喷嘴温度1<%=k%>]"></td>
              <td><input class="input-small" type="text" value="<%= report['仪表系数1'+k.to_s]%>" name="report[仪表系数1<%=k%>]"></td>
              <td rowspan="3"><input class="input-small" type="text" value="<%= report['平均仪表系数'+k.to_s]%>" name="report[平均仪表系数<%=k%>]"></td>
              <td rowspan="3"><input class="input-small" type="text" value="<%= report['线性度'+k.to_s]%>" name="report[线性度<%=k%>]"></td>
              <td rowspan="3"><input class="input-small" type="text" value="<%= report['重复性'+k.to_s]%>" name="report[重复性<%=k%>]"></td>
            </tr>
            <tr>
              <td><input class="input-small" type="text" value="<%= report['检定流量2'+k.to_s]%>" name="report[检定流量2<%=k%>]"></td>
              <td><input class="input-small" type="text" value="<%= report['检定体积2'+k.to_s]%>" name="report[检定体积2<%=k%>]"></td>
              <td><input class="input-small" type="text" value="<%= report['检定时间2'+k.to_s]%>" name="report[检定时间2<%=k%>]"></td>
              <td><input class="input-small" type="text" value="<%= report['流量计脉冲2'+k.to_s]%>" name="report[流量计脉冲2<%=k%>]"></td>
              <td><input class="input-small" type="text" value="<%= report['流量计压力2'+k.to_s]%>" name="report[流量计压力2<%=k%>]"></td>
              <td><input class="input-small" type="text" value="<%= report['流量计温度2'+k.to_s]%>" name="report[流量计温度2<%=k%>]"></td>
              <td><input class="input-small" type="text" value="<%= report['喷嘴压力2'+k.to_s]%>" name="report[喷嘴压力2<%=k%>]"></td>
              <td><input class="input-small" type="text" value="<%= report['喷嘴温度2'+k.to_s]%>" name="report[喷嘴温度2<%=k%>]"></td>
              <td><input class="input-small" type="text" value="<%= report['仪表系数2'+k.to_s]%>" name="report[仪表系数2<%=k%>]"></td>
            </tr>
            <tr>
              <td><input class="input-small" type="text" value="<%= report['检定流量3'+k.to_s]%>" name="report[检定流量3<%=k%>]"></td>
              <td><input class="input-small" type="text" value="<%= report['检定体积3'+k.to_s]%>" name="report[检定体积3<%=k%>]"></td>
              <td><input class="input-small" type="text" value="<%= report['检定时间3'+k.to_s]%>" name="report[检定时间3<%=k%>]"></td>
              <td><input class="input-small" type="text" value="<%= report['流量计脉冲3'+k.to_s]%>" name="report[流量计脉冲3<%=k%>]"></td>
              <td><input class="input-small" type="text" value="<%= report['流量计压力3'+k.to_s]%>" name="report[流量计压力3<%=k%>]"></td>
              <td><input class="input-small" type="text" value="<%= report['流量计温度3'+k.to_s]%>" name="report[流量计温度3<%=k%>]"></td>
              <td><input class="input-small" type="text" value="<%= report['喷嘴压力3'+k.to_s]%>" name="report[喷嘴压力3<%=k%>]"></td>
              <td><input class="input-small" type="text" value="<%= report['喷嘴温度3'+k.to_s]%>" name="report[喷嘴温度3<%=k%>]"></td>
              <td><input class="input-small" type="text" value="<%= report['仪表系数3'+k.to_s]%>" name="report[仪表系数3<%=k%>]"></td>
            </tr>
          <% end %>


          

          <tr>
            <td>备注：</td>
            <td colspan="12"><input class="percent-80" value="<%= report['备注']%>" name="report[备注]"></td>
          </tr>

          <tr>
            <td rowspan="3">检定结果<input class="input-small" value="<%= report['检定结果']%>" name="report[检定结果]"></td>
            <td colspan="12">
              仪表系数Km=19924.413 1/m<sup>3</sup> &nbsp;
              &lt;0.2Qmax线性度=2.794 &#37;&nbsp;   
              &lt;0.2Qmax重复性误差=0.052 &#37; &nbsp; 
              &ge;0.2Qmax线性度=0.539 &#37; &nbsp;
              &ge;0.2Qmax重复性误差=0.031 &#37; 
            </td>
          </tr>
          <tr>
            <td colspan="4">检定流量范围：<input type="text" value="<%= report['检定流量范围']%>" name="report[检定流量范围]">m<sup>3</sup>/</td>
            <td colspan="4">
              检定结论：
              <input type="text" value="<%= report['检定结论']%>" name="report[检定结论]">
            </td>
            <td colspan="4">
              检定日期：
              <input type="text" value="<%= report['检定日期']%>" name="report[检定日期]">
            </td>
          </tr>

          <tr>
            <td colspan="4">
              检定员：
              <input type="text" value="<%= report['检定员']%>" name="report[检定员]">
            </td>
            <td colspan="4">
              核验员：
              <input type="text" value="<%= report['核验员']%>" name="report[核验员]">
            </td>
            <td colspan="4">
              检定单位：
              <input type="text" value="<%= report['检定单位']%>" name="report[检定单位]">
            </td>
          </tr>

        </tbody>
      </table>

    </div>

  </div>
  <div class="text-right" >
    <% if can? :calculate, Verification%>
      <% if !@verification.approved? %>
        <%= f.submit "提交", class: "btn btn-success btn-sm" %>
      <% end %>
      <% if report['qualified'] && @verification.approved? %>
        <%= link_to (report['qualified'] ? '查看证书' : '查看通知书'), notice_path(@verification.notice,:format => :pdf), target: '_blank', class: 'btn btn-success btn-sm'%>
      <% end %>
    <% end %>
  </div>
<% end %>