
<% report = @data %>

<%= simple_form_for :report, url: calculate_verification_path, method: :post do |f| %>
  <div class="container">

    <h2 class="table-title">工业用热电阻检定记录</h2>

    <div class="sign-upper">
      <div class="row-h align-right">
        <label>第 1 页</label>
        <label>共 1 页</label>
      </div>
      <div class="row-h">
        <label class="float-left">检定记录编号：<input class="no-border w-150" value="<%= report['检定记录编号']%>" name="report[检定记录编号]"></label>
        <label class="float-right">分度号：<input class="no-border w-150" value="<%= report['分度号']%>" name="report[分度号]"></label>
        <label class="float-right">级别：<input class="no-border w-150" value="<%= report['级别']%>" name="report[级别]">级</label>
      </div>
    </div>

    <div class="table-responsive">
      <table class="table table-bordered align-center thick-border">
        <tr>
          <td colspan="3">标准名称: <input class="no-border w-100" value="<%= report['标准名称']%>" name="report[标准名称]"></td>
          <td colspan="3">编 号: <input class="no-border w-100" value="<%= report['编号']%>" name="report[编号]"></td>
          <td colspan="2">使用设备: <input class="no-border w-100" value="<%= report['使用设备']%>" name="report[使用设备]"></td>
          <td class="w-150">室温: <input class="no-border w-80" value="<%= report['室温']%>" name="report[室温]">&deg;C</td>
          <td class="w-150">RH: <input class="no-border w-80" value="<%= report['rh']%>" name="report[rh]">%</td>
        </tr>      
        <tr>
          <td colspan="3">R<sup>*</sup>(tp): <input class="no-border w-100" value="<%= report['r']%>" name="report[r]"></td>
          <td colspan="3">W<sup>*</sup>(100&deg;C): <input class="no-border w-100" value="<%= report['w']%>" name="report[w]"></td>
          <td colspan="4">检定地点: <input class="no-border w-300" value="<%= report['检定地点']%>" name="report[检定地点]"></td>
        </tr>      



        <tr>
          <td rowspan="2">检定点 (&deg;C)</td>
          <td rowspan="2">分度表值 (&Omega;)</td>
          <td rowspan="2">微分热电阻 (&deg;C)</td>
          <td rowspan="2">标准热电阻证书值 (&Omega;)</td>
          <td class="w-60" rowspan="2">项目</td>
          <td class="w-120">样品编号</td>
          <td class="input-full"><input type="text" value="<%= report['样品编号1']%>" name="report[样品编号1]"></td>
          <td class="input-full"><input type="text" value="<%= report['样品编号2']%>" name="report[样品编号2]"></td>
          <td class="input-full"><input type="text" value="<%= report['样品编号3']%>" name="report[样品编号3]"></td>
          <td class="input-full"><input type="text" value="<%= report['样品编号4']%>" name="report[样品编号4]"></td>
        </tr>    
        <tr>
          <td>标准(&Omega;)</td>
          <td colspan="4">测量值（&Omega;）</td>
        </tr>  

        <tr>
          <td class="input-full" rowspan="5"><input type="text" value="<%= report['检定点11']%>" name="report[检定点11]"></td>
          <td class="input-full" rowspan="5"><input type="text" value="<%= report['分度表值12']%>" name="report[分度表值12]"></td>
          <td class="input-full" rowspan="5"><input type="text" value="<%= report['微分热电阻13']%>" name="report[微分热电阻13]"></td>
          <td class="input-full" rowspan="5"><input type="text" value="<%= report['标准热电阻证书值14']%>" name="report[标准热电阻证书值14]"></td>
          <td class="w-60">1</td>
          <td class="input-full"><input type="text" value="<%= report['标准111']%>" name="report[标准111]"></td>
          <td class="input-full"><input type="text" value="<%= report['测量值111']%>" name="report[测量值111]"></td>
          <td class="input-full"><input type="text" value="<%= report['测量值112']%>" name="report[测量值112]"></td>
          <td class="input-full"><input type="text" value="<%= report['测量值113']%>" name="report[测量值113]"></td>
          <td class="input-full"><input type="text" value="<%= report['测量值114']%>" name="report[测量值114]"></td>
        </tr> 
        <tr>
          <td>2</td>
          <td class="input-full"><input type="text" value="<%= report['标准121']%>" name="report[标准121]"></td>
          <td class="input-full"><input type="text" value="<%= report['测量值121']%>" name="report[测量值121]"></td>
          <td class="input-full"><input type="text" value="<%= report['测量值122']%>" name="report[测量值122]"></td>
          <td class="input-full"><input type="text" value="<%= report['测量值123']%>" name="report[测量值123]"></td>
          <td class="input-full"><input type="text" value="<%= report['测量值124']%>" name="report[测量值124]"></td>
        </tr> 
        <tr>
          <td>3</td>
          <td class="input-full"><input type="text" value="<%= report['标准131']%>" name="report[标准131]"></td>
          <td class="input-full"><input type="text" value="<%= report['测量值131']%>" name="report[测量值131]"></td>
          <td class="input-full"><input type="text" value="<%= report['测量值132']%>" name="report[测量值132]"></td>
          <td class="input-full"><input type="text" value="<%= report['测量值133']%>" name="report[测量值133]"></td>
          <td class="input-full"><input type="text" value="<%= report['测量值134']%>" name="report[测量值134]"></td>
        </tr> 
        <tr>
          <td>4</td>
          <td class="input-full"><input type="text" value="<%= report['标准141']%>" name="report[标准141]"></td>
          <td class="input-full"><input type="text" value="<%= report['测量值141']%>" name="report[测量值141]"></td>
          <td class="input-full"><input type="text" value="<%= report['测量值142']%>" name="report[测量值142]"></td>
          <td class="input-full"><input type="text" value="<%= report['测量值143']%>" name="report[测量值143]"></td>
          <td class="input-full"><input type="text" value="<%= report['测量值144']%>" name="report[测量值144]"></td>
        </tr> 
        <tr>
          <td>5</td>
          <td class="input-full"><input type="text" value="<%= report['标准151']%>" name="report[标准151]"></td>
          <td class="input-full"><input type="text" value="<%= report['测量值151']%>" name="report[测量值151]"></td>
          <td class="input-full"><input type="text" value="<%= report['测量值152']%>" name="report[测量值152]"></td>
          <td class="input-full"><input type="text" value="<%= report['测量值153']%>" name="report[测量值153]"></td>
          <td class="input-full"><input type="text" value="<%= report['测量值154']%>" name="report[测量值154]"></td>
        </tr> 
        <tr>
          <td colspan="2">允差(&deg;)</td>
          <td colspan="2" class="input-full"><input type="text" value="<%= report['允值1']%>" name="report[允值1]"></td>
          <td>6</td>
          <td class="input-full"><input type="text" value="<%= report['标准161']%>" name="report[标准161]"></td>
          <td class="input-full"><input type="text" value="<%= report['测量值161']%>" name="report[测量值161]"></td>
          <td class="input-full"><input type="text" value="<%= report['测量值162']%>" name="report[测量值162]"></td>
          <td class="input-full"><input type="text" value="<%= report['测量值163']%>" name="report[测量值163]"></td>
          <td class="input-full"><input type="text" value="<%= report['测量值164']%>" name="report[测量值164]"></td>
        </tr>
        <tr>
          <td class="input-full" rowspan="5"><input type="text" value="<%= report['检定点21']%>" name="report[检定点21]"></td>
          <td class="input-full" rowspan="5"><input type="text" value="<%= report['分度表值22']%>" name="report[分度表值22]"></td>
          <td class="input-full" rowspan="5"><input type="text" value="<%= report['微分热电阻23']%>" name="report[微分热电阻23]"></td>
          <td class="input-full" rowspan="5"><input type="text" value="<%= report['标准热电阻证书值24']%>" name="report[标准热电阻证书值24]"></td>
          <td class="w-60">1</td>
          <td class="input-full"><input type="text" value="<%= report['标准211']%>" name="report[标准211]"></td>
          <td class="input-full"><input type="text" value="<%= report['测量值211']%>" name="report[测量值211]"></td>
          <td class="input-full"><input type="text" value="<%= report['测量值212']%>" name="report[测量值212]"></td>
          <td class="input-full"><input type="text" value="<%= report['测量值213']%>" name="report[测量值213]"></td>
          <td class="input-full"><input type="text" value="<%= report['测量值214']%>" name="report[测量值214]"></td>
        </tr> 
        <tr>
          <td>2</td>
          <td class="input-full"><input type="text" value="<%= report['标准221']%>" name="report[标准221]"></td>
          <td class="input-full"><input type="text" value="<%= report['测量值221']%>" name="report[测量值221]"></td>
          <td class="input-full"><input type="text" value="<%= report['测量值222']%>" name="report[测量值222]"></td>
          <td class="input-full"><input type="text" value="<%= report['测量值223']%>" name="report[测量值223]"></td>
          <td class="input-full"><input type="text" value="<%= report['测量值224']%>" name="report[测量值224]"></td>
        </tr> 
        <tr>
          <td>3</td>
          <td class="input-full"><input type="text" value="<%= report['标准231']%>" name="report[标准231]"></td>
          <td class="input-full"><input type="text" value="<%= report['测量值231']%>" name="report[测量值231]"></td>
          <td class="input-full"><input type="text" value="<%= report['测量值232']%>" name="report[测量值232]"></td>
          <td class="input-full"><input type="text" value="<%= report['测量值233']%>" name="report[测量值233]"></td>
          <td class="input-full"><input type="text" value="<%= report['测量值234']%>" name="report[测量值234]"></td>
        </tr> 
        <tr>
          <td>4</td>
          <td class="input-full"><input type="text" value="<%= report['标准241']%>" name="report[标准241]"></td>
          <td class="input-full"><input type="text" value="<%= report['测量值241']%>" name="report[测量值241]"></td>
          <td class="input-full"><input type="text" value="<%= report['测量值242']%>" name="report[测量值242]"></td>
          <td class="input-full"><input type="text" value="<%= report['测量值243']%>" name="report[测量值243]"></td>
          <td class="input-full"><input type="text" value="<%= report['测量值244']%>" name="report[测量值244]"></td>
        </tr> 
        <tr>
          <td>5</td>
          <td class="input-full"><input type="text" value="<%= report['标准251']%>" name="report[标准251]"></td>
          <td class="input-full"><input type="text" value="<%= report['测量值251']%>" name="report[测量值251]"></td>
          <td class="input-full"><input type="text" value="<%= report['测量值252']%>" name="report[测量值252]"></td>
          <td class="input-full"><input type="text" value="<%= report['测量值253']%>" name="report[测量值253]"></td>
          <td class="input-full"><input type="text" value="<%= report['测量值254']%>" name="report[测量值254]"></td>
        </tr> 
        <tr>
          <td colspan="2">允差(&deg;)</td>
          <td colspan="2" class="input-full"><input type="text" value="<%= report['允值2']%>" name="report[允值2]"></td>
          <td>6</td>
          <td class="input-full"><input type="text" value="<%= report['标准261']%>" name="report[标准261]"></td>
          <td class="input-full"><input type="text" value="<%= report['测量值261']%>" name="report[测量值261]"></td>
          <td class="input-full"><input type="text" value="<%= report['测量值262']%>" name="report[测量值262]"></td>
          <td class="input-full"><input type="text" value="<%= report['测量值263']%>" name="report[测量值263]"></td>
          <td class="input-full"><input type="text" value="<%= report['测量值264']%>" name="report[测量值264]"></td>
        </tr>
        <tr>
          <td class="input-full" rowspan="5"><input type="text" value="<%= report['检定点31']%>" name="report[检定点31]"></td>
          <td class="input-full" rowspan="5"><input type="text" value="<%= report['分度表值32']%>" name="report[分度表值32]"></td>
          <td class="input-full" rowspan="5"><input type="text" value="<%= report['微分热电阻33']%>" name="report[微分热电阻33]"></td>
          <td class="input-full" rowspan="5"><input type="text" value="<%= report['标准热电阻证书值34']%>" name="report[标准热电阻证书值34]"></td>
          <td class="w-60">1</td>
          <td class="input-full"><input type="text" value="<%= report['标准311']%>" name="report[标准311]"></td>
          <td class="input-full"><input type="text" value="<%= report['测量值311']%>" name="report[测量值311]"></td>
          <td class="input-full"><input type="text" value="<%= report['测量值312']%>" name="report[测量值312]"></td>
          <td class="input-full"><input type="text" value="<%= report['测量值313']%>" name="report[测量值313]"></td>
          <td class="input-full"><input type="text" value="<%= report['测量值314']%>" name="report[测量值314]"></td>
        </tr> 
        <tr>
          <td>2</td>
          <td class="input-full"><input type="text" value="<%= report['标准321']%>" name="report[标准321]"></td>
          <td class="input-full"><input type="text" value="<%= report['测量值321']%>" name="report[测量值321]"></td>
          <td class="input-full"><input type="text" value="<%= report['测量值322']%>" name="report[测量值322]"></td>
          <td class="input-full"><input type="text" value="<%= report['测量值323']%>" name="report[测量值323]"></td>
          <td class="input-full"><input type="text" value="<%= report['测量值324']%>" name="report[测量值324]"></td>
        </tr> 
        <tr>
          <td>3</td>
          <td class="input-full"><input type="text" value="<%= report['标准331']%>" name="report[标准331]"></td>
          <td class="input-full"><input type="text" value="<%= report['测量值331']%>" name="report[测量值331]"></td>
          <td class="input-full"><input type="text" value="<%= report['测量值332']%>" name="report[测量值332]"></td>
          <td class="input-full"><input type="text" value="<%= report['测量值333']%>" name="report[测量值333]"></td>
          <td class="input-full"><input type="text" value="<%= report['测量值334']%>" name="report[测量值334]"></td>
        </tr> 
        <tr>
          <td>4</td>
          <td class="input-full"><input type="text" value="<%= report['标准341']%>" name="report[标准341]"></td>
          <td class="input-full"><input type="text" value="<%= report['测量值341']%>" name="report[测量值341]"></td>
          <td class="input-full"><input type="text" value="<%= report['测量值342']%>" name="report[测量值342]"></td>
          <td class="input-full"><input type="text" value="<%= report['测量值343']%>" name="report[测量值343]"></td>
          <td class="input-full"><input type="text" value="<%= report['测量值344']%>" name="report[测量值344]"></td>
        </tr> 
        <tr>
          <td>5</td>
          <td class="input-full"><input type="text" value="<%= report['标准351']%>" name="report[标准351]"></td>
          <td class="input-full"><input type="text" value="<%= report['测量值351']%>" name="report[测量值351]"></td>
          <td class="input-full"><input type="text" value="<%= report['测量值352']%>" name="report[测量值352]"></td>
          <td class="input-full"><input type="text" value="<%= report['测量值353']%>" name="report[测量值353]"></td>
          <td class="input-full"><input type="text" value="<%= report['测量值354']%>" name="report[测量值354]"></td>
        </tr> 
        <tr>
          <td colspan="2">允差(&deg;)</td>
          <td colspan="2" class="input-full"><input type="text" value="<%= report['允值3']%>" name="report[允值3]"></td>
          <td>6</td>
          <td class="input-full"><input type="text" value="<%= report['标准361']%>" name="report[标准361]"></td>
          <td class="input-full"><input type="text" value="<%= report['测量值361']%>" name="report[测量值361]"></td>
          <td class="input-full"><input type="text" value="<%= report['测量值362']%>" name="report[测量值362]"></td>
          <td class="input-full"><input type="text" value="<%= report['测量值363']%>" name="report[测量值363]"></td>
          <td class="input-full"><input type="text" value="<%= report['测量值364']%>" name="report[测量值364]"></td>
        </tr>

        <tr>
          <td rowspan="3" colspan="3">平均值(&Omega;)</td>
          <td colspan="2"><input class="no-border w-130" value="<%= report['平均值1']%>" name="report[平均值1]">(&deg;C)</td>
          <td class="input-full"><input type="text" value="<%= report['标准平均值11']%>" name="report[标准平均值11]"></td>
          <td class="input-full"><input type="text" value="<%= report['测量平均值11']%>" name="report[测量平均值11]"></td>
          <td class="input-full"><input type="text" value="<%= report['测量平均值12']%>" name="report[测量平均值12]"></td>
          <td class="input-full"><input type="text" value="<%= report['测量平均值13']%>" name="report[测量平均值13]"></td>
          <td class="input-full"><input type="text" value="<%= report['测量平均值14']%>" name="report[测量平均值14]"></td>
        </tr>
        <tr>
          <td colspan="2"><input class="no-border w-130" value="<%= report['平均值2']%>" name="report[平均值2]">(&deg;C)</td>
          <td class="input-full"><input type="text" value="<%= report['标准平均值21']%>" name="report[标准平均值21]"></td>
          <td class="input-full"><input type="text" value="<%= report['测量平均值21']%>" name="report[测量平均值21]"></td>
          <td class="input-full"><input type="text" value="<%= report['测量平均值22']%>" name="report[测量平均值22]"></td>
          <td class="input-full"><input type="text" value="<%= report['测量平均值23']%>" name="report[测量平均值23]"></td>
          <td class="input-full"><input type="text" value="<%= report['测量平均值24']%>" name="report[测量平均值24]"></td>
        </tr>
        <tr>
          <td colspan="2"><input class="no-border w-130" value="<%= report['平均值3']%>" name="report[平均值3]">(&deg;C)</td>
          <td class="input-full"><input type="text" value="<%= report['标准平均值31']%>" name="report[标准平均值31]"></td>
          <td class="input-full"><input type="text" value="<%= report['测量平均值31']%>" name="report[测量平均值31]"></td>
          <td class="input-full"><input type="text" value="<%= report['测量平均值32']%>" name="report[测量平均值32]"></td>
          <td class="input-full"><input type="text" value="<%= report['测量平均值33']%>" name="report[测量平均值33]"></td>
          <td class="input-full"><input type="text" value="<%= report['测量平均值34']%>" name="report[测量平均值34]"></td>
        </tr>
        <tr>
          <td rowspan="3" colspan="3">温偏(&deg;C)</td>
          <td colspan="3"><input class="no-border w-130" value="<%= report['温偏1']%>" name="report[温偏1]">(&deg;C)</td>
          <td class="input-full"><input type="text" value="<%= report['温偏测量值11']%>" name="report[温偏测量值11]"></td>
          <td class="input-full"><input type="text" value="<%= report['温偏测量值12']%>" name="report[温偏测量值12]"></td>
          <td class="input-full"><input type="text" value="<%= report['温偏测量值13']%>" name="report[温偏测量值13]"></td>
          <td class="input-full"><input type="text" value="<%= report['温偏测量值14']%>" name="report[温偏测量值14]"></td>
        </tr>
        <tr>
          <td colspan="3"><input class="no-border w-130" value="<%= report['温偏2']%>" name="report[温偏2]">(&deg;C)</td>
          <td class="input-full"><input type="text" value="<%= report['温偏测量值21']%>" name="report[温偏测量值21]"></td>
          <td class="input-full"><input type="text" value="<%= report['温偏测量值22']%>" name="report[温偏测量值22]"></td>
          <td class="input-full"><input type="text" value="<%= report['温偏测量值23']%>" name="report[温偏测量值23]"></td>
          <td class="input-full"><input type="text" value="<%= report['温偏测量值24']%>" name="report[温偏测量值24]"></td>
        </tr>
        <tr>
          <td colspan="3"><input class="no-border w-130" value="<%= report['温偏3']%>" name="report[温偏3]">(&deg;C)</td>
          <td class="input-full"><input type="text" value="<%= report['温偏测量值31']%>" name="report[温偏测量值31]"></td>
          <td class="input-full"><input type="text" value="<%= report['温偏测量值32']%>" name="report[温偏测量值32]"></td>
          <td class="input-full"><input type="text" value="<%= report['温偏测量值33']%>" name="report[温偏测量值33]"></td>
          <td class="input-full"><input type="text" value="<%= report['温偏测量值34']%>" name="report[温偏测量值34]"></td>
        </tr>

        <tr>
          <td colspan="6">R(&Omega;)</td>
          <td class="input-full"><input type="text" value="<%= report['r1测量值1']%>" name="report[r1测量值1]"></td>
          <td class="input-full"><input type="text" value="<%= report['r1测量值2']%>" name="report[r1测量值2]"></td>
          <td class="input-full"><input type="text" value="<%= report['r1测量值3']%>" name="report[r1测量值3]"></td>
          <td class="input-full"><input type="text" value="<%= report['r1测量值4']%>" name="report[r1测量值4]"></td>
        </tr>
        <tr>
          <td colspan="6">R(&Omega;)</td>
          <td class="input-full"><input type="text" value="<%= report['r2测量值1']%>" name="report[r2测量值1]"></td>
          <td class="input-full"><input type="text" value="<%= report['r2测量值2']%>" name="report[r2测量值2]"></td>
          <td class="input-full"><input type="text" value="<%= report['r2测量值3']%>" name="report[r2测量值3]"></td>
          <td class="input-full"><input type="text" value="<%= report['r2测量值4']%>" name="report[r2测量值4]"></td>
        </tr>
        <tr>
          <td colspan="6">R(&Omega;)</td>
          <td class="input-full"><input type="text" value="<%= report['r3测量值1']%>" name="report[r3测量值1]"></td>
          <td class="input-full"><input type="text" value="<%= report['r3测量值2']%>" name="report[r3测量值2]"></td>
          <td class="input-full"><input type="text" value="<%= report['r3测量值3']%>" name="report[r3测量值3]"></td>
          <td class="input-full"><input type="text" value="<%= report['r3测量值4']%>" name="report[r3测量值4]"></td>
        </tr>
        <tr>
          <td colspan="6">&alpha;</td>
          <td class="input-full"><input type="text" value="<%= report['alpha测量值1']%>" name="report[alpha测量值1]"></td>
          <td class="input-full"><input type="text" value="<%= report['alpha测量值2']%>" name="report[alpha测量值2]"></td>
          <td class="input-full"><input type="text" value="<%= report['alpha测量值3']%>" name="report[alpha测量值3]"></td>
          <td class="input-full"><input type="text" value="<%= report['alpha测量值4']%>" name="report[alpha测量值4]"></td>
        </tr>
        <tr>
          <td colspan="6">&Delta;&alpha;</td>
          <td class="input-full"><input type="text" value="<%= report['delta测量值1']%>" name="report[delta测量值1]"></td>
          <td class="input-full"><input type="text" value="<%= report['delta测量值2']%>" name="report[delta测量值2]"></td>
          <td class="input-full"><input type="text" value="<%= report['delta测量值3']%>" name="report[delta测量值3]"></td>
          <td class="input-full"><input type="text" value="<%= report['delta测量值4']%>" name="report[delta测量值4]"></td>
        </tr>
        <tr>
          <td colspan="6">绝缘电阻(&Omega;)</td>
          <td class="input-full"><input type="text" value="<%= report['绝缘电阻测量值1']%>" name="report[绝缘电阻测量值1]"></td>
          <td class="input-full"><input type="text" value="<%= report['绝缘电阻测量值2']%>" name="report[绝缘电阻测量值2]"></td>
          <td class="input-full"><input type="text" value="<%= report['绝缘电阻测量值3']%>" name="report[绝缘电阻测量值3]"></td>
          <td class="input-full"><input type="text" value="<%= report['绝缘电阻测量值4']%>" name="report[绝缘电阻测量值4]"></td>
        </tr>
        <tr>
          <td colspan="6">稳定度检查</td>
          <td class="input-full"><input type="text" value="<%= report['稳定度检查测量值1']%>" name="report[稳定度检查测量值1]"></td>
          <td class="input-full"><input type="text" value="<%= report['稳定度检查测量值2']%>" name="report[稳定度检查测量值2]"></td>
          <td class="input-full"><input type="text" value="<%= report['稳定度检查测量值3']%>" name="report[稳定度检查测量值3]"></td>
          <td class="input-full"><input type="text" value="<%= report['稳定度检查测量值4']%>" name="report[稳定度检查测量值4]"></td>
        </tr>
        <tr>
          <td colspan="6">送检单位</td>
          <td class="input-full"><input type="text" value="<%= report['送检单位1']%>" name="report[送检单位1]"></td>
          <td class="input-full"><input type="text" value="<%= report['送检单位2']%>" name="report[送检单位2]"></td>
          <td class="input-full"><input type="text" value="<%= report['送检单位3']%>" name="report[送检单位3]"></td>
          <td class="input-full"><input type="text" value="<%= report['送检单位4']%>" name="report[送检单位4]"></td>
        </tr>
        <tr>
          <td colspan="6">制造厂家</td>
          <td class="input-full"><input type="text" value="<%= report['制造厂家1']%>" name="report[制造厂家1]"></td>
          <td class="input-full"><input type="text" value="<%= report['制造厂家2']%>" name="report[制造厂家2]"></td>
          <td class="input-full"><input type="text" value="<%= report['制造厂家3']%>" name="report[制造厂家3]"></td>
          <td class="input-full"><input type="text" value="<%= report['制造厂家4']%>" name="report[制造厂家4]"></td>
        </tr>
        <tr class="thick-bottom">
          <td colspan="6">型号规格</td>
          <td class="input-full"><input type="text" value="<%= report['型号规格1']%>" name="report[型号规格1]"></td>
          <td class="input-full"><input type="text" value="<%= report['型号规格2']%>" name="report[型号规格2]"></td>
          <td class="input-full"><input type="text" value="<%= report['型号规格3']%>" name="report[型号规格3]"></td>
          <td class="input-full"><input type="text" value="<%= report['型号规格4']%>" name="report[型号规格4]"></td>
        </tr>

        <tr>
          <td class="bold" colspan="6">检定结果</td>
          <td class="input-full"><input type="text" value="<%= report['检定结果1']%>" name="report[检定结果1]"></td>
          <td class="input-full"><input type="text" value="<%= report['检定结果2']%>" name="report[检定结果2]"></td>
          <td class="input-full"><input type="text" value="<%= report['检定结果3']%>" name="report[检定结果3]"></td>
          <td class="input-full"><input type="text" value="<%= report['检定结果4']%>" name="report[检定结果4]"></td>
        </tr>
        <tr>
          <td class="bold" colspan="6">发给 证书编号</td>
          <td class="input-full"><input type="text" value="<%= report['发给证书编号1']%>" name="report[发给证书编号1]"></td>
          <td class="input-full"><input type="text" value="<%= report['发给证书编号2']%>" name="report[发给证书编号2]"></td>
          <td class="input-full"><input type="text" value="<%= report['发给证书编号3']%>" name="report[发给证书编号3]"></td>
          <td class="input-full"><input type="text" value="<%= report['发给证书编号4']%>" name="report[发给证书编号4]"></td>
        </tr>

      </table>
    </div>

    <div class="sign-footer">      
      <label>检定员:</label>
      <input class="no-border w-180" value="<%= report['检定员']%>" name="report[检定员]"> 
      <label>日期:</label>
      <input class="no-border w-180" value="<%= report['检定日期']%>" name="report[检定日期]"> 
      <label>复核员:</label>
      <input class="no-border w-180" value="<%= report['复核员']%>" name="report[复核员]"> 
      <label>日期:</label>
      <input class="no-border w-180" value="<%= report['复核日期']%>" name="report[复核日期]">
    </div>
  </div>

  <div class="text-right" >
    <% if can? :calculate, Verification%>
      <% if !@verification.approved? %>
        <%= f.submit "提交", class: "btn btn-success btn-sm" %>
      <% end %>
      <% if report['qualified'] && @verification.approved? %>
        <%= link_to (report['qualified'] ? '查看证书' : '查看通知书'), notice_path(@verification.notice,:format => :pdf), target: '_blank', class: 'btn btn-success btn-sm'%>
      <% end %>
    <% end %>
  </div>
<% end %>
