

<% report = @data %>

<%= simple_form_for :report, url: calculate_verification_path, method: :post do |f| %>
  <div class="container">
    <% 2.times do |k| %>
      <% k = k+1 %>
      <h2 class="table-title">工业用玻璃液体温度计检定记录</h2>

      <div class="sign-upper">
        <div class="row-h align-right">
          <label>第 <%=k%> 页</label>
          <label>共 2 页</label>
        </div>
        <div class="row-h">
          <label class="float-left">检定记录编号：<input class="no-border w-150" value="<%= report['检定记录编号'+k.to_s]%>" name="report[检定记录编号]"></label>
        </div>
      </div>

      <div class="table-responsive">
        <table class="table table-bordered align-center thick-border">

          <tr class="thick-bottom">
            <td colspan="10">
              铂电阻温度计等级:<input class="border-bottom w-200" value="<%= report['铂电阻温度计等级'+k.to_s]%>" name="report[铂电阻温度计等级<%=k%>]">
              &nbsp;编号:<input class="border-bottom w-80" value="<%= report['编号'+k.to_s]%>" name="report[编号<%=k%>]">
              &nbsp;测量装置编号:<input class="border-bottom w-150" value="<%= report['测量装置编号'+k.to_s]%>" name="report[测量装置编号<%=k%>]">
              &nbsp;室温:<input class="border-bottom w-80" value="<%= report['室温'+k.to_s]%>" name="report[室温<%=k%>]">&deg;C
              &nbsp;RH:<input class="border-bottom w-80" value="<%= report['rh'+k.to_s]%>" name="report[rh<%=k%>]">%
            </td>     
          </tr>
          <tr class="thick-bottom">
            <td colspan="10">
              被检温度计： 
              &nbsp;分度值:<input class="border-bottom w-150" value="<%= report['分度值'+k.to_s]%>" name="report[分度值<%=k%>]">
              &nbsp;温度范围:<input class="border-bottom w-150" value="<%= report['温度范围'+k.to_s]%>" name="report[温度范围<%=k%>]">
              &nbsp;允许值:<input class="border-bottom w-150" value="<%= report['允许值'+k.to_s]%>" name="report[允许值<%=k%>]">
              <br>
              <br>
              &nbsp;露出液柱温度:<input class="border-bottom w-150" value="<%= report['露出液柱温度'+k.to_s]%>" name="report[露出液柱温度<%=k%>]">
              &nbsp;浸没方式:<input class="border-bottom w-150" value="<%= report['浸没方式'+k.to_s]%>" name="report[浸没方式<%=k%>]">
              &nbsp;检定方式:<input class="border-bottom w-150" value="<%= report['检定方式'+k.to_s]%>" name="report[检定方式<%=k%>]">            
            </td>     
          </tr>

          <tr>
            <td colspan="2" rowspan="5">检定点(&deg;C)</td>
            <td class="w-80" rowspan="5">次数</td>
            <td class="w-150">温度计编号</td>
            <td class="input-full"><input type="text" value="<%= report['温度计编号1'+k.to_s]%>" name="report[温度计编号1<%=k%>]"></td>
            <td class="input-full"><input type="text" value="<%= report['温度计编号2'+k.to_s]%>" name="report[温度计编号2<%=k%>]"></td>
            <td class="input-full"><input type="text" value="<%= report['温度计编号3'+k.to_s]%>" name="report[温度计编号3<%=k%>]"></td>
            <td class="input-full"><input type="text" value="<%= report['温度计编号4'+k.to_s]%>" name="report[温度计编号4<%=k%>]"></td>
            <td class="input-full"><input type="text" value="<%= report['温度计编号5'+k.to_s]%>" name="report[温度计编号5<%=k%>]"></td>
            <td class="input-full"><input type="text" value="<%= report['温度计编号6'+k.to_s]%>" name="report[温度计编号6<%=k%>]"></td>
          </tr>
          <tr>
            <td class="bold">检定结果</td>
            <td class="input-full"><input type="text" value="<%= report['检定结果1'+k.to_s]%>" name="report[检定结果1<%=k%>]"></td>
            <td class="input-full"><input type="text" value="<%= report['检定结果2'+k.to_s]%>" name="report[检定结果2<%=k%>]"></td>
            <td class="input-full"><input type="text" value="<%= report['检定结果3'+k.to_s]%>" name="report[检定结果3<%=k%>]"></td>
            <td class="input-full"><input type="text" value="<%= report['检定结果4'+k.to_s]%>" name="report[检定结果4<%=k%>]"></td>
            <td class="input-full"><input type="text" value="<%= report['检定结果5'+k.to_s]%>" name="report[检定结果5<%=k%>]"></td>
            <td class="input-full"><input type="text" value="<%= report['检定结果6'+k.to_s]%>" name="report[检定结果6<%=k%>]"></td>
          </tr>
          <tr>
            <td class="bold">发给证书编号</td>
            <td class="input-full"><input type="text" value="<%= report['发给证书编号1'+k.to_s]%>" name="report[发给证书编号1<%=k%>]"></td>
            <td class="input-full"><input type="text" value="<%= report['发给证书编号2'+k.to_s]%>" name="report[发给证书编号2<%=k%>]"></td>
            <td class="input-full"><input type="text" value="<%= report['发给证书编号3'+k.to_s]%>" name="report[发给证书编号3<%=k%>]"></td>
            <td class="input-full"><input type="text" value="<%= report['发给证书编号4'+k.to_s]%>" name="report[发给证书编号4<%=k%>]"></td>
            <td class="input-full"><input type="text" value="<%= report['发给证书编号5'+k.to_s]%>" name="report[发给证书编号5<%=k%>]"></td>
            <td class="input-full"><input type="text" value="<%= report['发给证书编号6'+k.to_s]%>" name="report[发给证书编号6<%=k%>]"></td>
          </tr>
          <tr>
            <td>送检单位</td>
            <td class="input-full"><input type="text" value="<%= report['送检单位1'+k.to_s]%>" name="report[送检单位1<%=k%>]"></td>
            <td class="input-full"><input type="text" value="<%= report['送检单位2'+k.to_s]%>" name="report[送检单位2<%=k%>]"></td>
            <td class="input-full"><input type="text" value="<%= report['送检单位3'+k.to_s]%>" name="report[送检单位3<%=k%>]"></td>
            <td class="input-full"><input type="text" value="<%= report['送检单位4'+k.to_s]%>" name="report[送检单位4<%=k%>]"></td>
            <td class="input-full"><input type="text" value="<%= report['送检单位5'+k.to_s]%>" name="report[送检单位5<%=k%>]"></td>
            <td class="input-full"><input type="text" value="<%= report['送检单位6'+k.to_s]%>" name="report[送检单位6<%=k%>]"></td>
          </tr>
          <tr>
            <td>标准值（&Omega;）</td>
            <td colspan="6">测量值(&deg;C)</td>
          </tr>

          <% 3.times do |j| %>
            <% j = j+1 %>
            <tr>
              <td class="input-full" colspan="2" rowspan="6"><input type="text" value="<%= report['检定点'+j.to_s+k.to_s]%>" name="report[检定点<%=j%><%=k%>]"></td>
              <td>1</td>
              <td class="input-full"><input type="text" value="<%= report['标准值11'+j.to_s+k.to_s]%>" name="report[标准值11<%=j%><%=k%>]"></td>
              <td class="input-full"><input type="text" value="<%= report['测量值11'+j.to_s+k.to_s]%>" name="report[测量值11<%=j%><%=k%>]"></td>
              <td class="input-full"><input type="text" value="<%= report['测量值12'+j.to_s+k.to_s]%>" name="report[测量值12<%=j%><%=k%>]"></td>
              <td class="input-full"><input type="text" value="<%= report['测量值13'+j.to_s+k.to_s]%>" name="report[测量值13<%=j%><%=k%>]"></td>
              <td class="input-full"><input type="text" value="<%= report['测量值14'+j.to_s+k.to_s]%>" name="report[测量值14<%=j%><%=k%>]"></td>
              <td class="input-full"><input type="text" value="<%= report['测量值15'+j.to_s+k.to_s]%>" name="report[测量值15<%=j%><%=k%>]"></td>
              <td class="input-full"><input type="text" value="<%= report['测量值16'+j.to_s+k.to_s]%>" name="report[测量值16<%=j%><%=k%>]"></td>
            </tr>
            <tr>
              <td>2</td>
              <td class="input-full"><input type="text" value="<%= report['标准值21'+j.to_s+k.to_s]%>" name="report[标准值21<%=j%><%=k%>]"></td>
              <td class="input-full"><input type="text" value="<%= report['测量值21'+j.to_s+k.to_s]%>" name="report[测量值21<%=j%><%=k%>]"></td>
              <td class="input-full"><input type="text" value="<%= report['测量值22'+j.to_s+k.to_s]%>" name="report[测量值22<%=j%><%=k%>]"></td>
              <td class="input-full"><input type="text" value="<%= report['测量值23'+j.to_s+k.to_s]%>" name="report[测量值23<%=j%><%=k%>]"></td>
              <td class="input-full"><input type="text" value="<%= report['测量值24'+j.to_s+k.to_s]%>" name="report[测量值24<%=j%><%=k%>]"></td>
              <td class="input-full"><input type="text" value="<%= report['测量值25'+j.to_s+k.to_s]%>" name="report[测量值25<%=j%><%=k%>]"></td>
              <td class="input-full"><input type="text" value="<%= report['测量值26'+j.to_s+k.to_s]%>" name="report[测量值26<%=j%><%=k%>]"></td>
            </tr>
            <tr>
              <td>3</td>
              <td class="input-full"><input type="text" value="<%= report['标准值31'+j.to_s+k.to_s]%>" name="report[标准值31<%=j%><%=k%>]"></td>
              <td class="input-full"><input type="text" value="<%= report['测量值31'+j.to_s+k.to_s]%>" name="report[测量值31<%=j%><%=k%>]"></td>
              <td class="input-full"><input type="text" value="<%= report['测量值32'+j.to_s+k.to_s]%>" name="report[测量值32<%=j%><%=k%>]"></td>
              <td class="input-full"><input type="text" value="<%= report['测量值33'+j.to_s+k.to_s]%>" name="report[测量值33<%=j%><%=k%>]"></td>
              <td class="input-full"><input type="text" value="<%= report['测量值34'+j.to_s+k.to_s]%>" name="report[测量值34<%=j%><%=k%>]"></td>
              <td class="input-full"><input type="text" value="<%= report['测量值35'+j.to_s+k.to_s]%>" name="report[测量值35<%=j%><%=k%>]"></td>
              <td class="input-full"><input type="text" value="<%= report['测量值36'+j.to_s+k.to_s]%>" name="report[测量值36<%=j%><%=k%>]"></td>
            </tr>
            <tr>
              <td>4</td>
              <td class="input-full"><input type="text" value="<%= report['标准值41'+j.to_s+k.to_s]%>" name="report[标准值41<%=j%><%=k%>]"></td>
              <td class="input-full"><input type="text" value="<%= report['测量值41'+j.to_s+k.to_s]%>" name="report[测量值41<%=j%><%=k%>]"></td>
              <td class="input-full"><input type="text" value="<%= report['测量值42'+j.to_s+k.to_s]%>" name="report[测量值42<%=j%><%=k%>]"></td>
              <td class="input-full"><input type="text" value="<%= report['测量值43'+j.to_s+k.to_s]%>" name="report[测量值43<%=j%><%=k%>]"></td>
              <td class="input-full"><input type="text" value="<%= report['测量值44'+j.to_s+k.to_s]%>" name="report[测量值44<%=j%><%=k%>]"></td>
              <td class="input-full"><input type="text" value="<%= report['测量值45'+j.to_s+k.to_s]%>" name="report[测量值45<%=j%><%=k%>]"></td>
              <td class="input-full"><input type="text" value="<%= report['测量值46'+j.to_s+k.to_s]%>" name="report[测量值46<%=j%><%=k%>]"></td>
            </tr>
            <tr>
              <td>5</td>
              <td class="input-full"><input type="text" value="<%= report['标准值51'+j.to_s+k.to_s]%>" name="report[标准值51<%=j%><%=k%>]"></td>
              <td class="input-full"><input type="text" value="<%= report['测量值51'+j.to_s+k.to_s]%>" name="report[测量值51<%=j%><%=k%>]"></td>
              <td class="input-full"><input type="text" value="<%= report['测量值52'+j.to_s+k.to_s]%>" name="report[测量值52<%=j%><%=k%>]"></td>
              <td class="input-full"><input type="text" value="<%= report['测量值53'+j.to_s+k.to_s]%>" name="report[测量值53<%=j%><%=k%>]"></td>
              <td class="input-full"><input type="text" value="<%= report['测量值54'+j.to_s+k.to_s]%>" name="report[测量值54<%=j%><%=k%>]"></td>
              <td class="input-full"><input type="text" value="<%= report['测量值55'+j.to_s+k.to_s]%>" name="report[测量值55<%=j%><%=k%>]"></td>
              <td class="input-full"><input type="text" value="<%= report['测量值56'+j.to_s+k.to_s]%>" name="report[测量值56<%=j%><%=k%>]"></td>
            </tr>
            <tr>
              <td>6</td>
              <td class="input-full"><input type="text" value="<%= report['标准值61'+j.to_s+k.to_s]%>" name="report[标准值61<%=j%><%=k%>]"></td>
              <td class="input-full"><input type="text" value="<%= report['测量值61'+j.to_s+k.to_s]%>" name="report[测量值61<%=j%><%=k%>]"></td>
              <td class="input-full"><input type="text" value="<%= report['测量值62'+j.to_s+k.to_s]%>" name="report[测量值62<%=j%><%=k%>]"></td>
              <td class="input-full"><input type="text" value="<%= report['测量值63'+j.to_s+k.to_s]%>" name="report[测量值63<%=j%><%=k%>]"></td>
              <td class="input-full"><input type="text" value="<%= report['测量值64'+j.to_s+k.to_s]%>" name="report[测量值64<%=j%><%=k%>]"></td>
              <td class="input-full"><input type="text" value="<%= report['测量值65'+j.to_s+k.to_s]%>" name="report[测量值65<%=j%><%=k%>]"></td>
              <td class="input-full"><input type="text" value="<%= report['测量值66'+j.to_s+k.to_s]%>" name="report[测量值66<%=j%><%=k%>]"></td>
            </tr>

            <tr>
              <td rowspan="3">裸露端温度(&deg;C)</td>
              <td rowspan="3" class="w-70 input-full"><input type="text" value="<%= report['裸露端温度'+j.to_s+k.to_s]%>" name="report[裸露端温度<%=j%><%=k%>]"></td>
              <td>平均值</td>
              <td class="input-full"><input type="text" value="<%= report['平均值1'+j.to_s+k.to_s]%>" name="report[平均值1<%=j%><%=k%>]"></td>
              <td class="input-full"><input type="text" value="<%= report['平均值2'+j.to_s+k.to_s]%>" name="report[平均值2<%=j%><%=k%>]"></td>
              <td class="input-full"><input type="text" value="<%= report['平均值3'+j.to_s+k.to_s]%>" name="report[平均值3<%=j%><%=k%>]"></td>
              <td class="input-full"><input type="text" value="<%= report['平均值4'+j.to_s+k.to_s]%>" name="report[平均值4<%=j%><%=k%>]"></td>
              <td class="input-full"><input type="text" value="<%= report['平均值5'+j.to_s+k.to_s]%>" name="report[平均值5<%=j%><%=k%>]"></td>
              <td class="input-full"><input type="text" value="<%= report['平均值6'+j.to_s+k.to_s]%>" name="report[平均值6<%=j%><%=k%>]"></td>
              <td class="input-full"><input type="text" value="<%= report['平均值7'+j.to_s+k.to_s]%>" name="report[平均值7<%=j%><%=k%>]"></td>
            </tr>
            <tr>
              <td>修正值</td>
              <td class="input-full"><input type="text" value="<%= report['修正值1'+j.to_s+k.to_s]%>" name="report[修正值1<%=j%><%=k%>]"></td>
              <td class="input-full"><input type="text" value="<%= report['修正值2'+j.to_s+k.to_s]%>" name="report[修正值2<%=j%><%=k%>]"></td>
              <td class="input-full"><input type="text" value="<%= report['修正值3'+j.to_s+k.to_s]%>" name="report[修正值3<%=j%><%=k%>]"></td>
              <td class="input-full"><input type="text" value="<%= report['修正值4'+j.to_s+k.to_s]%>" name="report[修正值4<%=j%><%=k%>]"></td>
              <td class="input-full"><input type="text" value="<%= report['修正值5'+j.to_s+k.to_s]%>" name="report[修正值5<%=j%><%=k%>]"></td>
              <td class="input-full"><input type="text" value="<%= report['修正值6'+j.to_s+k.to_s]%>" name="report[修正值6<%=j%><%=k%>]"></td>
              <td class="input-full"><input type="text" value="<%= report['修正值7'+j.to_s+k.to_s]%>" name="report[修正值7<%=j%><%=k%>]"></td>
            </tr>
            <tr class="thick-bottom">
              <td colspan="3">W(t)=R(t)/Rtp=<input class="w-70 no-border" type="text" value="<%= report['rtp'+j.to_s+k.to_s]%>" name="report[rtp<%=j%><%=k%>]"></td>
              <td colspan="5">&Delta;t<sub>s</sub>=[W(t)-W(t<sub>n</sub>)]/(dW/dt)t<sub>n</sub>=<input class="w-70 no-border" type="text" value="<%= report['wt'+j.to_s+k.to_s]%>" name="report[wt<%=j%><%=k%>]"></td>
            </tr>
          <% end %>
        </table>
      </div>



      <div class="sign-footer">      
        <label>检定员:</label>
        <input class="border-bottom w-200" value="<%= report['检定员'+k.to_s]%>" name="report[检定员<%=k%>]"> 
        <label>日期:</label>
        <input class="border-bottom w-200" value="<%= report['检定日期'+k.to_s]%>" name="report[检定日期<%=k%>]"> 
        <label>复核员:</label>
        <input class="border-bottom w-200" value="<%= report['复核员'+k.to_s]%>" name="report[复核员<%=k%>]"> 
        <label>日期:</label>
        <input class="border-bottom w-200" value="<%= report['复核日期'+k.to_s]%>" name="report[复核日期<%=k%>]"> 
      </div>

    <% end %>

        
  </div>

  <div class="text-right" >
    <% if can? :calculate, Verification%>
      <% if !@verification.approved? %>
        <%= f.submit "提交", class: "btn btn-success btn-sm" %>
      <% end %>
      <% if report['qualified'] && @verification.approved? %>
        <%= link_to (report['qualified'] ? '查看证书' : '查看通知书'), notice_path(@verification.notice,:format => :pdf), target: '_blank', class: 'btn btn-success btn-sm'%>
      <% end %>
    <% end %>
  </div>
<% end %>
