<% report = @data %>

<div class="container">

  <h2 class="table-title">双盘天平检定记录</h2>
  <%= simple_form_for :report, url: calculate_verification_path, method: :post do |f| %>
    <div class="sign-upper">
      <div class="line-2">
        <label>型号规格：</label>
        <%= @verification.instrument.specification%>
        <label>天平器号：</label>
        <input class="input-border-bottom" type='text' value="<%= report['天平器号']%>" name="report[天平器号]">
      </div>
      <div class="line-2">
        <label>最大称量：</label>
        <input class="input-border-bottom" type='text' value="<%= report['最大称量']%>" name="report[最大称量]">
        <label>设备编号：</label>
        <input class="input-border-bottom" type='text' value="<%= report['设备编号']%>" name="report[设备编号]">
      </div>
      <div class="line-2">
        <label>实际分度值：</label>
        <input class="input-border-bottom" type='text' value="<%= report['实际分度值']%>" name="report[实际分度值]">
        <label>检定分度值：</label>
        <input class="input-border-bottom" type='text' value="<%= report['检定分度值']%>" name="report[检定分度值]">
      </div>
      <div class="line-2">
        <label>标准砝码：</label>
        <input class="input-border-bottom" type='text' value="<%= report['标准砝码']%>" name="report[标准砝码]">
        <label>检定日期：</label>
        <input class="input-border-bottom" type='text' value="<%= report['检定日期']%>" name="report[检定日期]">
      </div>
      <div class="line-2">
        <label>证书编号：</label>
        <input class="input-border-bottom" type='text' value="<%= report['证书编号']%>" name="report[证书编号]">
        <label>准确度等级：</label>
        <input class="input-border-bottom" type='text' value="<%= report['准确度等级']%>" name="report[准确度等级]">
      </div>
      <div class="line-2">
        <label>制造厂：</label>
        <input class="input-border-bottom" type='text' value="<%= report['制造厂']%>" name="report[制造厂]">
        <label>检定结论：</label>
        <input class="input-border-bottom" type='text' value="<%= report['检定结论']%>" name="report[检定结论]">
      </div>
      <div class="line-1">
        <label>送检单位：</label>
        <%= @verification.instrument.organ.name%>
      </div>
      <div class="line-2">
        <label>检定员签名：</label>
        <input class="input-border-bottom" type='text' value="<%= report['检定员']%>" name="report[检定员]">
        <label>核验员签名：</label>
        <input class="input-border-bottom" type='text' value="<%= report['核验员']%>" name="report[核验员]">
      </div>
    </div>

    <div class="table-responsive">
      <table class="table table-bordered align-center">
        <tr>
          <td class="td-80" rowspan="2">观测顺序</td>
          <td colspan="2">称盘上的载荷</td>
          <td colspan="4">天平读数</td>
          <td rowspan="2">平衡位置<br><em>I</em></td>
          <td class="td-250" rowspan="2">备注</td>
        </tr>
        <tr>
          <td class="td-150">左盘</td>
          <td class="td-150">右盘</td>
          <td><em>i<sub>1</sub></em></td>
          <td><em>i<sub>2</sub></em></td>
          <td><em>i<sub>3</sub></em></td>
          <td><em>i<sub>4</sub></em></td>
        </tr>
        <tr>
          <td>1</td>
          <td>0</td>
          <td>0</td>
          <td class="td-80 input-full"><input type="text" value="<%= report['天平读数1i1']%>" name="report[天平读数1i1]"></td>
          <td class="td-80 input-full"><input type="text" value="<%= report['天平读数1i2']%>" name="report[天平读数1i2]"></td>
          <td class="td-80 input-full"><input type="text" value="<%= report['天平读数1i3']%>" name="report[天平读数1i3]"></td>
          <td class="td-80 input-full"><input type="text" value="<%= report['天平读数1i4']%>" name="report[天平读数1i4]"></td>          
          <td></td>
          <td class="td-tall" rowspan="25">
            <div class="inner-td">
              <div class="inner-row"><em>m</em><sub> p1</sub>、<em>m</em><sub> p2</sub> = <input class="input-70" type="text" value="<%= report['备注1']%>" name="report[备注1]"> &nbsp;Kg</div>
              <div class="inner-row"><em>m</em><sub> r</sub>&#42; = <input class="input-70" type="text" value="<%= report['备注2']%>" name="report[备注2]"> mg</div>
              <div class="inner-row"><em>m</em><sub> k</sub>&#42; = <input class="input-70" type="text" value="<%= report['备注3']%>" name="report[备注3]"> mg</div>

              <div class="inner-row-far">测四角时，砝码放置在具秤盘中心<em>R</em>／3处，<em>R</em> 为秤盘半径</div>
            </div>
          </td>
        </tr>
        <tr>
          <td>2</td>
          <td><em>r</em></td>
          <td>0</td>
          <td class="td-80 input-full"><input type="text" value="<%= report['天平读数2i1']%>" name="report[天平读数2i1]"></td>
          <td class="td-80 input-full"><input type="text" value="<%= report['天平读数2i2']%>" name="report[天平读数2i2]"></td>
          <td class="td-80 input-full"><input type="text" value="<%= report['天平读数2i3']%>" name="report[天平读数2i3]"></td>
          <td class="td-80 input-full"><input type="text" value="<%= report['天平读数2i4']%>" name="report[天平读数2i4]"></td> 
          <td></td>
        </tr>
        <tr>
          <td>3</td>
          <td><em>p<sub>1</sub></em></td>
          <td><em>p<sub>2</sub></em></td>
          <td class="td-80 input-full"><input type="text" value="<%= report['天平读数3i1']%>" name="report[天平读数3i1]"></td>
          <td class="td-80 input-full"><input type="text" value="<%= report['天平读数3i2']%>" name="report[天平读数3i2]"></td>
          <td class="td-80 input-full"><input type="text" value="<%= report['天平读数3i3']%>" name="report[天平读数3i3]"></td>
          <td class="td-80 input-full"><input type="text" value="<%= report['天平读数3i4']%>" name="report[天平读数3i4]"></td>     
          <td></td>
        </tr>
        <tr>
          <td>4</td>
          <td><em>p<sub>2</sub></em> (K)</td>
          <td><em>p<sub>1</sub></em> (K)</td>
          <td class="td-80 input-full"><input type="text" value="<%= report['天平读数4i1']%>" name="report[天平读数4i1]"></td>
          <td class="td-80 input-full"><input type="text" value="<%= report['天平读数4i2']%>" name="report[天平读数4i2]"></td>
          <td class="td-80 input-full"><input type="text" value="<%= report['天平读数4i3']%>" name="report[天平读数4i3]"></td>
          <td class="td-80 input-full"><input type="text" value="<%= report['天平读数4i4']%>" name="report[天平读数4i4]"></td>
          <td></td>
        </tr>
        <tr>
          <td>5</td>
          <td><em>p<sub>2</sub></em> (K) + r</td>
          <td><em>p<sub>1</sub></em> (K)</td>
          <td class="td-80 input-full"><input type="text" value="<%= report['天平读数5i1']%>" name="report[天平读数5i1]"></td>
          <td class="td-80 input-full"><input type="text" value="<%= report['天平读数5i2']%>" name="report[天平读数5i2]"></td>
          <td class="td-80 input-full"><input type="text" value="<%= report['天平读数5i3']%>" name="report[天平读数5i3]"></td>
          <td class="td-80 input-full"><input type="text" value="<%= report['天平读数5i4']%>" name="report[天平读数5i4]"></td>       
          <td></td>
        </tr>
        <tr>
          <td>6</td>
          <td>0</td>
          <td>0</td>
          <td class="td-80 input-full"><input type="text" value="<%= report['天平读数6i1']%>" name="report[天平读数6i1]"></td>
          <td class="td-80 input-full"><input type="text" value="<%= report['天平读数6i2']%>" name="report[天平读数6i2]"></td>
          <td class="td-80 input-full"><input type="text" value="<%= report['天平读数6i3']%>" name="report[天平读数6i3]"></td>
          <td class="td-80 input-full"><input type="text" value="<%= report['天平读数6i4']%>" name="report[天平读数6i4]"></td>       
          <td></td>
        </tr>
        <tr>
          <td>7</td>
          <td>0</td>
          <td>r</td>
          <td class="td-80 input-full"><input type="text" value="<%= report['天平读数7i1']%>" name="report[天平读数7i1]"></td>
          <td class="td-80 input-full"><input type="text" value="<%= report['天平读数7i2']%>" name="report[天平读数7i2]"></td>
          <td class="td-80 input-full"><input type="text" value="<%= report['天平读数7i3']%>" name="report[天平读数7i3]"></td>
          <td class="td-80 input-full"><input type="text" value="<%= report['天平读数7i4']%>" name="report[天平读数7i4]"></td>
          <td></td>
        </tr>
        <tr>
          <td>8</td>
          <td><em>p<sub>1</sub></em></td>
          <td><em>p<sub>2</sub></em></td>
          <td class="td-80 input-full"><input type="text" value="<%= report['天平读数8i1']%>" name="report[天平读数8i1]"></td>
          <td class="td-80 input-full"><input type="text" value="<%= report['天平读数8i2']%>" name="report[天平读数8i2]"></td>
          <td class="td-80 input-full"><input type="text" value="<%= report['天平读数8i3']%>" name="report[天平读数8i3]"></td>
          <td class="td-80 input-full"><input type="text" value="<%= report['天平读数8i4']%>" name="report[天平读数8i4]"></td>        
          <td></td>
        </tr>
        <tr>
          <td>9</td>
          <td><em>p<sub>1</sub></em></td>
          <td><em>p<sub>2</sub></em> + r</td>
          <td class="td-80 input-full"><input type="text" value="<%= report['天平读数9i1']%>" name="report[天平读数9i1]"></td>
          <td class="td-80 input-full"><input type="text" value="<%= report['天平读数9i2']%>" name="report[天平读数9i2]"></td>
          <td class="td-80 input-full"><input type="text" value="<%= report['天平读数9i3']%>" name="report[天平读数9i3]"></td>
          <td class="td-80 input-full"><input type="text" value="<%= report['天平读数9i4']%>" name="report[天平读数9i4]"></td>   
          <td></td>
        </tr>
        <tr>
          <td>10</td>
          <td>0</td>
          <td>0</td>
          <td class="td-80 input-full"><input type="text" value="<%= report['天平读数10i1']%>" name="report[天平读数10i1]"></td>
          <td class="td-80 input-full"><input type="text" value="<%= report['天平读数10i2']%>" name="report[天平读数10i2]"></td>
          <td class="td-80 input-full"><input type="text" value="<%= report['天平读数10i3']%>" name="report[天平读数10i3]"></td>
          <td class="td-80 input-full"><input type="text" value="<%= report['天平读数10i4']%>" name="report[天平读数10i4]"></td>         
          <td></td>
        </tr>
        <tr>
          <td>11</td>
          <td><em>p<sub>1</sub></em>（前）</td>
          <td><em>p<sub>2</sub></em>（后）</td>
          <td class="td-80 input-full"><input type="text" value="<%= report['天平读数11i1']%>" name="report[天平读数11i1]"></td>
          <td class="td-80 input-full"><input type="text" value="<%= report['天平读数11i2']%>" name="report[天平读数11i2]"></td>
          <td class="td-80 input-full"><input type="text" value="<%= report['天平读数11i3']%>" name="report[天平读数11i3]"></td>
          <td class="td-80 input-full"><input type="text" value="<%= report['天平读数11i4']%>" name="report[天平读数11i4]"></td>       
          <td></td>
        </tr>
        <tr>
          <td>12</td>
          <td>0</td>
          <td>0</td>
          <td class="td-80 input-full"><input type="text" value="<%= report['天平读数12i1']%>" name="report[天平读数12i1]"></td>
          <td class="td-80 input-full"><input type="text" value="<%= report['天平读数12i2']%>" name="report[天平读数12i2]"></td>
          <td class="td-80 input-full"><input type="text" value="<%= report['天平读数12i3']%>" name="report[天平读数12i3]"></td>
          <td class="td-80 input-full"><input type="text" value="<%= report['天平读数12i4']%>" name="report[天平读数12i4]"></td>        
          <td></td>
        </tr>
        <tr>
          <td>13</td>
          <td><em>p<sub>1</sub></em>（后）</td>
          <td><em>p<sub>2</sub></em>（前）</td>
          <td class="td-80 input-full"><input type="text" value="<%= report['天平读数13i1']%>" name="report[天平读数13i1]"></td>
          <td class="td-80 input-full"><input type="text" value="<%= report['天平读数13i2']%>" name="report[天平读数13i2]"></td>
          <td class="td-80 input-full"><input type="text" value="<%= report['天平读数13i3']%>" name="report[天平读数13i3]"></td>
          <td class="td-80 input-full"><input type="text" value="<%= report['天平读数13i4']%>" name="report[天平读数13i4]"></td>      
          <td></td>
        </tr>
        <tr>
          <td>14</td>
          <td>0</td>
          <td>0</td>
          <td class="td-80 input-full"><input type="text" value="<%= report['天平读数14i1']%>" name="report[天平读数14i1]"></td>
          <td class="td-80 input-full"><input type="text" value="<%= report['天平读数14i2']%>" name="report[天平读数14i2]"></td>
          <td class="td-80 input-full"><input type="text" value="<%= report['天平读数14i3']%>" name="report[天平读数14i3]"></td>
          <td class="td-80 input-full"><input type="text" value="<%= report['天平读数14i4']%>" name="report[天平读数14i4]"></td>      
          <td></td>
        </tr>
        <tr>
          <td>15</td>
          <td><em>p<sub>1</sub></em>（左）</td>
          <td><em>p<sub>2</sub></em>（左）</td>
          <td class="td-80 input-full"><input type="text" value="<%= report['天平读数15i1']%>" name="report[天平读数15i1]"></td>
          <td class="td-80 input-full"><input type="text" value="<%= report['天平读数15i2']%>" name="report[天平读数15i2]"></td>
          <td class="td-80 input-full"><input type="text" value="<%= report['天平读数15i3']%>" name="report[天平读数15i3]"></td>
          <td class="td-80 input-full"><input type="text" value="<%= report['天平读数15i4']%>" name="report[天平读数15i4]"></td>      
          <td></td>
        </tr>
        <tr>
          <td>16</td>
          <td>0</td>
          <td>0</td>
          <td class="td-80 input-full"><input type="text" value="<%= report['天平读数16i1']%>" name="report[天平读数16i1]"></td>
          <td class="td-80 input-full"><input type="text" value="<%= report['天平读数16i2']%>" name="report[天平读数16i2]"></td>
          <td class="td-80 input-full"><input type="text" value="<%= report['天平读数16i3']%>" name="report[天平读数16i3]"></td>
          <td class="td-80 input-full"><input type="text" value="<%= report['天平读数16i4']%>" name="report[天平读数16i4]"></td> 
          <td></td>
        </tr>
        <tr>
          <td>17</td>
          <td><em>p<sub>1</sub></em>（右）</td>
          <td><em>p<sub>2</sub></em>（右）</td>
          <td class="td-80 input-full"><input type="text" value="<%= report['天平读数17i1']%>" name="report[天平读数17i1]"></td>
          <td class="td-80 input-full"><input type="text" value="<%= report['天平读数17i2']%>" name="report[天平读数17i2]"></td>
          <td class="td-80 input-full"><input type="text" value="<%= report['天平读数17i3']%>" name="report[天平读数17i3]"></td>
          <td class="td-80 input-full"><input type="text" value="<%= report['天平读数17i4']%>" name="report[天平读数17i4]"></td>        
          <td></td>
        </tr>
        <tr>
          <td>18</td>
          <td>0</td>
          <td>0</td>
          <td class="td-80 input-full"><input type="text" value="<%= report['天平读数18i1']%>" name="report[天平读数18i1]"></td>
          <td class="td-80 input-full"><input type="text" value="<%= report['天平读数18i2']%>" name="report[天平读数18i2]"></td>
          <td class="td-80 input-full"><input type="text" value="<%= report['天平读数18i3']%>" name="report[天平读数18i3]"></td>
          <td class="td-80 input-full"><input type="text" value="<%= report['天平读数18i4']%>" name="report[天平读数18i4]"></td>         
          <td></td>
        </tr>
        <tr>
          <td>19</td>
          <td><em>p<sub>1</sub></em>（前）</td>
          <td><em>p<sub>2</sub></em>（前）</td>
          <td class="td-80 input-full"><input type="text" value="<%= report['天平读数19i1']%>" name="report[天平读数19i1]"></td>
          <td class="td-80 input-full"><input type="text" value="<%= report['天平读数19i2']%>" name="report[天平读数19i2]"></td>
          <td class="td-80 input-full"><input type="text" value="<%= report['天平读数19i3']%>" name="report[天平读数19i3]"></td>
          <td class="td-80 input-full"><input type="text" value="<%= report['天平读数19i4']%>" name="report[天平读数19i4]"></td>         
          <td></td>
        </tr>
        <tr>
          <td>20</td>
          <td>0</td>
          <td>0</td>
          <td class="td-80 input-full"><input type="text" value="<%= report['天平读数20i1']%>" name="report[天平读数20i1]"></td>
          <td class="td-80 input-full"><input type="text" value="<%= report['天平读数20i2']%>" name="report[天平读数20i2]"></td>
          <td class="td-80 input-full"><input type="text" value="<%= report['天平读数20i3']%>" name="report[天平读数20i3]"></td>
          <td class="td-80 input-full"><input type="text" value="<%= report['天平读数20i4']%>" name="report[天平读数20i4]"></td>     
          <td></td>
        </tr>
        <tr>
          <td>21</td>
          <td><em>p<sub>1</sub></em>（后）</td>
          <td><em>p<sub>2</sub></em>（后）</td>
          <td class="td-80 input-full"><input type="text" value="<%= report['天平读数21i1']%>" name="report[天平读数21i1]"></td>
          <td class="td-80 input-full"><input type="text" value="<%= report['天平读数21i2']%>" name="report[天平读数21i2]"></td>
          <td class="td-80 input-full"><input type="text" value="<%= report['天平读数21i3']%>" name="report[天平读数21i3]"></td>
          <td class="td-80 input-full"><input type="text" value="<%= report['天平读数21i4']%>" name="report[天平读数21i4]"></td>      
          <td></td>
        </tr>
        <tr>
          <td>22</td>
          <td>0</td>
          <td>0</td>
          <td class="td-80 input-full"><input type="text" value="<%= report['天平读数22i1']%>" name="report[天平读数22i1]"></td>
          <td class="td-80 input-full"><input type="text" value="<%= report['天平读数22i2']%>" name="report[天平读数22i2]"></td>
          <td class="td-80 input-full"><input type="text" value="<%= report['天平读数22i3']%>" name="report[天平读数22i3]"></td>
          <td class="td-80 input-full"><input type="text" value="<%= report['天平读数22i4']%>" name="report[天平读数22i4]"></td>         
          <td></td>
        </tr>
        <tr>
          <td>23</td>
          <td><em>p<sub>1</sub></em>（左）</td>
          <td><em>p<sub>2</sub></em>（左）</td>
          <td class="td-80 input-full"><input type="text" value="<%= report['天平读数23i1']%>" name="report[天平读数23i1]"></td>
          <td class="td-80 input-full"><input type="text" value="<%= report['天平读数23i2']%>" name="report[天平读数23i2]"></td>
          <td class="td-80 input-full"><input type="text" value="<%= report['天平读数23i3']%>" name="report[天平读数23i3]"></td>
          <td class="td-80 input-full"><input type="text" value="<%= report['天平读数23i4']%>" name="report[天平读数23i4]"></td>     
          <td></td>
        </tr>
        <tr>
          <td>24</td>
          <td>0</td>
          <td>0</td>
          <td class="td-80 input-full"><input type="text" value="<%= report['天平读数24i1']%>" name="report[天平读数24i1]"></td>
          <td class="td-80 input-full"><input type="text" value="<%= report['天平读数24i2']%>" name="report[天平读数24i2]"></td>
          <td class="td-80 input-full"><input type="text" value="<%= report['天平读数24i3']%>" name="report[天平读数24i3]"></td>
          <td class="td-80 input-full"><input type="text" value="<%= report['天平读数24i4']%>" name="report[天平读数24i4]"></td>    
          <td></td>
        </tr>
        <tr>
          <td>25</td>
          <td><em>p<sub>1</sub></em>（右）</td>
          <td><em>p<sub>2</sub></em>（右）</td>
          <td class="td-80 input-full"><input type="text" value="<%= report['天平读数25i1']%>" name="report[天平读数25i1]"></td>
          <td class="td-80 input-full"><input type="text" value="<%= report['天平读数25i2']%>" name="report[天平读数25i2]"></td>
          <td class="td-80 input-full"><input type="text" value="<%= report['天平读数25i3']%>" name="report[天平读数25i3]"></td>
          <td class="td-80 input-full"><input type="text" value="<%= report['天平读数25i4']%>" name="report[天平读数25i4]"></td>
          <td></td>
        </tr>
      </table>
    </div>

    <div class="sign-footer">
      <div class="sign">
        <span><strong>检定环境条件：</strong></span>
        <span class="left-80">温度</span>
        <input class="input-70" type="text" value="<%= report['环境温度']%>" name="report[环境温度]">
        <span>&deg;C</span>

        <span class="left-80">湿度</span>
        <input class="input-70" type="text" value="<%= report['环境湿度']%>" name="report[环境湿度]">
        <span>%RH</span>
      </div>
    </div>
    <div class="text-right" >
      <% if can? :calculate, Verification%>
        <% if !@verification.approved? %>
          <%= f.submit "提交", class: "btn btn-success btn-sm" %>
        <% end %>
        <% if report['qualified'] && @verification.approved? %>
          <%= link_to (report['qualified'] ? '查看证书' : '查看通知书'), notice_path(@verification.notice,:format => :pdf), target: '_blank', class: 'btn btn-success btn-sm'%>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>

