<% report = @data %>
<div >
  <h3 class="center" style="margin-bottom:50px;">
    <span>活塞式压力计检定纪录</span>
  </h3>

  <div>
    <%= simple_form_for :report, url: calculate_verification_path, method: :post do |f| %>
      <table class="table table-noborder">
        <tr>
          <td colspan="3"></td>
          <td colspan="1">证书编号<span><input name="report[纪录编号]" type="text"  value="<%= @verification.sn%>"/></span></td>
        </tr>
        <tr>
          <td colspan="2">送检单位<span class="input-line"><%= @verification.organ.name %></span></td>
          <td colspan="2">制造厂商<span class="input-line"><%= @verification.instrument.vendor_name %></span></td>
        </tr>
        <tr>
          <td colspan="2">编号<span class="input-line"><%= @verification.instrument.sn %></span></td>
          <td colspan="2">准确度等级<span class="input-line"><%= @verification.instrument.precision %></span><span>级</span></td>
          <input type="hidden" name=report[准确度等级] value="<%= @verification.instrument.precision%>">
        </tr>
        <tr>
          <td colspan="2">测量范围<span class="input-line"><%= @verification.instrument.range %></span></td>
          <input type="hidden" name=report[测量范围上限] value="<%= @verification.instrument.range_start%>">
          <input type="hidden" name=report[测量范围下限] value="<%= @verification.instrument.range_end%>">
          <td colspan="2">型号/规格<span class="input-line"><%= @verification.instrument.specification %></span></td>
        </tr>
        <tr>
          <td colspan="4">实验环境</td>
        </tr>
        <tr>
          <td>温度<input name="report[计算结果][温度]" value="<%= report['计算结果']['温度']%>" type="text" class="input-line"/><span>&#8451;</span></td>
          <td>湿度<input name="report[计算结果][湿度]" value="<%= report['计算结果']['湿度']%>" type="text" class="input-line"/><span>&#37;RH</span></td>
          <td>活塞温度<input name="report[计算结果][活塞温度]" value="<%= report['计算结果']['活塞温度']%>" type="text" class="input-line"/><span>&#8451;</span></td>
          <td>工作介质<input name="report[计算结果][工作介质]" value="<%= report['计算结果']['工作介质']%>" type="text" class="input-line"/></td>
        </tr>
        <tr>
          <td>标准器编号
            <span class="input-line">
              <%= select_tag 'report[标准器]', options_for_select([*@instruments].collect{|i| [i.sn, i.id]}, @data['标准器']),{prompt: '请选择', onchange: "changeStandardInstrument(this.value)"}%>
            </span>
          </td>
          <td>准确度等级<span class="input-line" id="sd_precision"></span><span>级</span></td>
          <td colspan="2">规格/型号<span class="input-line" id="sd_specification"></span></td>
        </tr>
        <tr>
          <td colspan="2">测量范围<span class="input-line" id="sd_range"></span></td>
          <td colspan="2">有效面积
            <span>A=</span>
            <span class="input-line">
              <input name="report[有效面积]" value="<%= report['有效面积']%>" type="text" class="input-line"/>
            </span>
            <span>cm&sup2;</span>
          </td>
        </tr>
        <tr>
          <td colspan="4">检定内容</td>
        </tr>
        <tr>
          <td colspan="2">外观
            <span class="input-line">
              <select name="report[计算结果][外观]">
                <option value="合格" <%= report['计算结果']['外观'] == '合格' ? 'selected' : ""%>>合格</option>
                <option value="不合格" <%= report['计算结果']['外观'] == '不合格' ? 'selected' : ""%>>不合格</option>
              </select>
            </span>
          </td>

          <td colspan="2">密封性
            <span class="input-line">
              <select name="report[计算结果][密封性]">
                <option value="合格" <%= report['计算结果']['密封性'] == '合格' ? 'selected' : ""%>>合格</option>
                <option value="不合格" <%= report['计算结果']['密封性'] == '不合格' ? 'selected' : ""%>>不合格</option>
              </select>
            </span>
          </td>
        </tr>
        <tr>
          <td colspan="2">垂直度<span class="input-line"><input type="text" value="<%= report['计算结果']['垂直度']%>" name="report[计算结果][垂直度]"/></span></td>
          <td colspan="2">鉴别力<span class="input-line"><input type="text" value="<%= report['计算结果']['鉴别力']%>" name="report[计算结果][鉴别力]"/></span><span>g</span></td>
        </tr>
        <tr>
          <td colspan="4">活塞下降速度</td>
        </tr>
        <tr>
          <% 3.times.each do |index|%>
            <td width="25%">(<%= index +1 %>)<span><input style="width:120px" type="text" value="<%= report['活塞下降速度'][index]%>" name="report[活塞下降速度][]" /></span>mm/min</td>
          <% end %>
          <td width="25%">最大<span class="input-line"><%= report['计算结果']['活塞下降速度']['最大'] if report['计算结果']['活塞下降速度']%></span>mm/min</td>
        </tr>
        <tr>
          <td colspan="4">活塞转动延续时间</td>
        </tr>
        <tr>
          <% 3.times.each do |index|%>
            <td><%= "(#{index+1})"%>
            <span class="input-line" style="width:30%">
              <input type="text" style="width:100%" value="<%= report['活塞转动延续时间']["#{index}"]['min']%>" name="report[活塞转动延续时间][<%= index%>][min]" />
            </span>min
            <span class="input-line" style="width:30%">
              <input type="text" style="width:100%" value="<%= report['活塞转动延续时间']["#{index}"]['s']%>" name="report[活塞转动延续时间][<%= index%>][s]" />
            </span>s
          </td>
        <% end %>
       <td>平均
          <span class="input-line" style="width:30%">
            <%= report['计算结果']['活塞转动延续时间']['min']%>
          </span>min
          <span class="input-line" style="width:30%">
            <%= report['计算结果']['活塞转动延续时间']['s']%>
          </span>s
        </td>
      </tr>
      <tr>
        <td colspan="4">活塞有效面积的检定：</td>
      </tr>
      <tr><td colspan="4">起始平衡法</td></tr>
    </table>
    <table class="table table-bordered center">

      <tr>
        <td width="50px">序号</td>
        <td style="min-width: 110px;">压力/MPa</td>
        <td>m'i:被检活塞式压力计第i个检定点相对于平衡点增加的砝码质量/kg</td>
        <td>m'i:标准活塞式压力计第i个检定点相对于平衡点增加的砝码质量/kg</td>
        <td width="200px">被检活塞有效面积单独值/cm2 </td>
      </tr>
      <% 10.times.each do |index|%>
        <tr>
          <td><%= index=index+1%></td>
          <td></td>
          <td><input type="text" style="min-width:70px;width:50%;" value="<%= report['活塞有效面积的检定']['被检活塞式压力计第i个检定点相对于平衡点增加的砝码质量'][index]%>" name="report[活塞有效面积的检定][被检活塞式压力计第i个检定点相对于平衡点增加的砝码质量][]" /></td>
          <td><input type="text" style="min-width:70px;width:50%;" value="<%= report['活塞有效面积的检定']['标准活塞式压力计第i个检定点相对于平衡点增加的砝码质量'][index]%>" name="report[活塞有效面积的检定][标准活塞式压力计第i个检定点相对于平衡点增加的砝码质量][]" /></td>
          <td><input type="text" style="min-width:70px;width:50%;" value="<%= report['计算结果']['被检活塞有效面积单独值'][index]%>" name="report[计算结果][被检活塞有效面积单独值][]" /></td>
        </tr>
      <% end %>
    </table>
    <table class="table table-noborder">
      <tr>
        <td>活塞有效面积平均值<span class="input-line"><%=report['计算结果']['活塞有效面积平积值']%></span><span>cm&sup2;</span></td>
        <td></td>
      </tr>
      <tr>
        <td style="width:50%"><span><img style="width:200px" src="/images/Formula1.png" alt=""></span><span>=</span><span class="input-line" style="width
            :130px;"><%=report['计算结果']['SA']%></span><span>cm&sup2;</span></td>
        <td style="width:50%"><span><img style="width:100px" src="/images/Formula2.png" alt=""></span><span class="input-line"><%=report['计算结果']['A']%></span><span>cm&sup2;</span></td>
      </tr>
      <tr>
        <td>周期变化率<span class="input-line"><input type="text" value="<%= report['周期变化率']%>" name="report[周期变化率]" /></span></td>
        <td></td>
      </tr>
      <tr>
        <td colspan="2">专用砝码/活塞及其连接件质量等检定</td>
      </tr>
      <tr>
        <td>（1）检定上限6MPa以下量程</td>
        <td rowspan="2"><span><img style="width:200px" src="/images/Formula3.png" alt=""></span></td>
      </tr>
      <tr>
        <td>（2）检定上限大于25MPa（包括25MPa）</td>
      </tr>
      <tr>
        <td><span><img style="width:300px" src="/images/Formula4.png" alt=""></span></td>
        <td><span><img style="width:300px" src="/images/Formula5.png" alt=""></span></td>
      </tr>
    </table>
    <table class="table table-bordered center">
      <tr>
        <td width="50px">序号</td>
        <td style="min-width: 110px;">作用压力/MPa</td>
        <td style="min-width: 110px;">计算压力/kg</td>
        <td style="min-width: 110px;">数量/块</td>
        <td style="min-width: 110px;">备注</td>
      </tr>
      <tr>
        <td>1</td>
        <td>1</td>
        <td></td>
        <td>4</td>
        <td></td>
      </tr>
      <tr>
        <td>2</td>
        <td>5</td>
        <td></td>
        <td>11</td>
        <td></td>
      </tr>
      <tr>
        <td>3</td>
        <td>/</td>
        <td></td>
        <td>/</td>
        <td></td>
      </tr>
      <tr>
        <td>4</td>
        <td>/</td>
        <td></td>
        <td>/</td>
        <td></td>
      </tr>
      <tr>
        <td>5</td>
        <td>/</td>
        <td>/</td>
        <td>/</td>
        <td>/</td>
      </tr>
    </table>
    <table class="table table-noborder">
      <tr>
        <td colspan="3">活塞及其连接件的计算质量<span class="input-line"></span><span>kg</span></td>
      </tr>
      <tr>
        <td colspan="3">以上专用砝码、活塞及其附件的计算质量按<span>g=</span><span class="input-line"></span><span>m/s&sup2;</span></td>
      </tr>
      <tr>
        <td colspan="3">结论
          <div class="radio" style="display: inline-block;">
            <label><input type="radio" <%= report['计算结果']['结论']=="合格" ? "checked" : ""%> name="report[计算结果][结论]" value="合格" /><span class="lbl">合格</span></label>
          </div>
          <div class="radio"  style="display: inline-block;margin-top: 10px;">
            <label><input type="radio" <%= report['计算结果']['结论']=="不合格" ? "checked" : ""%> name="report[计算结果][结论]" value="不合格" /><span class="lbl">不合格</span></label>
          </div>
          <div class="radio"  style="display: inline-block;margin-top: 10px;">
            <label><input type="radio" <%= report['计算结果']['结论']=="其他" ? "checked" : ""%> name="report[计算结果][结论]" value="其他"/><span class="lbl">其他</span></label>
          </div>
          <input type="text" class="input-line" value="<%=report['计算结果']['结论信息'] if report['计算结果']['结论信息']%>" name="report[计算结果][结论信息]"/>
          <div class="clearfix"></div>
        </td>
      </tr>
      <tr>
        <td width="25%">检定员<span class=""><input type="text" value="<%= report['检定员']%>" name="report[检定员]" /></span></td>
        <td width="25%">检定日期：
          <span class="">
            <input type="text" name="report[检定日期]" value="<%= report['检定日期']%>" onClick="WdatePicker({onpicked: function(){$(this).trigger(change)}})" readonly='true'  class="input-time"/>
          </span>
        </td>
        <td width="25%">核验员<span class=""><input type="text" value="<%= report['核验员']%>" name="report[核验员]" /></span></td>
        <td width="25%">核验日期：
          <span class="">
            <input type="text" name="report[核验日期]" value="<%= report['核验日期']%>" onClick="WdatePicker({onpicked: function(){$(this).trigger(change)}})" readonly='true'  class="input-time"/>
          </span>
        </td>
      </tr>
    </table>
    <div class="text-right">
      <% if can? :calculate, Verification%>
        <% if !@verification.approved? %>
          <%= f.submit "提交", class: "btn btn-success btn-sm" %>
        <% end %>
        <% if @data['result']%>
          <%= link_to (@data['result']['pass'] ? '查看证书' : '查看通知书'), certificate_verification_path(@verification,:format => :pdf), target: '_blank', class: 'btn btn-success btn-sm'%>
        <% end %>
      <% end %>
    </div>
  <% end %>
  </div>
 </div>
 <script>
   window.onload = changeStandardInstrument("<%= @data['标准器']%>");

   function changeStandardInstrument(id){
     if(id != ""){
       $.ajax({
         url: window.location.origin + '/instruments/' + id,
         method: 'GET',
         success: function(data){
           $('#sd_specification').html(data.specification);
           $('#sd_range').html(data.range);
           $('#sd_precision').html(data.precision);
         }
       });
     }else{
       $('#sd_specification').empty();
       $('#sd_range').empty();
       $('#sd_precision').empty();
     }
   }
 </script>
