<% report = @data %>
<h2 class="center" style="margin-bottom: 50px;">
  <span>精密压力表（或真空表）检定纪录表</span>
</h2>

<div>
  <%= simple_form_for :report, url: calculate_verification_path, method: :post do |f| %>
    <div class="table-responsive">
      <table class="table table-bordered center" >
        <tr>
          <td colspan="17">
            <table class="table table-noborder" style="margin: 0;">
              <tr>
                <td>被检仪表：使用单位 <span class="input-line"><%= @verification.organ.name%></span></td>
                <td style="min-width:150px;">器号<span class="input-line"><%= @verification.instrument.sn%></span></td>
                <td style="min-width:100px;">测量上限<span class="input-line"><%= @verification.instrument.range%></span></td>
                <td style="min-width:150px;">准确度等级<span class="input-line"><%= @verification.instrument.precision%></span></td>
                <td style="min-width:250px;">制造厂<span class="input-line"><%= @verification.instrument.vendor_name%></span></td>
              </tr>
              <tr>
                <td>使用等标准器：名称
                  <span class="input-line">
                    <%= select_tag 'report[标准器]', options_for_select([*@instruments].collect{|i| [i.sn, i.id]}, @data['标准器']),{prompt: '请选择', onchange: "changeStandardInstrument(this.value)"}%>
                  </span>
                </td>
                <td>器号<span class="input-line" id="sd_sn"></span></td>
                <td>测量范围
                  <span class="input-line" id="sd_range"></span>
                  <input type="hidden" name=report[测量范围上限] value="<%= @verification.instrument.range%>">
                  <input type="hidden" name=report[测量范围下限] value="<%= @verification.instrument.range%>">
                </td>
                <td>准确度等级<span class="input-line" id="sd_precision"></span></td>
                <input type="hidden" name=report[准确度等级] value="<%= @verification.instrument.precision%>">
              </tr>
            </table>
          </td>
          <th style="min-width: 110px;">检定结果情况</th>
        </tr>

        <tr>
          <td rowspan="3">序号</td>
          <td rowspan="3" style="min-width: 70px;white-space: normal;">标准器等压力值（或真空值）</td>
          <td colspan="6">轻敲后被检仪表示值</td>
          <td colspan="6">轻敲前后指针等示值变动值</td>
          <td rowspan="3" style="min-width: 90px;white-space: normal;">检定点示值等最大值与最小值之差</td>
          <td rowspan="3" style="min-width: 90px;white-space: normal;">检定点各次示值读数等平均值</td>
          <td rowspan="3" style="min-width: 90px;white-space: normal;">检定点各次等读数与该点标称值等最大偏差</td>
          <td rowspan="4" style="min-width: 140px;white-space: normal;">
            1.示值最大值与最小值之（含零点）
            <span style="display: inline-block;">差值 <%= number_with_precision(report['计算结果']['示值最大值与最小值之']['差值'],precision: 3) if report['计算结果']['示值最大值与最小值之']%> Mpa</span>
            <span style="display: inline-block;">允许值 <%= number_with_precision(report['计算结果']['示值最大值与最小值之']['允许值'],precision: 3) if report['计算结果']['示值最大值与最小值之']%> Mpa</span>
          </td>
        </tr>
        <tr>
          <td colspan="2">第一次检定</td>
          <td colspan="2">第二次检定</td>
          <td colspan="2">第三次检定</td>
          <td colspan="2">第一次检定</td>
          <td colspan="2">第二次检定</td>
          <td colspan="2">第三次检定</td>
        </tr>
        <tr>
          <td style="min-width: 60px;">升压</td>
          <td style="min-width: 60px;">降压</td>
          <td style="min-width: 60px;">升压</td>
          <td style="min-width: 60px;">降压</td>
          <td style="min-width: 60px;">升压</td>
          <td style="min-width: 60px;">降压</td>
          <td style="min-width: 60px;">升压</td>
          <td style="min-width: 60px;">降压</td>
          <td style="min-width: 60px;">升压</td>
          <td style="min-width: 60px;">降压</td>
          <td style="min-width: 60px;">升压</td>
          <td style="min-width: 60px;">降压</td>
        </tr>
        <% 16.times.each_with_index do |index|%>
          <tr>
            <td><%= index%></td>
            <td><input type="text" style="min-width:70px;width:80%;" value="<%= report['标准器的压力值'][index]%>" name="report[标准器的压力值][]" /></td>
            <td><input type="text" style="min-width:70px;width:80%;" value="<%= number_with_precision(report['轻敲后被检仪表示值']['第一次检定']['升压'][index],precision: 3)%>" name="report[轻敲后被检仪表示值][第一次检定][升压][]" /> </td>
            <td><input type="text" style="min-width:70px;width:80%;" value="<%= number_with_precision(report['轻敲后被检仪表示值']['第一次检定']['降压'][index],precision: 3)%>" name="report[轻敲后被检仪表示值][第一次检定][降压][]" /> </td>
            <td><input type="text" style="min-width:70px;width:80%;" value="<%= number_with_precision(report['轻敲后被检仪表示值']['第二次检定']['升压'][index],precision: 3)%>" name="report[轻敲后被检仪表示值][第二次检定][升压][]" /> </td>
            <td><input type="text" style="min-width:70px;width:80%;" value="<%= number_with_precision(report['轻敲后被检仪表示值']['第二次检定']['降压'][index],precision: 3)%>" name="report[轻敲后被检仪表示值][第二次检定][降压][]" /> </td>
            <td><input type="text" style="min-width:70px;width:80%;" value="<%= number_with_precision(report['轻敲后被检仪表示值']['第三次检定']['升压'][index],precision: 3)%>" name="report[轻敲后被检仪表示值][第三次检定][升压][]" /> </td>
            <td><input type="text" style="min-width:70px;width:80%;" value="<%= number_with_precision(report['轻敲后被检仪表示值']['第三次检定']['降压'][index],precision: 3)%>" name="report[轻敲后被检仪表示值][第三次检定][降压][]" /> </td>
            <td><input type="text" style="min-width:70px;width:80%;" value="<%= number_with_precision(report['轻敲前后指针的示值变动量']['第一次检定']['升压'][index],precision: 3)%>" name="report[轻敲前后指针的示值变动量][第一次检定][升压][]" /></td>
            <td><input type="text" style="min-width:70px;width:80%;" value="<%= number_with_precision(report['轻敲前后指针的示值变动量']['第一次检定']['降压'][index],precision: 3)%>" name="report[轻敲前后指针的示值变动量][第一次检定][降压][]" /></td>
            <td><input type="text" style="min-width:70px;width:80%;" value="<%= number_with_precision(report['轻敲前后指针的示值变动量']['第二次检定']['升压'][index],precision: 3)%>" name="report[轻敲前后指针的示值变动量][第二次检定][升压][]" /></td>
            <td><input type="text" style="min-width:70px;width:80%;" value="<%= number_with_precision(report['轻敲前后指针的示值变动量']['第二次检定']['降压'][index],precision: 3)%>" name="report[轻敲前后指针的示值变动量][第二次检定][降压][]" /></td>
            <td><input type="text" style="min-width:70px;width:80%;" value="<%= number_with_precision(report['轻敲前后指针的示值变动量']['第三次检定']['升压'][index],precision: 3)%>" name="report[轻敲前后指针的示值变动量][第三次检定][升压][]" /></td>
            <td><input type="text" style="min-width:70px;width:80%;" value="<%= number_with_precision(report['轻敲前后指针的示值变动量']['第三次检定']['降压'][index],precision: 3)%>" name="report[轻敲前后指针的示值变动量][第三次检定][降压][]" /></td>
            <td><%= number_with_precision(report['计算结果']['检定点示值的最大值与最小值之差'][index],precision: 3)%></td>
            <td><%= number_with_precision(report['计算结果']['检定点各次示值读数的平均值'][index],precision: 3)%></td>
            <td><%= number_with_precision(report['计算结果']['检定点各次的读数与该点标称值的最大偏差'][index],precision: 3)%></td>
            <% if index == 1%>
              <td rowspan="5" style="min-width: 140px;white-space: normal;">
                2.指针最大示值
                <span style="display: inline-block;">变动量 <%= number_with_precision(report['计算结果']['指针最大示值']['变动量'],precision: 3)%> Mpa</span>
                <span style="display: inline-block;">允许值 <%= number_with_precision(report['计算结果']['指针最大示值']['允许值'],precision: 3)%> Mpa</span>
              </td>
            <%end%>
            <% if index == 6%>
              <td rowspan="11" style="min-width: 140px;white-space: normal;">
                3.检定点各次的读数与该点标称值与该点标称值的
                <span style="display: inline-block;">变动量 <%= number_with_precision(report['计算结果']['检定点各次的读数与该点标称值与该点标称值的']['最大偏差'],precision: 3)%> Mpa</span>
                <span style="display: inline-block;">允许值 <%= number_with_precision(report['计算结果']['检定点各次的读数与该点标称值与该点标称值的']['允许值'],precision: 3)%> Mpa</span>
              </td>
            <%end%>
          </tr>
        <% end %>
        <tr class="text-left">
          <td colspan="3">证书编号：<input name="report[纪录编号]" type="text"  value="<%= @verification.sn%>"/></td>
          <td colspan="5">检定员：
            <input name="report[检定员]" value="<%= report['检定员']%>" type="text" style="width: 150px;margin: 0 5px;" />
            <input type="text" name="report[检定日期]" value="<%= report['检定日期']%>" style="width:150px" onClick="WdatePicker({onpicked: function(){$(this).trigger('change')}})" readonly='true'  class="input-time"/>
          </td>
          <td colspan="5">核验员：
            <input name="report[核验员]" type="text" value="<%= report['核验员']%>" style="width: 150px;margin: 0 5px;" />
            <input type="text" name="report[核验日期]" value="<%= report['核验日期']%>" style="width:150px" onClick="WdatePicker({onpicked: function(){$(this).trigger('change')}})" readonly='true'  class="input-time"/>
          </td>
          <td colspan="4"></td>
        </tr>
      </table>
      <div class="text-right" >
        <% if can? :calculate, Verification%>
          <% if !@verification.approved? %>
            <%= f.submit "提交", class: "btn btn-success btn-sm" %>
          <% end %>
          <% if @data['result']%>
            <%= link_to (@data['result']['pass'] ? '查看证书' : '查看通知书'), certificate_verification_path(@verification,:format => :pdf), target: '_blank', class: 'btn btn-success btn-sm'%>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
<script>
  window.onload = changeStandardInstrument("<%= @data['标准器']%>");

  function changeStandardInstrument(id){
    if(id != ""){
      $.ajax({
        url: window.location.origin + '/instruments/' + id,
        method: 'GET',
        success: function(data){
          $('#sd_sn').html(data.sn);
          $('#sd_range').html(data.range);
          $('#sd_precision').html(data.precision);
        }
      });
    }else{
      $('#sd_sn').empty();
      $('#sd_range').empty();
      $('#sd_precision').empty();
    }
  }
</script>
