<div class="container">
  <h2 class="center" style="margin-bottom: 50px;">
    <i class="fa fa-tasks"></i>
    <span> 数字压力计检定记录</span>
  </h2>

  <div>
    <%= simple_form_for :report, url: calculate_verification_path, method: :post do |f| %>
      <p class="text-left">记录编号：<input name="report[纪录编号]" type="text"  value="<%= @verification.sn%>"/></p>
      <table class="table table-bordered center">
        <tr>
          <td colspan="2">送检单位</td>
          <td colspan="6"><%= @verification.organ.name %></td>
          <td colspan="3">环境温度：<input name="report[环境温度]" type="text" style="width: 50%" value="<%= @data['环境温度']%>"/><span>&#8451;</span></td>
          <td colspan="3">环境湿度：<input name="report[环境湿度]" type="text" style="width: 50%" value="<%= @data['环境湿度']%>"/><span>&#37;RH</span></td>
        </tr>
        <tr>
          <td colspan="2">类型仪表信息&nbsp;</td>
          <td colspan="6">被检器</td>
          <td  colspan="6" class="blue">标准器</td>
        </tr>
        <tr>
          <td colspan="2">仪表名称</td>
          <td colspan="6"><%= @verification.instrument.instrument_kind.name %></td>
          <td colspan="6" class="blue" id="sd_kind"></td>
          <!-- <td colspan="6" class="blue" id="sd_name"></td> -->
        </tr>
        <tr>
          <td colspan="2">型号规格</td>
          <td colspan="6"><%= @verification.instrument.specification %></td>
          <td colspan="6" class="blue" id="sd_specification"></td>
        </tr>
        <tr>
          <td colspan="2">制造单位</td>
          <td colspan="6"><%= @verification.instrument.vendor.name %></td>
          <td colspan="6" class="blue" id="sd_vendor"></td>
        </tr>
        <tr>
          <td colspan="2">出厂编号</td>
          <td colspan="6" class="bg-gray-light"><%= @verification.instrument.sn %></td>
          <td colspan="6" class="blue">
            <%= select_tag 'report[标准器]', options_for_select([*@instruments].collect{|i| [i.sn, i.id]}, @data['标准器']),{prompt: '请选择', onchange: "changeStandardInstrument(this.value)"}%>
          </td>
        </tr>
        <tr>
          <td colspan="2">测量范围</td>
          <td colspan="6">
            <%= @verification.instrument.range %>
            <input type="hidden" name=report[示值允差][测量范围上限] value="<%= @verification.instrument.range_start%>">
            <input type="hidden" name=report[示值允差][测量范围下限] value="<%= @verification.instrument.range_end%>">
          </td>
          <td colspan="6" class="blue" id="sd_range"></td>
        </tr>
        <tr>
          <td colspan="2">准确度等级</td>
          <td colspan="6">
            <%= @verification.instrument.precision %>
            <input type="hidden" name=report[示值允差][准确度等级] value="<%= @verification.instrument.precision%>">
          </td>
          <td colspan="6" class="blue" id="sd_precision"></td>
        </tr>
        <tr>
          <td colspan="2">外观检查</td>
          <td colspan="4">
            <select name="report[计算结果][外观检查]" style="width:150px;">
              <option value="合格" <%= @data['计算结果']['外观检查'] == '合格' ? 'selected' : ""%>>合格</option>
              <option value="不合格" <%= @data['计算结果']['外观检查'] == '不合格' ? 'selected' : ""%>>不合格</option>
            </select>
          </td>
          <td colspan="2">零位漂移</td>
          <td class="th-name">min</td>
          <%- [0,15,30,45,60].each do |index|%>
            <td><%= index %></td>
          <% end %>
        </tr>
        <tr>
          <td colspan="2">绝缘电阻</td>
          <td colspan="4"><input type="text" name="report[计算结果][绝缘电阻]" value="<%= @data['计算结果']['绝缘电阻']%>"/>MΩ</td>
          <td colspan="2"><span><%= @data['计算结果']['零位漂移'] %></span></td>
          <td>示值</td>
          <%- [0,15,30,45,60].each do |index|%>
            <td ><input type="text" name="report[零位漂移][<%= index%>][示值]" value="<%= @data['零位漂移']["#{index}"]['示值']%>" style="width:60px;"/></td>
          <% end %>
        </tr>

        <tr>
          <td colspan="14" class="bg-gray-light right">示值检定： 单位（MPa）</td>
        </tr>
        <tr>
          <td rowspan="4">序号</td>
          <td rowspan="4" style="min-width: 60px;">标准器示值</td>
          <td colspan="4" >示值周期稳定性检定</td>
          <td colspan="8">示值误差检定</td>
        </tr>
        <tr>
          <td rowspan="3" style="border-left: 1px solid #eaeaea;min-width: 60px;" >正行程示值</td>
          <td rowspan="3" style="min-width: 60px;">反行程示值</td>
          <td rowspan="3" style="min-width: 60px;">正行程示值误差</td>
          <td rowspan="3" style="min-width: 60px;">反行程示值误差</td>
          <td colspan="4" >压力计示值</td>
          <td rowspan="3" style="min-width: 60px;">示值误差最大值</td>
          <td rowspan="3" style="min-width: 60px;">回程误差最大值</td>
          <td rowspan="3" style="min-width: 60px;">正行程平均值</td>
          <td rowspan="3" style="min-width: 60px;">反行程平均值</td>
        </tr>
        <tr>
          <td colspan="2" style="border-left: 1px solid #eaeaea;">第一次检定</td>
          <td colspan="2">第二次检定</td>
        </tr>
        <tr>
          <td style="border-left: 1px solid #eaeaea;min-width: 60px;" >正行程</td>
          <td style="min-width: 60px;">反行程</td>
          <td style="min-width: 60px;">正行程</td>
          <td style="min-width: 60px;">反行程</td>
        </tr>

        <%- 11.times do |index| %>
          <tr>
            <td><%= index + 1 %></td>
            <td><input type="text" name="report[示值检定][<%= index%>][标准器示值]" value="<%= @data['示值检定']["#{index}"]['标准器示值']%>" style="width:60px;"></td>
            <td><input type="text" name="report[示值检定][<%= index%>][周期稳定性][正行程示值]" value="<%= number_with_precision(@data['示值检定']["#{index}"]['周期稳定性']['正行程示值'],precision: 3)%>" style="width:60px;"></td>
            <td><input type="text" name="report[示值检定][<%= index%>][周期稳定性][反行程示值]" value="<%= number_with_precision(@data['示值检定']["#{index}"]['周期稳定性']['反行程示值'],precision: 3)%>" style="width:60px;"></td>
            <td class="blue"><%= number_with_precision(@data['示值检定']["#{index}"]['周期稳定性']['正行程示值误差'],precision: 3)%></td>
            <td class="blue"><%= number_with_precision(@data['示值检定']["#{index}"]['周期稳定性']['反行程示值误差'],precision: 3)%></td>
            <td><input type="text" name="report[示值检定][<%= index%>][示值误差][0][正行程]" value="<%= number_with_precision(@data['示值检定']["#{index}"]['示值误差']['0']['正行程'],precision: 3)%>" style="width:60px;"></td>
            <td><input type="text" name="report[示值检定][<%= index%>][示值误差][0][反行程]" value="<%= number_with_precision(@data['示值检定']["#{index}"]['示值误差']['0']['反行程'],precision: 3)%>" style="width:60px;"></td>
            <td><input type="text" name="report[示值检定][<%= index%>][示值误差][1][正行程]" value="<%= number_with_precision(@data['示值检定']["#{index}"]['示值误差']['1']['正行程'],precision: 3)%>" style="width:60px;"></td>
            <td><input type="text" name="report[示值检定][<%= index%>][示值误差][1][反行程]" value="<%= number_with_precision(@data['示值检定']["#{index}"]['示值误差']['1']['反行程'],precision: 3)%>" style="width:60px;"></td>
            <td class="blue"><%= number_with_precision(@data['示值检定']["#{index}"]['示值误差最大值'],precision: 3)%></td>
            <td class="blue"><%= number_with_precision(@data['示值检定']["#{index}"]['回程误差最大值'],precision: 3)%></td>
            <td class="blue"><%= number_with_precision(@data['示值检定']["#{index}"]['正行程平均值'],precision: 3)%></td>
            <td class="blue"><%= number_with_precision(@data['示值检定']["#{index}"]['反行程平均值'],precision: 3)%></td>
          </tr>
        <% end %>

        <tr class="text-left">
          <td colspan="5" class="blue">示值允差：&plusmn;<%= number_with_precision(@data['计算结果']['示值允差'].try(:abs),precision: 3)%><span class="text-unit">MPa</span></td>
          <td colspan="3" class="blue">示值误差：<%= number_with_precision(@data['计算结果']['示值误差'],precision: 3)%><span class="text-unit">MPa</span></td>
          <td colspan="2" class="blue">回程允差：<%= number_with_precision(@data['计算结果']['回程允差'],precision: 3)%><span class="text-unit">MPa</span></td>
          <td colspan="4" class="blue">回程误差：<%= number_with_precision(@data['计算结果']['示值误差'],precision: 3)%><span class="text-unit">MPa</span></td>
        </tr>
        <tr class="text-left">
          <td colspan="5" class="blue">稳定性允差：<%= number_with_precision(@data['计算结果']['稳定性允差'],precision: 3)%><span class="text-unit">MPa</span></td>
          <td colspan="3" class="blue">稳定性：
            <input type="text" name="report[计算结果][稳定性]" value="<%= number_with_precision(@data['计算结果']['稳定性'],precision: 3)%>" style="width:60px;">
            <span class="text-unit">MPa</span>
          </td>
          <td colspan="2" class="blue">静压零位允差：<%= number_with_precision(@data['计算结果']['静压零位允差'],precision: 3)%><span class="text-unit">MPa</span></td>
          <td colspan="4" class="blue">静压零位误差：
            <input type="text" name="report[计算结果][静压零位误差]" value="<%= number_with_precision(@data['计算结果']['静压零位误差'],precision: 3)%>" style="width:60px;">
            <span class="text-unit">MPa</span></td>
        </tr>
        <tr class="text-left">
          <td colspan="7">检定结论：
            <%= render partial: 'conclusion', locals: {result: @data['result'], precision: @verification.instrument.precision} %>
          </td>
          <td colspan="7">证书编号：
            <span><%= @verification.sn%></span>
          </td>
        </tr>
        <tr class="text-left">
          <td colspan="7">
            <span>检定员：&nbsp;&nbsp;
              <input name="report[检定员]" value="<%= @data['检定员'] %>" type="text" style="width: 50%;margin: 0 5px;">
            </span>
            <span style="display: block;margin-top:6px;">检定日期：
              <input type="text" name="report[检定日期]" value="<%= @data['检定日期']%>"/>
            </span>
          </td>

          <td colspan="7">
            <span>核验员：&nbsp;&nbsp;
              <input name= "report[核验员]" value="<%= @data['核验员'] %>" type="text" style="width: 50%;margin: 0 5px;">
            </span>
            <span style="display: block;margin-top:6px;">核验日期：
              <input type="text" name="report[核验日期]" value="<%= @data['核验日期']%>">
            </span>
          </td>
        </tr>
      </table>
    <div class="text-right" >
      <% if can? :calculate, Verification%>
        <% if !@verification.approved? %>
          <%= f.submit "提交", class: "btn btn-success btn-sm" %>
        <% end %>
      <% end %>
    </div>
  <% end %>
  </div>
</div>
<script>
  window.onload = changeStandardInstrument("<%= @data['标准器']%>");

  function changeStandardInstrument(id){
    if(id != ""){
      $.ajax({
        url: window.location.origin + '/instruments/' + id,
        method: 'GET',
        success: function(data){
          $('#sd_kind').html(data.instrument_kind);
          $('#sd_specification').html(data.specification);
          $('#sd_vendor').html(data.vendor);
          $('#sd_sn').html(data.sn);
          $('#sd_range').html(data.range);
          $('#sd_precision').html(data.precision);
        }
      });
    }else{
      //$('#sd_name').empty();
      $('#sd_specification').empty();
      $('#sd_vendor').empty();
      $('#sd_sn').empty();
      $('#sd_range').empty();
      $('#sd_precision').empty();
    }
  }
</script>
