<% report = @data %>
<div >
  <h2 class="center" style="margin-bottom: 50px;">
    <span> 压力变送器检定记录</span>
  </h2>
  <div>
    <%= simple_form_for :report, url: calculate_verification_path, method: :post do |f| %>
      <table class="table table-noborder">
        <tr>
          <td colspan="2" width="55%">送检单位<span class="input-line"><%= @verification.organ.name%></span></td>
          <td width="45%">样品名称<span class="input-line"></span></td>
        </tr>
        <tr>
          <td colspan="2">生产单位 <span class="input-line"><%= @verification.instrument.vendor_name%></span></td>
          <td>规格型号<span class="input-line"><%= @verification.instrument.specification%></span></td>
        </tr>
        <tr>
          <td colspan="2">测量范围<span class="input-line"> <%= @verification.instrument.range%></span></td>
          <input type="hidden" name=report[测量范围上限] value="<%= @verification.instrument.range_start%>">
          <input type="hidden" name=report[测量范围下限] value="<%= @verification.instrument.range_end%>">
          <td>出厂编号<span class="input-line"><%= @verification.instrument.sn%></span> </td>
        </tr>
        <tr>
          <td width="27%">准确度等级<span class="input-line"><%= @verification.instrument.precision%></span></td>
          <input type="hidden" name=report[准确度等级] value="<%= @verification.instrument.precision%>">
          <td width="28%">环境温度 <input type="text" value="<%= report['计算结果']['环境温度']%>" name="report[计算结果][环境温度]" class="input-line" /><span>&#8451;</span></td>
          <td>环境湿度 <input type="text" value="<%= report['计算结果']['环境湿度']%>" name="report[计算结果][环境湿度]" class="input-line"><span>&#37;RH</span></td>
        </tr>
        <tr>
          <td rowspan="2">检定用标准器名称及型号：</td>
          <td >
            <%= select_tag 'report[标准器][0]', options_for_select([*@instruments].collect{|i| [i.specification, i.id]}, @data['标准器']['0']),{prompt: '请选择', onchange: "changeStandardInstrument(this.value)"}%>
          </td>
          <td>编号：<span id="sd_sn0" class="input-line"><%= report['标准器'][0]%></span></td>
        </tr>
        <tr>
          <td>
            <%= select_tag 'report[标准器][1]', options_for_select([*@instruments].collect{|i| [i.specification, i.id]}, @data['标准器']['1']),{prompt: '请选择', onchange: "changeAnotherStandardInstrument(this.value)"}%>
          </td>
          <td colspan="3">编号：<span id="sd_sn1" class="input-line"><%= report['标准器'][1]%></span></td>
        </tr>
        <tr>
          <td colspan="3">检定结果:</td>
        </tr>
      </table>
      <div class="table-responsive">
        <table class="table table-bordered center">
          <tr>
            <td rowspan="3" style="min-width: 70px;">检定点</td>
            <td rowspan="3" style="min-width: 70px;">理论输出值</td>
            <td colspan="6">实际输出值</td>
            <td rowspan="3" style="min-width: 70px;">基本误差</td>
            <td rowspan="3" style="min-width: 70px;">回差</td>
          </tr>
          <tr>
            <td colspan="2">第一次</td>
            <td colspan="2">第二次</td>
            <td colspan="2">第三次</td>
          </tr>
          <tr>
            <td style="min-width: 70px;">上行程</td>
            <td style="min-width: 70px;">下行程</td>
            <td style="min-width: 70px;">上行程</td>
            <td style="min-width: 70px;">下行程</td>
            <td style="min-width: 70px;">上行程</td>
            <td style="min-width: 70px;">下行程</td>
          </tr>
          <%- 10.times.each_with_index do |index| %>
            <tr>
              <td><input type="text" style="width:70%" value="<%= report['检定结果']['检定点'][index]%>" name="report[检定结果][检定点][]" /></td>
              <td><input type="text" style="width:70%" value="<%= number_with_precision(report['检定结果']['理论输出值'][index],precision: 3)%>" name="report[检定结果][理论输出值][]"/></td>
              <td><input type="text" style="width:70%" value="<%= number_with_precision(report['检定结果']['实际输出值']['第一次']['上行程'][index],precision: 3)%>" name="report[检定结果][实际输出值][第一次][上行程][]" /></td>
              <td><input type="text" style="width:70%" value="<%= number_with_precision(report['检定结果']['实际输出值']['第一次']['下行程'][index],precision: 3)%>" name="report[检定结果][实际输出值][第一次][下行程][]" /></td>
              <td><input type="text" style="width:70%" value="<%= number_with_precision(report['检定结果']['实际输出值']['第二次']['上行程'][index],precision: 3)%>" name="report[检定结果][实际输出值][第二次][上行程][]" /></td>
              <td><input type="text" style="width:70%" value="<%= number_with_precision(report['检定结果']['实际输出值']['第二次']['下行程'][index],precision: 3)%>" name="report[检定结果][实际输出值][第二次][下行程][]" /></td>
              <td><input type="text" style="width:70%" value="<%= number_with_precision(report['检定结果']['实际输出值']['第三次']['上行程'][index],precision: 3)%>" name="report[检定结果][实际输出值][第三次][上行程][]" /></td>
              <td><input type="text" style="width:70%" value="<%= number_with_precision(report['检定结果']['实际输出值']['第三次']['下行程'][index],precision: 3)%>" name="report[检定结果][实际输出值][第三次][下行程][]" /></td>
              <td><%= number_with_precision(report['计算结果']['基本误差'][index],precision: 3) if report['计算结果']['基本误差']%></td>
              <td><%= number_with_precision(report['计算结果']['回差'][index],precision: 3) if report['计算结果']['回差']%></td>
            </tr>
          <% end %>
        </table>
      </div>
      <table class="table table-noborder">
        <tr>
          <td width="25%">允许误差<span class="input-line"> <%= number_with_precision(report['计算结果']['允许误差'],precision: 3)%></span></td>
          <td width="25%">最大误差 <span class="input-line"><%= number_with_precision(report['计算结果']['最大误差'],precision: 3)%></span></td>
          <td width="25%">允许回差<span class="input-line"> <%= number_with_precision(report['计算结果']['允许回差'],precision: 3)%></span></td>
          <td width="25%">最大回差 <span class="input-line"><%= number_with_precision(report['计算结果']['最大回差'],precision: 3)%></span></td>
        </tr>
        <tr>
          <td>绝缘电阻
            <div class="select" style="display: inline-block;">
              <select name="report[计算结果][绝缘电阻]" style="width:150px;">
                <option value="合格" <%= report['计算结果']['绝缘电阻'] == '合格' ? 'selected' : ""%>>合格</option>
                <option value="不合格" <%= report['计算结果']['绝缘电阻'] == '不合格' ? 'selected' : ""%>>不合格</option>
              </select>
            </div>
          </td>
          <td>绝缘强度
            <div class="select" style="display: inline-block;">
              <select name="report[计算结果][绝缘强度]" style="width:150px;">
                <option value="合格" <%= report['计算结果']['绝缘强度'] == '合格' ? 'selected' : ""%>>合格</option>
                <option value="不合格" <%= report['计算结果']['绝缘强度'] == '不合格' ? 'selected' : ""%>>不合格</option>
              </select>
            </div>
          </td>
          <td>密封性
            <div class="select" style="display: inline-block;">
              <select name="report[计算结果][密封性]" style="width:150px;">
                <option value="合格" <%= report['计算结果']['密封性'] == '合格' ? 'selected' : ""%>>合格</option>
                <option value="不合格" <%= report['计算结果']['密封性'] == '不合格' ? 'selected' : ""%>>不合格</option>
              </select>
            </div>
          </td>
          <td>外观检查
            <div class="select" style="display: inline-block;">
              <select name="report[计算结果][外观检查]" style="width:150px;">
                <option value="合格" <%= report['计算结果']['外观检查'] == '合格' ? 'selected' : ""%>>合格</option>
                <option value="不合格" <%= report['计算结果']['外观检查'] == '不合格' ? 'selected' : ""%>>不合格</option>
              </select>
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="4">结论
            <span class="input-line">
              <%= render partial: 'conclusion', locals: {result: @data['result'], precision: @verification.instrument.precision} %>
            </span>
          </td>
        </tr>

        <tr>
          <td colspan="1">检定员&nbsp;&nbsp;<input value="<%= report['检定员']%>" type="text" name="report[检定员]"  class="input-line" /> </td>
          <td colspan="1">检定日期
            <input type="text" name="report[检定日期]" value="<%= report['检定日期']%>" onClick="WdatePicker({onpicked: function(){$(this).trigger('change')}})" readonly='true'  class="input-time"/>
          </td>
          <td colspan="1">核验员&nbsp;&nbsp;<input type="text" value="<%= report['核验员']%>" name="report[核验员]"  class="input-line" /> </td>
          <td colspan="1">核验日期
            <input type="text" name="report[核验日期]" value="<%= report['核验日期']%>" onClick="WdatePicker({onpicked: function(){$(this).trigger('change')}})" readonly='true'  class="input-time"/>
          </td>
        </tr>
        <tr>
          <td colspan="2">证书编号 <span><input name="report[纪录编号]" type="text"  value="<%= @verification.sn%>"/></span> </td>
        </tr>
        <tr>
          <td>是否合格
            <div class="select" style="display: inline-block;">
              <select name="report[qualified]" style="width:150px;">
                <option value=true <%= report['qualified'] == true ? 'selected' : ""%>>合格</option>
                <option value=false <%= report['qualified'] == false ? 'selected' : ""%>>不合格</option>
              </select>
            </div>
          </td>
        </tr>
      </table>
      <div class="text-right" >
        <% if can? :calculate, Verification%>
          <% if !@verification.approved? %>
            <%= f.submit "提交", class: "btn btn-success btn-sm" %>
          <% end %>
          <% if report['qualified'] && @verification.approved? %>
            <%= link_to (report['qualified'] ? '查看证书' : '查看通知书'), notice_path(@verification.notice,:format => :pdf), target: '_blank', class: 'btn btn-success btn-sm'%>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<script>
  window.onload = changeStandardInstrument("<%= @data['标准器']['0']%>");
  window.onload = changeAnotherStandardInstrument("<%= @data['标准器']['1']%>");

  function changeStandardInstrument(id){
    if(id != ""){
      $.ajax({
        url: window.location.origin + '/instruments/' + id,
        method: 'GET',
        success: function(data){
          $('#sd_sn0').html(data.sn);
        }
      });
    }else{
      $('#sd_sn0').empty();
    }
  }
  function changeAnotherStandardInstrument(id){
    if(id != ""){
      $.ajax({
        url: window.location.origin + '/instruments/' + id,
        method: 'GET',
        success: function(data){
          $('#sd_sn1').html(data.sn);
        }
      });
    }else{
      $('#sd_sn1').empty();
    }
  }
</script>
