<% report = @data %>

<div class="container">
  <%= simple_form_for :report, url: calculate_verification_path, method: :post do |f| %>
    <h2 class="table-title">标准孔板检定记录</h2>

    <h4 class="table-subtitle">SNJL / QHSE &bull; ZD &bull; 04-01</h4>

    <div class="table-responsive">
      <table class="table table-bordered align-center">
        <tr>
          <td class="td-170" colspan="2">送检单位</td>
          <td class="td-150"  colspan="3"><%= @verification.organ.name%></td>
          <td colspan="2">器具名称</td>
          <td colspan="3"><%= @verification.instrument.instrument_kind.name%></td>
          <td colspan="2">环境温度</td>
          <td class="input-full"><input type="text" value="<%= report['环境温度']%>" name="report[环境温度]"></td>
          <td class="align-left">&deg;C</td>
        </tr>
        <tr>
          <td colspan="2">主标准器名称</td>
          <td colspan="3"><input type="text" name="report[主标准器名称]" value="<%= report['主标准器名称'] %>"></td>
          <td colspan="2">器号</td>
          <td colspan="3" class="input-full"><input type="text" name="report[主标准器器号]" value="<%= report['主标准器器号'] %>"></td>
          <td colspan="2">生产厂商</td>
          <td colspan="2"><input type="text" name="report[主标准器生产厂商]" value="<%= report['主标准器生产厂商'] %>"></td>
        </tr>
        <tr>
          <td colspan="2">被检孔板规格</td>
          <td colspan="3"><%= @verification.instrument.specification%></td>
          <td colspan="2">编号</td>
          <td class="input-full" colspan="3"><%= @verification.instrument.sn%></td>
          <td colspan="2">生产厂</td>
          <td colspan="2"><%= @verification.instrument.vendor.name%></td>
        </tr>
        <tr>
          <td colspan="2">检定日期</td>
          <td class="input-full" colspan="7"><input type="text" value="<%= report['检定日期']%>" name="report[检定日期]"></td>
          <td colspan="2">检定证书号</td>
          <td class="input-full" colspan="3"><input type="text" value="<%= report['检定证书号']%>" name="report[检定证书号]"></td>
        </tr>
        <tr>
          <td colspan="14">&nbsp;</td>
        </tr>
        <tr>
          <td colspan="2">项目</td>
          <td colspan="12">测量结果</td>
        </tr>
        <tr>
          <td colspan="2">外观</td>
          <td class="input-full" colspan="12"><input type="text" value="<%= report['外观']%>" name="report[外观]"></td>
        </tr>
        <tr>
          <td colspan="2" rowspan="3">开孔圆筒直径</td>
          <td class="td-70">1</td>
          <td class="input-full" colspan="3"><input type="text" value="<%= report['开孔圆筒直径1']%>" name="report[开孔圆筒直径1]"></td>
          <td class="align-left td-70">mm</td>
          <td>2</td>
          <td class="input-full" colspan="4"><input type="text" value="<%= report['开孔圆筒直径2']%>" name="report[开孔圆筒直径2]"></td>
          <td colspan="2" class="align-left">mm</td>
        </tr>
        <tr>
          <td colspan="2">平均值</td>
          <td class="input-full" colspan="2"><input type="text" value="<%= report['开孔圆筒直径平均值']%>" name="report[开孔圆筒直径平均值]"></td>
          <td class="align-left">mm</td>
          <td colspan="5">任意一个直径值与平均值之差</td>
          <td class="input-full"><input type="text" value="<%= report['开孔圆筒直径平均值差']%>" name="report[开孔圆筒直径平均值差]"></td>
          <td>%</td>
        </tr>
        <tr>
          <td>3</td>
          <td class="input-full" colspan="3"><input type="text" value="<%= report['开孔圆筒直径3']%>" name="report[开孔圆筒直径3]"></td>
          <td class="align-left">mm</td>
          <td>4</td>
          <td class="input-full" colspan="4"><input type="text" value="<%= report['开孔圆筒直径4']%>" name="report[开孔圆筒直径4]"></td>
          <td colspan="2" class="align-left">mm</td>
        </tr>

        <tr>
          <td rowspan="2">厚度</td>
          <td>E(mm)</td>
          <td>0&deg;</td>
          <td class="input-full"><input type="text" value="<%= report['厚度E0']%>" name="report[厚度E0]"></td>
          <td>90&deg;</td>
          <td class="input-full"><input type="text" value="<%= report['厚度E90']%>" name="report[厚度E90]"></td>
          <td>180&deg;</td>
          <td class="input-full"><input class="input-small" value="<%= report['厚度E180']%>" name="report[厚度E180]"></td>
          <td>270&deg;</td>
          <td class="input-full"><input class="input-small" value="<%= report['厚度E270']%>" name="report[厚度E270]"></td>
          <td class="td-70">差值</td>
          <td class="input-full"><input class="input-small" value="<%= report['厚度E差值']%>" name="report[厚度E差值]"></td>
          <td>平均值</td>
          <td class="input-full"><input class="input-small" value="<%= report['厚度E平均值']%>" name="report[厚度E平均值]"></td>
        </tr>
        <tr>
          <td>e(mm)</td>
          <td>0&deg;</td>
          <td class="input-full"><input class="input-small" type="text" value="<%= report['厚度e0']%>" name="report[厚度e0]"></td>
          <td>90&deg;</td>
          <td class="input-full"><input class="input-small" type="text" value="<%= report['厚度e90']%>" name="report[厚度e90]"></td>
          <td>180&deg;</td>
          <td class="input-full"><input class="input-small" value="<%= report['厚度e180']%>" name="report[厚度e180]"></td>
          <td>270&deg;</td>
          <td class="input-full"><input class="input-small" value="<%= report['厚度e270']%>" name="report[厚度e270]"></td>
          <td class="td-70">差值</td>
          <td class="input-full"><input class="input-small" value="<%= report['厚度e差值']%>" name="report[厚度e差值]"></td>
          <td>平均值</td>
          <td class="input-full"><input class="input-small" value="<%= report['厚度e平均值']%>" name="report[厚度e平均值]"></td>
        </tr>

        <tr>
          <td colspan="2">平面度</td>
          <td class="input-full" colspan="7"><input type="text" value="<%= report['平面度']%>" name="report[平面度]"></td>
          <td colspan="3">结论</td>
          <td class="input-full" colspan="2"><input type="text" value="<%= report['平面度结论']%>" name="report[平面度结论]"></td>
        </tr>
        <tr>
          <td colspan="2" rowspan="2">表面粗糙度 &mu;<sub>m</sub></td>
          <td colspan="2">A面、e面</td>
          <td class="input-full" colspan="10"><input type="text" value="<%= report['表面粗糙度AE']%>" name="report[表面粗糙度AE]"></td>
        </tr>
        <tr>
          <td colspan="2">B面</td>
          <td class="input-full" colspan="10"><input type="text" value="<%= report['表面粗糙度B']%>" name="report[表面粗糙度B]"></td>
        </tr>
        <tr>
          <td colspan="2">直角入口 G</td>
          <td class="input-full" colspan="12"><input type="text" value="<%= report['直角入口']%>" name="report[直角入口]"></td>
        </tr>
        <tr>
          <td colspan="2">圆筒出口 I</td>
          <td class="input-full" colspan="12"><input type="text" value="<%= report['圆筒出口']%>" name="report[圆筒出口]"></td>
        </tr>
        <tr>
          <td colspan="2">圆锥出口 H</td>
          <td class="input-full" colspan="12"><input type="text" value="<%= report['圆锥出口']%>" name="report[圆锥出口]"></td>
        </tr>
        <tr>
          <td colspan="2">斜角</td>
          <td class="input-full" colspan="12"><input type="text" value="<%= report['斜角']%>" name="report[斜角]"></td>
        </tr>
        <tr>
          <td colspan="2">结论</td>
          <td class="input-full" colspan="12"><input type="text" value="<%= report['粗糙度结论']%>" name="report[粗糙度结论]"></td>
        </tr>
        <tr>
          <td colspan="2">检定员</td>
          <td class="input-full" colspan="5"><input type="text" value="<%= report['检定员']%>" name="report[检定员]"></td>
          <td colspan="2">核验员</td>
          <td class="input-full" colspan="5"><input type="text" value="<%= report['检核员']%>" name="report[检核员]"></td>
        </tr>
      </table>
    </div>

    <div class="sign-footer">
      <div class="sign">
        <span>原孔板孔径值</span>
        <input type="text" value="<%= report['原孔板孔径值']%>" name="report[原孔板孔径值]">
        <span>mm</span>
      </div>
    </div>

    <div class="text-right" >
      <% if can? :calculate, Verification%>
        <% if !@verification.approved? %>
          <%= f.submit "提交", class: "btn btn-success btn-sm" %>
        <% end %>
        <% if report['qualified'] && @verification.approved? %>
          <%= link_to (report['qualified'] ? '查看证书' : '查看通知书'), notice_path(@verification.notice,:format => :pdf), target: '_blank', class: 'btn btn-success btn-sm'%>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
