<% report = @data %>

<div class="container">

  <h2 class="table-title">硫化氢气体检测仪检定记录</h2>
  <%= simple_form_for :report, url: calculate_verification_path, method: :post do |f| %>
    <div class="sign-upper">
      <div class="line-2">
        <label><span>送检单位：</span></label>
        <%= @verification.organ.name%>
        <label><span>证书编号：</span></label>
        <input class="input-border-bottom" type='text' value="<%= report['证书编号']%>" name="report[证书编号]">
      </div>
      <div class="line-2">
        <label><span>仪器名称：</span></label>
        <input class="input-border-bottom" type='text' value="<%= report['仪器名称']%>" name="report[仪器名称]">
        <label><span>型号：</span></label>
        <input class="input-border-bottom" type='text' value="<%= report['仪器型号']%>" name="report[仪器型号]">
      </div>
      <div class="line-2">
        <label><span>制造厂商：</span></label>
        <input class="input-border-bottom" type='text' value="<%= report['制造厂商']%>" name="report[制造厂商]">
        <label><span>出厂编号：</span></label>
        <input class="input-border-bottom" type='text' value="<%= report['出厂编号']%>" name="report[出厂编号]">
      </div>
      <div class="line-2">
        <label><span>检定环境温度：</span></label>
        <input class="input-border-bottom" type='text' value="<%= report['环境温度']%>" name="report[环境温度]">
        <label><span>湿度：</span></label>
        <input class="input-border-bottom-sm" type='text' value="<%= report['环境湿度']%>" name="report[环境湿度]">
        <span>%RH</span>
      </div>
    </div>

    <div class="input-percent-100">
      <label>1 外观</label>
      <input type='text' value="<%= report['外观']%>" name="report[外观]">
    </div>

    <div class="table-responsive">
      <h3 class="title">2. 示值误差</h3>
      <table class="table table-bordered align-center">
        <thead>
          <tr>
            <td>标准气浓度值（&times;10<sup>-6</sup>）</td>
            <td>示值1</td>
            <td>示值2</td>
            <td>示值3</td>
            <td>平均值</td>
            <td>示值误差</td>
          </tr>
        </thead>
        <tbody>
          <% 4.times do |k| %>
            <% k = k+1 %>
            <tr>
              <td class="input-full"><input type="text" value="<%= report['标准气浓度值'+k.to_s]%>" name="report[标准气浓度值<%=k %>]"></td>
              <td class="input-full"><input type="text" value="<%= report['标准气浓度值'+k.to_s+'1']%>" name="report[标准气浓度值<%=k %>1]"></td>
              <td class="input-full"><input type="text" value="<%= report['标准气浓度值'+k.to_s+'2']%>" name="report[标准气浓度值<%=k %>2]"></td>
              <td class="input-full"><input type="text" value="<%= report['标准气浓度值'+k.to_s+'3']%>" name="report[标准气浓度值<%=k %>3]"></td>
              <td class="input-full"><input type="text" value="<%= report['标准气浓度平均值'+k.to_s+'1']%>" name="report[标准气浓度平均值<%=k %>1]"></td>
              <td class="input-full"><input type="text" value="<%= report['标准气浓度示值误差'+k.to_s+'1']%>" name="report[标准气浓度示值误差<%=k %>1]"></td>
            </tr>
          <% end %>
          
        </tbody>          
      </table>
    </div>


    <div class="table-responsive">
      <h3 class="title">3. 重复性</h3>
      <table class="table table-bordered align-center">
        <thead>
          <tr>
            <td class="td-200">标准气浓度值（&times;10<sup>-6</sup>）</td>
            <td>示值1</td>
            <td>示值2</td>
            <td>示值3</td>
            <td>示值4</td>
            <td>示值5</td>
            <td>示值6</td>
            <td>相对标准偏差%</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="input-full"><input type="text" value="<%= report['重复标准气浓度值']%>" name="report[重复标准气浓度值]"></td>
              <td class="input-full"><input type="text" value="<%= report['重复标准气浓度值1']%>" name="report[重复标准气浓度值1]"></td>
              <td class="input-full"><input type="text" value="<%= report['重复标准气浓度值2']%>" name="report[重复标准气浓度值2]"></td>
              <td class="input-full"><input type="text" value="<%= report['重复标准气浓度值3']%>" name="report[重复标准气浓度值3]"></td>
              <td class="input-full"><input type="text" value="<%= report['重复标准气浓度值4']%>" name="report[重复标准气浓度值4]"></td>
              <td class="input-full"><input type="text" value="<%= report['重复标准气浓度值5']%>" name="report[重复标准气浓度值5]"></td>
              <td class="input-full"><input type="text" value="<%= report['重复标准气浓度值6']%>" name="report[重复标准气浓度值6]"></td>
              <td class="input-full"><input type="text" value="<%= report['重复标准气浓度相对标准偏差1']%>" name="report[重复标准气浓度相对标准偏差1]"></td>
          </tr>
        </tbody>          
      </table>
    </div>


    <div class="table-responsive">
      <h3 class="title">4. 响应时间</h3>
      <table class="table table-bordered align-center">
        <thead>
          <tr>
            <td class="td-200" rowspan="2">标准气浓度值（&times;10<sup>-6</sup>）</td>
            <td colspan="4">响应时间/s</td>            
          </tr>
          <tr>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>平均值</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="input-full"><input type="text" value="<%= report['响应时间标准气浓度值']%>" name="report[响应时间标准气浓度值]"></td>
              <td class="input-full"><input type="text" value="<%= report['响应时间标准气浓度值1']%>" name="report[响应时间标准气浓度值1]"></td>
              <td class="input-full"><input type="text" value="<%= report['响应时间标准气浓度值2']%>" name="report[响应时间标准气浓度值2]"></td>
              <td class="input-full"><input type="text" value="<%= report['响应时间标准气浓度值3']%>" name="report[响应时间标准气浓度值3]"></td>
              <td class="input-full"><input type="text" value="<%= report['响应时间标准气浓度平均值']%>" name="report[响应时间标准气浓度平均值]"></td>
          </tr>
        </tbody>          
      </table>
    </div>

    <div class="table-responsive">
      <h3 class="title">5. 漂移</h3>
      <table class="table table-bordered align-center">
        <thead>
          <tr>
            <td class="td-80">时间</td>
            <td>0</td>
            <td>1h/10min</td>
            <td>2h/20min</td>
            <td>3h/30min</td>
            <td>4h/40min</td>
            <td>5h/50min</td>
            <td>6h/60min</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>零点</td>
            <td class="input-full"><input type="text" value="<%= report['漂移零点0']%>" name="report[漂移零点0]"></td>
              <td class="input-full"><input type="text" value="<%= report['漂移零点1']%>" name="report[漂移零点1]"></td>
              <td class="input-full"><input type="text" value="<%= report['漂移零点2']%>" name="report[漂移零点2]"></td>
              <td class="input-full"><input type="text" value="<%= report['漂移零点3']%>" name="report[漂移零点3]"></td>
              <td class="input-full"><input type="text" value="<%= report['漂移零点4']%>" name="report[漂移零点4]"></td>
              <td class="input-full"><input type="text" value="<%= report['漂移零点5']%>" name="report[漂移零点5]"></td>
              <td class="input-full"><input type="text" value="<%= report['漂移零点6']%>" name="report[漂移零点6]"></td>
          </tr>
          <tr>
            <td>示值</td>
            <td class="input-full"><input type="text" value="<%= report['报警误差0']%>" name="report[报警误差0]"></td>
              <td class="input-full"><input type="text" value="<%= report['漂移示值1']%>" name="report[漂移示值1]"></td>
              <td class="input-full"><input type="text" value="<%= report['漂移示值2']%>" name="report[漂移示值2]"></td>
              <td class="input-full"><input type="text" value="<%= report['漂移示值3']%>" name="report[漂移示值3]"></td>
              <td class="input-full"><input type="text" value="<%= report['漂移示值4']%>" name="report[漂移示值4]"></td>
              <td class="input-full"><input type="text" value="<%= report['漂移示值5']%>" name="report[漂移示值5]"></td>
              <td class="input-full"><input type="text" value="<%= report['漂移示值6']%>" name="report[漂移示值6]"></td>
          </tr>
          <tr>
            <td class="input-half" colspan="3">零点漂移：<input type="text"></td>
            <td class="input-half" colspan="5">示值漂移：<input type="text"></td>
          </tr>
        </tbody>          
      </table>
    </div>

    <div class="table-responsive">
      <h3 class="title">6. 报警误差</h3>
      <table class="table table-bordered align-center">
        <tbody>
          <tr>
            <td class="input-half" colspan="5">仪器设定报警点：<input type="text" value="<%= report['仪器设定报警点']%>" name="report[仪器设定报警点]"></td>
          </tr>
          <tr>
            <td>测量次数</td>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>最大值</td>
          </tr>
          <tr>
            <td>报警浓度（&times;10<sup>-6</sup>）</td>
            
              <td class="input-full"><input type="text" value="<%= report['报警误差1']%>" name="report[报警误差1]"></td>
              <td class="input-full"><input type="text" value="<%= report['报警误差2']%>" name="report[报警误差2]"></td>
              <td class="input-full"><input type="text" value="<%= report['报警误差3']%>" name="report[报警误差3]"></td>
              <td class="input-full"><input type="text" value="<%= report['报警误差最大值']%>" name="report[报警误差最大值]"></td>
          </tr>
          <tr>
            <td class="input-half" colspan="5">报警设置误差：(%)<input type="text" value="<%= report['报警设置误差']%>" name="report[报警设置误差]"></td>
          </tr>
        </tbody>          
      </table>
    </div>


    <div class="input-percent-100">
      <label>7 绝缘电阻</label>
      <input type='text' value="<%= report['绝缘电阻']%>" name="report[绝缘电阻]">
      <span>M &Omega;</span>
    </div>

    <div class="input-percent-100">
      <label>8 绝缘强度</label>
      <input type='text' value="<%= report['绝缘强度']%>" name="report[绝缘强度]">
      <span>V</span>
    </div>

    <div class="input-percent-100">
      <label>9 检定结果</label>
      <input type='text' value="<%= report['检定结果']%>" name="report[检定结果]">
    </div>

    <div class="sign-footer">      
      <label>检定员：</label>
      <input type='text' value="<%= report['检定员']%>" name="report[检定员]">   
      <label>核验员：</label>
      <input type='text' value="<%= report['核验员']%>" name="report[核验员]">
    </div>
    <div class="text-right" >
      <% if can? :calculate, Verification%>
        <% if !@verification.approved? %>
          <%= f.submit "提交", class: "btn btn-success btn-sm" %>
        <% end %>
        <% if report['qualified'] && @verification.approved? %>
          <%= link_to (report['qualified'] ? '查看证书' : '查看通知书'), notice_path(@verification.notice,:format => :pdf), target: '_blank', class: 'btn btn-success btn-sm'%>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>

