<% report = @data %>

<%= simple_form_for :report, url: calculate_verification_path, method: :post do |f| %>

  <div class="container">

    <h3 class="title">
      <span>架盘天平检定记录</span>
    </h3>
    <div class="table-responsive">
      <table class="table table-bordered align-center">
        <tr>
          <td>型号</td>
          <td><input type="text" value="<%= report['型号']%>" name="report[型号]"></td>
          <td>最大称量（p）</td>
          <td colspan="2"><input type="text" value="<%= report['最大称量']%>" name="report[最大称量]"></td>
          <td>制造厂</td>
          <td colspan="2"><input type="text" value="<%= report['制造厂']%>" name="report[制造厂]"></td>
          <td>温度</td>
          <td class="right-26"><input type="text" value="<%= report['温度']%>" name="report[温度]">&#176;C</td>
        </tr>
        <tr>
          <td>器号</td>
          <td><input type="text" value="<%= report['器号']%>" name="report[器号]"></td>
          <td>分度值</td>
          <td colspan="2"><input type="text" value="<%= report['分度值']%>" name="report[分度值]"></td>
          <td>送检单位</td>
          <td colspan="2"><input type="text" value="<%= report['送检单位']%>" name="report[送检单位]"></td>
          <td>湿度</td>
          <td><input type="text" value="<%= report['湿度']%>" name="report[湿度]">&#37;RH</td>
        </tr>
        <tr>
          <td>测试顺序</td>
          <td>计算性能</td>
          <td>秤盘上的载荷</td>
          <td colspan="2">检定结果</td>
          <td>测试顺序</td>
          <td>计算性能</td>
          <td>秤盘上的载荷</td>
          <td colspan="2">检定结果</td>
        </tr>
        <tr>
          <td>1</td>
          <td>空载误差</td>
          <td>0.2e</td>
          <td colspan="2"><input type="text" value="<%= report['检定结果']%>" name="report[检定结果]"></td>
          <td rowspan="9">6</td>
          <td rowspan="9">偏载误差</td>
          <td rowspan="9">P/2+0.5e</td>
          <td rowspan="2">前后</td>
          <td rowspan="2" colspan="2"><input type="text" value="<%= report['前后检定结果']%>" name="report[前后检定结果]"></td>
        </tr>
        <tr>
          <td rowspan="2">2</td>
          <td rowspan="2">空载分度值</td>
          <td rowspan="2">P/2500或P/5000</td>
          <td>左盘：</td>
          <td>右盘：</td>
        </tr>
        <tr>
          <td><input class="input-small" type="text" value="<%= report['空载分度值左盘']%>" name="report[空载分度值左盘]"></td>
          <td><input class="input-small" type="text" value="<%= report['空载分度值右盘']%>" name="report[空载分度值右盘]"></td>
          <td rowspan="2">后前</td>
          <td rowspan="2"><input type="text" value="<%= report['后前检定结果']%>" name="report[后前检定结果]"></td>
        </tr>
        <tr>
          <td>3</td>
          <td>全载误差</td>
          <td>P+1e</td>
          <td colspan="2"><input type="text" value="<%= report['全载误差检定结果']%>" name="report[全载误差检定结果]"></td>
        </tr>
        <tr>
          <td rowspan="2">4</td>
          <td rowspan="2">全载分度值</td>
          <td rowspan="2">P+(P/1000)或P+(P/2000)</td>
          <td>左盘：</td>
          <td>右盘：</td>
          <td rowspan="2">外</td>
          <td rowspan="2"><input type="text" value="<%= report['外检定结果']%>" name="report[外检定结果]"></td>
        </tr>
        <tr>
          <td><input class="input-small" type="text" value="<%= report['全载分度值左盘检定结果']%>" name="report[全载分度值左盘检定结果]"></td>
          <td><input class="input-small" type="text" value="<%= report['全载分度值右盘检定结果']%>" name="report[全载分度值右盘检定结果]"></td>
        </tr>
        <tr>
          <td rowspan="2">5</td>
          <td rowspan="2">游码标尺称量误差</td>
          <td rowspan="2">最大刻度值+0.2e</td>
          <td colspan="2" rowspan="2"><input type="text" value="<%= report['游码标尺称量误差检定结果']%>" name="report[游码标尺称量误差检定结果]"></td>
          <td>内</td>
          <td><input type="text" value="<%= report['内检定结果']%>" name="report[内检定结果]"></td>
        </tr>
        <tr>
          <td>左</td>
          <td><input type="text" value="<%= report['左检定结果']%>" name="report[左检定结果]"></td>          
        </tr>
        <tr>
          <td rowspan="3">6</td>
          <td rowspan="3">偏载误差</td>
          <td rowspan="3">P/2</td>
          <td>中</td>
          <td><input class="input-small" type="text" value="<%= report['偏载误差中检定结果']%>" name="report[偏载误差中检定结果]"></td>
          <td>右</td>
          <td><input type="text" value="<%= report['偏载误差右检定结果']%>" name="report[偏载误差右检定结果]"></td>
        </tr>
        <tr>
          <td>前</td>
          <td><input class="input-small" type="text" value="<%= report['偏载误差前检定结果']%>" name="report[偏载误差前检定结果]"></td>
          <td>7</td>
          <td>超载</td>
          <td>P+(P/4)</td>
          <td rowspan="2" colspan="2"><input type="text" value="<%= report['超载检定结果']%>" name="report[超载检定结果]"></td>
        </tr>
        <tr>
          <td>后</td>
          <td><input class="input-small" type="text" value="<%= report['偏载误差后检定结果']%>" name="report[偏载误差后检定结果]"></td>
          <td>8</td>
          <td>回复空载</td>
          <td>0.2e</td>
        </tr>
        <tr>
          <td colspan="2" class="align-left">检定员<input class="input-small" type="text" value="<%= report['检定员']%>" name="report[检定员]"></td>
          <td>核验员</td>
          <td colspan="2"><input class="input-small" type="text" value="<%= report['核验员']%>" name="report[核验员]"></td>
          <td>检定结论</td>
          <td colspan="4"><input class="input-small" type="text" value="<%= report['检定结论']%>" name="report[检定结论]"></td>
        </tr>
        <tr>
          <td colspan="2" class="align-left">检定日期:</td>
          <td colspan="4" class="align-left"><input class="input-small" type="text" value="<%= report['检定日期']%>" name="report[检定日期]"> </td>
          <td colspan="4">第 1 页  共 1 页</td>
        </tr>
      </table>
    </div>

  </div>

  <div class="text-right" >
    <% if can? :calculate, Verification%>
      <% if !@verification.approved? %>
        <%= f.submit "提交", class: "btn btn-success btn-sm" %>
      <% end %>
      <% if report['qualified'] && @verification.approved? %>
        <%= link_to (report['qualified'] ? '查看证书' : '查看通知书'), notice_path(@verification.notice,:format => :pdf), target: '_blank', class: 'btn btn-success btn-sm'%>
      <% end %>
    <% end %>
  </div>
<% end %>

