<% report = @data %>

<%= simple_form_for :report, url: calculate_verification_path, method: :post do |f| %>

  <div class="container">

    <h2 class="table-title">温度变送器（带传感器）校准记录</h2>

    <div class="sign-upper">
      <div class="row-h">
        <label>委托单位：</label>
        <input class="border-bottom w-180" value="<%= report['委托单位']%>" name="report[委托单位]">
        <label>型号名称：</label>
        <input class="border-bottom w-180" value="<%= report['型号名称']%>" name="report[型号名称]">
        <label>出厂编号：</label>
        <input class="border-bottom w-180" value="<%= report['出厂编号']%>" name="report[出厂编号]">
      </div>
      <div class="row-h">
        <label>分度号：</label>
        <input class="border-bottom w-180" value="<%= report['分度号']%>" name="report[分度号]">
        <label>测量范围：</label>
        <input class="border-bottom w-180" value="<%= report['测量范围']%>" name="report[测量范围]">
        <label>准确度等级：</label>
        <input class="border-bottom w-170" value="<%= report['准确度等级']%>" name="report[准确度等级]">
      </div>
      <div class="row-h">
        <label>制造单位：</label>
        <input class="border-bottom w-300" value="<%= report['制造单位']%>" name="report[制造单位]">
        <label>室温：</label>
        <input class="border-bottom w-100" value="<%= report['室温']%>" name="report[室温]">&deg;C
        <label>相对湿度：</label>
        <input class="border-bottom w-120" value="<%= report['相对湿度']%>" name="report[相对湿度]">%
      </div>
      <div class="row-h">
        <label>供电状况：</label>
        <input class="border-bottom w-200" value="<%= report['供电状况']%>" name="report[供电状况]">
        <label>补偿导线修正值：</label>
        <input class="border-bottom w-400" value="<%= report['补偿导线修正值']%>" name="report[补偿导线修正值]">
      </div>
    </div>

    <div class="table-responsive">
      <table class="table table-bordered align-center">
        <thead>
        </thead>
        <tbody>
          <tr>
            <td colspan="2">标准器名称、编号及有效性：</td>
            <td class="input-full" colspan="8"><input type="text" value="<%= report['标准器有效性']%>" name="report[标准器有效性]"></td>            
          </tr>
          <tr>
            <td colspan="2">标准器名称及型号规格</td>
            <td>编号</td>
            <td colspan="3">测量范围及不确定度</td>
            <td colspan="2">证书编号</td>
            <td colspan="3">有效期</td>
          </tr>
          <tr>
            <td class="input-full" colspan="2"><input type="text" value="<%= report['标准器名称及型号规格1']%>" name="report[标准器名称及型号规格1]"></td>
            <td class="input-full"><input type="text" value="<%= report['标准器编号1']%>" name="report[标准器编号1]"></td>
            <td class="input-full" colspan="3"><input type="text" value="<%= report['测量范围及不确定度1']%>" name="report[测量范围及不确定度1]"></td>
            <td class="input-full" colspan="2"><input type="text" value="<%= report['标准器证书编号1']%>" name="report[标准器证书编号1]"></td>
            <td class="input-full" colspan="3"><input type="text" value="<%= report['证书有效期1']%>" name="report[证书有效期1]"></td>
          </tr>
          <tr>
            <td class="input-full" colspan="2"><input type="text" value="<%= report['标准器名称及型号规格2']%>" name="report[标准器名称及型号规格2]"></td>
            <td class="input-full"><input type="text" value="<%= report['标准器编号2']%>" name="report[标准器编号2]"></td>
            <td class="input-full" colspan="3"><input type="text" value="<%= report['测量范围及不确定度2']%>" name="report[测量范围及不确定度2]"></td>
            <td class="input-full" colspan="2"><input type="text" value="<%= report['标准器证书编号2']%>" name="report[标准器证书编号2]"></td>
            <td class="input-full" colspan="3"><input type="text" value="<%= report['证书有效期2']%>" name="report[证书有效期2]"></td>
          </tr>
          <tr>
            <td colspan="2">被校点/&deg;C</td>
            <td class="input-full"><input type="text" value="<%= report['被校点1']%>" name="report[被校点1]"></td>
            <td class="input-full" colspan="2"><input type="text" value="<%= report['被校点2']%>" name="report[被校点2]"></td>
            <td class="input-full" colspan="2"><input type="text" value="<%= report['被校点3']%>" name="report[被校点3]"></td>
            <td class="input-full" colspan="2"><input type="text" value="<%= report['被校点4']%>" name="report[被校点4]"></td>
            <td class="input-full" colspan="3"><input type="text" value="<%= report['被校点5']%>" name="report[被校点5]"></td>
          </tr>
          <tr>
            <td rowspan="8">标准温度计读数</td>
            <td class="w-150">1</td>
            <td class="input-full"><input type="text" value="<%= report['标准温度计读数11']%>" name="report[标准温度计读数11]"></td>
            <td class="input-full" colspan="2"><input type="text" value="<%= report['标准温度计读数12']%>" name="report[标准温度计读数12]"></td>
            <td class="input-full" colspan="2"><input type="text" value="<%= report['标准温度计读数13']%>" name="report[标准温度计读数13]"></td>
            <td class="input-full" colspan="2"><input type="text" value="<%= report['标准温度计读数14']%>" name="report[标准温度计读数14]"></td>
            <td class="input-full" colspan="3"><input type="text" value="<%= report['标准温度计读数15']%>" name="report[标准温度计读数15]"></td>
          </tr>
          <tr>
            <td>2</td>
            <td class="input-full"><input type="text" value="<%= report['标准温度计读数21']%>" name="report[标准温度计读数21]"></td>
            <td class="input-full" colspan="2"><input type="text" value="<%= report['标准温度计读数22']%>" name="report[标准温度计读数22]"></td>
            <td class="input-full" colspan="2"><input type="text" value="<%= report['标准温度计读数23']%>" name="report[标准温度计读数23]"></td>
            <td class="input-full" colspan="2"><input type="text" value="<%= report['标准温度计读数24']%>" name="report[标准温度计读数24]"></td>
            <td class="input-full" colspan="3"><input type="text" value="<%= report['标准温度计读数25']%>" name="report[标准温度计读数25]"></td>
          </tr>
          <tr>
            <td>3</td>
            <td class="input-full"><input type="text" value="<%= report['标准温度计读数31']%>" name="report[标准温度计读数31]"></td>
            <td class="input-full" colspan="2"><input type="text" value="<%= report['标准温度计读数32']%>" name="report[标准温度计读数32]"></td>
            <td class="input-full" colspan="2"><input type="text" value="<%= report['标准温度计读数33']%>" name="report[标准温度计读数33]"></td>
            <td class="input-full" colspan="2"><input type="text" value="<%= report['标准温度计读数34']%>" name="report[标准温度计读数34]"></td>
            <td class="input-full" colspan="3"><input type="text" value="<%= report['标准温度计读数35']%>" name="report[标准温度计读数35]"></td>
          </tr>
          <tr>
            <td>4</td>
            <td class="input-full"><input type="text" value="<%= report['标准温度计读数41']%>" name="report[标准温度计读数41]"></td>
            <td class="input-full" colspan="2"><input type="text" value="<%= report['标准温度计读数42']%>" name="report[标准温度计读数42]"></td>
            <td class="input-full" colspan="2"><input type="text" value="<%= report['标准温度计读数43']%>" name="report[标准温度计读数43]"></td>
            <td class="input-full" colspan="2"><input type="text" value="<%= report['标准温度计读数44']%>" name="report[标准温度计读数44]"></td>
            <td class="input-full" colspan="3"><input type="text" value="<%= report['标准温度计读数45']%>" name="report[标准温度计读数45]"></td>
          </tr>
          <tr>
            <td>5</td>
            <td class="input-full"><input type="text" value="<%= report['标准温度计读数51']%>" name="report[标准温度计读数51]"></td>
            <td class="input-full" colspan="2"><input type="text" value="<%= report['标准温度计读数52']%>" name="report[标准温度计读数52]"></td>
            <td class="input-full" colspan="2"><input type="text" value="<%= report['标准温度计读数53']%>" name="report[标准温度计读数53]"></td>
            <td class="input-full" colspan="2"><input type="text" value="<%= report['标准温度计读数54']%>" name="report[标准温度计读数54]"></td>
            <td class="input-full" colspan="3"><input type="text" value="<%= report['标准温度计读数55']%>" name="report[标准温度计读数55]"></td>
          </tr>
          <tr>
            <td>6</td>
            <td class="input-full"><input type="text" value="<%= report['标准温度计读数61']%>" name="report[标准温度计读数61]"></td>
            <td class="input-full" colspan="2"><input type="text" value="<%= report['标准温度计读数62']%>" name="report[标准温度计读数62]"></td>
            <td class="input-full" colspan="2"><input type="text" value="<%= report['标准温度计读数63']%>" name="report[标准温度计读数63]"></td>
            <td class="input-full" colspan="2"><input type="text" value="<%= report['标准温度计读数64']%>" name="report[标准温度计读数64]"></td>
            <td class="input-full" colspan="3"><input type="text" value="<%= report['标准温度计读数65']%>" name="report[标准温度计读数65]"></td>
          </tr>
          <tr>
            <td>平均值</td>
            <td class="input-full"><input type="text" value="<%= report['标准温度计读数平均值1']%>" name="report[标准温度计读数平均值1]"></td>
            <td class="input-full" colspan="2"><input type="text" value="<%= report['标准温度计读数平均值2']%>" name="report[标准温度计读数平均值2]"></td>
            <td class="input-full" colspan="2"><input type="text" value="<%= report['标准温度计读数平均值3']%>" name="report[标准温度计读数平均值3]"></td>
            <td class="input-full" colspan="2"><input type="text" value="<%= report['标准温度计读数平均值4']%>" name="report[标准温度计读数平均值4]"></td>
            <td class="input-full" colspan="3"><input type="text" value="<%= report['标准温度计读数平均值5']%>" name="report[标准温度计读数平均值5]"></td>
          </tr>
          <tr>
            <td>对应的输出 /mA</td>
            <td class="input-full"><input type="text" value="<%= report['标准温度计读数对应的输出1']%>" name="report[标准温度计读数对应的输出1]"></td>
            <td class="input-full" colspan="2"><input type="text" value="<%= report['标准温度计读数对应的输出2']%>" name="report[标准温度计读数对应的输出2]"></td>
            <td class="input-full" colspan="2"><input type="text" value="<%= report['标准温度计读数对应的输出3']%>" name="report[标准温度计读数对应的输出3]"></td>
            <td class="input-full" colspan="2"><input type="text" value="<%= report['标准温度计读数对应的输出4']%>" name="report[标准温度计读数对应的输出4]"></td>
            <td class="input-full" colspan="3"><input type="text" value="<%= report['标准温度计读数对应的输出5']%>" name="report[标准温度计读数对应的输出5]"></td>
          </tr>
          <tr>
            <td rowspan="7">变送器输出值/mA</td>
            <td>1</td>
            <td class="input-full"><input type="text" value="<%= report['变送器输出值11']%>" name="report[变送器输出值11]"></td>
            <td class="input-full" colspan="2"><input type="text" value="<%= report['变送器输出值12']%>" name="report[变送器输出值12]"></td>
            <td class="input-full" colspan="2"><input type="text" value="<%= report['变送器输出值13']%>" name="report[变送器输出值13]"></td>
            <td class="input-full" colspan="2"><input type="text" value="<%= report['变送器输出值14']%>" name="report[变送器输出值14]"></td>
            <td class="input-full" colspan="3"><input type="text" value="<%= report['变送器输出值15']%>" name="report[变送器输出值15]"></td>
          </tr>
          <tr>
            <td>2</td>
            <td class="input-full"><input type="text" value="<%= report['变送器输出值21']%>" name="report[变送器输出值21]"></td>
            <td class="input-full" colspan="2"><input type="text" value="<%= report['变送器输出值22']%>" name="report[变送器输出值22]"></td>
            <td class="input-full" colspan="2"><input type="text" value="<%= report['变送器输出值23']%>" name="report[变送器输出值23]"></td>
            <td class="input-full" colspan="2"><input type="text" value="<%= report['变送器输出值24']%>" name="report[变送器输出值24]"></td>
            <td class="input-full" colspan="3"><input type="text" value="<%= report['变送器输出值25']%>" name="report[变送器输出值25]"></td>
          </tr>
          <tr>
            <td>3</td>
            <td class="input-full"><input type="text" value="<%= report['变送器输出值31']%>" name="report[变送器输出值31]"></td>
            <td class="input-full" colspan="2"><input type="text" value="<%= report['变送器输出值32']%>" name="report[变送器输出值32]"></td>
            <td class="input-full" colspan="2"><input type="text" value="<%= report['变送器输出值33']%>" name="report[变送器输出值33]"></td>
            <td class="input-full" colspan="2"><input type="text" value="<%= report['变送器输出值34']%>" name="report[变送器输出值34]"></td>
            <td class="input-full" colspan="3"><input type="text" value="<%= report['变送器输出值35']%>" name="report[变送器输出值35]"></td>
          </tr>
          <tr>
            <td>4</td>
            <td class="input-full"><input type="text" value="<%= report['变送器输出值41']%>" name="report[变送器输出值41]"></td>
            <td class="input-full" colspan="2"><input type="text" value="<%= report['变送器输出值42']%>" name="report[变送器输出值42]"></td>
            <td class="input-full" colspan="2"><input type="text" value="<%= report['变送器输出值43']%>" name="report[变送器输出值43]"></td>
            <td class="input-full" colspan="2"><input type="text" value="<%= report['变送器输出值44']%>" name="report[变送器输出值44]"></td>
            <td class="input-full" colspan="3"><input type="text" value="<%= report['变送器输出值45']%>" name="report[变送器输出值45]"></td>
          </tr>
          <tr>
            <td>5</td>
            <td class="input-full"><input type="text" value="<%= report['变送器输出值51']%>" name="report[变送器输出值51]"></td>
            <td class="input-full" colspan="2"><input type="text" value="<%= report['变送器输出值52']%>" name="report[变送器输出值52]"></td>
            <td class="input-full" colspan="2"><input type="text" value="<%= report['变送器输出值53']%>" name="report[变送器输出值53]"></td>
            <td class="input-full" colspan="2"><input type="text" value="<%= report['变送器输出值54']%>" name="report[变送器输出值54]"></td>
            <td class="input-full" colspan="3"><input type="text" value="<%= report['变送器输出值55']%>" name="report[变送器输出值55]"></td>
          </tr>
          <tr>
            <td>6</td>
            <td class="input-full"><input type="text" value="<%= report['变送器输出值61']%>" name="report[变送器输出值61]"></td>
            <td class="input-full" colspan="2"><input type="text" value="<%= report['变送器输出值62']%>" name="report[变送器输出值62]"></td>
            <td class="input-full" colspan="2"><input type="text" value="<%= report['变送器输出值63']%>" name="report[变送器输出值63]"></td>
            <td class="input-full" colspan="2"><input type="text" value="<%= report['变送器输出值64']%>" name="report[变送器输出值64]"></td>
            <td class="input-full" colspan="3"><input type="text" value="<%= report['变送器输出值65']%>" name="report[变送器输出值65]"></td>
          </tr>
          <tr>
            <td>平均值</td>
            <td class="input-full"><input type="text" value="<%= report['变送器输出平均值1']%>" name="report[变送器输出平均值1]"></td>
            <td class="input-full" colspan="2"><input type="text" value="<%= report['变送器输出平均值2']%>" name="report[变送器输出平均值2]"></td>
            <td class="input-full" colspan="2"><input type="text" value="<%= report['变送器输出平均值3']%>" name="report[变送器输出平均值3]"></td>
            <td class="input-full" colspan="2"><input type="text" value="<%= report['变送器输出平均值4']%>" name="report[变送器输出平均值4]"></td>
            <td class="input-full" colspan="3"><input type="text" value="<%= report['变送器输出平均值5']%>" name="report[变送器输出平均值5]"></td>
          </tr>
          <tr>
            <td colspan="2">误差/mA</td>
            <td class="input-full"><input type="text" value="<%= report['误差值1']%>" name="report[误差值1]"></td>
            <td class="input-full" colspan="2"><input type="text" value="<%= report['误差值2']%>" name="report[误差值2]"></td>
            <td class="input-full" colspan="2"><input type="text" value="<%= report['误差值3']%>" name="report[误差值3]"></td>
            <td class="input-full" colspan="2"><input type="text" value="<%= report['误差值4']%>" name="report[误差值4]"></td>
            <td class="input-full" colspan="3"><input type="text" value="<%= report['误差值5']%>" name="report[误差值5]"></td>
          </tr>
          <tr>
            <td colspan="2">s/&radic;6/mA</td>
            <td class="input-full"><input type="text" value="<%= report['6ma1']%>" name="report[6ma1]"></td>
            <td class="input-full" colspan="2"><input type="text" value="<%= report['6ma2']%>" name="report[6ma2]"></td>
            <td class="input-full" colspan="2"><input type="text" value="<%= report['6ma3']%>" name="report[6ma3]"></td>
            <td class="input-full" colspan="2"><input type="text" value="<%= report['6ma4']%>" name="report[6ma4]"></td>
            <td class="input-full" colspan="3"><input type="text" value="<%= report['6ma5']%>" name="report[6ma5]"></td>
          </tr>
          <tr>
            <td colspan="2">U/mA，k=</td>
            <<td class="input-full"><input type="text" value="<%= report['uma1']%>" name="report[uma1]"></td>
            <td class="input-full" colspan="2"><input type="text" value="<%= report['uma2']%>" name="report[uma2]"></td>
            <td class="input-full" colspan="2"><input type="text" value="<%= report['uma3']%>" name="report[uma3]"></td>
            <td class="input-full" colspan="2"><input type="text" value="<%= report['uma4']%>" name="report[uma4]"></td>
            <td class="input-full" colspan="3"><input type="text" value="<%= report['uma5']%>" name="report[uma5]"></td>
          </tr>
          <tr>
            <td colspan="2">U/&deg;C，k=</td>
            <td class="input-full"><input type="text" value="<%= report['uck1']%>" name="report[uck1]"></td>
            <td class="input-full" colspan="2"><input type="text" value="<%= report['uck2']%>" name="report[uck2]"></td>
            <td class="input-full" colspan="2"><input type="text" value="<%= report['uck3']%>" name="report[uck3]"></td>
            <td class="input-full" colspan="2"><input type="text" value="<%= report['uck4']%>" name="report[uck4]"></td>
            <td class="input-full" colspan="3"><input type="text" value="<%= report['uck5']%>" name="report[uck5]"></td>
          </tr>
        </tbody>          
      </table>
    </div>

    <div class="sign-footer">      
      <label>校准员：</label>
      <input class="border-bottom w-160" type='text' value="<%= report['校准员']%>" name="report[校准员]">   
      <label>核验员：</label>
      <input class="border-bottom w-160" type='text' value="<%= report['核验员']%>" name="report[核验员]">
      <label>校准日期：</label>
      <input class="border-bottom w-160" type='text' value="<%= report['校准日期']%>" name="report[校准日期]">
    </div>
  </div>

  <div class="text-right" >
    <% if can? :calculate, Verification%>
      <% if !@verification.approved? %>
        <%= f.submit "提交", class: "btn btn-success btn-sm" %>
      <% end %>
      <% if report['qualified'] && @verification.approved? %>
        <%= link_to (report['qualified'] ? '查看证书' : '查看通知书'), notice_path(@verification.notice,:format => :pdf), target: '_blank', class: 'btn btn-success btn-sm'%>
      <% end %>
    <% end %>
  </div>
<% end %>