
<% report = @data %>

<%= simple_form_for :report, url: calculate_verification_path, method: :post do |f| %>
  <div class="container">

    <h2 class="table-title">温度变送器（不带传感器）校准记录</h2>

    <div class="sign-upper">
      <div class="row-h">
        <label>委托单位：</label>
        <input class="border-bottom w-180" value="<%= report['委托单位']%>" name="report[委托单位]">
        <label>型号名称：</label>
        <input class="border-bottom w-180" value="<%= report['型号名称']%>" name="report[型号名称]">
        <label>出厂编号：</label>
        <input class="border-bottom w-180" value="<%= report['出厂编号']%>" name="report[出厂编号]">
      </div>
      <div class="row-h">
        <label>分度号：</label>
        <input class="border-bottom w-180" value="<%= report['分度号']%>" name="report[分度号]">
        <label>测量范围：</label>
        <input class="border-bottom w-180" value="<%= report['测量范围']%>" name="report[测量范围]">
        <label>准确度等级：</label>
        <input class="border-bottom w-170" value="<%= report['准确度等级']%>" name="report[准确度等级]">
      </div>
      <div class="row-h">
        <label>制造单位：</label>
        <input class="border-bottom w-300" value="<%= report['制造单位']%>" name="report[制造单位]">
        <label>室温：</label>
        <input class="border-bottom w-100" value="<%= report['室温']%>" name="report[室温]">&deg;C
        <label>相对湿度：</label>
        <input class="border-bottom w-120" value="<%= report['相对湿度']%>" name="report[相对湿度]">%
      </div>
      <div class="row-h">
        <label>供电状况：</label>
        <input class="border-bottom w-200" value="<%= report['供电状况']%>" name="report[供电状况]">
        <label>补偿导线修正值：</label>
        <input class="border-bottom w-400" value="<%= report['补偿导线修正值']%>" name="report[补偿导线修正值]">
      </div>
    </div>


    <div class="table-responsive">
      <table class="table table-bordered align-center">
        <tbody>
          <tr>
            <td colspan="3">标准器名称、编号及有效性：</td>
            <td class="input-full" colspan="8"><input type="text"></td>
          </tr>
          <tr>
            <td colspan="3">标准器名称及型号规格</td>
            <td colspan="2">编号</td>
            <td colspan="2">测量范围及不确定度</td>
            <td colspan="2">证书编号</td>
            <td colspan="2">有效日期</td>
          </tr>
          <tr>
            <td class="input-full" colspan="2"><input type="text" value="<%= report['标准器名称及型号规格1']%>" name="report[标准器名称及型号规格1]"></td>
            <td class="input-full"><input type="text" value="<%= report['标准器编号1']%>" name="report[标准器编号1]"></td>
            <td class="input-full" colspan="3"><input type="text" value="<%= report['测量范围及不确定度1']%>" name="report[测量范围及不确定度1]"></td>
            <td class="input-full" colspan="2"><input type="text" value="<%= report['标准器证书编号1']%>" name="report[标准器证书编号1]"></td>
            <td class="input-full" colspan="3"><input type="text" value="<%= report['证书有效期1']%>" name="report[证书有效期1]"></td>
          </tr>
          <tr>
            <td class="input-full" colspan="2"><input type="text" value="<%= report['标准器名称及型号规格2']%>" name="report[标准器名称及型号规格2]"></td>
            <td class="input-full"><input type="text" value="<%= report['标准器编号2']%>" name="report[标准器编号2]"></td>
            <td class="input-full" colspan="3"><input type="text" value="<%= report['测量范围及不确定度2']%>" name="report[测量范围及不确定度2]"></td>
            <td class="input-full" colspan="2"><input type="text" value="<%= report['标准器证书编号2']%>" name="report[标准器证书编号2]"></td>
            <td class="input-full" colspan="3"><input type="text" value="<%= report['证书有效期2']%>" name="report[证书有效期2]"></td>
          </tr>

          <tr>
            <td colspan="4">被校点/&deg;C</td>
            <td class="input-full"><input type="text" value="<%= report['被校点1']%>" name="report[被校点1]"></td>
            <td class="input-full" colspan="2"><input type="text" value="<%= report['被校点2']%>" name="report[被校点2]"></td>
            <td class="input-full" colspan="2"><input type="text" value="<%= report['被校点3']%>" name="report[被校点3]"></td>
            <td class="input-full" colspan="2"><input type="text" value="<%= report['被校点4']%>" name="report[被校点4]"></td>
            <td class="input-full" colspan="3"><input type="text" value="<%= report['被校点5']%>" name="report[被校点5]"></td>
            <td class="input-full" colspan="3"><input type="text" value="<%= report['被校点6']%>" name="report[被校点6]"></td>
            <td class="input-full" colspan="3"><input type="text" value="<%= report['被校点7']%>" name="report[被校点7]"></td>
          </tr>
          <tr>
            <td colspan="4">对应电量值/mv</td>
            <td class="input-full"><input type="text" value="<%= report['对应电量值1']%>" name="report[对应电量值1]"></td>
            <td class="input-full" colspan="2"><input type="text" value="<%= report['对应电量值2']%>" name="report[对应电量值2]"></td>
            <td class="input-full" colspan="2"><input type="text" value="<%= report['对应电量值3']%>" name="report[对应电量值3]"></td>
            <td class="input-full" colspan="2"><input type="text" value="<%= report['对应电量值4']%>" name="report[对应电量值4]"></td>
            <td class="input-full" colspan="3"><input type="text" value="<%= report['对应电量值5']%>" name="report[对应电量值5]"></td>
            <td class="input-full" colspan="3"><input type="text" value="<%= report['对应电量值6']%>" name="report[对应电量值6]"></td>
            <td class="input-full" colspan="3"><input type="text" value="<%= report['对应电量值7']%>" name="report[对应电量值7]"></td>
          </tr>
          <tr>
            <td colspan="4">理论输出值/mA</td>
            <td class="input-full"><input type="text" value="<%= report['理论输出值1']%>" name="report[理论输出值1]"></td>
            <td class="input-full" colspan="2"><input type="text" value="<%= report['理论输出值2']%>" name="report[理论输出值2]"></td>
            <td class="input-full" colspan="2"><input type="text" value="<%= report['理论输出值3']%>" name="report[理论输出值3]"></td>
            <td class="input-full" colspan="2"><input type="text" value="<%= report['理论输出值4']%>" name="report[理论输出值4]"></td>
            <td class="input-full" colspan="3"><input type="text" value="<%= report['理论输出值5']%>" name="report[理论输出值5]"></td>
            <td class="input-full" colspan="3"><input type="text" value="<%= report['理论输出值6']%>" name="report[理论输出值6]"></td>
            <td class="input-full" colspan="3"><input type="text" value="<%= report['理论输出值7']%>" name="report[理论输出值7]"></td>
          </tr>

          <tr>
            <td class="w-80" rowspan="6">实际输出值 /mA </td>
            <td class="w-100" rowspan="2">第一次</td>
            <td class="w-100" colspan="2">上行程</td>
            <td class="input-full"><input type="text" value="<%= report['实际输出值上行11']%>" name="report[实际输出值上行11]"></td>
            <td class="input-full" colspan="2"><input type="text" value="<%= report['实际输出值上行12']%>" name="report[实际输出值上行12]"></td>
            <td class="input-full" colspan="2"><input type="text" value="<%= report['实际输出值上行13']%>" name="report[实际输出值上行13]"></td>
            <td class="input-full" colspan="2"><input type="text" value="<%= report['实际输出值上行14']%>" name="report[实际输出值上行14]"></td>
            <td class="input-full" colspan="3"><input type="text" value="<%= report['实际输出值上行15']%>" name="report[实际输出值上行15]"></td>
            <td class="input-full" colspan="3"><input type="text" value="<%= report['实际输出值上行16']%>" name="report[实际输出值上行16]"></td>
            <td class="input-full" colspan="3"><input type="text" value="<%= report['实际输出值上行17']%>" name="report[实际输出值上行17]"></td>
          </tr>
          <tr>
            <td class="w-100" colspan="2">下行程</td>
            <td class="input-full"><input type="text" value="<%= report['实际输出值下行11']%>" name="report[实际输出值下行11]"></td>
            <td class="input-full" colspan="2"><input type="text" value="<%= report['实际输出值下行12']%>" name="report[实际输出值下行12]"></td>
            <td class="input-full" colspan="2"><input type="text" value="<%= report['实际输出值下行13']%>" name="report[实际输出值下行13]"></td>
            <td class="input-full" colspan="2"><input type="text" value="<%= report['实际输出值下行14']%>" name="report[实际输出值下行14]"></td>
            <td class="input-full" colspan="3"><input type="text" value="<%= report['实际输出值下行15']%>" name="report[实际输出值下行15]"></td>
            <td class="input-full" colspan="3"><input type="text" value="<%= report['实际输出值下行16']%>" name="report[实际输出值下行16]"></td>
            <td class="input-full" colspan="3"><input type="text" value="<%= report['实际输出值下行17']%>" name="report[实际输出值下行17]"></td>
          </tr>
          <tr>
            <td class="w-100" rowspan="2">第二次</td>
            <td class="w-100" colspan="2">上行程</td>
            <td class="input-full"><input type="text" value="<%= report['实际输出值上行21']%>" name="report[实际输出值上行21]"></td>
            <td class="input-full" colspan="2"><input type="text" value="<%= report['实际输出值上行22']%>" name="report[实际输出值上行22]"></td>
            <td class="input-full" colspan="2"><input type="text" value="<%= report['实际输出值上行23']%>" name="report[实际输出值上行23]"></td>
            <td class="input-full" colspan="2"><input type="text" value="<%= report['实际输出值上行24']%>" name="report[实际输出值上行24]"></td>
            <td class="input-full" colspan="3"><input type="text" value="<%= report['实际输出值上行25']%>" name="report[实际输出值上行25]"></td>
            <td class="input-full" colspan="3"><input type="text" value="<%= report['实际输出值上行26']%>" name="report[实际输出值上行26]"></td>
            <td class="input-full" colspan="3"><input type="text" value="<%= report['实际输出值上行27']%>" name="report[实际输出值上行27]"></td>
          </tr>
          <tr>
            <td class="w-100" colspan="2">下行程</td>
            <td class="input-full"><input type="text" value="<%= report['实际输出值下行21']%>" name="report[实际输出值下行21]"></td>
            <td class="input-full" colspan="2"><input type="text" value="<%= report['实际输出值下行22']%>" name="report[实际输出值下行22]"></td>
            <td class="input-full" colspan="2"><input type="text" value="<%= report['实际输出值下行23']%>" name="report[实际输出值下行23]"></td>
            <td class="input-full" colspan="2"><input type="text" value="<%= report['实际输出值下行24']%>" name="report[实际输出值下行24]"></td>
            <td class="input-full" colspan="3"><input type="text" value="<%= report['实际输出值下行25']%>" name="report[实际输出值下行25]"></td>
            <td class="input-full" colspan="3"><input type="text" value="<%= report['实际输出值下行26']%>" name="report[实际输出值下行26]"></td>
            <td class="input-full" colspan="3"><input type="text" value="<%= report['实际输出值下行27']%>" name="report[实际输出值下行27]"></td>
          </tr>
          <tr>
            <td class="w-100" rowspan="2">第三次</td>
            <td class="w-100" colspan="2">上行程</td>
            <td class="input-full"><input type="text" value="<%= report['实际输出值上行31']%>" name="report[实际输出值上行31]"></td>
            <td class="input-full"><input type="text" value="<%= report['实际输出值上行32']%>" name="report[实际输出值上行32]"></td>
            <td class="input-full"><input type="text" value="<%= report['实际输出值上行33']%>" name="report[实际输出值上行33]"></td>
            <td class="input-full"><input type="text" value="<%= report['实际输出值上行34']%>" name="report[实际输出值上行34]"></td>
            <td class="input-full"><input type="text" value="<%= report['实际输出值上行35']%>" name="report[实际输出值上行35]"></td>
            <td class="input-full"><input type="text" value="<%= report['实际输出值上行36']%>" name="report[实际输出值上行36]"></td>
            <td class="input-full"><input type="text" value="<%= report['实际输出值上行37']%>" name="report[实际输出值上行37]"></td>
          </tr>
          <tr>
            <td class="w-100" colspan="2">下行程</td>
            <td class="input-full"><input type="text" value="<%= report['实际输出值下行31']%>" name="report[实际输出值下行31]"></td>
            <td class="input-full"><input type="text" value="<%= report['实际输出值下行32']%>" name="report[实际输出值下行32]"></td>
            <td class="input-full"><input type="text" value="<%= report['实际输出值下行33']%>" name="report[实际输出值下行33]"></td>
            <td class="input-full"><input type="text" value="<%= report['实际输出值下行34']%>" name="report[实际输出值下行34]"></td>
            <td class="input-full"><input type="text" value="<%= report['实际输出值下行35']%>" name="report[实际输出值下行35]"></td>
            <td class="input-full"><input type="text" value="<%= report['实际输出值下行36']%>" name="report[实际输出值下行36]"></td>
            <td class="input-full"><input type="text" value="<%= report['实际输出值下行37']%>" name="report[实际输出值下行37]"></td>
          </tr>
          <tr>
            <td colspan="4">平均值/mA</td>
            <td class="input-full"><input type="text" value="<%= report['平均值1']%>" name="report[平均值1]"></td>
            <td class="input-full"><input type="text" value="<%= report['平均值2']%>" name="report[平均值2]"></td>
            <td class="input-full"><input type="text" value="<%= report['平均值3']%>" name="report[平均值3]"></td>
            <td class="input-full"><input type="text" value="<%= report['平均值4']%>" name="report[平均值4]"></td>
            <td class="input-full"><input type="text" value="<%= report['平均值5']%>" name="report[平均值5]"></td>
            <td class="input-full"><input type="text" value="<%= report['平均值6']%>" name="report[平均值6]"></td>
            <td class="input-full"><input type="text" value="<%= report['平均值7']%>" name="report[平均值7]"></td>
          </tr>
          <tr>
            <td colspan="4">s/&radic;n/mA</td>
            <td class="input-full"><input type="text" value="<%= report['sma1']%>" name="report[sma1]"></td>
            <td class="input-full"><input type="text" value="<%= report['sma2']%>" name="report[sma2]"></td>
            <td class="input-full"><input type="text" value="<%= report['sma3']%>" name="report[sma3]"></td>
            <td class="input-full"><input type="text" value="<%= report['sma4']%>" name="report[sma4]"></td>
            <td class="input-full"><input type="text" value="<%= report['sma5']%>" name="report[sma5]"></td>
            <td class="input-full"><input type="text" value="<%= report['sma6']%>" name="report[sma6]"></td>
            <td class="input-full"><input type="text" value="<%= report['sma7']%>" name="report[sma7]"></td>
          </tr>
          <tr>
            <td colspan="4">误差/&mu;A</td>
            <td class="input-full"><input type="text" value="<%= report['误差a1']%>" name="report[误差a1]"></td>
            <td class="input-full"><input type="text" value="<%= report['误差a2']%>" name="report[误差a2]"></td>
            <td class="input-full"><input type="text" value="<%= report['误差a3']%>" name="report[误差a3]"></td>
            <td class="input-full"><input type="text" value="<%= report['误差a4']%>" name="report[误差a4]"></td>
            <td class="input-full"><input type="text" value="<%= report['误差a5']%>" name="report[误差a5]"></td>
            <td class="input-full"><input type="text" value="<%= report['误差a6']%>" name="report[误差a6]"></td>
            <td class="input-full"><input type="text" value="<%= report['误差a7']%>" name="report[误差a7]"></td>
          </tr>
          <tr>
            <td colspan="4">误差/&deg;C</td>
            <td class="input-full"><input type="text" value="<%= report['误差c1']%>" name="report[误差c1]"></td>
            <td class="input-full"><input type="text" value="<%= report['误差c2']%>" name="report[误差c2]"></td>
            <td class="input-full"><input type="text" value="<%= report['误差c3']%>" name="report[误差c3]"></td>
            <td class="input-full"><input type="text" value="<%= report['误差c4']%>" name="report[误差c4]"></td>
            <td class="input-full"><input type="text" value="<%= report['误差c5']%>" name="report[误差c5]"></td>
            <td class="input-full"><input type="text" value="<%= report['误差c6']%>" name="report[误差c6]"></td>
            <td class="input-full"><input type="text" value="<%= report['误差c7']%>" name="report[误差c7]"></td>
          </tr>
          <tr>
            <td colspan="4">U/&mu;A，k=2</td>
            <td colspan="7">相当于（<input class="no-border w-100" type="text" value="<%= report['相当于']%>" name="report[相当于]">）&deg;C</td>
          </tr>

        </tbody>          
      </table>
    </div>

    <div class="sign-footer">      
      <label>校准员：</label>
      <input class="border-bottom w-200" type='text' value="<%= report['校准员']%>" name="report[校准员]">   
      <label>核验员：</label>
      <input class="border-bottom w-200" type='text' value="<%= report['核验员']%>" name="report[核验员]">
      <label>校准日期：</label>
      <input class="border-bottom w-200" type='text' value="<%= report['校准日期']%>" name="report[校准日期]">
    </div>
  </div>

  <div class="text-right" >
    <% if can? :calculate, Verification%>
      <% if !@verification.approved? %>
        <%= f.submit "提交", class: "btn btn-success btn-sm" %>
      <% end %>
      <% if report['qualified'] && @verification.approved? %>
        <%= link_to (report['qualified'] ? '查看证书' : '查看通知书'), notice_path(@verification.notice,:format => :pdf), target: '_blank', class: 'btn btn-success btn-sm'%>
      <% end %>
    <% end %>
  </div>
<% end %>