<% report = @data %>

<%= simple_form_for :report, url: calculate_verification_path, method: :post do |f| %>

  <div class="container">

    <h4 class="title">
      <span>蜀南气矿QHSE管理体系&nbsp;&bull;&nbsp;计量站几何室作业指导书</span>
    </h4>

    <h2 class="table-title">砝码折算质量检定记录</h2>

    <h4 class="table-subtitle">SNJL / QHSE &bull; ZD &bull; 04-11</h4>

    <div class="table-responsive">
      <table class="table table-bordered align-center condensed">
        <tr>
          <td rowspan="3">被检砝码</td>
          <td>准确度等级</td>
          <td colspan="2"><input class="input-small" type="text" value="<%= report['F2级砝码']%>" name="report[F2级砝码]"></td>
          <td>砝码个数</td>
          <td><input class="input-small" type="text" value="<%= report['砝码个数']%>" name="report[砝码个数]"></td>
          <td>质量范围</td>
          <td><input class="input-small" type="text" value="<%= report['质量范围']%>" name="report[质量范围]"></td>
          <td>砝码器号</td>
          <td><input class="input-small" type="text" value="<%= report['砝码器号']%>" name="report[砝码器号]"></td>
          <td>检定编号</td>
          <td><input class="input-middle" type="text" value="<%= report['检定编号']%>" name="report[检定编号]"></td>
          <td>砝码材料</td>
          <td></td>
        </tr>
        <tr>
          <td>设备编号</td>
          <td colspan="2">&frasl;</td>
          <td>生产厂</td>
          <td colspan="2"><input class="input-middle" type="text" value="<%= report['生产厂']%>" name="report[生产厂]"></td>
          <td>证书编号</td>
          <td colspan="2"><input class="input-middle" type="text" value="<%= report['证书编号']%>" name="report[证书编号]"></td>
          <td>送检单位</td>
          <td colspan="3"><input class="input-middle" type="text" value="<%= report['送检单位']%>" name="report[送检单位]"></td>
        </tr>
        <tr>
          <td>环境条件</td>
          <td colspan="2">空气温度t=</td>
          <td><input class="input-small" type="text" value="<%= report['空气温度']%>" name="report[空气温度]"></td>
          <td colspan="2"><span class="left">&deg;C；</span><span class="right">相对湿度rh</span></td>
          <td><input class="input-small" type="text" value="<%= report['相对湿度']%>" name="report[相对湿度]"></td>
          <td colspan="2">&#37;；大气压力&rho;=</td>
          <td>hPa；</td>
          <td colspan="3">空气密度&rho;<sub>a</sub> = mg / cm<sup>3</sup></td>
        </tr>

        <tr>
          <td rowspan="2">序号</td>
          <td rowspan="2">被检砝码标称值</td>
          <td colspan="2">标准砝码</td>
          <td rowspan="2">左盘</td>
          <td rowspan="2">右盘</td>
          <td rowspan="2">读数1</td>
          <td rowspan="2">读数2</td>
          <td rowspan="2">读数3</td>
          <td rowspan="2">平衡位置</td>
          <td rowspan="2">相差格数</td>
          <td>&Delta;m<sub>ci</sub></td>
          <td rowspan="2">所用天平</td>
          <td colspan="2"  rowspan="2">备注</td>
        </tr>

        <tr>
          <td>器号</td>
          <td>标称值</td>
          <td>mg</td>
        </tr>
        <% 4.times do |k| %>
          <% k = k+1 %>
          <tr>
            <td rowspan="3"><%=k%></td>
            <td rowspan="3"><input class="input-small" type="text" value="<%= report['被检砝码标称值1'+k.to_s]%>" name="report[被检砝码标称值1<%=k%>]"></td>
            <td rowspan="3"><input class="input-small" type="text" value="<%= report['器号1'+k.to_s]%>" name="report[器号1<%=k%>]"></td>
            <td rowspan="3"><input class="input-small" type="text" value="<%= report['标称值1'+k.to_s]%>" name="report[标称值1<%=k%>]"></td>
            <td>T</td>
            <td>被检t</td>
            <td><input class="input-small" type="text" value="<%= report['被检t1'+k.to_s]%>" name="report[被检t1<%=k%>]"></td>
            <td><input class="input-small" type="text" value="<%= report['被检t2'+k.to_s]%>" name="report[被检t2<%=k%>]"></td>
            <td><input class="input-small" type="text" value="<%= report['被检t3'+k.to_s]%>" name="report[被检t3<%=k%>]"></td>
            <td><input class="input-small" type="text" value="<%= report['被检t平衡位置'+k.to_s]%>" name="report[被检t平衡位置<%=k%>]"></td>
            <td rowspan="2"><input class="input-small" type="text" value="<%= report['相差格数1'+k.to_s]%>" name="report[相差格数1<%=k%>]"></td>
            <td rowspan="3"><input class="input-small" type="text" value="<%= report['mg1'+k.to_s]%>" name="report[mg1<%=k%>]"></td>
            <td rowspan="3"><input class="input-small" type="text" value="<%= report['所用天平'+k.to_s]%>" name="report[所用天平<%=k%>]"></td>
            <td rowspan="2">
              m<sub>r&#42;=</sub><br>
              <input class="input-small" type="text" value="10">mg
            </td>
          </tr>

          <tr>
            <td>T</td>
            <td>被检r</td>
            <td><input class="input-small" type="text" value="<%= report['被检r1'+k.to_s]%>" name="report[被检r1<%=k%>]"></td>
            <td><input class="input-small" type="text" value="<%= report['被检r2'+k.to_s]%>" name="report[被检r2<%=k%>]"></td>
            <td><input class="input-small" type="text" value="<%= report['被检r3'+k.to_s]%>" name="report[被检r3<%=k%>]"></td>
            <td><input class="input-small" type="text" value="<%= report['被检r平衡位置'+k.to_s]%>" name="report[被检r平衡位置<%=k%>]"></td>
          </tr>
          <tr>
            <td>T</td>
            <td>测量分度值</td>
            <td><input class="input-small" type="text" value="<%= report['测量分度值1'+k.to_s]%>" name="report[测量分度值1<%=k%>]"></td>
            <td><input class="input-small" type="text" value="<%= report['测量分度值2'+k.to_s]%>" name="report[测量分度值2<%=k%>]"></td>
            <td><input class="input-small" type="text" value="<%= report['测量分度值3'+k.to_s]%>" name="report[测量分度值3<%=k%>]"></td>
            <td><input class="input-small" type="text" value="<%= report['测量分度值平衡位置'+k.to_s]%>" name="report[测量分度值平衡位置<%=k%>]"></td>
            <td><input class="input-small" type="text" value="<%= report['相差格数2'+k.to_s]%>" name="report[相差格数2<%=k%>]"></td>
            <td colspan="2">
              m<sub>k</sub>&#42;=<br>
              mg
            </td>
          </tr>
        <% end %>

        


      </table>
    </div>


    <div class="row">
      <div class="col-md-2 sign">
        <label>检定员</label>
        <input class="input-small" type="text" value="<%= report['检定员']%>" name="report[检定员]">
      </div>
      <div class="col-md-2 sign">
        <label>核验员</label>
        <input class="input-small" type="text" value="<%= report['核验员']%>" name="report[核验员]">
      </div>
      <div class="col-md-5">
        <div class="footer-sign">
          <label class="left">被检砝码恒温时间</label> <span><strong><input class="input-small" type="text" value="<%= report['被检砝码恒温时间']%>" name="report[被检砝码恒温时间]"></strong></span>
        </div>
        <div class="footer-sign">
          <label class="left">检定日期：</label><input class="input-small" type="text" value="<%= report['检定日期']%>" name="report[检定日期]">
        </div>
        <div class="footer-sign">
          <label class="left">检定结果</label><span><strong><input class="input-small" type="text" value="<%= report['检定结果']%>" name="report[检定结果]"></strong></span>
        </div>
        <div class="footer-date"><div class="right">检定日期</div></div>
       
        <div>
          <div class="lbl-table-left">
            <span class="red">检定日期</span>
            <span>有效期至</span>
          </div>   
          <div class="input-table">
            <table class="table table-bordered">
              <tr>
                <td><input type="text" value="<%= report['检定年1']%>" name="report[检定年1]"></td>
                <td><input type="text" value="<%= report['检定月1']%>" name="report[检定月1]"></td>
                <td><input type="text" value="<%= report['检定日1']%>" name="report[检定日1]"></td>
              </tr>
              <tr>
                <td><input type="text" value="<%= report['检定年2']%>" name="report[检定年2]"></td>
                <td><input type="text" value="<%= report['检定月2']%>" name="report[检定月2]"></td>
                <td><input type="text" value="<%= report['检定日2']%>" name="report[检定日2]"></td>
              </tr>
            </table>
          </div> 
        </div>
      </div>

      <div class="col-md-3 page-sign">
        <strong>第 1 页 共 1 页</strong>
      </div>
    </div>

  </div>

  <div class="text-right" >
    <% if can? :calculate, Verification%>
      <% if !@verification.approved? %>
        <%= f.submit "提交", class: "btn btn-success btn-sm" %>
      <% end %>
      <% if report['qualified'] && @verification.approved? %>
        <%= link_to (report['qualified'] ? '查看证书' : '查看通知书'), notice_path(@verification.notice,:format => :pdf), target: '_blank', class: 'btn btn-success btn-sm'%>
      <% end %>
    <% end %>
  </div>
<% end %>
