<% report = @data %>

<%= simple_form_for :report, url: calculate_verification_path, method: :post do |f| %>

  <div class="container">

    <h2 class="table-title">廉金属热电偶检定记录</h2>

    <div class="sign-upper">
      <div class="row-h align-right">
        <label>第 1 页</label>
        <label>共 1 页</label>
      </div>
      <div class="row-h">
        <label class="float-left">检定记录编号：<input class="no-border w-150" value="<%= report['检定记录编号']%>" name="report[检定记录编号]"></label>
        <label class="float-right">级别：<input class="no-border w-150" value="<%= report['级别']%>" name="report[级别]"></label>
        <label class="float-right">编号：<input class="no-border w-150" value="<%= report['编号']%>" name="report[编号]"></label>
      </div>
    </div>

    <div class="table-responsive">
      <table class="table table-bordered align-center">
        <tr>
          <td colspan="3">标准等级: <input class="no-border w-100" value="<%= report['标准等级']%>" name="report[标准等级]"></td>
          <td colspan="3">编 号: <input class="no-border w-100" value="<%= report['标准编号1']%>" name="report[标准编号1]"></td>
          <td colspan="2">测量装置号: <input class="no-border w-100" value="<%= report['测量装置号']%>" name="report[测量装置号]"></td>
          <td>室温: <input class="no-border w-80" value="<%= report['室温']%>" name="report[室温]"></td>
          <td>RH: <input class="no-border w-80" value="<%= report['RH']%>" name="report[RH]"></td>
        </tr>      
        <tr>
          <td rowspan="3">检定点 (&deg;C)</td>
          <td rowspan="3">分度表值 (mV)</td>
          <td rowspan="3">微分热电势 (mV/&deg;C)</td>
          <td rowspan="3">标准器证书值 (mV/&Omega;)</td>
          <td class="w-60" rowspan="3">项目</td>
          <td class="w-120">被检热电偶号</td>
          <td class="input-full"><input type="text" value="<%= report['被检热电偶号1']%>" name="report[被检热电偶号1]"></td>
          <td class="input-full"><input type="text" value="<%= report['被检热电偶号2']%>" name="report[被检热电偶号2]"></td>
          <td class="input-full"><input type="text" value="<%= report['被检热电偶号3']%>" name="report[被检热电偶号3]"></td>
          <td class="input-full"><input type="text" value="<%= report['被检热电偶号4']%>" name="report[被检热电偶号4]"></td>
        </tr>    
        <tr>
          <td>送检单位</td>
          <td class="input-full"><input type="text" value="<%= report['送检单位1']%>" name="report[送检单位1]"></td>
          <td class="input-full"><input type="text" value="<%= report['送检单位2']%>" name="report[送检单位2]"></td>
          <td class="input-full"><input type="text" value="<%= report['送检单位3']%>" name="report[送检单位3]"></td>
          <td class="input-full"><input type="text" value="<%= report['送检单位4']%>" name="report[送检单位4]"></td>
        </tr>  
        <tr>
          <td>标准(mV/&Omega;)</td>
          <td colspan="4">测量值(mV)</td>
        </tr>

        <tr>
          <td class="input-full" rowspan="3"><input type="text" value="<%= report['检定点']%>" name="report[检定点]"></td>
          <td class="input-full" rowspan="3"><input type="text" value="<%= report['分度表值']%>" name="report[分度表值]"></td>
          <td class="input-full" rowspan="3"><input type="text" value="<%= report['微分热电势']%>" name="report[微分热电势]"></td>
          <td class="input-full" rowspan="3"><input type="text" value="<%= report['标准器证书值']%>" name="report[标准器证书值]"></td>
          <td class="w-60">1</td>
          <td class="input-full"><input type="text" value="<%= report['标准1']%>" name="report[标准1]"></td>
          <td class="input-full"><input type="text" value="<%= report['测量值11']%>" name="report[测量值11]"></td>
          <td class="input-full"><input type="text" value="<%= report['测量值12']%>" name="report[测量值12]"></td>
          <td class="input-full"><input type="text" value="<%= report['测量值13']%>" name="report[测量值13]"></td>
          <td class="input-full"><input type="text" value="<%= report['测量值14']%>" name="report[测量值14]"></td>
        </tr> 
        <tr>
          <td>2</td>
          <td class="input-full"><input type="text" value="<%= report['标准2']%>" name="report[标准2]"></td>
          <td class="input-full"><input type="text" value="<%= report['测量值21']%>" name="report[测量值21]"></td>
          <td class="input-full"><input type="text" value="<%= report['测量值22']%>" name="report[测量值22]"></td>
          <td class="input-full"><input type="text" value="<%= report['测量值23']%>" name="report[测量值23]"></td>
          <td class="input-full"><input type="text" value="<%= report['测量值24']%>" name="report[测量值24]"></td>
        </tr> 
        <tr>
          <td>3</td>
          <td class="input-full"><input type="text" value="<%= report['标准3']%>" name="report[标准3]"></td>
          <td class="input-full"><input type="text" value="<%= report['测量值31']%>" name="report[测量值31]"></td>
          <td class="input-full"><input type="text" value="<%= report['测量值32']%>" name="report[测量值32]"></td>
          <td class="input-full"><input type="text" value="<%= report['测量值33']%>" name="report[测量值33]"></td>
          <td class="input-full"><input type="text" value="<%= report['测量值34']%>" name="report[测量值34]"></td>
        </tr> 
        <tr>
          <td colspan="2">允差(&deg;)</td>
          <td colspan="2" class="input-full"><input type="text" value="<%= report['允差']%>" name="report[允差]"></td>
          <td>4</td>
          <td class="input-full"><input type="text" value="<%= report['标准4']%>" name="report[标准4]"></td>
          <td class="input-full"><input type="text" value="<%= report['测量值41']%>" name="report[测量值41]"></td>
          <td class="input-full"><input type="text" value="<%= report['测量值42']%>" name="report[测量值42]"></td>
          <td class="input-full"><input type="text" value="<%= report['测量值43']%>" name="report[测量值43]"></td>
          <td class="input-full"><input type="text" value="<%= report['测量值44']%>" name="report[测量值44]"></td>
        </tr>
        <tr>
          <td colspan="2">标准分度号及等级</td>
          <td colspan="2"><input class="no-border w-150" type="text" value="<%= report['标准分度号及等级']%>" name="report[标准分度号及等级]">等</td>
          <td>平均</td>
          <td class="input-full"><input type="text" value="<%= report['标准平均']%>" name="report[标准平均]"></td>
          <td class="input-full"><input type="text" value="<%= report['平均测量值1']%>" name="report[平均测量值1]"></td>
          <td class="input-full"><input type="text" value="<%= report['平均测量值2']%>" name="report[平均测量值2]"></td>
          <td class="input-full"><input type="text" value="<%= report['平均测量值3']%>" name="report[平均测量值3]"></td>
          <td class="input-full"><input type="text" value="<%= report['平均测量值4']%>" name="report[平均测量值4]"></td>
        </tr>
        <tr>
          <td colspan="2">标准编号</td>
          <td class="input-full"><input type="text" value="<%= report['标准编号2']%>" name="report[标准编号2]"></td>
          <td colspan="2">与检定点之差(&deg;C)</td>
          <td class="input-full"><input type="text" value="<%= report['与检定点之差1']%>" name="report[与检定点之差1]"></td>
          <td class="input-full"><input type="text" value="<%= report['与检定点之差2']%>" name="report[与检定点之差2]"></td>
          <td class="input-full"><input type="text" value="<%= report['与检定点之差3']%>" name="report[与检定点之差3]"></td>
          <td class="input-full"><input type="text" value="<%= report['与检定点之差4']%>" name="report[与检定点之差4]"></td>
          <td class="input-full"><input type="text" value="<%= report['与检定点之差5']%>" name="report[与检定点之差5]"></td>
        </tr>
        <tr>
          <td colspan="2">实际温度(&deg;C)</td>
          <td class="input-full"><input type="text" value="<%= report['实际温度']%>" name="report[实际温度]"></td>
          <td colspan="2">实际值(mV)</td>
          <td class="input-full"><input type="text" value="<%= report['实际值1']%>" name="report[实际值1]"></td>
          <td class="input-full"><input type="text" value="<%= report['实际值2']%>" name="report[实际值2]"></td>
          <td class="input-full"><input type="text" value="<%= report['实际值3']%>" name="report[实际值3]"></td>
          <td class="input-full"><input type="text" value="<%= report['实际值4']%>" name="report[实际值4]"></td>
          <td class="input-full"><input type="text" value="<%= report['实际值5']%>" name="report[实际值5]"></td>
        </tr>
        <tr>
          <td colspan="2">参考端温度(&deg;C)</td>
          <td class="input-full"><input type="text" value="<%= report['参考端温度']%>" name="report[参考端温度]"></td>
          <td colspan="2">误差(&deg;C)</td>
          <td class="input-full"><input type="text" value="<%= report['误差1']%>" name="report[误差1]"></td>
          <td class="input-full"><input type="text" value="<%= report['误差2']%>" name="report[误差2]"></td>
          <td class="input-full"><input type="text" value="<%= report['误差3']%>" name="report[误差3]"></td>
          <td class="input-full"><input type="text" value="<%= report['误差4']%>" name="report[误差4]"></td>
          <td class="input-full"><input type="text" value="<%= report['误差5']%>" name="report[误差5]"></td>
        </tr>
        <tr>
          <td class="input-full" rowspan="3"><input type="text" value="<%= report['检定点2']%>" name="report[检定点2]"></td>
          <td class="input-full" rowspan="3"><input type="text" value="<%= report['分度表值2']%>" name="report[分度表值2]"></td>
          <td class="input-full" rowspan="3"><input type="text" value="<%= report['微分热电势2']%>" name="report[微分热电势2]"></td>
          <td class="input-full" rowspan="3"><input type="text" value="<%= report['标准器证书值2']%>" name="report[标准器证书值2]"></td>
          <td class="w-60">1</td>
          <td class="input-full"><input type="text" value="<%= report['标准21']%>" name="report[标准21]"></td>
          <td class="input-full"><input type="text" value="<%= report['测量值211']%>" name="report[测量值211]"></td>
          <td class="input-full"><input type="text" value="<%= report['测量值212']%>" name="report[测量值212]"></td>
          <td class="input-full"><input type="text" value="<%= report['测量值213']%>" name="report[测量值213]"></td>
          <td class="input-full"><input type="text" value="<%= report['测量值214']%>" name="report[测量值214]"></td>
        </tr> 
        <tr>
          <td>2</td>
          <td class="input-full"><input type="text" value="<%= report['标准22']%>" name="report[标准22]"></td>
          <td class="input-full"><input type="text" value="<%= report['测量值221']%>" name="report[测量值221]"></td>
          <td class="input-full"><input type="text" value="<%= report['测量值222']%>" name="report[测量值222]"></td>
          <td class="input-full"><input type="text" value="<%= report['测量值223']%>" name="report[测量值223]"></td>
          <td class="input-full"><input type="text" value="<%= report['测量值224']%>" name="report[测量值224]"></td>
        </tr> 
        <tr>
          <td>3</td>
          <td class="input-full"><input type="text" value="<%= report['标准23']%>" name="report[标准23]"></td>
          <td class="input-full"><input type="text" value="<%= report['测量值231']%>" name="report[测量值231]"></td>
          <td class="input-full"><input type="text" value="<%= report['测量值232']%>" name="report[测量值232]"></td>
          <td class="input-full"><input type="text" value="<%= report['测量值233']%>" name="report[测量值233]"></td>
          <td class="input-full"><input type="text" value="<%= report['测量值234']%>" name="report[测量值234]"></td>
        </tr> 
        <tr>
          <td colspan="2">允差(&deg;)</td>
          <td colspan="2" class="input-full"><input type="text" value="<%= report['允差2']%>" name="report[允差2]"></td>
          <td>4</td>
          <td class="input-full"><input type="text" value="<%= report['标准24']%>" name="report[标准24]"></td>
          <td class="input-full"><input type="text" value="<%= report['测量值241']%>" name="report[测量值241]"></td>
          <td class="input-full"><input type="text" value="<%= report['测量值242']%>" name="report[测量值242]"></td>
          <td class="input-full"><input type="text" value="<%= report['测量值243']%>" name="report[测量值243]"></td>
          <td class="input-full"><input type="text" value="<%= report['测量值244']%>" name="report[测量值244]"></td>
        </tr>
        <tr>
          <td colspan="2">标准分度号及等级</td>
          <td colspan="2"><input class="no-border w-150" type="text" value="<%= report['标准分度号及等级2']%>" name="report[标准分度号及等级2]">等</td>
          <td>平均</td>
          <td class="input-full"><input type="text" value="<%= report['标准平均2']%>" name="report[标准平均2]"></td>
          <td class="input-full"><input type="text" value="<%= report['平均测量值21']%>" name="report[平均测量值21]"></td>
          <td class="input-full"><input type="text" value="<%= report['平均测量值22']%>" name="report[平均测量值22]"></td>
          <td class="input-full"><input type="text" value="<%= report['平均测量值23']%>" name="report[平均测量值23]"></td>
          <td class="input-full"><input type="text" value="<%= report['平均测量值24']%>" name="report[平均测量值24]"></td>
        </tr>
        <tr>
          <td colspan="2">标准编号</td>
          <td class="input-full"><input type="text" value="<%= report['标准编号3']%>" name="report[标准编号3]"></td>
          <td colspan="2">与检定点之差(&deg;C)</td>
          <td class="input-full"><input type="text" value="<%= report['与检定点之差21']%>" name="report[与检定点之差21]"></td>
          <td class="input-full"><input type="text" value="<%= report['与检定点之差22']%>" name="report[与检定点之差22]"></td>
          <td class="input-full"><input type="text" value="<%= report['与检定点之差23']%>" name="report[与检定点之差23]"></td>
          <td class="input-full"><input type="text" value="<%= report['与检定点之差24']%>" name="report[与检定点之差24]"></td>
          <td class="input-full"><input type="text" value="<%= report['与检定点之差25']%>" name="report[与检定点之差25]"></td>
        </tr>
        <tr>
          <td colspan="2">实际温度(&deg;C)</td>
          <td class="input-full"><input type="text" value="<%= report['实际温度2']%>" name="report[实际温度2]"></td>
          <td colspan="2">实际值(mV)</td>
          <td class="input-full"><input type="text" value="<%= report['实际值21']%>" name="report[实际值21]"></td>
          <td class="input-full"><input type="text" value="<%= report['实际值22']%>" name="report[实际值22]"></td>
          <td class="input-full"><input type="text" value="<%= report['实际值23']%>" name="report[实际值23]"></td>
          <td class="input-full"><input type="text" value="<%= report['实际值24']%>" name="report[实际值24]"></td>
          <td class="input-full"><input type="text" value="<%= report['实际值25']%>" name="report[实际值25]"></td>
        </tr>
        <tr>
          <td colspan="2">参考端温度(&deg;C)</td>
          <td class="input-full"><input type="text" value="<%= report['参考端温度2']%>" name="report[参考端温度2]"></td>
          <td colspan="2">误差(&deg;C)</td>
          <td class="input-full"><input type="text" value="<%= report['误差21']%>" name="report[误差21]"></td>
          <td class="input-full"><input type="text" value="<%= report['误差22']%>" name="report[误差22]"></td>
          <td class="input-full"><input type="text" value="<%= report['误差23']%>" name="report[误差23]"></td>
          <td class="input-full"><input type="text" value="<%= report['误差24']%>" name="report[误差24]"></td>
          <td class="input-full"><input type="text" value="<%= report['误差25']%>" name="report[误差25]"></td>
        </tr>
        <tr>
          <td class="input-full" rowspan="3"><input type="text" value="<%= report['检定点3']%>" name="report[检定点3]"></td>
          <td class="input-full" rowspan="3"><input type="text" value="<%= report['分度表值3']%>" name="report[分度表值3]"></td>
          <td class="input-full" rowspan="3"><input type="text" value="<%= report['微分热电势3']%>" name="report[微分热电势3]"></td>
          <td class="input-full" rowspan="3"><input type="text" value="<%= report['标准器证书值3']%>" name="report[标准器证书值3]"></td>
          <td class="w-60">1</td>
          <td class="input-full"><input type="text" value="<%= report['标准31']%>" name="report[标准31]"></td>
          <td class="input-full"><input type="text" value="<%= report['测量值311']%>" name="report[测量值311]"></td>
          <td class="input-full"><input type="text" value="<%= report['测量值312']%>" name="report[测量值312]"></td>
          <td class="input-full"><input type="text" value="<%= report['测量值313']%>" name="report[测量值313]"></td>
          <td class="input-full"><input type="text" value="<%= report['测量值314']%>" name="report[测量值314]"></td>
        </tr> 
        <tr>
          <td>2</td>
          <td class="input-full"><input type="text" value="<%= report['标准32']%>" name="report[标准32]"></td>
          <td class="input-full"><input type="text" value="<%= report['测量值321']%>" name="report[测量值321]"></td>
          <td class="input-full"><input type="text" value="<%= report['测量值322']%>" name="report[测量值322]"></td>
          <td class="input-full"><input type="text" value="<%= report['测量值323']%>" name="report[测量值323]"></td>
          <td class="input-full"><input type="text" value="<%= report['测量值324']%>" name="report[测量值324]"></td>
        </tr> 
        <tr>
          <td>3</td>
          <td class="input-full"><input type="text" value="<%= report['标准33']%>" name="report[标准33]"></td>
          <td class="input-full"><input type="text" value="<%= report['测量值331']%>" name="report[测量值331]"></td>
          <td class="input-full"><input type="text" value="<%= report['测量值332']%>" name="report[测量值332]"></td>
          <td class="input-full"><input type="text" value="<%= report['测量值333']%>" name="report[测量值333]"></td>
          <td class="input-full"><input type="text" value="<%= report['测量值334']%>" name="report[测量值334]"></td>
        </tr> 
        <tr>
          <td colspan="2">允差(&deg;)</td>
          <td colspan="2" class="input-full"><input type="text" value="<%= report['允差3']%>" name="report[允差3]"></td>
          <td>4</td>
          <td class="input-full"><input type="text" value="<%= report['标准34']%>" name="report[标准34]"></td>
          <td class="input-full"><input type="text" value="<%= report['测量值341']%>" name="report[测量值341]"></td>
          <td class="input-full"><input type="text" value="<%= report['测量值342']%>" name="report[测量值342]"></td>
          <td class="input-full"><input type="text" value="<%= report['测量值343']%>" name="report[测量值343]"></td>
          <td class="input-full"><input type="text" value="<%= report['测量值344']%>" name="report[测量值344]"></td>
        </tr>
        <tr>
          <td colspan="2">标准分度号及等级</td>
          <td colspan="2"><input class="no-border w-150" type="text" value="<%= report['标准分度号及等级3']%>" name="report[标准分度号及等级3]">等</td>
          <td>平均</td>
          <td class="input-full"><input type="text" value="<%= report['标准平均3']%>" name="report[标准平均3]"></td>
          <td class="input-full"><input type="text" value="<%= report['平均测量值31']%>" name="report[平均测量值31]"></td>
          <td class="input-full"><input type="text" value="<%= report['平均测量值32']%>" name="report[平均测量值32]"></td>
          <td class="input-full"><input type="text" value="<%= report['平均测量值33']%>" name="report[平均测量值33]"></td>
          <td class="input-full"><input type="text" value="<%= report['平均测量值34']%>" name="report[平均测量值34]"></td>
        </tr>
        <tr>
          <td colspan="2">标准编号</td>
          <td class="input-full"><input type="text" value="<%= report['标准编号4']%>" name="report[标准编号4]"></td>
          <td colspan="2">与检定点之差(&deg;C)</td>
          <td class="input-full"><input type="text" value="<%= report['与检定点之差31']%>" name="report[与检定点之差31]"></td>
          <td class="input-full"><input type="text" value="<%= report['与检定点之差32']%>" name="report[与检定点之差32]"></td>
          <td class="input-full"><input type="text" value="<%= report['与检定点之差33']%>" name="report[与检定点之差33]"></td>
          <td class="input-full"><input type="text" value="<%= report['与检定点之差34']%>" name="report[与检定点之差34]"></td>
          <td class="input-full"><input type="text" value="<%= report['与检定点之差35']%>" name="report[与检定点之差35]"></td>
        </tr>
        <tr>
          <td colspan="2">实际温度(&deg;C)</td>
          <td class="input-full"><input type="text" value="<%= report['实际温度3']%>" name="report[实际温度3]"></td>
          <td colspan="2">实际值(mV)</td>
          <td class="input-full"><input type="text" value="<%= report['实际值31']%>" name="report[实际值31]"></td>
          <td class="input-full"><input type="text" value="<%= report['实际值32']%>" name="report[实际值32]"></td>
          <td class="input-full"><input type="text" value="<%= report['实际值33']%>" name="report[实际值33]"></td>
          <td class="input-full"><input type="text" value="<%= report['实际值34']%>" name="report[实际值34]"></td>
          <td class="input-full"><input type="text" value="<%= report['实际值35']%>" name="report[实际值35]"></td>
        </tr>
        <tr>
          <td colspan="2">参考端温度(&deg;C)</td>
          <td class="input-full"><input type="text" value="<%= report['参考端温度3']%>" name="report[参考端温度3]"></td>
          <td colspan="2">误差(&deg;C)</td>
          <td class="input-full"><input type="text" value="<%= report['误差31']%>" name="report[误差31]"></td>
          <td class="input-full"><input type="text" value="<%= report['误差32']%>" name="report[误差32]"></td>
          <td class="input-full"><input type="text" value="<%= report['误差33']%>" name="report[误差33]"></td>
          <td class="input-full"><input type="text" value="<%= report['误差34']%>" name="report[误差34]"></td>
          <td class="input-full"><input type="text" value="<%= report['误差35']%>" name="report[误差35]"></td>
        </tr>
        <tr>
          <td class="input-full" rowspan="3"><input type="text" value="<%= report['检定点4']%>" name="report[检定点4]"></td>
          <td class="input-full" rowspan="3"><input type="text" value="<%= report['分度表值4']%>" name="report[分度表值4]"></td>
          <td class="input-full" rowspan="3"><input type="text" value="<%= report['微分热电势4']%>" name="report[微分热电势4]"></td>
          <td class="input-full" rowspan="3"><input type="text" value="<%= report['标准器证书值4']%>" name="report[标准器证书值4]"></td>
          <td class="w-60">1</td>
          <td class="input-full"><input type="text" value="<%= report['标准41']%>" name="report[标准41]"></td>
          <td class="input-full"><input type="text" value="<%= report['测量值411']%>" name="report[测量值411]"></td>
          <td class="input-full"><input type="text" value="<%= report['测量值412']%>" name="report[测量值412]"></td>
          <td class="input-full"><input type="text" value="<%= report['测量值413']%>" name="report[测量值413]"></td>
          <td class="input-full"><input type="text" value="<%= report['测量值414']%>" name="report[测量值414]"></td>
        </tr> 
        <tr>
          <td>2</td>
          <td class="input-full"><input type="text" value="<%= report['标准42']%>" name="report[标准42]"></td>
          <td class="input-full"><input type="text" value="<%= report['测量值421']%>" name="report[测量值421]"></td>
          <td class="input-full"><input type="text" value="<%= report['测量值422']%>" name="report[测量值422]"></td>
          <td class="input-full"><input type="text" value="<%= report['测量值423']%>" name="report[测量值423]"></td>
          <td class="input-full"><input type="text" value="<%= report['测量值424']%>" name="report[测量值424]"></td>
        </tr> 
        <tr>
          <td>3</td>
          <td class="input-full"><input type="text" value="<%= report['标准43']%>" name="report[标准43]"></td>
          <td class="input-full"><input type="text" value="<%= report['测量值431']%>" name="report[测量值431]"></td>
          <td class="input-full"><input type="text" value="<%= report['测量值432']%>" name="report[测量值432]"></td>
          <td class="input-full"><input type="text" value="<%= report['测量值433']%>" name="report[测量值433]"></td>
          <td class="input-full"><input type="text" value="<%= report['测量值434']%>" name="report[测量值434]"></td>
        </tr> 
        <tr>
          <td colspan="2">允差(&deg;)</td>
          <td colspan="2" class="input-full"><input type="text" value="<%= report['允差4']%>" name="report[允差4]"></td>
          <td>4</td>
          <td class="input-full"><input type="text" value="<%= report['标准44']%>" name="report[标准44]"></td>
          <td class="input-full"><input type="text" value="<%= report['测量值441']%>" name="report[测量值441]"></td>
          <td class="input-full"><input type="text" value="<%= report['测量值442']%>" name="report[测量值442]"></td>
          <td class="input-full"><input type="text" value="<%= report['测量值443']%>" name="report[测量值443]"></td>
          <td class="input-full"><input type="text" value="<%= report['测量值444']%>" name="report[测量值444]"></td>
        </tr>
        <tr>
          <td colspan="2">标准分度号及等级</td>
          <td colspan="2"><input class="no-border w-150" type="text" value="<%= report['标准分度号及等级4']%>" name="report[标准分度号及等级4]">等</td>
          <td>平均</td>
          <td class="input-full"><input type="text" value="<%= report['标准平均4']%>" name="report[标准平均4]"></td>
          <td class="input-full"><input type="text" value="<%= report['平均测量值41']%>" name="report[平均测量值41]"></td>
          <td class="input-full"><input type="text" value="<%= report['平均测量值42']%>" name="report[平均测量值42]"></td>
          <td class="input-full"><input type="text" value="<%= report['平均测量值43']%>" name="report[平均测量值43]"></td>
          <td class="input-full"><input type="text" value="<%= report['平均测量值44']%>" name="report[平均测量值44]"></td>
        </tr>
        <tr>
          <td colspan="2">标准编号</td>
          <td class="input-full"><input type="text" value="<%= report['标准编号5']%>" name="report[标准编号5]"></td>
          <td colspan="2">与检定点之差(&deg;C)</td>
          <td class="input-full"><input type="text" value="<%= report['与检定点之差41']%>" name="report[与检定点之差41]"></td>
          <td class="input-full"><input type="text" value="<%= report['与检定点之差42']%>" name="report[与检定点之差42]"></td>
          <td class="input-full"><input type="text" value="<%= report['与检定点之差43']%>" name="report[与检定点之差43]"></td>
          <td class="input-full"><input type="text" value="<%= report['与检定点之差44']%>" name="report[与检定点之差44]"></td>
          <td class="input-full"><input type="text" value="<%= report['与检定点之差45']%>" name="report[与检定点之差45]"></td>
        </tr>
        <tr>
          <td colspan="2">实际温度(&deg;C)</td>
          <td class="input-full"><input type="text" value="<%= report['实际温度4']%>" name="report[实际温度4]"></td>
          <td colspan="2">实际值(mV)</td>
          <td class="input-full"><input type="text" value="<%= report['实际值41']%>" name="report[实际值41]"></td>
          <td class="input-full"><input type="text" value="<%= report['实际值42']%>" name="report[实际值42]"></td>
          <td class="input-full"><input type="text" value="<%= report['实际值43']%>" name="report[实际值43]"></td>
          <td class="input-full"><input type="text" value="<%= report['实际值44']%>" name="report[实际值44]"></td>
          <td class="input-full"><input type="text" value="<%= report['实际值45']%>" name="report[实际值45]"></td>
        </tr>
        <tr class="thick-bottom">
          <td colspan="2">参考端温度(&deg;C)</td>
          <td class="input-full"><input type="text" value="<%= report['参考端温度4']%>" name="report[参考端温度4]"></td>
          <td colspan="2">误差(&deg;C)</td>
          <td class="input-full"><input type="text" value="<%= report['误差41']%>" name="report[误差41]"></td>
          <td class="input-full"><input type="text" value="<%= report['误差42']%>" name="report[误差42]"></td>
          <td class="input-full"><input type="text" value="<%= report['误差43']%>" name="report[误差43]"></td>
          <td class="input-full"><input type="text" value="<%= report['误差44']%>" name="report[误差44]"></td>
          <td class="input-full"><input type="text" value="<%= report['误差45']%>" name="report[误差45]"></td>
        </tr>

        <tr>
          <td class="bold" colspan="6">检定结果</td>
          <td class="input-full"><input type="text" value="<%= report['检定结果1']%>" name="report[检定结果1]"></td>
          <td class="input-full"><input type="text" value="<%= report['检定结果2']%>" name="report[检定结果2]"></td>
          <td class="input-full"><input type="text" value="<%= report['检定结果3']%>" name="report[检定结果3]"></td>
          <td class="input-full"><input type="text" value="<%= report['检定结果4']%>" name="report[检定结果4]"></td>
        </tr>
        <tr>
          <td class="bold" colspan="6">发给 证书编号</td>
          <td class="input-full"><input type="text" value="<%= report['发给证书编号1']%>" name="report[发给证书编号1]"></td>
          <td class="input-full"><input type="text" value="<%= report['发给证书编号2']%>" name="report[发给证书编号2]"></td>
          <td class="input-full"><input type="text" value="<%= report['发给证书编号3']%>" name="report[发给证书编号3]"></td>
          <td class="input-full"><input type="text" value="<%= report['发给证书编号4']%>" name="report[发给证书编号4]"></td>
        </tr>

      </table>
    </div>

    <div class="sign-footer">      
      <label>检定员:</label>
      <input class="no-border w-180" value="<%= report['检定员']%>" name="report[检定员]"> 
      <label>日期:</label>
      <input class="no-border w-180" value="<%= report['检定日期']%>" name="report[检定日期]"> 
      <label>复核员:</label>
      <input class="no-border w-180" value="<%= report['复核员']%>" name="report[复核员]"> 
      <label>日期:</label>
      <input class="no-border w-180" value="<%= report['复核日期']%>" name="report[复核日期]">
    </div>
  </div>
  <div class="text-right" >
    <% if can? :calculate, Verification%>
      <% if !@verification.approved? %>
        <%= f.submit "提交", class: "btn btn-success btn-sm" %>
      <% end %>
      <% if report['qualified'] && @verification.approved? %>
        <%= link_to (report['qualified'] ? '查看证书' : '查看通知书'), notice_path(@verification.notice,:format => :pdf), target: '_blank', class: 'btn btn-success btn-sm'%>
      <% end %>
    <% end %>
  </div>
<% end %>
