<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <title>T44-1</title>
  <script type="text/javascript" src="../libs/include.js"></script>
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
  <div class="container">
    <h3 class="title">
      <span>常用玻璃器衡量法检定记录</span>
    </h2>
    <div>
      <table class="table table-noborder align-center">
        <tr>
          <td rowspan="4">标称容量</td>
          <td rowspan="4"><input type="text" value="25"></td>
        </tr>
        <tr>
          <td rowspan="2">容量允差</td>
          <td>A&plusmn;</td>
          <td class="align-right">检定室温度</td>
          <td class="align-left"><input type="text" value="16"></td>
          <td rowspan="2">
            <select>
              <option>合格</option>
              <option>不合格</option>
            </select>
          </td>
        </tr>
        <tr>
          <td>B&plusmn;</td>
          <td class="align-right">纯水温度</td>
          <td class="align-left"><input type="text" value="15.5"></td>
        </tr>
        <tr>
          <td colspan="3" class="align-right"><strong>任意两检定点之间的最大误差</strong></td>
          <td class="align-left"><input type="text" value="16"></td>
          <td>
            <select>
              <option>合格</option>
              <option>不合格</option>
            </select>
          </td>
        </tr>
      </table>


      <div class="table-responsive">
        <h3 class="title">纯水质量检定记录</h3>
        <table class="table table-bordered align-center">
          <thead>
            <tr>
              <td>序号</td>
              <td>检定点/ml</td>
              <td>实测质量/g</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td></td>
              <td><input type="text" value="5"></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td><input type="text" value="10"></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td><input type="text" value="15"></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td><input type="text" value="20"></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td><input type="text" value="25"></td>
              <td></td>
            </tr>
          </tbody>
        </table>


        <h3 class="title">检定结果的计算</h3>
        <table class="table table-bordered align-center">
          <thead>
            <tr>
              <td>序号</td>
              <td>K（t）值</td>
              <td>实际容量V20/ml</td>
              <td>容量偏差/ml</td>
              <td>检定结果</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td></td>
              <td>1.00354</td>
              <td><input type="text" value="4.986"></td>
              <td><input type="text" value="-0.014"></td>
              <td>
                <select>
                  <option>合格</option>
                  <option>不合格</option>
                </select>
              </td>
            </tr>
            <tr>
              <td></td>
              <td>1.00354</td>
              <td><input type="text" value="4.986"></td>
              <td><input type="text" value="-0.014"></td>
              <td>
                <select>
                  <option>合格</option>
                  <option>不合格</option>
                </select>
              </td>
            </tr>
            <tr>
              <td></td>
              <td>1.00354</td>
              <td><input type="text" value="4.986"></td>
              <td><input type="text" value="-0.014"></td>
              <td>                
                <select>
                  <option>合格</option>
                  <option>不合格</option>
                </select>
              </td>
            </tr>
            <tr>
              <td></td>
              <td>1.00354</td>
              <td><input type="text" value="4.986"></td>
              <td><input type="text" value="-0.014"></td>
              <td>
                <select>
                  <option>合格</option>
                  <option>不合格</option>
                </select>
              </td>
            </tr>
            <tr>
              <td></td>
              <td>1.00354</td>
              <td><input type="text" value="4.986"></td>
              <td><input type="text" value="-0.014"></td>
              <td>                
                <select>
                  <option>合格</option>
                  <option>不合格</option>
                </select>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</body>
</html>