.sidebar-nav
  .navbar.navbar-default role="navigation"
    .navbar-header
      button.navbar-toggle type="button" data-toggle="collapse" data-target=".sidebar-navbar-collapse"
        span.icon-bar
        span.icon-bar
        span.icon-bar
      span.visible-xs.navbar-brand 操作菜单
    .navbar-collapse.collapse.sidebar-navbar-collapse
      ul.nav.navbar-nav
        li: a href=root_path
          i.fa.fa-dashboard.num-zone
          span.menu-text 待办事项

        li: a href=new_verification_path
          i.fa.fa-eye.num-zone
          span.menu-text 检测登记

        li: a href=expires_instruments_path
          i.fa.fa-cog.num-zone
          span.menu-text 预警-过期
        li: a href=scraps_instruments_path
          i.fa.fa-cog.num-zone
          span.menu-text 预警-报废

        li: a href=notices_path
          i.fa.fa-registered.num-zone
          span.menu-text 仪器查询

        li: a href=inspections_path
          i.fa.fa-plane.num-zone
          span.menu-text 巡检信息

        - if current_user.admin?
          li.dropdown
            a.dropdown-toggle href="#" data-toggle="dropdown"
              i.fa.fa-edit.num-zone
              span.num-zone 系统管理
              b.caret
            ul.dropdown-menu
              li: a href=categories_path
                i.fa.fa-cog.num-zone
                | 检测分类
              li: a href=instrument_kinds_path
                i.fa.fa-cog.num-zone
                | 量器种类
              li: a href=regulations_path
                i.fa.fa-cog.num-zone
                | 检定依据
              li: a href=organs_path
                i.fa.fa-cog.num-zone
                | 送检单位
              li: a href=users_path
                i.fa.fa-cog.num-zone
                | 用户管理
        - else
          li.dropdown
            a.dropdown-toggle href="#" data-toggle="dropdown"
              i.fa.fa-edit.num-zone
              span.num-zone 系统管理
              b.caret
            ul.dropdown-menu
              li: a href=instruments_path
                i.fa.fa-cog.num-zone
                | 计量仪器
              li: a href=vendors_path
                i.fa.fa-cog.num-zone
                | 生产厂商








/- if can? :read, DataLog
/  li
/    a href=datalogs_path
/      i class="icon-th-list"
/      span class="menu-text" 证书变更日志


