<div class="modal fade notification-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" style="font-size:20px;" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <span class="bigger-110">预警通知</span>
      </div>
      <div class="modal-body">
        <div class="list-group">
          <% current_user.notifications_dataset.unchecked.each do |notification|%>
            <a href="<%= notification_path(notification)%>" class="list-group-item" data_toggle='tooltip' title="点击查看详情">
              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"> </span>
              您的编号为<%= notification.notice.sn%> 的证书有效期
              <span class="label label-warning">
                仅剩余<%= notification.content%>
              </span>了，请贵单位及时查看并重新送检。
            </a>
          <% end %>
        </div>
      </div>
      <div class="modal-footer" style="text-align:center">
        <a href="/notifications">查看所有通知</a>
      </div>
    </div>
  </div>
</div>

