/div class="ace-settings-container" id="ace-settings-container" style="z-index: 10000 !important; top: -40px !important;"
  div class="btn btn-app btn-xs btn-warning ace-settings-btn" id="ace-settings-btn"
    i class="icon-cog bigger-150"
  div class="ace-settings-box" id="ace-settings-box" style="padding: 2px 14px !important"
    div
      div class="pull-left"
        select id="skin-colorpicker" class="hide"
          option data-skin="default" value="#438EB9" #438EB9
          option data-skin="skin-1" value="#222A2D" #222A2D
          option data-skin="skin-2" value="#C6487E" #C6487E
          option data-skin="skin-3" value="#D0D0D0" #D0D0D0
        
      span &nbsp; 选择皮肤
    /div
      input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-navbar"
      label class="lbl" for="ace-settings-navbar" 固定页头
    /div
      input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-sidebar"
      label class="lbl" for="ace-settings-sidebar" 固定菜单
    /div
      input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-breadcrumbs" 
      label class="lbl" for="ace-settings-breadcrumbs" 固定面包屑
