doctype html
html
  head
    title
      | 检定证书/检定通知书
    meta http-equiv="content-type" content="text/html; charset=utf-8"
    = wicked_pdf_stylesheet_link_tag '/css/bootstrap.min.css'
    = wicked_pdf_stylesheet_link_tag '/css/index.css'
    css:
      table, tr, td, th, tbody, thead, tfoot {
        page-break-inside: avoid;
      }
  body
    div style="position: relative; width: 600px; margin: 0 auto;"
      div class="page-content"
        div class="row"
          div class="col-xs-12"
            == yield
