﻿<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <!-- <title>蜀南气矿计量检测站-计量检测软件</title> -->
    <title>计量检定系统</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/lavish.css">
    <link rel="stylesheet" type="text/css" href="/css/cloap.css">


    <!--[if IE 7]>
        <link rel="stylesheet" href="/css/font-awesome-ie7.min.css" />
    <![endif]-->
    <link rel="stylesheet" href="/css/family.css" />
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/ace.min.css" />
    <link rel="stylesheet" href="/css/ace-rtl.min.css" />
    <link rel="stylesheet" href="/css/ace-skins.min.css" />
    <link rel="stylesheet" href="/css/bootstrap-datatable.css" />
    <link rel="stylesheet" href='/css/chosen.css' />

    <link rel="stylesheet" href="/datepicker/css/bootstrap-datepicker.standalone.min.css" />


    <script src="/js/jquery.min.js"></script>
    <script src="/js/angular.js"></script>
    <script src="/js/angular-resource.js"></script>

    <script src="/js/angular-ui-router.min.js"></script>
    <script src="/cloap/verification/new.js"></script>


    <script src="/js/ace-extra.min.js"></script>
    <script src="/js/typeahead.bundle.min.js"></script>
    <script src='/js/chosen.jquery.min.js'></script>
    <%= csrf_meta_tags %>


    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>

  <body>
    <div class="navbar navbar-default" id="navbar">
      <div class="navbar-container" id="navbar-container">

        <div class="container-fluid">

        <div class="navbar-header pull-left">
          <a href="/" class="navbar-brand" style="padding: 5px 0 !important;height:30px !important; line-height:30px !important;">
            <small>
              <img src="/images/logo.png" style="width:36px;" />
              <span class="num-zone"></span>
              <b>计量检定系统</b>
            </small>
          </a>
        </div>
        <div class="navbar-header pull-right" role="navigation">
          <div style="padding-top: 1em; color: white;">
            <span class="num-zone">欢迎，<%= current_user.username %></span>
            <span style="padding: 0 1em"> | </span>
            <a style="color: white" href="<%= logout_url %>"><i class='fa fa-power-off num-zone'></i>退出</a>
          </div>
        </div>
        </div>
      </div>
    </div>


    <div id="main_frame">
    <div class="container-fluid">

    <div class="row">
        <div class="col-sm-2"></div>

        <div class="col-sm-8">
            <div class="page-content">
                <div class="row">
                    <div class="col-xs-12" style="padding: 1em;">
                        <%= yield %>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-2"></div>
    </div>

    </div>
    </div>





<!--       <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="icon-double-angle-up icon-only bigger-110"></i>
      </a>
 -->    </div>
    </div>


        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/typeahead-bs2.min.js"></script>

        <!--[if lte IE 8]>
            <script src="/js/excanvas.min.js"></script>
        <![endif]-->
        <!-- <script src="/js/jquery-ui-1.10.3.custom.min.js"></script> -->
        <script src="/js/jquery.ui.touch-punch.min.js"></script>
        <script src="/js/jquery.slimscroll.min.js"></script>
        <script src="/js/jquery.easy-pie-chart.min.js"></script>
        <script src="/js/jquery.sparkline.min.js"></script>
        <script src="/js/flot/jquery.flot.min.js"></script>
        <script src="/js/flot/jquery.flot.pie.min.js"></script>
        <script src="/js/flot/jquery.flot.resize.min.js"></script>
        <script src="/js/ace.min.js"></script>
        <script src="/js/ace-elements.min.js"></script>
        <!-- <script src="/js/DatePicker/WdatePicker.js"></script> -->

        <script src="/datepicker/js/bootstrap-datepicker.min.js"></script>
        <script src="/datepicker/locales/bootstrap-datepicker.zh-CN.min.js"></script>



    <!-- 美洽在线聊天工具 -->
    <script type='text/javascript'>
        (function(m, ei, q, i, a, j, s) {
            m[a] = m[a] || function() {
                (m[a].a = m[a].a || []).push(arguments)
            };
            j = ei.createElement(q),
                s = ei.getElementsByTagName(q)[0];
            j.async = true;
            j.src = i;
            s.parentNode.insertBefore(j, s)
        })(window, document, 'script', '//eco-api.meiqia.com/dist/meiqia.js', '_MEIQIA');
        _MEIQIA('entId', 2110);
    </script>
  </body>
</html>
