﻿<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <!-- <title>蜀南气矿计量检测站-计量检测软件</title> -->
    <title>计量检定系统</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <%= csrf_meta_tags %>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      body {
        background: url("/css/images/city.jpeg") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
      }

      .panel-default {
        opacity: 0.9;
        margin-top:30px;
      }
      .form-group input {
        border-radius: 0;
        height: 39px;
        width: 100%;
      }
      .form-horizontal .form-group {
        margin-bottom: 20px;
      }
      .form-group.last { margin-bottom:0px; }
    </style>
  </head>

  <body>
     <div class="container">
      <div class="row">
        <div class="col-md-4 col-md-offset-7">
          <div class="panel panel-default">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
